.code-box {
	width: 100%;
	height: 213px;
	overflow: auto;
	:not(pre) > code[class*="language-"], pre[class*="language-"] {
		background: $panel-grey;
	}
	pre[class*="language-"] {
		padding: 2em 1em 1em 1.7em;
	}
	code[class*="language-"] {
		font-size: 12px;
		-moz-tab-size: 0;
		-webkit-tab-size: 0;
		tab-size: 0;
	}
}
.code-box-tall {
	height: 340px;
}