.dk-components-container {
	max-width: $desktop-wide;
	@include breakpoint($desktop-wide) {
		margin: 0 auto;
	}
}
.dk-component-row {
	margin-bottom: 40px;
	.grid__column {
		margin-bottom: 30px;
	}
}