.page-popups {
	.helper-tooltip-demo-container {
		.form-field--select {
			width: 50%;
			margin-right: 2%;
			display: inline-block;
		}
	}
	.filters-container,
	.whats-this-tooltip-container {
		margin-bottom: 2rem;
	}
	.whats-this-tooltip-container {
		background-color: #f2f2f5;
		form {
			text-align: center;
			@include breakpoint($laptop) {
				text-align: left;
			}
		}
		.form-field {			
			width: 90%;
			margin-top: 14px;
			margin-left: auto;
			margin-right: auto;
			display: inline-block;
			vertical-align: top;
			@include breakpoint($laptop) {
				width: 41%;
				margin-left: 4%;
			}
		}
	}
	.whats-this-tooltip-example {
		width: 100%;
		padding: 20px 5px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		background-color: $reflection-purple;
		@include breakpoint($laptop) {
			width: 50%;
		}
		> span {
			margin-right: 5px;
		}
		span {
			display: inline-block;
			vertical-align: middle;
			font-family: $brand-heading-font;
			font-size: 1.4rem;
			color: $reflection-white;
		}
	}
	.lightbox-demo-container {
		.filters-container {
			padding-bottom: 0.4rem;
		}
		button, a {
			margin-right: 2%;
			margin-bottom: 1rem;
			display: inline-block;
			vertical-align: middle;			
		}
	}
}
.popup-content--download {
	width: 100%;
	background-color: #F2F2F5;
}
.whats-this-position-examples {
	text-align: center;
	padding: 1.5rem;
	@include breakpoint($laptop) {
		text-align: left;
	}
	a {
		margin-right: 1rem;
	}
}
.dk-info-tip {
	margin: 8px 0 0 12px;
}