.account-user-details {
	margin: 20px 28px 13px;
	.user-name {
		padding-left: 2px;
		margin-bottom: 5px;	
		display: block;
		letter-spacing: 0.03em;
		font-size: 17px;
		font-weight: 600;
		color: $reflection-white;
	}
	.user-company {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
		font-family: $brand-body-font;
		color: $mid-grey-2;
	}
}