.account-user-details {
	margin: 20px 28px 14px;
	.user-name {
		margin-right: 7px;
		margin-bottom: 6px;
		font-size: 17px;
		font-weight: 600;
		color: $reflection-white;
	}
	.account-user-details--name {
		.user-name, .premium-icon, .premium-days {
			display: inline-block;
			vertical-align: top;
		}
		.premium-icon {
			width: 17px;
			margin-right: 7px;
			margin-bottom: 6px;
		}
		.premium-days {
			padding-top: 4px;
			font-size: 14px;
			color: $reflection-purple;
		}
	}
	.user-company {
		margin-top: 0.1rem;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
		font-family: $brand-body-font;
		color: $mid-grey-2;
	}
}
.main-navigation.main-navigation--account {
	padding-top: 0;
	padding-bottom: 26px;
}