.alert-urgent {
	width: 100%;	
	margin-top: -56px;	
	-webkit-perspective: 1300px;
	perspective: 1300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	div {
		height: 56px;
		padding: 16px 22px 0;
		background-color: $reflection-orange;
		-ms-transform: rotateX(-95deg);
	  -webkit-transform: rotateX(-95deg);
		transform: rotateX(-95deg);
	}
	.ref-icon-before--warning-filled {
		margin-right: 18px;
		&:before {
			font-size: 25px;
			color: $reflection-white;
		}
	}
	&.is-open {
		margin-top: 0;
		div {
			-ms-transform-origin: center top;
			-webkit-transform-origin: center top;
			transform-origin: center top;
			-ms-transform: rotateX(0deg);
		  -webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
			transition: transform 0.3s ease-out;
		}
		.page-data-dashboard & {
			margin-top: -2.3rem;
			margin-bottom: 2.3rem;
		}
	}
}
.alert-urgent_description,
.alert-urgent_cta {	
	display: inline-block;
	font-family: $brand-heading-font;
	font-weight: 600;
	font-size: 16px;
	color: $reflection-white;
}
.alert-urgent_description {
	margin-top: 4px;
}
.alert-urgent_cta {
	margin-top: 3px;
	float: right;
	&:after {
		margin-left: 3px;
		font-size: 18px;    
	}
	&:hover {
		color: darken($reflection-white, 10%);
	}
}
.alert-warning,
.alert-notice {
	position: relative;
	width: 100%;
	padding: 12px 16px 15px;
	margin-bottom: 1rem;
	border-radius: 6px;
}
.alert-warning {
	color: #8e5715;
	border: 1px solid #f7941d;
	background-color: #fef7be;
}
.alert-notice {
	color: #454288;
	border: 1px solid $reflection-purple;
	background-color: #e8e7ff;
}
.alert-warning__title,
.alert-notice__title {
	float: left;
	display: inline-block;
	font-family: $brand-heading-font;
	font-weight: 600;
	font-size: 16px;
	&:before {
		position: relative;
		top: 2px;    
		padding-right: 11px;    
		font-size: 16px;		
	}
}
.alert-warning__title {
	&:before {
		color: #f7941d;
	}
}
.alert-notice__title {
  position: relative;
  top: 1px;
	&:before {
		top: 0;
		font-size: 18px;
		color: #454288;
	}
}
.alert-warning__warning-content,
.alert-notice__notice-content {
	padding-left: 164px;	
	display: block;
	font-size: 14px;
	line-height: 1.3;
	a {
		font-family: $brand-heading-font;
		font-weight: 600;
		text-decoration: underline;
	}
}
.alert-warning__warning-content {
	a {
		color: #8e5715;
		&:hover {
			color: darken(#8e5715, 10%);
		}
	}
}
.alert-notice__notice-content a,
.alert-notice-cta {
	color: #454288;
	&:hover {
		color: darken(#454288, 10%);
	}
}
.alert-notice-cta {
	font-family: $brand-heading-font;
	font-weight: 600;
	text-decoration: underline;
}
li.alert-warning__warning-content,
li.alert-notice__notice-content {
	position: relative;
	margin-top: 1rem;
	&:before {
  	content: "\2022";
  	position: absolute;
    top: -1px;
  	font-family: $brand-body-font;
  	font-size: 1.6rem;
	}
	span {
    padding-left: 2.8rem;
    display: inline-block;
	}
	a {
		padding-left: 1rem;
		display: inline-block;
	}
}
li.alert-warning__warning-content {
	&:before {
		color: #f7941d;
	}
}
li.alert-notice__notice-content {
	&:before {
		color: $reflection-purple;
	}
}
.alert-notice-cta {
	position: absolute;
	top: 15px;
	right: 16px;
	font-size: 14px;
}
.popup-toast-container {
	-webkit-perspective: 1300px;
	perspective: 1300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: fixed;
	top: calc(100% + 10px);
	left: 22px;
	width: 258px;	
	z-index: -1;
	overflow: visible;	
	transition: top 0.3s;
	transform: rotateX(0deg);
	.ref-icon-after--close {
		position: absolute;
		top: 10px;
    right: 10px;    
    &:after {
    	font-size: 18px;
    	color: #4b488f;
    }
	}
}
.popup-toast {
	position: relative;
	width: 100%;
	min-height: 181px;
	padding: 15px 30px 0 20px;
	border-radius: 3px 3px 0 0;
	background-color: $reflection-purple;
	&.popup-toast--save {
		height: 51px;
		padding: 13px 0px 0 13px;
		background-color: $reflection-green;
		span {
			font-family: $brand-heading-font;			
			font-size: 16px;
			font-weight: 600;
			color: $reflection-white;
			&:before {
				margin-right: 6px;
				font-size: 20px;
		    color: #25f9c8;		    
			}
		}
		span:last-child {
	    position: relative;
    	top: 1px;
		}
	}
	h2 {
		margin-bottom: 16px;
		font-size: 18px;
		color: $reflection-white;
	}
	.ref-icon-before--info-no-fill:before {		
    position: relative;
    margin-right: 9px;
    font-size: 18px;
	}
	p {
		font-family: $brand-body-font;
		font-size: 14px;
		color: #d6d8fb;
	}
	&.is-closed {
		-ms-transform-origin: center bottom;
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-ms-transform: rotateX(95deg);
	  -webkit-transform: rotateX(95deg);
		transform: rotateX(95deg);
		transition: transform 0.35s ease-in;
	}
	a {
		font-family: $brand-heading-font;
		font-weight: 600;
		font-size: 13px;
		color: $reflection-white;
		text-decoration: underline;
		cursor: pointer;
		&:hover {
			color: darken($reflection-white, 10%) !important;
		}
	}
}
.alert-warning__close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 0;
  &:after {
  	font-size: 18px;
  	color: #f8c472;
  	transition: color 0.2s;
  }
  &:hover {
  	&:after {
  		color: darken(#f8c472, 10%);
  		transition: color 0.3s;
  	}
  }
}