.aside-definition-list {
	padding-top: 5px;
	dl {
		font-size: 0px;
		a {
			color: $reflection-purple;
			&:hover {
				color: $reflection-purple--hover;
			}
		}
		span {
			font-size: 1.4rem;
		}
	}
	dt {
		width: 130px;
		padding-right: 10px;
		margin-bottom: 0.5rem;
		display: inline-block;
		vertical-align: top;
		clear: both;
		font-family: $brand-heading-font;
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 1.4;
		color: $dark-grey-1;
		box-sizing: border-box;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	dd {
		width: calc(100% - 130px);
		margin-bottom: 0.5rem;
		display: inline-block;
		vertical-align: top;
		font-family: $brand-body-font;
		font-size: 1.4rem;
		line-height: 1.4;
		color: #727686;
		box-sizing: border-box;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}