[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
    outline: none;
    cursor: pointer;
    @extend %font-smoothing;
    text-shadow: none !important;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.ref-button {
	display: inline-block;
  vertical-align: top;
  font-weight: 600;
  font-family: $brand-heading-font;
  line-height: 1.1;  
  text-shadow: none !important;
  @include appearance(none);
  outline: none;
  cursor: pointer;
  @extend %font-smoothing;
  transition: background-color $base-transition-speed-off, color $base-transition-speed-off, border-color $base-transition-speed-off;
  .no-touch & {
  	&:hover {
    	transition: background-color $base-transition-speed-on, color $base-transition-speed-on, border-color $base-transition-speed-on;
    }
    &:active {
			transition: border 0s;
		}
  }
  &.is-loading {
    color: $reflection-white;
    background-color: #ff4969;
    /* @alternate */ background: repeating-linear-gradient(
      -45deg,
      #ff4969,
      #ff4969 25%,
      #ef4260 25%,
      #ef4260 50%,
      #ff4969 50%
    ) top left;
    background-size: 47px 47px;
    animation: backgroundMove 5s linear infinite;
    cursor: default;
  }
}
.ref-button--primary {  
  color: $reflection-white;
  border: none;
  border-radius: 0.35714285714285715em;
  background-color: $reflection-red;
  .no-touch & {
    &:hover {
      background-color: #e73e5c;
    }
    &:active {
      border-top: 2px solid #96283c;
    }
  }
  &.is-disabled {
    background-color: $divider-grey;
    cursor: default;
    .no-touch & {
      &:hover {
        background-color: $divider-grey;
      }
      &:active {
        border-top: 0;
      }
    }
    &.is-success {
      background-color: $reflection-green;
      .no-touch & {
        &:hover {
          background-color: $reflection-green;
        }
      }
    }
    &.is-error {
      background-color: $error-colour;
      .no-touch & {
        &:hover {
          background-color: $error-colour;
        }
      }
    }
  }
}
.ref-button--primary--small {
	@extend .ref-button;
  @extend .ref-button--primary;
  padding: 1rem 1.5rem 1.2rem 1.5rem;
  font-size: 1.4rem;
  letter-spacing: -0.01rem;
  &:not(.is-disabled) {
    .no-touch & {
      &:active {
        padding-top: calc(1rem - 1px);  
        padding-bottom: calc(1.2rem - 1px);
      }
    }
  }
}
.ref-button--primary--medium {
  @extend .ref-button;
  @extend .ref-button--primary;
  padding: 1.3rem 1.7rem 1.3rem 1.5rem;
  font-size: 1.5rem;
  letter-spacing: -0.01rem;
  &:not(.is-disabled) {
    .no-touch & {
      &:active {
        padding-top: calc(1.3rem - 1px);
        padding-bottom: calc(1.3rem - 1px);
      }
    }
  }
}
.ref-button--primary--large {
  @extend .ref-button;
  @extend .ref-button--primary;
  padding: 1.7rem 2rem 1.6rem 1.9rem;
  font-size: 1.6rem;
  letter-spacing: -0.01rem;
  &:not(.is-disabled) {
    .no-touch & {
      &:active {
        padding-top: calc(1.7rem - 1px);
        padding-bottom: calc(1.6rem - 1px);
      }
    }
  }
}

.ref-button--secondary {  
  color: $reflection-purple;
  border: 1px solid $light-grey-2;
  border-radius: 0.35714285714285715em;
  background-color: #f5f9f9;
  .no-touch & {
    &:hover {
      background-color: #ebf2f2;
    }
    &:active {
      border-top: 2px solid #c8cece;
    }
  }
  &.is-success {
    color: $reflection-white;
    border-color: $reflection-green;
    background-color: $reflection-green;
    .no-touch & {
      &:hover {
        color: $reflection-white;
        background-color: $reflection-green;
      }
    }
  }
}
.ref-button--secondary--small {
  @extend .ref-button;
  @extend .ref-button--secondary;
  padding: calc(1rem - 1px) 1.4rem calc(1.2rem - 1px) 1.39rem;
  font-size: 1.4rem;
  letter-spacing: -0.01rem;
  .no-touch & {
    &:active {    
      padding-bottom: calc(1.2rem - 2px);
    }
  }
}
.ref-button--secondary--medium {
  @extend .ref-button;
  @extend .ref-button--secondary;
  padding: calc(1.3rem - 1px) 1.5rem calc(1.3rem - 1px) 1.39rem;
  font-size: 1.5rem;
  letter-spacing: -0.01rem;
  .no-touch & {
    &:active {    
      padding-bottom: calc(1.3rem - 2px);
    }
  }
}
.ref-button--secondary--large {
  @extend .ref-button;
  @extend .ref-button--secondary;
  padding: calc(1.6rem - 1px) 2rem calc(1.7rem - 1px) 2rem;
  font-size: 1.6rem;
  letter-spacing: -0.01rem;
  .no-touch & {
    &:active {    
      padding-bottom: calc(1.7rem - 2px);
    }
  }
}
.button-full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}
.button-medium-width {
  width: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}