input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	margin: 0;
	padding: 0;
	line-height: 1.2;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	outline: none;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	@extend %font-smoothing;
}
.reflection-form {
	> button {
		margin-top: 1.5rem;
	}
}
.form-filter {
	position: relative;
	margin-bottom: 2rem;
	.reflection-form & {
		margin-top: -1px;
		margin-bottom: 0;
		border-radius: 0;
		&:first-child {
			margin-top: 0;
			.form-field--select__box,
			.form-field--select__dropdown {
				border-radius: 4px 4px 0 0;
			}			
		}
		&:last-of-type {
			.form-field--select__box,
			.form-field--select__dropdown {
				border-radius: 0 0 4px 4px;
			}
			&.is-open {
				.form-field--select__box,
				.form-field--select__dropdown {
					border-radius: 0 0 4px 4px;
				}
			}
		}	
	}	
	> label {
		position: absolute;
    left: 20px;    
    top: 7px;
		display: block;
		z-index: 11;
		font-family: $brand-heading-font;
		font-size: 12px;
		color: #494490;
		pointer-events: none;
	}
	&.nothing-selected {
		> label {
			top: 16px;
			font-family: $brand-heading-font;
			font-size: 16px;
			color: #727686;
			font-weight: 400;
		}
	}
	&.form-field--with-error {
		> label {
			top: 25px;
		}
		.form-field--select__box {
			border-color: $error-orange-border;
			background-color: #fdf5ee;
			z-index: 10;
			.reflection-form--theme-dark & {
				background-color: #353331;
			}
		}
		.form-field-error-text {
			position: absolute;
			top: 7px;
			left: 20px;		
			display: block;
			z-index: 11;
		}
		.form-field--select__dropdown {
			border-color: $error-orange-border;
			background-color: #fdf5ee;
			.reflection-form--theme-dark & {
				background-color: #353331;
			}
		}
	}
}
.form-field--select__dropdown {
	max-height: 250px;
	overflow: auto;
	text-align: left;
}
.reflection-form .form-field + .form-filter,
.reflection-form .form-filter + .form-filter {
	.form-field--select__box,
	.form-field--select__dropdown {
		border-radius: 0;
	}
	&.is-open {
		.form-field--select__box,
		.form-field--select__dropdown {
			border-radius: 0;
		}
	}
	&:last-of-type {
		.form-field--select__box,
		.form-field--select__dropdown {
			border-radius: 0 0 4px 4px;
		}
		&.is-open {
			.form-field--select__box {
				border-radius: 0;
			}
		}
	}
}
.form-field--checkbox-list.form-field--select__dropdown {
	padding-left: 20px;
}
.form-field--select__box {
	position: relative;
	text-align: left;
}
.form-field {
	position: relative;
	width: 100%;
	padding: 6px 18px 29px;
	margin-bottom: 2rem;
	z-index: 1;
	border: 1px solid $light-grey-2;
	border-radius: 4px;
	background-color: #f5f9f9;
	.reflection-form--theme-dark & {
		border: 1px solid #161617;
		background-color: #333338;
	}
	.reflection-form & {
		margin-top: -1px;
		margin-bottom: 0;
		border-radius: 0;
		&:first-child {
			margin-top: 0;
			border-radius: 4px 4px 0 0;
		}
		&:last-of-type {
			border-radius: 0 0 4px 4px;
			&:first-of-type {
				border-radius: 4px 4px 4px 4px;
			}
		}
	}
	&.form-field--with-error {
		padding-bottom: 33px;
		border-color: $error-orange-border;
		background-color: #fdf5ee;
		z-index: 10;
		.reflection-form--theme-dark & {
			background-color: #353331;
		}
	}
	.no-touch & {
		transition: padding 0.06s;
	}
	label {
		display: block;
		font-family: $brand-heading-font;
		font-size: 12px;
		color: #494490;
		.reflection-form--theme-dark & {
			color: $light-grey-1;
		}
		.no-touch & {
			transition: font-size 0.06s;
		}
	}
	input:focus + label,
	textarea:focus + label {
		color: #494490;
		.reflection-form--theme-dark & {
			color: #9f9bff;
		}
	}
	input, textarea {
		display: block;
		color: $mid-grey-1;
	}
	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="password"],
	textarea {
		position: absolute;
		bottom: 9px;
		width: calc(100% - 28px);
		font-family: $brand-heading-font;
		font-size: 16px;
		color: $dark-grey-1;
		.reflection-form--theme-dark & {
			color: $light-grey-2;
		}
		.no-touch & {
			transition: bottom 0.06s;
		}
	}
	textarea {
		position: relative;
		width: 100%;
		height: 123px;
		padding: 5px 0;
		resize: none;
	}
	input:-webkit-autofill {
		color: $dark-grey-1;
		-webkit-box-shadow: 0 0 0px 1000px #f5f9f9 inset;
		-webkit-text-fill-color: $dark-grey-1;
		.reflection-form--theme-dark & {
			color: $light-grey-1 !important;
			-webkit-box-shadow: 0 0 0px 1000px #333338 inset;
		}
	}
	&.is-closed {
		padding: 15px 18px 20px;
		.no-touch & {
			transition: padding 0.06s;
		}
		label {
			font-family: $brand-heading-font;
			font-size: 16px;
			color: #727686;
			font-weight: 400;
			.reflection-form--theme-dark & {
				color: $light-grey-1;
			}
			.no-touch & {
				transition: font-size 0.06s;
			}
		}
		input, textarea {
			bottom: 6px;
			.no-touch & {
				transition: bottom 0.06s;
			}
		}
	}
}
.form-field,
.form-filter {
	.whats-this-tooltip-icon {
		position: absolute;
    right: 17px;
    top: 16px;
    z-index: 10;
  }
}
.reflection-form {
	.form-field--split {
		font-size: 0;
		.form-field {
			width: 50%;
			display: inline-block;
			float: left;
			vertical-align: top;
			&:last-child {
				position: relative;
				top: 1px;
				border-left: none;
			}
		}
		&:first-child {
			.form-field {
				&:first-child {
					border-radius: 4px 0 0 0;
				}
				&:last-child {
					border-radius: 0 4px 0 0;
				}			
			}
		}
		&:last-child {
			.form-field {
				&:first-child {
					border-radius: 0 0 0 4px;
				}
				&:last-child {
					border-radius: 0 0 4px 0;
				}
			}
		}
	}
}
.form-field-error-text {
	color: $error-orange-text;
	font-size: 14px;
	font-family: $brand-heading-font;
}
.form-field--select {
	position: relative;
}
.form-field--select select,
.form-field--select__dropdown {
	display: none;
}
.form-field--select__dropdown {
	position: absolute;
	margin-top: 5px;
	padding: 15px 30px 18px 24px;
	z-index: 2001;
	font-family: $brand-heading-font;
	font-size: 15px;
	border: 1px solid $light-grey-2;
	border-radius: 4px;
	background-color: $reflection-white;
	li {
		position: relative;
		margin-bottom: 6px;
		color: $reflection-purple;
		line-height: 1.5;
		&:hover {
			color: $reflection-purple--hover;
		}
		&.is-selected {
			color: $light-grey-2;
			&:hover {
				color: $light-grey-2;
			}
		}
	}
	.form-filter & {
		position: relative;
		display: none;
	}
	.primary-filter &,
	.secondary-filter & {
		&.form-field--checkbox-list {
			padding-top: 40px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
.form-field--select select {
	position: absolute;
	top: 0;
	left: 0;
}
.form-field--select__dropdown li,
.form-field--select__box {
	&:before {
		position: relative;
    top: 3px;
    margin-right: 6px;
    margin-left: -17px;
    color: $light-grey-1;
		font-size: 19px;
	}
	&.ref-icon-before--play-store {
		&:before {
			top: 5px;
			margin-left: -15px;
			margin-right: 8px;
			font-size: 15px;
		}
	}
	img {
		width: 26px;
    height: 26px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
	}
	span {
		display: inline-block;
		vertical-align: middle;
	}
}
.select-with-images + span + ul li {
	span {
		padding-left: 45px;
	}
	img + span {
		padding-left: 0;
	}
}
.form-field--select__box {	
	&.ref-icon-before--apple {
		&:before {
			margin-left: -8px;
		}
	}
	&.ref-icon-before--play-store {
		&:before {
			margin-left: -6px;
		}
	}
	.is-open & {
		&:before {
			color: $reflection-white;
		}	
	}
}

// Checkbox and Radio buttons list
.form-field--checkbox-list,
.form-field--radio-list {
	* {
		overflow: visible;
	}
	position: relative;
	width: 100%;
	min-height: 20px;
	.primary-filter &,
	.secondary-filter & {
		position: absolute;
		width: auto;
	}
	li {
		position: relative;
		margin-bottom: 0.5rem;
		padding: 0;
		font-size: 0;
	}
	input[type=checkbox],
	input[type=radio] {
		position: absolute;
		left: -10000px;
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	label {
		padding-top: -1px;
		padding-bottom: 0;
		display: inline-block;
		font-weight: 400;
	}
}
.form-field--checkbox-list--inline,
.form-field--radio-list--inline {
	width: auto;
	display: inline-block;
	li {
		margin-right: 2rem;
		margin-bottom: 0;
		display: inline-block;
	}
}
.form-field--checkbox--hide-label {
	.checkboxLabelVisible {
		text-align: left;
    text-indent: -999em;
	}
}
.checkboxLabel,
.radioButtonLabel {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	padding: 0;
	display: inline-block;
	font-size: 0px;
	font-weight: 400;
	cursor: pointer;
	@include box-sizing(border-box);
	line-height: 1;
	text-decoration: none;
	background-color: #dde0e2;
	overflow: visible;
	.reflection-form--theme-dark & {
		background-color: #333338;
	}
	&:hover {
		background-color: #c4c7d0;
		transition: background-color $base-transition-speed-on;
		.reflection-form--theme-dark & {
			background-color: lighten(#333338, 5%);
		}
	}
	&:active {
		border-top: 2px solid #9d9fa6;
		.reflection-form--theme-dark & {
			border-top: 2px solid #161617;
		}
	}
	.primary-filter &,
	.secondary-filter &,
	.form-filter & {
		top: 3px;
	}
}
.radioButtonLabel {
	border-radius: 9px;
}
.checkboxLabel {
	border-radius: 3px;
	&:after {		
		position: absolute;
		top: 3px;
		left: 0;
		width: 16px;
		height: 16px;
		content: "R";
		speak: none;
		font-family: $reflection-icons-name;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 10px;
		color: $light-grey-2;
		text-align: center;
		opacity: 0;
		transition: color 0.2s;
		.no-opacity & {
			display: none;
		}
	}
}
.form-field--checkbox-list--medium {
	li {
		margin-bottom: 0.7rem;
	}
	.checkboxLabel {
		width: 18px;
		height: 18px;
		&:after {
			top: 4px;
			width: 18px;
			height: 18px;
			font-size: 11px;
		}
	}
	.checkboxLabelVisible {
		padding-left: calc(18px + 1.2rem);
		font-size: 1.5rem;
	}
	&.form-field--checkbox-list--inline {
		li {
			margin-bottom: 0;
		}		
	}
}
.form-field--checkbox-list--large {
	li {
		margin-bottom: 0.9rem;
	}
	.checkboxLabel {
		width: 20px;
		height: 20px;
		&:after {
			top: 4px;
			width: 19px;
			height: 20px;
			font-size: 12.6px;
		}
	}
	.checkboxLabelVisible {
		padding-left: calc(20px + 1.5rem);
		font-size: 1.6rem;
	}
	&.form-field--checkbox-list--inline {
		li {
			margin-bottom: 0;
		}
	}
}
input[type="checkbox"]:disabled + .checkboxLabel,
input[type="radio"]:disabled + .radioButtonLabel {
	background-color: $divider-grey;
	overflow: visible;
}
input[type="checkbox"]:disabled + .checkboxLabel:active,
input[type="radio"]:disabled + .radioButtonLabel:active,
input[type="checkbox"]:disabled:checked + .checkboxLabel:active,
input[type="radio"]:disabled:checked + .radioButtonLabel:active {
	border-top: 0;
}
input[type="checkbox"]:checked:disabled + .checkboxLabel,
input[type="radio"]:checked:disabled + .radioButtonLabel {
	opacity: 0.5;
}
input[type="checkbox"]:checked + .checkboxLabel,
input[type="radio"]:checked + .radioButtonLabel {
	background-color: $reflection-green;
	&:after {
		opacity: 1;
		color: #fcfdfd;
		transition: opacity 0.3s;
		.reflection-form--theme-dark & {
			color: $dark-grey-1;
		}
		.no-opacity & {
			display: block;
		}
	}
}
input[type="checkbox"]:checked + .checkboxLabel {
	transition: background-color 0.3s;
}
.checkboxLabelVisible,
.radioButtonLabelVisible {
	padding-left: calc(16px + 1rem);
	font-family: $brand-heading-font;
	font-size: 1.4rem;
	color: $dark-grey-2;
	text-align: left;
	cursor: pointer;
	.reflection-form--theme-dark & {
		color: $light-grey-1;
	}
	.primary-filter &,
	.secondary-filter &,
	.form-filter & {
		font-size: 1.5rem;
		color: $reflection-purple;
		&:hover {
			color: $reflection-purple--hover;
		}
	}
	.form-filter & {
		padding-left: calc(18px + 1rem);
	}
}
.checkbox-label-img {
  position: relative;
  top: 1px;
	width: 20px;
	height: 20px;
	margin-left: -2px;
	margin-right: 9px;
	display: inline-block;
	vertical-align: middle;
	+ span {
		display: inline-block;
		vertical-align: middle;
	}
}
input[type="checkbox"]:disabled + label + .checkboxLabelVisible,
input[type="radio"]:disabled + label + .radioButtonLabelVisible {
	color: #c4c7d0;
}

// Password strength indicator
.password-strength-indicator-container {
	position: absolute;
	top: 5px;
  right: 10px;
	font-size: 1.25rem;
	.is-closed & {
		display: none;
	}
}
.password-strength-indicator,
.password-strength-description {
	display: inline-block;
	float: left;
	vertical-align: top;
}
.password-strength-indicator {
	position: relative;
	width: 97px;
	height: 6px;
	margin-top: 6px;
	margin-left: 8px;
	border-radius: 3px;
	background-color: #e1e5e8;
	span {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		width: 0;
		height: 6px;
		background-color: $reflection-purple;
		transition: background-color 0.3s ease-out, width 0.3s ease-out;
		&.is-pathetic {
			width: 25%;
			background-color: #d5855e;
		}
		&.is-ok {
			width: 50%;
			background-color: #e7b94b;
		}
		&.is-strong {
			width: 75%;
			background-color: #d0eb53;
		}
		&.is-impressive {
			width: 100%;
			background-color: #68d656;
		}
	}
}
.password-strength-description {
	font-size: 1.24rem;
	color: $light-grey-1;
}
.dropdown-summary {
	position: absolute;
	width: 100%;
	margin-top: -3px;
	padding: 13px 20px 15px 20px;
	display: none;
	z-index: 2;
	font-family: $brand-heading-font;
	font-size: 1.3rem;
	color: $mid-grey-1;
	border-width: 0 1px 0 1px;
	border-color: #c4c7d0;
	border-style: solid;
	background-color: #f2f7f7;
	.is-open & {
		display: block;
	}
	.form-filter & {
		position: relative;
	}
	a {
		float: right;
		color: $reflection-purple;
		&:hover {
			color: $reflection-purple--hover;
		}
	}
	.primary-filter &,
	.secondary-filter & {
		margin-top: 5px;
		border-top: 1px solid #c4c7d0;
		border-radius: 4px 4px 0 0;
		background-color: #fcfdfd;
		z-index: 2002;
	}
}
.form-field--select__dropdown .form-field--select__dropdown__parent-option {
	padding-top: 10px;
	margin-top: 9px;
	margin-bottom: 5px;
	border-top: 1px solid $divider-grey;
}
.form-field--select__dropdown .form-field--select__dropdown__child-option {
	padding-left: 20px;
	margin-bottom: 3px;
	font-size: 13px;
}
.form-field--select__dropdown__child-option + .form-field--select__dropdown__parent-option {
	margin-top: 10px;
}

// Filters
.primary-filters-container {
	width: 100%;  
	display: table;
	table-layout: fixed;
	overflow: visible;
	font-size: 0;
	.primary-filter {
		width: 20%;
		max-width: 100%;
		display: table-cell;
		color: $dark-grey-1;
		border-top: 1px solid $light-grey-2;
		border-right: 1px solid $light-grey-2;
		border-bottom: 1px solid $light-grey-2;		
		&:last-child {
			border-right: 0;
		}
		.form-field--select__box {
			padding: 10px 43px 14px 22px;
			display: block;
			font-family: $brand-heading-font;
			font-size: 16px;
			cursor: pointer;
			background-color: $reflection-white;
			@include ellipses();
			&:after {
				position: absolute;
		    right: 18px;
		    top: 9px;
		    color: #9fa1d5;
		    font-size: 20px;
		    letter-spacing: -0.01rem;
			}
			&:hover {
				background-color: $panel-grey;
			}
		}
		&.is-open {
			border-top: 1px solid #5551a4;
			border-right: 1px solid #5551a4;
			border-bottom: 1px solid #5551a4;
			.form-field--select__box {
				padding-top: 11px;
				padding-left: 21px;
				padding-bottom: 12px;
				border-top: 1px solid #524f94;
				border-left: 1px solid #5551a4;
				color: $reflection-white;
				background-color: $reflection-purple;
				&:after {
					top: 12px;
					transform: rotate(180deg);
				}
			}			
		}
		&.form-field--search {
			padding: 10px 18px 0 22px;
			border-left: 0;
			border-radius: 0;
			background-color: $reflection-white;
			cursor: default;
			&.is-open {
				border-right: none;
				border-color: $light-grey-2;
				.clear-search {
			    top: 11px;
    			right: 16px;
				}
			}
			.ref-icon-after--search {
				margin-top: 1px;
			}
			input {
				font-size: 16px;
			}
		}
	}
}
.secondary-filter {
	width: auto;
	max-width: 100%;
	.form-field--select__box {
		min-width: 85px;
		padding: 10px 42px 10px 15px;    
		display: block;
		font-family: $brand-heading-font;
		font-size: 14px;
		color: $dark-grey-1;
		border: 1px solid $light-grey-2;
		border-radius: 3px;
		background-color: #f2f7f7;
		@include ellipses();
		&:after {
			position: absolute;
	    right: 12px;
	    top: 8px;
	    color: #9fa1d5;
	    font-size: 20px;
	    letter-spacing: -0.01rem;
		}
		&:hover {
			background-color: $panel-grey;
		}
		&.ref-icon-before--apple,
		&.ref-icon-before--play-store {
			padding-top: 4px;
    	padding-bottom: 4px;
		}
	}
	&.is-open {
		.form-field--select__box {
			padding-bottom: 9px;
			border: 1px solid #5551a4;
			border-top: 2px solid #524f94;
			color: $reflection-white;
			background-color: $reflection-purple;
			&:after {
				top: 10px;
				right: 11px;    		
				color: #c4c7d0;
				transform: rotate(180deg);
			}
			&.ref-icon-before--apple,
			&.ref-icon-before--play-store {
				padding-bottom: 3px;
			}
		}
	}
	.form-field--select__dropdown {
		padding-top: 14px;
		border-radius: 4px;
		li {
			margin-bottom: 5px;
			font-size: 14px;
			white-space: nowrap;
		}
	}
}
.form-field--search {
	position: relative;
	width: 176px;
	padding: 8px 13px 8px 15px;    
	display: inline-block;
	border: 1px solid $light-grey-2;
	border-radius: 3px;
	background-color: #f2f7f7;
	@include ellipses();
	input {
		width: calc(100% - 25px);
		display: inline-block;
		float: left;
		font-family: $brand-heading-font;
		font-size: 14px;
		color: $dark-grey-1;
	}
	input::-webkit-input-placeholder,
	input:-moz-placeholder,
	input::-moz-placeholder,
	input:-ms-input-placeholder {
		font-family: $brand-heading-font;
		font-size: 14px;
		color: $light-grey-1;
	}
	&.secondary-filter {
		cursor: default;
	}
	span {
		position: absolute;
		top: 0;
		left: -999rem;
	}
	.ref-icon-after--search {
		display: inline-block;
		float: right;
		&:after {
			width: 14px;			
			font-size: 18px;
			color: $light-grey-1;
		}
	}
	.clear-search {
		position: absolute;
    top: 9px;
    right: 13px;
    display: none;
    font-size: 0;
    &:after {
			color: $light-grey-2;
			font-size: 17.5px;
		}
  }
  &.is-open {
  	.clear-search {
  		display: block;
  	}
  	.ref-icon-after--search:after {
  		color: #f2f7f7;
  	}
  }
}
.form-filter {
	width: auto;
	max-width: 100%;
	.form-field--select__box {
		min-width: 101px;
		padding: 23px 50px 11px 19px;
		display: block;
		font-family: $brand-heading-font;
		font-size: 16px;
		color: $dark-grey-1;
		border: 1px solid $light-grey-2;
		border-radius: 4px;
		background-color: #f2f7f7;
		cursor: pointer;
		@include ellipses();
		&:after {
			position: absolute;
	    right: 15px;
	    top: 15px;
	    color: #9fa1d5;
	    font-size: 20px;
	    letter-spacing: -0.01rem;
		}
	}
	&.nothing-selected {
		.form-field--select__box {
			padding: 23px 50px 27px 19px;
		}		
	}
	&.is-open {
		.form-field--select__box {
			border-radius: 4px 4px 0 0;
			&:after {
				top: 16px;
    		right: 16px;
				transform: rotate(180deg);
			}
		}
	}
	.form-field--select__dropdown {
		max-height: 329px;
		width: 100%;
    min-width: 100% !important;
    margin-top: -1px;
    padding: 3px 10px 18px 25px;
    overflow: auto;
		border-top: 0;
		border-radius: 0 0 4px 4px;
		background-color: #f2f7f7;
		li {
			margin-bottom: 6px;
			font-size: 15px;
			cursor: pointer;
		}
	}
}
.secondary-filter--medium {
	.form-field--select__box {
		padding: 11px 50px 14px 15px;
		font-size: 15px;
		&:after {
			top: 11px;
		}
	}
	&.is-open {
		.form-field--select__box {
			padding-top: 12px;
			padding-bottom: 12px;
			&:after {
				top: 13px;
			}
		}
	}
	.form-field--select__dropdown {
		li {
			margin-bottom: 6px;
    	font-size: 15px;
		}
	}
}
.secondary-filter--large {
	.form-field--select__box {
		min-width: 132px;
		padding: 14px 40px 18px 15px;
		font-size: 16px;
		&:after {
			top: 15px;
		}
	}
	&.is-open {
		.form-field--select__box {
			padding-top: 15px;
			padding-bottom: 16px;
			&:after {
				top: 17px;
			}
		}
	}
	.form-field--select__dropdown {
		padding-left: 23px;
		li {
			margin-bottom: 6px;
	    font-size: 15px;
	  }
	}
}
.secondary-filter--multi-select {
	.form-field--select__box {
		width: 170px;
	}
}
.primary-filter,
.secondary-filter {
	position: relative;
	display: inline-block;
	overflow: visible;
	vertical-align: top;
	line-height: 1;
	cursor: pointer;
	.form-field--select__box {
		&:after {
			color: $light-grey-1;
		}
	}
}
.secondary-filters-container {
	padding-top: 1.4rem;
	padding-bottom: 0.6rem;
	overflow: visible;
	float: left;
	font-size: 0;
	background-color: #f1f5f7;
	.form-field--select__box {
		background-color: $reflection-white;
		&:hover {
			background-color: $panel-grey;
		}
	}
	.secondary-filter.is-open {
		.form-field--select__box:hover {
			background-color: $reflection-purple;
		}
	}
}
.secondary-filter-label {
	padding-top: 1.1rem;
	padding-right: 5px;
	display: inline-block;
	vertical-align: top;
	font-size: 1.4rem;
	color: $mid-grey-2;
}
.form-field-notification-number {
	position: absolute;
	top: 8px;
  right: 43px;
	width: 22px;
	height: 22px;
	padding-top: 2px;	
	display: inline-block;
	box-sizing: border-box;
	font-family: $brand-heading-font;
	font-size: 16px;
	font-weight: 700;
	color: $reflection-white;	
	text-align: center;
	border-radius: 11px;
	background-color: $reflection-red;
	&.is-large-number {
		width: auto;
		padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 13px;
	}
	.is-open & {
		top: 10px;
	}
	li & {
		position: relative;
		top: 0;
    right: 0;
		width: auto;
		height: auto;
		padding: 0 5px;
    margin-left: 11px;
    font-size: 12px;
    line-height: 1.4;
    border-radius: 8px;
    .is-open & {
			top: 0;
		}
	}
}
.reflection-form {
	p {
		margin-top: 15px;
		margin-bottom: 20px;
		font-size: 14px;
		color: #727686;
		+ button {
			margin-top: 24px;
		}
	}
}
.range-input {
	margin-bottom: 15px;
	.ref-button--set-range, .range-input-box {
		display: inline-block;
		vertical-align: top;
	}
	.ref-button--set-range {
		box-sizing: border-box;
		span:before {
			font-size: 25px;
			color: $light-grey-1;
		}
		span.ref-icon-before--minus-two:before {
			font-size: 21px;
		}
		&:hover {
			span:before {
				color: $reflection-purple;
			}
		}
		&:active {
			border-top: 3px solid $light-grey-2;
		}
		&.is-disabled {
			opacity: 0.4;
			cursor: default;
			&:hover {
				span:before {
					color: $light-grey-1;
				}
			}
			&:active {
				border-top: 1px solid $light-grey-2;
			}
		}
	}
	.range-input-box {		
		width: calc(100% - 124px);
		height: 52px;
		padding-bottom: 2px;
		margin: 0 10px;
		box-sizing: border-box;
		font-family: $brand-heading-font;
		font-size: 22px;
		font-weight: 600;		
		color: $dark-grey-1;
		text-align: center;
		border: 1px solid $light-grey-2;
		border-radius: 4px;
		background-color: #f5f9f9;
	}
}
.multi-step-section .ref-button--set-range,
.ref-button--set-range {
	width: 52px;
	height: 52px;
	margin-top: 0;
	border: 1px solid #c4c7d0;
	border-radius: 4px;
	background-color: #e1e5e8;	
}