$headerLinkBackgroundHoverColour: #323643;

.global-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 42px;
	display: block;
	float: left;
	z-index: 1000;
	overflow: hidden;
	font-size: 0;
	background-color: $dark-grey-2;
	@include breakpoint($phablet) {
		height: 50px;
	}
	.site-logo {
		width: 25px;
		margin-top: 11px;
		margin-left: 9px;
		display: inline-block;
		vertical-align: top;
		@include breakpoint($phablet) {
			margin-top: 15px;
			margin-left: 16px;
		}
		@include breakpoint($tablet) {
			width: 105px;
			margin-top: 13px;
			margin-left: 22px;
			display: inline-block;
		}
		img {
			width: 19px;
			@include breakpoint($tablet) {
				width: 100%;
			}			
		}
	}
	.header__sign-up-button {
		display: none;
		@include breakpoint($tablet) {
			margin-top: 7px;
			margin-right: 26px;
			padding: 10px 20px 11px;
			display: inline-block;
			float: right;
			vertical-align: top;
			font-size: 14px;
		}
	}
	.help-link {
		padding-top: 13px;
		padding-right: 15px;
		display: inline-block;		
		svg {
			position: relative;
	    width: 22px;
	    cursor: pointer;
		}
	}
	.link-log-in-container,
	.search-link-container,
	.notifications-link-container,
	.my-account-link-container {
		height: 42px;
		padding: 0;
		margin: 0;
		display: inline-block;
		float: right;
		vertical-align: top;
		border-left: 1px solid #1e2027;
		@include breakpoint($phablet) {
			height: 50px;
		}
	}
	.notifications-link-container,
	.my-account-link-container {
		&:hover {
			background-color: #323643;
		}
	}	
	.link-log-in {
		position: relative;
		height: 42px;
		padding: 13px 15px 0 14px;
		display: block;
		@include box-sizing(border-box);
		vertical-align: top;
		text-align: center;
		font-family: $brand-heading-font;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.1;
		color: $light-grey-1;
		border: none;
		background-color: $dark-grey-2;
		@extend %font-smoothing;
		outline: none;
		.no-touchevents & {
			&:hover, &:active {
				color: $reflection-white;
				background: $headerLinkBackgroundHoverColour;
			}
			&:active {
				top: 2px;
			}
		}	
		&.is-selected {
			color: $reflection-white;
		}
		@include breakpoint($phablet) {
			height: 50px;
			padding-top: 16px;
		}
	}
	.search-link-container {
		position: relative;
		input[type=text] {
			width: 182px;			
			margin: 0;
			padding: 0 75px 3px 15px;
			box-sizing: border-box;
			font-family: $brand-heading-font;
			font-size: 14px;
			color: $reflection-white;
			height: 42px;	
			border: 0;
			border-radius: 0;
			background-color: transparent;
			outline: none;
			box-shadow: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			@extend %font-smoothing;
			@include breakpoint($phablet) {
				width: 205px;
				padding-left: 19px;
				padding-right: 20px;
				height: 48px;
				.is-ie & {
					height: 51px;
				}
			}
		}
		.search-stores-label {
			position: absolute;
		  top: 0;
   		left: 15px;
   		font-family: $brand-heading-font;
			font-size: 14px;
			color: $light-grey-1;
			line-height: 42px;
			@include breakpoint($phablet) {
				left: 19px;
				line-height: 47px;
				.is-ie & {
					line-height: 49px;
				}
			}
		}
		.search-icon {
			position: absolute;
		  top: 12px;
    	right: 11px;		  
			&:after {
				width: 14px;
		    font-size: 18px;
		    color: $light-grey-1;
			}
			@include breakpoint($phablet) {
				top: 15px;
   			right: 21px;
			}
		}
		.clear-search {
			position: absolute;
			top: 12px;
  		right: 11px;  		
			display: none;
			&:after {
				color: #727686;
				font-size: 18px;
			}
			@include breakpoint($phablet) {
		    top: 15px;
	    	right: 18px;
			}
		}
		&.is-open {
			@include breakpoint($tablet) {
				input[type=text] {
					width: 318px;
					transition: width 0.2s;
				}
			}
			.search-stores-label,
			.search-icon {
				display: none;
			}
			.clear-search {
				display: block;
			}
		}
	}
	.notifications-link,
	.my-account-link {
		width: 48px;
		display: block;
    text-align: center;
		&:after {
			font-size: 17px;
			color: $light-grey-1;
			line-height: 42px;
			@include breakpoint($phablet) {
				line-height: 50px;
			}
		}
		&:active {
			&:after {
				position: relative;
				top: 2px;
			}
		}
	}
	.has-notifications.notifications-link-container {
		position: relative;
		background-color: $reflection-red;
		.notifications-link:after {
			top: 6px;
			width: 100%;
			color: $reflection-white;
			display: inline-block;
			transform-origin: top center;
			-webkit-animation: bellring 6s infinite;
			animation: bellring 6s infinite;			
			.no-touchevents & {
				&:hover {
					color: $reflection-white;
				}
			}
		}
		.notifications-link:active {
			&:after {
				top: 8px;
			}
			+ .notifications-link-container__notifications-number {
				top: 5px;
			}
		}
	}
	.notifications-link-container__notifications-number {
		position: absolute;
		top: 3px;
		width: 100%;
		margin: 0 auto;
		display: block;
		font-family: $brand-body-font;
		font-weight: 700;
		font-size: 12px;
		color: $reflection-white;
		text-align: center;
	}
}
.global-header__actions {
	display: inline-block;
	float: right;
	overflow: hidden;
}