@-webkit-keyframes introduce-cookie-popup {
	0% {
		bottom: -46px;
  }
	100% {
		bottom: 0;
	}
}
@keyframes introduce-cookie-popup {
	0% {
		bottom: -46px;
  }
	100% {
		bottom: 0;
	}
}
@-webkit-keyframes hamster-cookie-eating {
   100% { background-position: -616px 0; }
}
@keyframes hamster-cookie-eating {
   100% { background-position: -616px 0; }
}
.global-cookie-notification {
	position: fixed;
	bottom: -46px;
	width: 100%;
	height: 46px;
	padding: 0 5px 0 2px;
	z-index: 100;	
	background-color: $reflection-purple;
	animation: introduce-cookie-popup 0.8s 2s forwards;
	.hamster-cookie {
		width: 44px;
		height: 41px;
    margin-top: 5px;
		margin-right: 8px;
		display: inline-block;
		vertical-align: middle;
		background-image: url(images/sprite-cookie-hamster@2x.png);
    background-size: 616px 41px;
    background-position: 0 0;
    animation: hamster-cookie-eating 2s infinite steps(14);
	}
	p {
		width: 170px;
		font-size: 13px;
    line-height: 1.4;
		margin: 0;
		display: inline-block;
		vertical-align: middle;		
		color: #CECCFF;
		a {
			color: $reflection-white;
			text-decoration: underline;
			&:hover {
				color: darken($reflection-white, 10%);
			}
		}
	}
	.btn-accept-cookies {
		padding: 8px 10px 8px 10px;
    margin-top: 7px;
		float: right;
		border: 1px solid #3A3979;
		.no-touchevents & {
			&:active,
			&:not(:disabled):active {
				padding-top: 8px;
				padding-bottom: 7px;
			}
		}
	}
	@include breakpoint($phablet) {
		padding: 0 22px;
		.hamster-cookie {
			margin-right: 19px;
		}
		p {
			width: auto;
			font-size: 14px;
		}
	}
}