.highcharts-container,
.highcharts-container > svg,
.highcharts-container > .highcharts-tooltip,
.highcharts-axis-labels.highcharts-xaxis-labels,
.highcharts-axis-labels.highcharts-yaxis-labels,
.highcharts-axis-labels {
	overflow: visible !important;
}
// fix buggy extra rect appearing in chart, hack
.highcharts-container > svg rect:nth-of-type(3) {
	display: none;
}
// fix highcharts container showing before load
.chart__loading + .highcharts-container {
    visibility: hidden;
}
// fix highcharts container showing before load
.chart__loading[aria-hidden="true"] + .highcharts-container {
    visibility: visible;
}
.highcharts-series {
	opacity: 1;
	transition: opacity 0.3s;
	stroke {
		cursor: pointer;
	}
	&.is-transparent {
		opacity: 0;
		transition: opacity 0s;
	}
	&.is-transparent-fade {
		opacity: 0;
		transition: opacity 0.2s;
	}
}
.highcharts-series.selected-series {
	path {
		stroke-opacity: 1;
	}
}
.highcharts-series path:nth-child(1) {
	pointer-events: none;
}
.chart-watermark {
	position: absolute;
  bottom: 10px;
  right: 10px;
	z-index: 1000;
	pointer-events: none;	
}
.highcharts-axis-labels,
.highcharts-grid path {
	opacity: 1;
	.is-animated & {
		opacity: 1;
		transition: opacity 1s;
	}
}
.highcharts-axis path {
	stroke: #e1e5e8;
}
.highcharts-tooltip {
	> span {
		overflow: visible;
	}
}
.chart-section {
	position: relative;
	z-index: 100;
	overflow: visible;
	ul, li {
		overflow: visible;
	}
}
.chart-container {
	z-index: 100;
}
.custom-tooltip {
	position: relative;
	width: 126px;
  min-height: 26px;
	padding: 3px 7px 3px 3px;
	margin-bottom: 2px;
	display: block;
	overflow: visible;
	font-family: $brand-heading-font;
	font-size: 15px;
	font-weight: 600;
	color: #fcfdfd;
	border-radius: 3px;
	opacity: 0.9;
	.icon-revenue,
	.icon-downloads,
	.icon-rank,
	.icon-ad-network,
	.chart-tooltip-app-icon,
	.icon-flag-sm {
		float: left;
	}	
	.icon-revenue {    
    position: relative;
    top: 0px;
		width: 22px;
		height: 15px;
		margin: 3px 0 0 3px;
		+ span {
			top: 2px;
			+ .chart-tooltip-percentage {
				min-height: 28px;
				padding-top: 7px;
			}
		}
	}
	.icon-downloads {
		position: relative;
		top: -1px;
		width: 22px;
		height: 15px;
		margin: 3px 0 0 3px;
		+ span {
			top: 1px;
			+ .chart-tooltip-percentage {
				min-height: 28px;
				padding-top: 7px;
			}
		}
	}
	.icon-rank {
		width: 16px;
		height: 15px;
	}
	.icon-ad-network {
		width: 16px;
		height: 16px;
	}
	.chart-tooltip-app-icon {
		width: 18px;
    height: 18px;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		float: left;
		border-radius: 3px;
	}
	.icon-flag-sm {
		position: relative;
		top: -1px;
		margin-left: 3px;
		float: left;
	}
	.ref-icon-before--play-store,
	.ref-icon-before--ios {
		display: inline-block;
		vertical-align: top;
		float: left;
	}
	.ref-icon-before--play-store:before,
	.ref-icon-before--ios:before {		
		color: #000;
	  opacity: 0.5;
	}
	.ref-icon-before--ios {
		margin: 2px 0 0 5px;
		&:before {
			font-size: 15px;
		}
	}
	.ref-icon-before--play-store {
		margin: 2px 0 0 6px;
		&:before {
			font-size: 14px;
		}
	}
	.chart-tooltip-value {
		position: relative;
    top: 2px;
    margin-top: 0px;    
    display: inline-block;
		vertical-align: top;
		float: right;
		font-size: 12.5px;
    font-family: $brand-body-font;
    font-weight: 700;
	}
	.chart-tooltip-category {
		position: relative;
		top: 2px;		
    width: 82px;
    padding-left: 3px;
    display: inline-block;
  	float: left;
    overflow: hidden;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
	}
}
.chart-tooltip-percentage {	
  position: absolute;
  right: -44px;
  top: 0px;
  width: 43px;
  min-height: 24px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  box-sizing: border-box;
  font-size: 12.5px;
  font-family: $brand-body-font;
  font-weight: 700;
  text-align: right;
  border-radius: 4px;
}
.chart-container--single .custom-tooltip.revenueseries {
	position: absolute;
	left: -127px;
}
.highcharts-axis-label {
	&:after {
		content: ' ';
		position: absolute;
		top: -10px;
		left: calc(50% - 10px);
		width: 0; 
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $light-grey-1;
	}
}
@keyframes launch {
	0% { transform: translateY(0px); }
	100% { transform: translateY(-280px); }
}
@keyframes launch-hover {
	0% { transform: translateX(0px); }
	25% { transform: translateX(1px); }
	50% { transform: translateX(0px); }
	75% { transform: translateX(-1px); }
	100% { transform: translateX(0px); }
}
.event-icon--launch {
	&.is-animating {
		animation: launch-hover 0.2s infinite forwards, launch 0.5s 0.6s ease-in forwards;
	}
}
.event-icon--flag,
.event-icon--reversedflag {
	transform: translateY(0);
	transition: transform 0.2s ease-in;
	&.is-animating {
		transform: translateY(-12px);
		transition: transform 0.3s ease-in;
	}
}
@keyframes reverseFlagFlap {
	0% { transform: translateY(-12px) translateX(0); }
	50% { transform: translateY(-12px) translateX(3px); }
	100% { transform: translateY(-12px) translateX(0); }
}
.event-icon--reversedflag {
	transform: translateY(0);
	transition: transform 0.2s ease-in;
	&.is-animating {
		animation: reverseFlagFlap infinite 0.25s;
	}
}
.custom-chart-key {
	z-index: 0;
	.checkboxLabelVisible {
		padding-top: 1px;
		padding-left: calc(17px + 1rem);
    font-size: 1.4rem;    
	}
	li {
		margin-right: 1.5rem;
		margin-bottom: 0.5rem;
	}
	li.revenue-key {
		input[type="checkbox"]:checked + .checkboxLabel {
			background-color: #f5c943 !important;
		}
	}
	li.downloads-key {
		input[type="checkbox"]:checked + .checkboxLabel {
			background-color: #918edf !important;
		}
	}
	li.series-1 {
		input[type="checkbox"]:checked + .checkboxLabel {
			background-color: #beb9db;
		}
	}
	li.series-2 {
		input[type="checkbox"]:checked + .checkboxLabel {
			background-color: #fd7f6e;
		}
	}
	li.series-3 {
		input[type="checkbox"]:checked + .checkboxLabel {
			background-color: #7fb1d5;
		}
	}
	li.series-4 {
		input[type="checkbox"]:checked + .checkboxLabel {
			background-color: #f2bdd8;
		}
	}
	li.series-5 {
		input[type="checkbox"]:checked + .checkboxLabel {
			background-color: #c7b299;
		}
	}
	li.series-6 {
		input[type="checkbox"]:checked + .checkboxLabel {
			background-color: #bd7ebf;
		}
	}
	li.series-7 {
		input[type="checkbox"]:checked + .checkboxLabel {
			background-color: #8bd4c7;
		}
	}
	li.series-8 {
		input[type="checkbox"]:checked + .checkboxLabel {
			background-color: #ffb55a;
		}
	}
	li.series-9 {
		input[type="checkbox"]:checked + .checkboxLabel {
			background-color: #d9d9d9;
		}
	}
}
.revenue-key-combined-chart {
	vertical-align: top;
	.checkboxLabel:after {
		content: "2";
		top: 0;
    left: -1px;
		font-size: 17px;
	}
	.checkboxLabelVisible {
		display: none;
	}
}
.downloads-key-combined-chart {
	vertical-align: top;
	.checkboxLabel:after {
		content: "A";
		top: 2px;
		font-size: 13px;
	}
}
.chart-event-label {
	text {
		tspan {
			font-family: $brand-heading-font;			
			font-size: 14px;
			fill: #000000;
			stroke-width: 0px;
			&:first-child {
				font-weight: 600;
			}
			&:last-child {
				font-size: 13px;
			}
		}
	}
}
.highcharts-yaxis {
	display: none;
}