$flag-width-retina: 64;
$flag-height-retina: 64;
$flag-width-sm-retina: 40;
$flag-height-sm-retina: 40;
.icon-flag {
	width: $flag-width-retina/2 + px;
	height: $flag-height-retina/2 + px;
	display: inline-block;
	background-image: url('images/v2/icons-flags@2x.png');
	background-size: (896/2) + px (960/2) + px;
	background-repeat: no-repeat;
}
.icon-flag-sm {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url('images/v2/icons-flags@2x.png');
	background-size: (560/2) + px (600/2) + px;
	background-repeat: no-repeat;
}
.icon-flag--afghanistan {
	background-position: 0 0;
}
.icon-flag--albania {
	background-position: (-$flag-width-retina/2) + px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px 0;
	}
}
.icon-flag--algeria {
	background-position: (-$flag-width-retina*2/2) + px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px 0;
	}
}
.icon-flag--andorra {
	background-position: (-$flag-width-retina*3/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px 0;
	}
}
.icon-flag--angola {
	background-position: (-$flag-width-retina*4/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px 0;
	}
}
.icon-flag--antarctica {
	background-position: (-$flag-width-retina*5 / 2) + px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px 0;
	}
}
.icon-flag--antigua-and-barbuda {
	background-position: (-$flag-width-retina*6/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px 0;
	}
}
.icon-flag--argentina { 
	background-position: (-$flag-width-retina*7 / 2) + px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px 0;
	}
}
.icon-flag--armenia {
	background-position: (-$flag-width-retina*8/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px 0;
	}
}
.icon-flag--aruba {
	background-position: (-$flag-width-retina*9/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px 0;
	}
}
.icon-flag--australia {
	background-position: (-$flag-width-retina*10/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px 0;
	}
}
.icon-flag--austria {
	background-position: (-$flag-width-retina*11/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px 0;
	}
}
.icon-flag--azerbaijan {
	background-position: (-$flag-width-retina*12/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px 0;
	}
}
.icon-flag--the-bahamas {
	background-position: (-$flag-width-retina*13/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px 0;
	}
}

.icon-flag--bahrain {
	background-position: 0 (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-width-sm-retina/2) + px;
	}
}
.icon-flag--bangladesh {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--barbados {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--belarus {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--belgium {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--belize {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--benin {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--bhutan {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--bolivia {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--bosnia-and-herzegovina {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--botswana {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--brazil {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--brunei {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--bulgaria {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina/2) + px;
	}
}

.icon-flag--burkina-faso {
	background-position: 0 (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--burundi {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--cambodia {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--cameroon {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--canada {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--cape-verde {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--catalonia {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--central-african-republic {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--chad {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--chile {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--china {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--colombia {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--comoros {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--democratic-republic-of-the-congo {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}

.icon-flag--republic-of-the-congo {
	background-position: 0 (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--costa-rica {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--cote-divoire {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--croatia {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--cuba {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--cyprus {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--czech-republic {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--denmark {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--djibouti {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--dominica {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--dominican-republic {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--ecuador {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--egypt {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--el-salvador {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}

.icon-flag--england {
	background-position: 0 (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--equatorial-guinea {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--eritrea {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--estonia {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--ethiopia {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--european-union {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--faroe-islands {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--fiji {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--finland {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--france {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--gabon {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--the-gambia {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--georgia {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--germany {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}

.icon-flag--ghana {
	background-position: 0 (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--gibraltar {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--greece {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--greenland {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--grenada {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--guatemala {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--guinea {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--guinea-bissau {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--guyana {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--haiti {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--hondurus {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--hungary {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--hong-kong {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--iceland {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}

.icon-flag--india {
	background-position: 0 (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--indonesia {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--iran {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--iraq {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--ireland {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--israel {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--italy {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--jamaica {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--japan {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--jordan {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--kazakhstan {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--kenya {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--kiribati {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--north-korea {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}

.icon-flag--south-korea {
	background-position: 0 (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--kuwait {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--kyrgyzstan {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--laos {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--latvia {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--lebanon {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--lesotho {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--liberia {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--libya {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--liechtenstein {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--lithuania {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--luxemburg {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--macau {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--macedonia {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}

.icon-flag--madagascar {
	background-position: 0 (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--malawi {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--malaysia {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--maldives {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--mali {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--malta {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--marshall-islands {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--mauritania {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--mauritius {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--mexico {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--micronesia {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--moldova {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--monaco {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--mongolia {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}

.icon-flag--montenegro {
	background-position: 0 (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--morocco {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--mozambique {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--mayanmar {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--namibia {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--nauru {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--nepal {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--netherlands {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--new-zealand {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--nicaragua {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--niger {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--nigeria {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--norway {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--northern-ireland {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}

.icon-flag--oman {
	background-position: 0 (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--pakistan {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--palau {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--palestine {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--panama {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--papua-new-guinea {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--paraguay {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--peru {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--philippines {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--poland {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--portugal {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--puerto-rico {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--qatar {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--romania {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}

.icon-flag--russia {
	background-position: 0 (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--rwanda {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--saint-kitts-and-nevis {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--saint-lucia {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--saint-vincent-and-the-grenadines {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--samoa {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--san-marino {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--sao-tome-and-principe {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--saudi-arabia {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--scotland {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--senegal {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--serbia {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--seychelles {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--sierra-leone {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}

.icon-flag--singapore {
	background-position: 0 (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--slovakia {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--slovenia {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--solomon-islands {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--somalia {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--south-africa {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--spain {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--sri-lanka {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--sudan {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--suriname {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--swaziland {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--sweden {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--switzerland {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--syria {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}

.icon-flag--taiwan {
	background-position: 0 (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--tajikestan {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--tanzania {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--thailand {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--timor-leste {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--togo {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--tonga {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--trinidad-and-tobago {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--tunisia {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--turkey {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--turkmenistan {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--tuvalu {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--uganda {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--ukraine {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}

.icon-flag--united-arab-emirates {
	background-position: 0 (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--united-kingdom {
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--united-states-of-america {
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--uruguay {
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--uzbekistan {
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--vanatu {
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--vatican-city {
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--venezuela {
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--vietnam {
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*14/2) + px;;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--wales {
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--western-sahara {
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--yemen {
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--zambia {
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--zimbabwe {
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}