$flag-width-retina: 64;
$flag-height-retina: 64;
$flag-width-sm-retina: 40;
$flag-height-sm-retina: 40;
.icon-flag {
	width: $flag-width-retina/2 + px;
	height: $flag-height-retina/2 + px;
	display: inline-block;
	background-image: url('images/icons-flags@2x.png');
	background-size: (896/2) + px (1024/2) + px;
	background-repeat: no-repeat;
	&.is-loading {
		background-image: url('images/country-icon-loading.png');
		background-size: 32px 32px;
	}
}
.icon-flag-sm,
.icon-flag--unidentified {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-repeat: no-repeat;
}
.icon-flag-sm {
	background-image: url('images/icons-flags@2x.png');
	background-size: (560/2) + px (640/2) + px;
}
.icon-flag--unidentified {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url('images/unidentified_country_icon.png');
	background-size: 20px 20px;
}
.icon-flag--AF { // afghanistan
	background-position: 0 0;
}
.icon-flag--AL { // albania
	background-position: (-$flag-width-retina/2) + px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px 0;
	}
}
.icon-flag--DZ { // algeria
	background-position: (-$flag-width-retina*2/2) + px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px 0;
	}
}
.icon-flag--AD { // andorra
	background-position: (-$flag-width-retina*3/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px 0;
	}
}
.icon-flag--AO { // angola
	background-position: (-$flag-width-retina*4/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px 0;
	}
}
.icon-flag--AQ { // antarctica
	background-position: (-$flag-width-retina*5 / 2) + px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px 0;
	}
}
.icon-flag--AG { // antigua-and-barbuda
	background-position: (-$flag-width-retina*6/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px 0;
	}
}
.icon-flag--AR { // argentina 
	background-position: (-$flag-width-retina*7 / 2) + px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px 0;
	}
}
.icon-flag--AM { // armenia
	background-position: (-$flag-width-retina*8/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px 0;
	}
}
.icon-flag--AW { // aruba
	background-position: (-$flag-width-retina*9/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px 0;
	}
}
.icon-flag--AU { // australia
	background-position: (-$flag-width-retina*10/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px 0;
	}
}
.icon-flag--AT { // austria
	background-position: (-$flag-width-retina*11/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px 0;
	}
}
.icon-flag--AZ { // azerbaijan
	background-position: (-$flag-width-retina*12/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px 0;
	}
}
.icon-flag--BS { // bahamas
	background-position: (-$flag-width-retina*13/2) +  px 0;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px 0;
	}
}

.icon-flag--BH { // bahrain
	background-position: 0 (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-width-sm-retina/2) + px;
	}
}
.icon-flag--BD { // bangladesh
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BB { // barbados
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BY { // belarus
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BE { // belgium
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BZ { // belize
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BJ { // benin
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BT { // bhutan
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BO { // bolivia
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BA { // bosnia-and-herzegovina
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BW { // botswana
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BR { // brazil
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BN { // brunei
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina/2) + px;
	}
}
.icon-flag--BG { // bulgaria
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina/2) + px;
	}
}

.icon-flag--BF { // burkina-faso
	background-position: 0 (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--BI { // burundi
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--KH { // cambodia
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--CM { // cameroon
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--CA { // canada
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--CV { // cape-verde
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--catalonia { // catalonia
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--CF { // central-african-republic
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--TD { // chad
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--CL { // chile
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--CN { // china
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--CO { // colombia
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--KM { // comoros
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}
.icon-flag--CG { // democratic-republic-of-the-congo
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*2/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*2/2) + px;
	}
}

.icon-flag--CD { // republic-of-the-congo
	background-position: 0 (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--CR { // costa-rica
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--CI { // cote-divoire
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--HR { // croatia
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--CU { // cuba
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--CY { // cyprus
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--CZ { // czech-republic
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--DK { // denmark
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--DJ { // djibouti
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--DM { // dominica
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--DO { // dominican-republic
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--EC { // ecuador
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--EG { // egypt
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}
.icon-flag--SV { // el-salvador
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*3/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*3/2) + px;
	}
}

.icon-flag--england { // england
	background-position: 0 (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--GQ { // equatorial-guinea
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--ER { // eritrea
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--EE { // estonia
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--ET { // ethiopia
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--european-union { // european-union
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--FO { // faroe-islands
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--FJ { // fiji
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--FI { // finland
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--FR { // france
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--GA { // gabon
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--GM { // gambia
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--GE { // georgia
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}
.icon-flag--DE { // germany
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*4/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*4/2) + px;
	}
}

.icon-flag--GH { // ghana
	background-position: 0 (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--GI { // gibraltar
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--GR { // greece
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--GL { // greenland
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--GD { // grenada
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--GT { // guatemala
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--GN { // guinea
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--GW { // guinea-bissau
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--GY { // guyana
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--HT { // haiti
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--HN { // hondurus
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--HU { // hungary
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--HK { // hong-kong
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}
.icon-flag--IS { // iceland
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*5/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*5/2) + px;
	}
}

.icon-flag--IN { // india
	background-position: 0 (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--ID { // indonesia
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--IR { // iran
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--IQ { // iraq
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--IE { // ireland
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--IL { // israel
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--IT { // italy
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--JM { // jamaica
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--JP { // japan
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--JO { // jordan
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--KZ { // kazakhstan
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--KE { // kenya
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--KI { // kiribati
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}
.icon-flag--KP { // north-korea
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*6/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*6/2) + px;
	}
}

.icon-flag--KR { // south-korea
	background-position: 0 (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--KW { // kuwait
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--KG { // kyrgyzstan
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--LA { // laos
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--LV { // latvia
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--LB { // lebanon
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--LS { // lesotho
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--LR { // liberia
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--LY { // libya
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--LI { // liechtenstein
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--LT { // lithuania
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--LU { // luxemburg
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--MO { // macau
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}
.icon-flag--MK { // macedonia
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*7/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*7/2) + px;
	}
}

.icon-flag--MG { // madagascar
	background-position: 0 (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--MW { // malawi
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--MY { // malaysia
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--MV { // maldives
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--ML { // mali
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--MT { // malta
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--MH { // marshall-islands
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--MR { // mauritania
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--MU { // mauritius
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--MX { // mexico
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--FM { // micronesia
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--MD { // moldova
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--MC { // monaco
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}
.icon-flag--MN { // mongolia
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*8/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*8/2) + px;
	}
}

.icon-flag--ME { // montenegro
	background-position: 0 (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--MA { // morocco
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--MZ { // mozambique
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--MM { // mayanmar
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--NA { // namibia
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--NR { // nauru
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--NP { // nepal
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--NL { // netherlands
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--NZ { // new-zealand
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--NI { // nicaragua
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--NE { // niger
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--NG { // nigeria
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--NO { // norway
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}
.icon-flag--northern-ireland { // northern-ireland
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*9/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*9/2) + px;
	}
}

.icon-flag--OM { // oman
	background-position: 0 (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--PK { // pakistan
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--PW { // palau
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--PS { // palestine
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--PA { // panama
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--PG { // papua-new-guinea
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--PY { // paraguay
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--PE { // peru
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--PH { // philippines
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--PL { // poland
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--PT { // portugal
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--PR { // puerto-rico
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--QA { // qatar
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}
.icon-flag--RO { // romania
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*10/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*10/2) + px;
	}
}

.icon-flag--RU { // russia
	background-position: 0 (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--RW { // rwanda
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--KN { // saint-kitts-and-nevis
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--LC { // saint-lucia
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--VC { // saint-vincent-and-the-grenadines
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--WS { // samoa
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--SM { // san-marino
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--ST { // sao-tome-and-principe
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--SA { // saudi-arabia
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--scotland { // scotland
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--SN { // senegal
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--RS { // serbia
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--SC { // seychelles
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}
.icon-flag--SL { // sierra-leone
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*11/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*11/2) + px;
	}
}

.icon-flag--SG { // singapore
	background-position: 0 (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--SK { // slovakia
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--SI { // slovenia
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--SB { // solomon-islands
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--SO { // somalia
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--ZA { // south-africa
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--ES { // spain
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--LK { // sri-lanka
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--SD { // sudan
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--SR { // suriname
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--SZ { // swaziland
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--SE { // sweden
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--CH { // switzerland
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}
.icon-flag--SY { // syria
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*12/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*12/2) + px;
	}
}

.icon-flag--TW { // taiwan
	background-position: 0 (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--TJ { // tajikestan
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--TZ { // tanzania
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--TH { // thailand
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--TL { // timor-leste
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--TG { // togo
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--TO { // tonga
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--TT { // trinidad-and-tobago
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--TN { // tunisia
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--TR { // turkey
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--TM { // turkmenistan
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--TV { // tuvalu
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--UG { // uganda
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}
.icon-flag--UA { // ukraine
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*13/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*13/2) + px;
	}
}

.icon-flag--AE { // united-arab-emirates
	background-position: 0 (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--GB { // united-kingdom
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--US { // united-states-of-america
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--UY { // uruguay
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--UZ { // uzbekistan
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--VU { // vanatu
	background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--vatican-city { // vatican-city
	background-position: (-$flag-width-retina*6/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*6/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--VE { // venezuela
	background-position: (-$flag-width-retina*7/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*7/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--VN { // vietnam
	background-position: (-$flag-width-retina*8/2) + px (-$flag-height-retina*14/2) + px;;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*8/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--wales { // wales
	background-position: (-$flag-width-retina*9/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*9/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--EH { // western-sahara
	background-position: (-$flag-width-retina*10/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*10/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--YE { // yemen
	background-position: (-$flag-width-retina*11/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*11/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--ZM { // zambia
	background-position: (-$flag-width-retina*12/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*12/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}
.icon-flag--ZW { // zimbabwe
	background-position: (-$flag-width-retina*13/2) + px (-$flag-height-retina*14/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*13/2) + px (-$flag-height-sm-retina*14/2) + px;
	}
}

.icon-flag--AI { // anguilla
	background-position: 0 (-$flag-height-retina*15/2) + px;
	&.icon-flag-sm {
		background-position: 0 (-$flag-height-sm-retina*15/2) + px;
	}
}
.icon-flag--BM { // bermuda
	background-position: (-$flag-width-retina/2) + px (-$flag-height-retina*15/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina/2) + px (-$flag-height-sm-retina*15/2) + px;
	}
}
.icon-flag--KY { // cayman islands
	background-position: (-$flag-width-retina*2/2) + px (-$flag-height-retina*15/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*2/2) + px (-$flag-height-sm-retina*15/2) + px;
	}
}
.icon-flag--MS { // montserrat
	background-position: (-$flag-width-retina*3/2) + px (-$flag-height-retina*15/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*3/2) + px (-$flag-height-sm-retina*15/2) + px;
	}
}
.icon-flag--TC { // turks and caicos islands,
	background-position: (-$flag-width-retina*4/2) + px (-$flag-height-retina*15/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*4/2) + px (-$flag-height-sm-retina*15/2) + px;
	}
}
.icon-flag--VG { // virgin islands
	 background-position: (-$flag-width-retina*5/2) + px (-$flag-height-retina*15/2) + px;
	&.icon-flag-sm {
		background-position: (-$flag-width-sm-retina*5/2) + px (-$flag-height-sm-retina*15/2) + px;
	}
}
.icon-flag--is-loading {
	border-radius: 20px !important;
	background-image: none;
	background-color: #e1e5e8;
}