.idc-comments-container {
	margin-bottom: 6rem !important;
	* {
		background-image: none !important;
		font-family: $brand-body-font !important;
		color: $reflection-white !important;
		transition: none;
	}
	#idc-container {
		margin: 0 auto !important;
		max-width: 660px !important;
		.idc-message {
			margin: 0.5em 0 2rem !important;
			padding: 0 !important;
		}
		.idc-btn_l {
			@extend .ref-button--primary--small;
			padding: 1rem 1.5rem 1.2rem 1.5rem !important;
			color: #fcfdfd !important;
		}
		&.idc .idc-focus {
			border: 1px solid #000 !important;
		}
		.idc-c-b .idc-right a {
	    display: inline-block !important;
    	vertical-align: middle !important;
		}
		.idc-text {
			margin-bottom: 8px !important;
		}
		#IDReplyDivSubmitLIButton {
			margin-left: 20px;
		}
		.idc-btn_s .idc-r {
			margin-bottom: 20px;
	    display: block;    	
		}
		.idc-thread .idc-thread .idc-c {
			padding: 5px 0 0 40px !important;
		}
		.idc-c .idc-i {
			margin: 0 !important;
		}
		.idc-c .idc-i span,
		.idc-c .idc-i a {
			margin: 0 3px 0 0 !important;
			color: #81879d !important;
		}
		.idc-c-t-inner {
			margin: 0 !important;
			font-size: 16px !important;
		}
		.idc-c-b .idc-right + div {
			margin: 0 0 20px;
			border-bottom: 1px solid #161617 !important;
		}
		.idc-collapselink {
			padding: 0 0 0 36px !important;
		}
		.idc-c-t {
			padding: 0 0 20px 0 !important;
		}
		.idc-foot {
			border: 0 !important;
		}
		.idc-new {
			margin-top: 5rem;
		}
		.idc-c-highlighted {
			background-image: none !important;
		}
		#IDNewThreadSubmitLI {
			min-width: 20px;
			min-height: 20px;
			background-image: url(images/loadingSpinner.gif) !important;
			background-size: 20px 20px;
			background-repeat: no-repeat;
    	background-position: 50% 50%;
			img {
				display: none;
			}
		}
	}
	h3, h3 span {
		font-family: $brand-heading-font !important;
		color: $reflection-white !important;
	}
	.idc-message {
		color: $reflection-white !important;
	}
	a {
		color: $reflection-purple--dark !important;
		&:hover {
			color: $reflection-purple--dark--hover !important;
		}
	}
	textarea {
		width: 100% !important;
		margin-bottom: 15px !important;
		padding: 10px !important;
		font-size: 14px !important;
		color: $light-grey-2 !important;
		box-sizing: border-box !important;
		border: 1px solid #000 !important;
		background-color: #343438 !important;
	}
	.idc-postnav {
		display: none !important;
	}
	label {
		padding-bottom: 9px !important;
		display: inline-block !important;
		color: $reflection-white !important;
	}
	input[type=text] {
		padding: 10px !important;
    font-size: 13px !important;
    color: $light-grey-2 !important;
    box-sizing: border-box !important;
    border: 1px solid #000 !important;
    background-color: #343438 !important;
	}
	.idc-new_subscribe {
		display: none !important;
	}
	#IDCColumnURL,
	#IDCColumnURLLabel,
	#IDCColumnURLReply,
	#IDCColumnURLReplyLabel {
		display: none !important;
	}	
	.idc-r {
		color: $reflection-purple--dark !important;
    font-weight: bold !important;
	}
	#IDCommentPopup {
		position: absolute !important;
    left: -999em  !important;
		display: none !important;
	}
	.idc-toolbar,
	.idc-v-total {
		display: none !important;
	}
	#IDCommentsHead h3 {
    margin-bottom: 3rem;
	}
}