.cost-container {
	padding: 14px 0 8px;
	border-top: 1px solid $light-grey-2;
	border-bottom: 1px solid $light-grey-2;
}
.cost-container__cost,
.cost-container__frequency {
	display: block;
	text-align: right;
	color: $dark-grey-1;
}
.cost-container__cost {
	margin-bottom: 11px;
	font-family: $brand-body-font;
	font-size: 26px;
	font-weight: 700;
}
.cost-container__frequency {
	font-family: $brand-heading-font;
	font-size: 14px;
}
.cost-maximum-warning {
	display: none;
}
.number-of-licenses-chosen {
  margin-top: 5px;
  margin-bottom: 18px;
	display: block;
	font-family: $brand-heading-font;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}
.multi-step-section .heading-style--heading-six.payment-details-heading,
.payment-details-heading {
	margin-top: 0.8rem;
	display: inline-block;
	float: left;
	text-align: left;
}
.payment-save-for-later {
  margin-top: 1.3rem;
  float: right;
	li {
		margin-right: 0;
	}
}

   