.info-box-small {
	padding: 9px 8px 12px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 1.6;
	color: $mid-grey-1;
	border: 1px solid $light-grey-2;
	border-radius: 5px;
	background-color: $graph-fill-grey;
	a {
		color: $reflection-purple;
		transition: color 0.2s;
		&:hover {
			color: $reflection-purple--hover;
			transition: color 0.3s;
		}
	}
}