.table-no-data-message,
.table-no-data-message:last-child {
	position: relative;
  width: 100%;
  margin-bottom: 4rem;
  display: block;
	font-family: $brand-heading-font;
	font-size: 1.6rem;
	font-weight: 600;
	color: $light-grey-1;
	text-align: center;
	&:before {
		top: -4px;
    margin-right: 11px;
    font-size: 24px;
	}
	span {		
    margin-left: 16px;
		display: inline;
		font-family: $brand-body-font;
		font-size: 12px;
		font-weight: 400;
	}
}
.summary-widget__no-data-title,
.summary-widget__no-data-title:last-child {
	margin: 35px 0 41px;
	font-family: $brand-heading-font;
	font-size: 1.6rem;
	font-weight: 600;
	color: $light-grey-1;
	text-align: center;
	overflow: visible;
	&:before {
		top: -4px;
    margin-right: 11px;
    font-size: 24px;
	}
}