.panel-right-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	z-index: -1;
	-ms-pointer-events: none;
	pointer-events: none;
	&.is-showing {
		overflow: auto;
		overflow-x: hidden;
		-ms-pointer-events: auto;
		pointer-events: auto;
		z-index: 500;
	}
	.no-csstransitions & {
		display: none;
		&.is-showing {
			display: block;
		}
	}
}	
.panel-right__overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #29292b;
	opacity: 0;
	visibility: hidden;
	.no-touch & {
		transition: opacity 0.18s, visibility 0.01s 0.27s;
	}
	.is-showing & {
		visibility: visible;
		opacity: 0.5;
		.no-touch & {
			transition: opacity 0.27s;
		}
	}
	.no-js & {
		display: none;
	}
}
.panel-right,
.no-js .panel-right {
	position: fixed;
	right: -300px;
	top: 0;
	width: 300px;
	height: 100%;
	padding-top: 69px;
	display: block;
	overflow: auto;
	font-size: 10px;
	background-color: $dark-grey-1;
	.no-touch & {
		transition: right 0.1s ease-in;
	}	
	.is-showing & {
		right: 0;
		.no-touch & {
			transition: right 0.1s 0.1s ease-out;
		}
	}
	.blockquote-container {
		width: 100%;
		padding: 29px 26px 38px 28px;
		border-top: 1px solid #161617;
		blockquote {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 42px;
			&:before {
				height: 55px;
				font-size: 80px;
				color: #36363a;
			}
			p {
				font-size: 16px;
			}
			cite {
				font-size: 14px;
				span {
					font-size: 16px;
					color: $reflection-white;
				}
			}
		}
	}
}
.panel-right.search-container {	
	right: -319px;
	width: 319px;
	height: 630px;
	background-color: #fcfdfd;
	.no-touch & {
		transition: none;
	}
	.is-showing & {
		right: 0;
		.no-touch & {
			transition: none;
		}
	}
}