.panel-left {
	position: fixed;
	top: 0;
	width: 241px;
	height: 100vh;
	padding-top: 42px;
	left: -241px;
	display: inline-block;
	z-index: 10;
	float: left;
	overflow: auto;
	font-size: 10px;
	vertical-align: top;
	border-right: 1px solid #000;
	background-color: $dark-grey-1;	
	transition: left 0.15s ease-in, transform 0.15s ease-in, filter 0.27s;
	@include breakpoint($phablet, true) {
		padding-top: 50px;
	}
	&.is-blurred-heavy {
		filter: blur(0.8px);
		transition: filter 0.5s;
		.ie8 &, .ie9 & {
			filter: none;
		}
	}
	.panel-left-open & {
		left: 0px;
		transition: left 0.15s ease-out;
	}
}
#mCSB_1_scrollbar_vertical {
	z-index: 100;
}
.no-touch {
	@include breakpoint($laptop) {
		.panel-left {
			left: 0;
			width: 60px;
			overflow: hidden;
			transition: width 0.1s;
			&:hover {
				width: 240px;
				transition: width 0.2s;
			}
		}
	}
	@include breakpoint($leftnav-wide) {
		.panel-left {
			width: 200px;
			&:hover {
				width: 200px;
			}
		}
	}
}