.reviews-summary-bars {
	padding-top: 59px;
	padding-left: 3px;
	margin-bottom: 2rem;
	overflow: visible;
}
.reviews-summary-bars__title {
  margin: 0;
  display: inline-block;
	vertical-align: top;
	font-size: 20px;
	+ .ratings-container {
    margin: 7px 0 0 10px;
		vertical-align: top;
	}
}
.ratings-container + .reviews-summary-bars__title {
	float: right;
}
.reviews-summary-bars__data {
  position: relative;
  left: -4px;
	margin-top: 21px;
	> div {
		margin-bottom: 2px;
	}
	.ratings-container,
	.filled-bar-container,
	.reviews-summary-bars__data__label {
		display: inline-block;
		vertical-align: top;
	}
	.filled-bar-container {
		margin-top: 6px;
	}
	.reviews-summary-bars__data__label {
    margin-top: 7px;
    margin-left: 20px;
		font-weight: 700;
		font-size: 13px;
	}
}
.filled-bar-container {
	width: calc(100% - 245px);
	height: 16px;

	border-radius: 8px;
	background-color: $panel-grey;
}
.filled-bar-container__fill {
	height: 16px;
	background-color: $reflection-purple;
}