.search-container {
	padding-top: 60px;
	.filter-toggle {
		padding-right: 19px;
		display: inline-block;
		float: right;
		vertical-align: top;
	}
}
.search__results-container__heading {
	width: auto;
	padding: 5px 0 0 20px;
	margin-bottom: 16px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	font-weight: 600;
	color: $dark-grey-1;
	.search__results-section--developers & {
		margin-bottom: 11px;
		padding-left: 19px;
	}	
}
header .search__results-container__heading,
header .search__results-container__heading:first-child,
header .search__results-container__heading:last-child {
	margin-bottom: 10px;
}
.search__results-container {
	position: relative;
	width: 100%;
	overflow: visible;
}
.search__results-section {
	position: relative;
	min-height: 30px;
	padding-top: 9px;
	overflow: auto;
	text-align: left;
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		border-top: 1px solid $divider-grey;
		.search-results-none-container {
			padding-top: 1px;
		}
	}
	li {
		padding-top: 6px;
    padding-left: 20px;
    padding-bottom: 6px;
		display: block;
		border-top: 1px solid $divider-grey;
		img {
			width: 40px;
			height: 40px;
			display: inline-block;
			vertical-align: top;
			border-radius: 7px;
		}
		.search-result__text-container {
			width: calc(100% - 55px);
			padding-top: 2px;
			display: inline-block;
			float: right;
			vertical-align: top;
		}
		.search-result__app-name,
		.search-result__publisher-name {
			padding-right: 15px;
			display: block;
			overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
		}
		.search-result__app-name {
			padding-bottom: 5px;
			font-family: $brand-heading-font;
			font-size: 15px;
			font-weight: 600;
			color: $reflection-purple;
			&:hover {
				color: $reflection-purple--hover;
			}
		}
		.search-result__publisher-name {
			font-family: $brand-heading-font;
			font-size: 13px;
			color: $light-grey-1;
		}
	}
	&.search__results-section--developers {
		li {
			padding-top: 0;
	    border-top: 0;
	    padding-bottom: 8px;
		}
		.search-results--developer__publisher-name {
			display: block;
			font-family: $brand-heading-font;
			font-size: 15px;
	    color: $reflection-purple;
	    line-height: 1.5;
	    &:hover {
	    	color: $reflection-purple--hover;
	    }
		}
	}
}
.search-results-none-container {
	padding: 7px 0 19px 19px;
	display: none;
	span {
		vertical-align: middle;
		font-size: 14px;
		font-family: $brand-body-font;
		color: $light-grey-1;
		line-height: 1.3;
	}
}
.search-loading-indicator {
	position: absolute;
  right: 45px;
  top: 14px;
  width: 20px;
  height: 20px;
  display: none;
}