.sharing-container {
	display: inline-block;
	.sharing-container__title {    
    margin-right: 10px;
    margin-bottom: 0;
	  display: inline-block;
	  vertical-align: middle;
		font-size: 1.5rem;
		font-weight: 600;
		color: $light-grey-2;
	}
	.addthis_sharing_toolbox {
		display: inline-block;
		vertical-align: middle;
		.at-share-tbx-element .at-share-btn {
			margin: 0 7px 0px 0;
		}
	}
	.page-popup & {
    margin-top: 1.9rem;
		.sharing-container__title {
			color: $dark-grey-1;
		}
	}
}