.ref-table {
	width: 100%;
	font-size: 1.3rem;
	color: $dark-grey-1;
	th {
		padding-top: 1.5rem;
		padding-top: 1.3rem;
		font-family: $brand-heading-font;
		font-size: 1.5rem;
		color: $dark-grey-2;
		a {
			@extend .text-link;
		}
	}
}
.ref-table--apps {
	.column-row-selector {
		width: percentage(77/873);
	}
	.column-app-name {
		width: percentage(241/873);
	}
	.column-released {
		width: percentage(82/873);
	}
	.column-revenue {
		width: percentage(86/873);
	}
	.column-downloads {
		width: percentage(163/873);
	}
	.column-percentage-of-total {
		width: percentage(224/873);
	}
}
.data-table__app-summary {
	img {
		width: 42px;
		display: inline-block;
		border-radius: 8px;
	}
	> div {
		width: calc(100% - 50px);
		display: inline-block;
		vertical-align: top;
		float: right;
		text-align: left;
	}
}
.data-table__app-summary__app-name {
	margin: 0;	
	font-family: $brand-body-font;
	font-size: 1.4rem;
	a {
		padding-bottom: 0.5rem;
		@extend .text-link;
	}
}