$table-gold: #ee9063;

.ref-table {
	width: 100%;
	font-size: 1.3rem;
	color: $dark-grey-1;
	table-layout: fixed;
	th {
		padding-top: 1.2rem;
		padding-bottom: 1.1rem;
		vertical-align: top;
		font-family: $brand-heading-font;
		font-size: 1.4rem;
		color: $dark-grey-2;
		a {
			@extend .text-link;
			font-weight: 600;
		}
		&:first-child {
			padding-left: 1.5rem;
		}
	}
	tbody {
		tr:nth-child(odd) {
			background-color: $panel-grey;
		}
		td {
			padding-top: 5px;
			padding-bottom: 5px;
			&:first-child {
				padding-left: 1.5rem;
			}
		}
	}
}
.ref-table--apps,
.ref-table--publishers {
	margin-bottom: 4rem;
	tr {
		border-bottom: 1px solid #fcfdfd;
	}
	.column-row-selector {
		width: 4.9%;
	}
	.column-store-icon {
		width: 4%;
	}
	.column-app-name {
		width: 25.2%;
	}
	.column-released {
		width: 8%;
	}	
	.column-revenue {
		width: 12%;
	}
	.column-downloads {
		width: 14%;
	}
	.column-more {
		width: 9%;
	}
	.column-percentage-of-total {
		width: 23.3%;
	}
	.revenue-head-cell,
	.downloads-head-cell {		
    text-align: right;
		font-size: 1.5rem;
	}
	.total-for-period-head-cell {
		span {
			display: inline-block;
		}
		span:first-child {
			margin-bottom: 0.4rem;
			display: block;
			font-size: 1.4rem;
		}
		span:nth-child(2) {
			color: $table-gold;
			font-size: 1.3rem;
		}
		span:nth-child(3) {
			margin-left: 1.5rem;
			color: $reflection-purple;
			font-size: 1.3rem;
		}
	}
	.app-data-cell-show-hide {
		padding-left: 1.5rem;
		.form-field--checkbox-list {
			width: 17px;
			margin-right: 9px;
			padding-top: 3px;
			vertical-align: top;
		}
	}
	.data-table__store {
		position: relative;
		top: -1px;
		left: -1px;
		display: inline-block;
		vertical-align: top;
		&:after {
			font-size: 20px;
			color: $light-grey-1;
		}
		&.ref-icon-after--play-store {
			padding-top: 1px;
  		padding-left: 1px;
  		&:after {				
				font-size: 18px;
			}			
		}
	}
	.app-data-cell-app-details {
		padding-top: 7px;
		padding-bottom: 5px;
	}	
	.app-data-cell-released-date {
		padding-top: 1.1rem;
		vertical-align: top;		
	}
	.app-data-revenue,
	.app-data-downloads {
		float: right;
		text-align: right;
	}
	.app-data-downloads	{
		display: inline-block;
		vertical-align: top;
	}
	.data-table__growth {
		margin-top: 0.4rem;
		display: block;
		font-weight: 700;
		font-size: 1.2rem;
	}
	.more-app-data {
		position: absolute;
		top: 0;
		right: 8rem;
		width: 150px;
		padding: 7px;	
		display: none;
		z-index: 10;
		text-align: center;
		background-color: $panel-grey;
		border-radius: 5px;
		dt, dd {
			display: block;
		}
		dd {
			margin-bottom: 0.5rem;
		}
	}
	.app-data-cell-more {
		position: relative;
		padding-left: 12px;    
    padding-top: 10px;
    vertical-align: top;
		.more-data-link {
			@extend .text-link;
			margin-left: 10%;
			vertical-align: top;
			font-size: 1.2rem;
		}
		.more-data-link:hover + .more-app-data {
			display: inline-block;
		}
	}
	.data-table__value-bar {
		> span {
			width: 35px;
			display: inline-block;
			font-weight: bold;
			font-size: 1.2rem;	
			color: $reflection-purple;
			text-align: center;
		}
		div {
			width: calc(100% - 53px);
			height: 10px;
			display: inline-block;
			background-color: #e6e6eb;
		}
		div span {
			height: 10px;
			display: block;		
			background-color: $reflection-purple;
		}
		&:first-child {
			margin-bottom: 4px;
			> span {
				color: $table-gold;
			}
			div span {
				background-color: #f5c943;
			}
		}
	}
	.ratings-container,
	.ratings-full {
		background-size: 65px 10px;
	}
}
.ref-table--publishers {
	tbody td:first-child {
		padding-top: 17px;
    padding-bottom: 17px;
	}
	.column-row-selector {
		width: 7%;
	}
	.column-app-name {
		width: 25%;
	}
	.column-apps-number {
		width: 5%;
	}
	.column-revenue {
		width: 15%;
	}
	.column-downloads {
		width: 15%;
	}
}
.ref-table--apps,
.ref-table--apps * {
	overflow: visible;
}
.ref-table--apps.ref-table--apps--country {
	.data-table__app-summary img {
		width: 32px;
	  display: inline-block;
	  border-radius: 0;
	  padding-top: 5px;
	}
}
.data-table__app-summary {
	img {
		width: 42px;
		display: inline-block;
		border-radius: 9px;
	}
	> div {
		width: calc(100% - 55px);
		display: inline-block;
		vertical-align: top;
		float: right;
		text-align: left;
	}
}
.data-table__app-summary__app-name {
	margin: 0;
	padding-top: 1px;
	padding-bottom: 2px;
	font-family: $brand-body-font;
	font-size: 1.39rem;	
	a {
		padding-bottom: 0.5rem;
		@extend .text-link;
	}
}