.team-list {
	width: 100%;
	font-size: 0;
	li {
		width: 33.3%;		
		height: 305px;
		display: inline-block;
		float: left;
		cursor: pointer;
		.team-member-titles {
			position: absolute;
			left: 0;
			bottom: 2.3rem;
    	width: 100%;
    	padding: 0 23px;
			h2 {
				margin-bottom: 0.3rem;
				font-weight: 600;
				font-size: 2.4rem;
				color: $reflection-white;
			}
			h3 {
				font-weight: 400;
				font-size: 1.6rem;
				color: $panel-grey;
			}
		}
		.team-member-description {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-color: rgba(252,253,253,.9);
			p {
				font-size: 14px;
    		padding: 34px 28px 20px;
    		line-height: 1.75;
			}
		}
		&.team-title {
			@include vertical-centre-content;
			height: 305px;
			h2 {
				width: 76%;
				margin-top: -12px;
    		margin-left: 12%;
				font-size: 2.8rem;
				font-weight: 600;
				text-align: center;    
			}
		}
		&:hover {
			.team-member-description {
				opacity: 1;
				transition: opacity 0.3s;
			}
		}
	}
	&:last-child li {
  	cursor: default;
	}
	.team-member {
		position: relative;
		background-size: cover;
	}
	.team-member--gustaf {
		background-image: url(images/team-gustaf.jpg);
	}
	.team-member--chi {
		background-image: url(images/team-chi.jpg);
	}
	.team-member--mitul {
		background-image: url(images/team-mitul.jpg);
	}
	.team-member--nic {
		background-image: url(images/team-nic.jpg);
	}
	.team-member--martin {
		background-image: url(images/team-martin.jpg);
	}
	.team-member--jamie {
		background-image: url(images/team-jamie.jpg);
	}
	.team-member--dan {
		background-image: url(images/team-dan.jpg);
	}
	.team-member--stef {
		background-image: url(images/team-stef.jpg);
	}
	.team-member--oli {
		background-image: url(images/team-oli.jpg);
	}
	.team-member--riccardo {
		background-image: url(images/team-riccardo.jpg);
	}
	.team-member--andy-t {
		background-image: url(images/team-andy@2x.jpg);
	}
	.team-member--david {
		background-image: url(images/team-david@2x.jpg);
	}
	.team-member--andy {
		background-image: url(images/board-andy.jpg);
	}
	.team-member--min {
		background-image: url(images/board-min.jpg);
	}
	.team-member--graham {
		background-image: url(images/board-graham.jpg);
	}
	.team-member--paul {
		background-image: url(images/board-paul.jpg);
	}
	.team-member--julian {
		background-image: url(images/board-julian.jpg);
	}
	.team-member--adam {
		background-image: url(images/board-adam@2x.jpg);
	}
	.team-member--etienne {
		background-image: url(images/board-etienne@2x.jpg);
	}
	@include breakpoint($desktop) {
		li {
			width: 25%;
		}
	}
	@include breakpoint($desktop-wide) {
		li {
			width: 20%;
		}
	}
	@include breakpoint($desktop-widest) {
		li {
			width: 16.66666666666667%;
		}
	}
}