@import "../variables/colours";
@import "../variables/typography";

.chart-container {
	position: relative;
	width: 100%;
	height: 386px;
	padding-top: 12px;
	margin-bottom: 3.8rem;
	display: inline-block;
	overflow: visible;
	float: left;
	background-color: $panel-grey;
	border-top: 1px solid $divider-grey;
	&.chart-container--split {
		width: 50%;
	}
	.chart-data-message {
		position: absolute;
		top: 48px;
		width: 100%;
		display: block;
		text-align: center;
		font-size: 12px;
		color: $mid-grey-1;
		.whats-this-tooltip-icon {			
			position: relative;
			top: -4px;
			left: 6px;
		}
	}
	.chart-heading {
		margin: 0;
		display: inline-block;
		span {
			font-weight: 400;
		}
	}
	.chart-summary {
		display: inline-block;
		vertical-align: top;
	}
	.total-for-period-container {
		display: inline-block;
		vertical-align: top;
	}
	.total-for-period-title {
		display: inline-block;
		vertical-align: bottom;
		font-family: $brand-heading-font;
		font-size: 1.4rem;
		color: #363a47;
	}
	.total-for-period-title__countries {
		font-weight: 600;
		color: $reflection-purple;
	}
	.total-for-period,
	.growth-on-last-period {
		vertical-align: bottom;
		font-family: $brand-body-font;		
		line-height: 1.1;
	}
	.total-for-period {
		display: inline-block;
		font-size: 2rem;
	}
	.growth-on-last-period {
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 700;
	}
	.growth-on-last-period-container {
		display: inline-block;
		vertical-align: top;
	}
	.growth-on-last-period {
		font-weight: 700;
	}
	.growth-on-last-period-title {
		position: relative;
		padding-right: 25px;
		overflow: visible;
		&:after {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 18px;
			color: $light-grey-2;
		}
	}
}
.chart-container:first-child {
	border-right: 1px solid $divider-grey;
}
.chart-container__header {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	overflow: visible;
}
.chart-container--split {
	.chart-summary {
		position: absolute;
		top: 5px;
		right: 0%;
	}
	.total-for-period-container {
		padding-right: 22px;
	}
	.total-for-period-title {
		padding-right: 1rem;
	}
	.growth-on-last-period {
		padding-left: 0.5rem;
		padding-bottom: 1px;
	}
}
.chart-container--single {
	.chart-summary {
		position: relative;
		margin-right: 42px;
	}
	.total-for-period-container {
		vertical-align: top;
	}
	.total-for-period-title {
		padding-right: 10px;
	}
	.total-for-period {
		margin-top: -2px;
		vertical-align: top;
	}
	.growth-on-last-period {
		padding-left: 5px;
	}
	.chart {
		margin-top: 69px;
	}
}
.chart {
	height: 306px;
	width: 100%;
	margin-top: 32px;
	overflow: visible;
}
.custom-chart-key {
	position: relative;
	width: calc(100% - 44px);
	padding: 0;
	margin: 0 22px 1.4rem;
	border-bottom: 1px solid $divider-grey;
	li {
		margin-bottom: 9px;
	}
}
.chart-container__chart-message__title {
	margin: 0 0 1px;
	color: $mid-grey-1;
	font-size: 14px;
	font-weight: 600;
	overflow: visible;
	&:before {
		top: -1px;
		margin-right: 9px;
		font-size: 18px;
		color: $light-grey-1;
	}
}
.chart-container__chart-message__content {
	margin-left: 28px;
	display: block;
	color: $mid-grey-2;
	font-size: 12px;
	a {
		color: $reflection-purple;
		&:hover {
			color: $reflection-purple--hover;
		}
	}
}
.chart-key-estimates {
	position: absolute;
  right: 20px;
  top: 54px;
  font-family: $brand-heading-font;
  font-weight: 400;
  font-size: 14px;
  color: $mid-grey-1;
  > span {
  	margin-left: 6px;
    margin-right: 4px;
  	display: inline-block;
  	vertical-align: middle;
  }
  > img {
    margin-top: 1px;
  	display: inline-block;
  	vertical-align: middle;
  }
  .whats-this-tooltip-icon {
  	position: relative;
  	top: -2px;
  }
}