@import "breakpoint";
@import "../variables/layout";
@import "../variables/colours";

.page-live-charts {
	padding-top: 23px;
	overflow: visible;
	> header {
		overflow: visible;
	}
	.page-title,
	.page-header__page-actions {
		display: inline-block;
		vertical-align: top;
	}
	.page-title {
		margin: -2px 0 23px -2px;
		+ .secondary-filter {
			margin-left: 2.8rem;
		}
	}
	.page-header__page-actions {
		float: right;
		> div,
		> input,
		> button {
			margin-left: 10px;
			display: inline-block;
			float: right;
			vertical-align: top;			
		}
		.form-field--search {
			margin-left: 1px;
		}
		.form-field--checkbox-list {
			padding-top: 10px;
			display: none;
			@include breakpoint(1100px) {
				display: inline-block;
			}
		}
	}
	+ div .global-footer {
		border-top: none;
	}
	.sign-up-link {
		display: inline-block;
		color: $reflection-purple;
		cursor: pointer;
	}
}