@import "../variables/colours";
@import "../variables/typography";

.page-article-list {
	padding-top: 2.1rem;
	overflow: visible;
	+ div .global-footer {
		border-top: none;
	}
	.page-header__headings-container,
	.page-header__page-actions-container {
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}
	.page-header__page-actions-container {
		padding-top: 2px;
		text-align: right;
		.form-field--checkbox-list {
			padding-top: 10px;
		}
	}
	.page-title {
		margin-right: 20px;
		margin-bottom: 0;
	}
	.page-title, 
	.page-sub-title {
		display: inline-block;
		vertical-align: top;
	}
	.page-sub-title {
		padding-top: 14px;
		font-family: $brand-body-font;
		font-size: 14px;
		font-weight: 400;
		color: $mid-grey-1;
	}
	.divider {
		height: 1px;
		width: 100%;
		margin: 0 auto 5rem;
		border-bottom: 1px solid $light-grey-2;
	}
}
.page-article-list__header {
	margin-bottom: 2.1rem;
	font-size: 0;
}