<!-- <div class="banner"> -->
	<div>
		<div class="banner__graphic">
			<img src="images/banner-icons/typography.png" alt="Tt" />
		</div>
		<div class="banner__intro">
			<h1>{{sectionTitle}}</h1>
			<h2>{{componentTitle}}</h2>
			<p>{{Intro}}</p>						
		</div>
	</div>
<!-- </div> -->