<!-- <div class="panel-right-container"> -->
	<div class="panel-right__overlay"></div>
		<div class="panel-right">
			<form class="reflection-form" autocomplete="off">
				<div class="form-field">						
					<input type="email" name="email" id="email" autocomplete="off" />
					<label for="email">Email</label>
				</div>
				<div class="form-field">						
					<input type="password" name="password" id="password" autocomplete="off" />
					<label for="password">Password</label>
				</div>
				<a href="#" class="form-link">I've misplaced my password</a>
				<div class="form-field--checkbox">
					<input type="checkbox" name="signedin" id="signedin" /><labeL for="signedin">Keep me signed in</label>
				</div>
				<input type="submit" class="ref-button ref-button--login-form-submit" value="Log in" />
			</form>
			<div class="blockquote-container">
				<blockquote>
					<p>We see our customers as invited guests to a party, and we are the hosts. It's our job every day to make every important aspect of the customer experience a little bit better.</p>
					<footer>
						<cite>
							<span>Jeff Bezos</span>
							Founder, Amazon
						</cite>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
<!-- </div> -->