<div class="search-overlay"></div>
<div class="search-container">
	<form class="search__form">
		<label class="ref-icon-before ref-icon-before--search search__label-search" for="site-search"><span>Search:</span></label>
		<input type="search" name="search" id="search" placeholder="Search for app or developer" class="search__input-search" />
	</form>
	<!-- <div class="search__results-container">
		<h2>Apps</h2>
		<ul>
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
			<li>Lorem ipsum dolor</li>
		</ul>
	</div> -->
</div>