<!-- <div class="panel-right-container js-account-container"> -->
	<div class="panel-right search-container">
		<form class="search__form forms--dark-theme">
			<div class="form-field">						
				<input type="search" id="search" name="search" class="js-get-items" autocomplete="off" />
				<label for="search">Search</label>
			</div>
			<input type="submit" class="ref-button--full-width" value="Show All Results" />
		</form>
		<div class="search__results-container">
			<div class="search__results-section js-item-results--apps">
				<h2>Apps</h2>
				<ul>
					<li><a href="#"><img src="images/placeholder-app-thumb-sm1.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
					<li><a href="#"><img src="images/placeholder-app-thumb-sm2.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
					<li><a href="#"><img src="images/placeholder-app-thumb-sm3.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
					<li><a href="#"><img src="images/placeholder-app-thumb-sm4.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
					<li><a href="#"><img src="images/placeholder-app-thumb-sm5.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
					<li><a href="#"><img src="images/placeholder-app-thumb-sm6.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
				</ul>
			</div>
			<div class="search__results-section search__results-section--developers js-item-results--developers">
				<h2>Developers</h2>
				<ul>
					<li><a href="#">Lorem ipsum dolor</a></li>
					<li><a href="#">Lorem ipsum dolor</a></li>
					<li><a href="#">Lorem ipsum dolor</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>