<div class="search-overlay"></div>
<div class="search-container">
	<form class="search__form">
		<label class="ref-icon-before ref-icon-before--search search__label-search" for="site-search"><span>Search:</span></label>
		<input type="search" name="search" id="search" placeholder="Search" class="search__input-search js-get-items" autocomplete="off" />
		<button class="ref-button ref-icon-before ref-icon-before--cancel button-cancel js-close-search"><span class="hidden-text">Close</span></button>
	</form>
	<div class="search__results-container">
		<div class="search__results-section js-item-results--apps">
			<h2>Apps</h2>
			<ul>
				<li><a href="#"><img src="images/placeholder-app-thumb-sm1.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
				<li><a href="#"><img src="images/placeholder-app-thumb-sm2.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
				<li><a href="#"><img src="images/placeholder-app-thumb-sm3.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
				<li><a href="#"><img src="images/placeholder-app-thumb-sm4.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
				<li><a href="#"><img src="images/placeholder-app-thumb-sm5.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
				<li><a href="#"><img src="images/placeholder-app-thumb-sm6.png" alt="App icon"/><span>Lorem ipsum dolor</span></a></li>
			</ul>
		</div>
		<div class="search__results-section search__results-section--developers js-item-results--developers">
			<h2>Developers</h2>
			<ul>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">Lorem ipsum dolor</a></li>
			</ul>
		</div>
	</div>
</div>