@media print {
	div:not(.highcharts-container),
	h1, h2, h3, h4, h5, h6, p ul, li, article, section, aside, header, footer, blockquote, table {
		height: auto !important;
		min-height: none !important;
		margin: 2px !important;
		padding: 0px !important;
		text-align: left !important;
	}
	img,
	.panel-left,
	.panel-right-container,
	.global-header__actions,
	button,
	form,
	.ref-button--function-large,
	.press-area--featured-list,
	.why-reflection-graphic,
	.page-overlay,
	.page-popup,
	.page-functions,
	table.sticky-table-head,
	.app-user-functions-container,
	.data-bar,
	.account-form-container .tabs-container,
	.account-connect-animation,
	.connect-account-submitted,
	.account-form-container,
	.connect-account-main-content svg,
	.js-tooltip {
		display: none !important;
	}
	a {
		color: #6d69c5 !important;
		text-decoration: none !important;
	}
	svg {
		width: 32px;
	}
	table svg {
		display: none !important;
	}
	.tabs,
	.tabs__content-container {
		margin-bottom: 20px !important;
	}
	.tabs svg {
		width: 10px !important;
	}
	.tabs li,
	.tabs__content-container li,
	.partners-grid-container li,
	.list-partners li,
	.article-list--article,
	.members-list li {
		list-style: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	.tabs__content-container table {
		margin-bottom: 30px !important;
	}
	.why-reflection-item svg {
		width: 60px !important;
	}
	.partners-grid-container li,
	.list-partners li,
	.members-list li {
		display: inline-block !important;
		margin-right: 30px !important;
	}
	.partners-grid-container li svg,
	.list-partners svg,
	.list-partners img,
	.members-list li svg {
		display: inline-block !important;
		width: 60px !important;
	}
	.product-page__quotes__logo-container svg,
	.help-us-help-you svg,
	.page-about-foot-content__svg-container svg,
	.contact__text-content svg {
		width: 100px !important;
	}
	.home-wide-container {
		margin-bottom: 40px !important;
	}
	.MHXTE6C-ob-a { /* back to top */
		display: none !important;
	}
	.highcharts-container,
	.graph-container,
	.graph-container * {
		overflow: visible !important;
	}
	.highcharts-container ,
	.highcharts-container svg {
		width: 100% !important;
	}
	.revenue-percentage {
		padding-left: 30px !important;
	}
	.latest-system-stats svg {
		width: 10px !important;
	}
	.table-data th,
	.table-data td {
		padding: 2px !important;
		text-align: left !important;
	}
	.table-linked-accounts th,
	.table-linked-accounts td,
	.table-my-apps th,
	.table-my-apps td {
		padding: 10px !important;
		text-align: left !important;
	}
	.ref-icon-before--cloud,
	.ref-icon-before--revenue {
		padding-left: 25px !important;
	}
	.page-banner > div {
		top: 10px !important;
	}
	.content-list li {
		padding-left: 20px !important;
	}
	.page-terms .content-list li {
		padding-left: 40px !important;	
	}
	.page-terms .content-list li p {
		margin-left: 0 !important;
	}
	.page-terms .content-list li ol li:before {
		position: relative;
		left: 0px;
		margin-right: 10px;
	}
	.pricing-options .pricing-price,
	.pricing-options .pricing-sup {
		font-size: 30px !important;
		color: #333;
		vertical-align: bottom;
	}
	.pricing-options .pricing-access-info:after {
		display: none !important;
	}
	.pricing-options .pricing-option--header p {
		position: relative !important;
	}
	.site-article-full .blockquote--large:before,
	.site-article-full .blockquote:before {
		display: none !important;
	}
}