$rotationAmountForBellRing: 5deg;
@keyframes bellring {
   0% { transform: rotate(0deg); }
   1.5% { transform: rotate(-$rotationAmountForBellRing); }
   3% { transform: rotate($rotationAmountForBellRing); }
   4.5% { transform: rotate(-$rotationAmountForBellRing); }
   6% { transform: rotate($rotationAmountForBellRing); }
   7.5% { transform: rotate(-$rotationAmountForBellRing); }
   9% { transform: rotate($rotationAmountForBellRing); }
   10.5% { transform: rotate(-$rotationAmountForBellRing); }
   12% { transform: rotate(0deg); }
   100% { transform: rotate(0deg); }
}