$brand-body-font: 'Lato', sans-serif;
$brand-heading-font: 'Source Sans Pro', sans-serif;
$reflection-icons-name: "reflection-icons-1";

@font-face {
  font-family: "reflection-icons-1";
  src:url("fonts/fontastic/reflection-icons-1.eot");
  src:url("fonts/fontastic/reflection-icons-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/fontastic/reflection-icons-1.woff") format("woff"),
    url("fonts/fontastic/reflection-icons-1.ttf") format("truetype"),
    url("fonts/fontastic/reflection-icons-1.svg#reflection-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

%icon-font {
	vertical-align: top;
	speak: none;
	font-family: "reflection-icons-1";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="reficon-"], [class*=" reficon-"] {
  height: 18px;
  width: 18px;
  display: inline-block;
  fill: currentColor;
}
.ref-icon-before--hamburger,
.ref-icon-before--search,
.ref-icon-before--revenue,
.ref-icon-before--download,
.ref-icon-before--apple,
.ref-icon-before--play-store,
.ref-icon-before--twitter,
.ref-icon-before--linkedin,
.ref-icon-before--facebook,
.ref-icon-before--google-plus,
.ref-icon-before--up,
.ref-icon-before--down,
.ref-icon-before--angle-down,
.ref-icon-before--angle-up,
.ref-icon-before--cancel,
.ref-icon-before--tick,
.ref-icon-before--minus,
.ref-icon-before--cog,
.ref-icon-before--plus,
.ref-icon-before--minus-two,
.ref-icon-before--warning,
.ref-icon-before--warning-filled,
.ref-icon-before--ios,
.ref-icon-before--equals,
.ref-icon-before--info-no-fill,
.ref-icon-before--key {
	@extend .ref-icon-before;
}
.ref-icon-after--search,
.ref-icon-after--question,
.ref-icon-after--angle-down,
.ref-icon-after--angle-up,
.ref-icon-after--info,
.ref-icon-after--apple,
.ref-icon-after--play-store,
.ref-icon-after--notification,
.ref-icon-after--profile,
.ref-icon-after--close,
.ref-icon-after--up,
.ref-icon-after--down,
.ref-icon-after--cancel,
.ref-icon-after--tick,
.ref-icon-after--revenue,
.ref-icon-after--calendar,
.ref-icon-after--dollar,
.ref-icon-after--angle-right,
.ref-icon-after--equals,
.ref-icon-after--ios,
.ref-icon-after--unavailable,
.ref-icon-after--info-no-fill,
.ref-icon-after--key {
	@extend .ref-icon-after;
}
.ref-icon-before--search:before,
.ref-icon-after--search:after {
	content: "a";
}
.ref-icon-before--cog:before {
	content: "b";
}
.ref-icon-after--question:after {
	content: "F";
}
.ref-icon-before--hamburger:before {
	content: "d";
}
.ref-icon-before--revenue:before,
.ref-icon-after--revenue:after {
	content: "M";	
}
.ref-icon-before--download:before {
	content: "f";
}
.ref-icon-before--twitter:before {
	content: "o";
}
.ref-icon-before--linkedin:before {
	content: "p";
}
.ref-icon-before--facebook:before {
	content: "n";
}
.ref-icon-before--google-plus:before {
	content: "S";	
}
.ref-icon-before--angle-down:before,
.ref-icon-after--angle-down:after {
	content: "j";
}
.ref-icon-before--angle-up:before,
.ref-icon-after--angle-up:after {
	content: "m";
}
.ref-icon-after--info:after {
	content: "J";
}
.ref-icon-before--apple:before,
.ref-icon-after--apple:after {
	content: "W";
}
.ref-icon-before--play-store:before,
.ref-icon-after--play-store:after {
	content: "V";
}
.ref-icon-after--notification:after {
	content: "Y";
}
.ref-icon-after--profile:after {
	content: "X";
}
.ref-icon-after--close:after {
	content: "K";
}
.ref-icon-after--up:after,
.ref-icon-before--up:before {
	content: "D";
}
.ref-icon-after--down:after,
.ref-icon-before--down:before {
	content: "A";
}
.ref-icon-after--cancel:after,
.ref-icon-before--cancel:before {
	content: "s";
}
.ref-icon-after--tick:after,
.ref-icon-before--tick:before {
	content: "t";
}
.ref-icon-before--minus:before {
	content: "L";
}
.ref-icon-before--minus-two:before {
	content: "Z";
}
.ref-icon-before--plus:before {
	content: "T";
}
.ref-icon-before--warning:before {
	content: "0";
}
.ref-icon-before--warning-filled:before {
	content: "3";
}
.ref-icon-before--ios:before,
.ref-icon-after--ios:after {
	content: "1";
}
.ref-icon-after--calendar:after {
	content: "u";
}
.ref-icon-after--dollar:after {
	content: "2";
}
.ref-icon-after--angle-right:after {
	content: "l";
}
.ref-icon-before--equals:before,
.ref-icon-after--equals:after {
	content: "4";
}
.ref-icon-after--unavailable:after {
	content: "5";	
}
.ref-icon-before--info-no-fill:before,
.ref-icon-after--info-no-fill:after {
	content: "6";	
}
.ref-icon-before--key:before,
.ref-icon-after--key:after {
	content: "7";	
}


#{headings()}, p, li, a, blockquote, time, span, cite {
	@extend %font-smoothing;
	&:last-child {
		margin-bottom: 0;
	}
}
#{headings()}, .heading-style {
	font-family: $brand-heading-font;
	font-weight: 600;
	overflow: visible;	
	line-height: 1;
	color: $dark-grey-1;
	&:first-child {
		margin-top: 0;
	}
	.theme-dark & {
		color: $reflection-white;
	}
}
h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h4, h3 + h5, h3 + h6,
h4 + h5, h4 + h6,
h5 + h6,
.heading-style--heading-one + .heading-style--heading-two,
.heading-style--heading-one + .heading-style--heading-three,
.heading-style--heading-one + .heading-style--heading-four,
.heading-style--heading-one + .heading-style--heading-five,
.heading-style--heading-one + .heading-style--heading-six,
.heading-style--heading-two + .heading-style--heading-three,
.heading-style--heading-two + .heading-style--heading-four,
.heading-style--heading-two + .heading-style--heading-five,
.heading-style--heading-two + .heading-style--heading-six,
.heading-style--heading-three + .heading-style--heading-four,
.heading-style--heading-three + .heading-style--heading-five,
.heading-style--heading-three + .heading-style--heading-six,
.heading-style--heading-four + .heading-style--heading-five,
.heading-style--heading-four + .heading-style--heading-six,
.heading-style--heading-five + .heading-style--heading-six,
h1 + .heading-style--heading-two,
h1 + .heading-style--heading-three,
h1 + .heading-style--heading-four,
h1 + .heading-style--heading-five,
h1 + .heading-style--heading-six,
h2 + .heading-style--heading-three,
h2 + .heading-style--heading-four,
h2 + .heading-style--heading-five,
h2 + .heading-style--heading-six,
h3 + .heading-style--heading-four,
h3 + .heading-style--heading-five,
h3 + .heading-style--heading-six,
h4 + .heading-style--heading-five,
h4 + .heading-style--heading-six,
h5 + .heading-style--heading-six,
.heading-style--heading-one + h2,
.heading-style--heading-one + h3,
.heading-style--heading-one + h4,
.heading-style--heading-one + h5,
.heading-style--heading-one + h6,
.heading-style--heading-two + h3,
.heading-style--heading-two + h4,
.heading-style--heading-two + h5,
.heading-style--heading-two + h6,
.heading-style--heading-three + h4,
.heading-style--heading-three + h5,
.heading-style--heading-three + h6,
.heading-style--heading-four + h5,
.heading-style--heading-four + h6,
.heading-style--heading-five + h6 {
	margin-top: 0;	
}

h1, .heading-style--heading-one {
	@extend .heading-style;
	margin-top: 3rem;	
	margin-bottom: 0.65em;
	font-size: 3.4rem;
	line-height: 1.29411764705882em;
}
h2, .heading-style--heading-two {
	@extend .heading-style;
	margin-top: 3rem;
	margin-bottom: 0.6em;
	font-size: 2.8rem;
	line-height: 1.35714285714286em;
}
h3, .heading-style--heading-three {
	@extend .heading-style;
	margin-top: 3rem;
	margin-bottom: 0.68em;
	font-size: 2.4rem;
	line-height: 1.41666666666667em;
}
h4, .heading-style--heading-four {
	@extend .heading-style;
	margin-top: 3rem;
	margin-bottom: 0.8em;
	font-size: 2.2rem;
	line-height: 1.36363636363636em;
}
h5, .heading-style--heading-five {
	@extend .heading-style;
	margin-top: 3rem;
	margin-bottom: 0.7em;
	font-size: 2rem;
	line-height: 1.4em;
}
h6, .heading-style--heading-six {
	@extend .heading-style;
	margin-top: 3rem;
	margin-bottom: 0.7em;
	font-size: 1.8rem;	
	line-height: 1.375em;
	.whats-this-tooltip-icon {
		position: relative;
    top: -2px;
    margin-left: 3px;
	}
}
p {
	max-width: 650px;
	margin-bottom: 1.2em;
	font-size: 1.6rem;
	line-height: 1.625em;
	color: $mid-grey-1;
	@include breakpoint($desktop) {
		max-width: 680px;
	}
	@include breakpoint($desktop-wide) {
		max-width: 850px;
	}
	&.p-style--minor {
		font-size: 1.4rem;
    line-height: 1.71428571428571em;
	}
	&.p-style--feature {
		font-size: 1.8rem;
    line-height: 1.44444444444444em;
	}
	a {
		text-decoration: none;
		color: $reflection-purple;
		.no-touch & {
			&:hover {
				color: $reflection-purple--hover;
			}
			&:active {
				position: relative;
				top: 2px;
			}
		}
	}
	strong {
		color: $dark-grey-1;
		font-weight: 700;
	}
	.theme-dark & {
		color: $light-grey-2;
	}
}
.page-footer-link-text {	
	font-size: 18px;
	text-align: center;
	p {
		margin: 0 auto;
		padding-top: 5rem;
		font-size: 17px;
	}
}
.p-with-inline-svg-img {
	svg, img, span {
		display: inline-block;
		float: left;
		vertical-align: top;
	}
	svg, img {
		width: 26px;
		margin-right: 24px;
	}
	span {
		width: calc(100% - 50px);
		text-align: left;
	}
}
.blockquote-container {
	.multi-step-section & {
		margin-bottom: 26px;
    margin-top: 34px;
	}
}
blockquote {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 42px;
	color: #727686;
	@extend %font-smoothing;
	&:before {
		content: "\201C";
		position: absolute;
		top: 25px;
		left: 24px;
		display: block;
		font-family: $brand-heading-font;
		font-size: 91px;
		color: $light-grey-2;
		.multi-step-section & {
			position: relative;
			top: 43px;
    	left: 10px;
    	display: inline-block;
    	float: left;
    	vertical-align: top;
			font-size: 83px;
			color: $light-grey-2;
		}
	}
	.multi-step-section & {
		padding-top: 0;
	}
	p {
		margin-bottom: 23px;
		font-family: $brand-heading-font;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.43;
		color: #727686;
		.multi-step-section & {
			padding-left: 57px;
			margin-bottom: 1.7rem;
			display: inline-block;	    
	    text-align: left;
	    vertical-align: top;
	    color: #363a47;
	    font-size: 18px;
		}
	}
	cite {
		font-family: $brand-heading-font;
		font-size: 14px;
		span {
			font-size: 16px;
			color: #fefefe;
		}
	}
	footer {
		.multi-step-section & {			
			text-align: left;
			span {
				padding-left: 57px;
				color: #81879d;    
    		font-weight: 600;
			}
		}
	}
}
.blockquote--large {
	padding-top: 0;
	padding-left: 65px;
	margin-top: 3.4rem;
	margin-bottom: 3.5rem;
	font-size: 1.1em;
	p {
		margin-bottom: 1.2em;
		font-size: 1.6em;
	}
	&:before {
		top: 32px;
		left: 0;
		font-size: 100px;
	}
	cite {
		font-size: 1.4rem;
		line-height: 1.5;
		span {
			display: block;
			font-size: 1.8rem;
			font-weight: 600;
			color: #29292c;
		}
	}
}
figcaption {
	margin-top: 1.2rem;
	margin-bottom: 1.9em;
	padding: 0 3%;
	font-size: 1.4em;
	line-height: 1.5625em;	
	display: block;
	color: #81869e;
}
.content-list {
	margin-top: 1.8em;
	margin-bottom: 1.875em;
	@include font-size(16px);
	line-height: 1.375em;
	&:last-child {
		margin-bottom: 0;
	}
	li {
		max-width: 650px;
		margin-bottom: 0.5em;
		padding-left: 31px;
		color: $mid-grey-1;
		@include breakpoint($desktop) {
			max-width: 850px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		a {
			text-decoration: none;
			color: $reflection-purple;
			.no-touch & {
				&:hover {
					color: $reflection-purple--hover;
				}
				&:active {
					position: relative;
					top: 2px;
				}
			}			
		}
		strong {
			color: $dark-grey-1;
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
	}
	&.content-list--no-bullets {
		li {
			padding-left: 0;
			background: none;
			&:before {
				display: none;
			}
		}
	}
	.theme-dark & {
		li {
			color: $light-grey-2;
		}		
	}
}
h1 + .content-list,
h2 + .content-list,
h3 + .content-list,
h4 + .content-list,
h5 + .content-list,
h6 + .content-list {
	margin-top: 0;
}
.content-list--featured {
	margin-bottom: 1.5em;
	font-size: 2rem;
	line-height: 1.3em;
	&:last-child {
		margin-bottom: 0;
	}
	li {
		margin-bottom: 0.5em;
		padding-left: 31px;
	}
}
.content-list--minor {
	margin-bottom: 2.14285714285714em;
	font-size: 1.4rem;
	line-height: 1.42857142857143em;
	&:last-child {
		margin-bottom: 0;
	}
	li {
		margin-bottom: 0.44em;
		padding-left: 26px;
		color: $mid-grey-1;
	}
}
ol.content-list,
ol.content-list--minor,
ol.content-list--featured {
	counter-reset: ordered-counter;
	li {
		position: relative;
		padding-left: 31px;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			font-family: $brand-heading-font;
			font-weight: 600;
			color: $dark-grey-1;
			content: counter(ordered-counter);
			counter-increment: ordered-counter;
			.page-terms & {
				content: counter(ordered-counter) ".0";
			}
		}
		ol {
			counter-reset: ordered-sub-counter;
			li:before {
				font-family: $brand-heading-font;
				font-weight: 600;
				content: counter(ordered-counter) "." counter(ordered-sub-counter);
				counter-increment: ordered-sub-counter;
				.page-terms & {
					content: counter(ordered-counter) "." counter(ordered-sub-counter);
				}
			}
		}
	}
	p {
		color: $mid-grey-1;
	}
}
ul.content-list,
ul.content-list--featured,
ul.content-list--minor {
	li {
		position: relative;
		&:before {
    	content: "\2022";
    	position: absolute;
			left: 0.1rem;
    	font-family: $brand-body-font;
    	font-size: 1.6rem;
    	color: $reflection-purple;
  	}
	}
}
.aside-component {
	p {
		font-size: 1.4rem;
		line-height: 1.7;
	}
	.content-list {
		li {
			padding-left: 26px;
			font-size: 1.4rem;
			&:before {
				left: 0;
			}
		}
		&.content-list--no-bullets li {
			padding-left: 0;
		}
	}
	&:first-child {
		p, .content-list li {
			font-size: 1.6rem;
		}		
	}
	.aside-component-link-large {
		font-size: 1.6rem;
	}
}