.breadcrumb {
	margin-left: 14px;
	margin-bottom: 20px;
	@include breakpoint($tablet) {
		padding-top: 10px;
		margin-left: 0;
		margin-bottom: 0;
	}
	li {
		display: inline-block;
	}
	a {
		font-size: 1.4rem;
		color: $reflection-purple;
		&:hover {
			color: $reflection-purple--hover;
		}
	}
	span {
		padding: 0 5px;
		display: inline-block;
		color: $reflection-purple;
	}
}