.breadcrumb {
	padding-top: 10px;
	li {
		display: inline-block;
	}
	a {
		font-size: 1.4rem;
		color: $reflection-purple;
		&:hover {
			color: $reflection-purple--hover;
		}
	}
	span {
		padding: 0 5px;
		display: inline-block;
		color: $reflection-purple;
	}
}