// Base styling
.ref-button {
	@extend %button-base-style;
}

// Reusable size buttons
.ref-button--small {
	padding: 0.65em 2.1em 0.78em 2.05em;
	font-family: $brand-accent-font;
	font-weight: 600;
	color: white;
	background-color: $purple-reflection;
	&:hover {
		background-color: $brand-pink;
	}
}

// Specific button types
.ref-button-submit--search {
	
}