// Base styling
.ref-button {
	@extend %button-base-style;
}

// Reusable size buttons
.ref-button--small {
	padding: 0.65em 2.1em 0.78em 2.05em;
	font-family: $brand-heading-font;
	font-weight: 600;
	color: white;
	background-color: $reflection-purple;
	&:hover {
		background-color: $reflection-red;
	}
}

// Specific button types
.ref-button--toggle {
	@extend .ref-button--small;
	padding: 8px 15px 10px;
	color: $reflection-white;
	background-color: $reflection-purple;
	outline: none;
	&:hover {
		outline: none;
		background-color: darken($reflection-purple, 3%);
	}
	&:active {
		outline: none;
		border-top: 2px solid $light-grey-2;
		padding-bottom: 8px;
		@include transition(none);
	}
}
.ref-button--login-form-submit { // temp, should be replaced with global large button style
	padding: 0.9em 2em 1.2em 2em;
	font-family: $brand-heading-font;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	color: white;
	background-color: $reflection-purple;
	&:hover {
		background-color: $reflection-red;
	}
}