.aside-definition-list {
	dl {
		font-size: 0px;
		a {
			color: $reflection-purple;
			&:hover {
				color: $reflection-purple--hover;
			}
		}
		span {
			font-size: 1.4rem;
		}
	}
	dt {
		width: 40%;
		padding-right: 10px;
		margin-bottom: 0.2rem;
		display: inline-block;
		vertical-align: top;
		clear: both;
		font-family: $brand-heading-font;
		font-size: 1.4rem;
		font-weight: 600;
		line-height: 1.4;
		color: $dark-grey-1;
		box-sizing: border-box;
		&:last-child {
			margin-bottom: 0;
		}
		@include breakpoint($laptop) {			
			width: 130px;
			font-size: 1.6rem;
		}
	}
	dd {
		width: 60%;
		margin-bottom: 1rem;
		display: inline-block;
		vertical-align: top;
		font-family: $brand-body-font;
		font-size: 1.4rem;
		line-height: 1.4;
		color: #727686;
		box-sizing: border-box;
		&:last-child {
			margin-bottom: 0;
		}
		@include breakpoint($laptop) {			
			width: calc(100% - 130px);
			font-size: 1.6rem;
			.panel-left-open & {
				font-size: 1.4rem;
			}
		}
		@include breakpoint($laptop-plus) {
			.panel-left-open & {
				font-size: 1.6rem;
			}
		}
	}
}