.filters-container {
	padding-top: 1rem;
	padding-bottom: 1.4rem;
	background-color: $panel-grey;
	overflow: visible;
	@include breakpoint($tablet) {
		padding-top: 1.4rem;
	}
	form {
		overflow: visible;
	}
	.form-field,
	.calendar-container {
		display: inline-block;
		vertical-align: top;
		overflow: visible;
	}
	.form-field--select.is-open {
		background-color: #f7f7f9;
		transition: background-color $base-transition-speed-on;
	}
	div {
		vertical-align: top;
	}
	.form-field:not(.form-field--date-select),
	.calendar-container {
		@include breakpoint($tablet) {
			margin-bottom: 0;
		}
	}
}
.reflection-select.reflection-select--filter {
	overflow: visible;
	transition: background-color $base-transition-speed-off;
	ul {
		position: fixed;
		top: 57px;
		left: calc(50% - 153px);
		margin-top: 0 !important;
		width: 307px;
		max-height: 32.2rem;
		padding-top: 1.6rem;
		display: block;
		z-index: 1000;
		background-color: #fff;
		border-radius: 3px;
		opacity: 0;
		visibility: hidden;
		@include breakpoint($tablet) {
			position: absolute;
			top: 4.3rem;
			left: 0;
		}
		span {
			margin-bottom: 1.8rem;
			margin-left: 12px;
			margin-right: 11px;
			padding-left: 10px;
			padding-bottom: 15px;
			display: block;
			z-index: 0;
			font-family: $brand-heading-font;
			font-weight: 600;
			line-height: 1.2;
			color: $dark-grey-1;
			border-bottom: 1px solid #e1e5e8;
		}
		.list-container {
			height: 245px;
			overflow: auto;
		}
	}
	li {		
		padding-left: 3rem;
	}
	&.is-open {
		ul {
			opacity: 1;
			visibility: visible;
			transition: opacity $base-transition-speed-on;
			z-index: 7000;
			span {
				background-color: #fff;
			}
		}		
		.forms--mid-theme & {
			span.ref-icon-after {
				background-color: #f7f7f9;
				transition: background-color $base-transition-speed-on;
			}
		}
	}
	.close-popup {
		position: absolute;
		top: 17px;
		right: 15px;
		font-size: 1.7rem;
		@extend %icon-font;
		z-index: 10;
		color: #c4c7d0;
		cursor: pointer;
		border: none;
		background-color: transparent;
		transition: color $base-transition-speed-off;
		&:hover {
			color: darken(#c4c7d0, 10%);
			transition: color $base-transition-speed-on;
		}
	}
	&.reflection-select--center {
		ul {
			left: calc(-150px + 50%);
		}		
	}
	&.reflection-select--right {
		ul {
			left: auto;
			right: 0;
		}		
	}
}
/* Toggle */
.filter-toggle {
	display: inline-block;
	font-size: 0;
	.toggle {
		display: inline-block;
		text-align: center;
		&:first-child {
			label {
				border-left: 1px solid #dadee1;
				border-radius: 4px 0 0 4px;
			}
		}
		&:last-child {
			label {
				border-radius: 0 4px 4px 0;
			}
		}
	}
	label {
		position: relative;
		width: 42px;
		height: 38px;
		padding-top: 8px;
		box-sizing: border-box;
		display: inline-block;
		z-index: 1;
		vertical-align: top;
		border-top: 1px solid #dadee1;
		border-right: 1px solid #dadee1;
		border-bottom: 1px solid #dadee1;
		background-color: #f7f7fa;
		cursor: pointer;
		&:active {
			border-top: 2px solid #dadee1;
		}
		svg {
			width: 20px;
			height: 20px;
			pointer-events: none;
			path {
				fill: $reflection-purple;
			}
		}
		img {
			display: none;
			.ie10 & {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
			}			
		}
		&.toggle-calendar {
			svg {
				width: 18px;
				height: 19px;
			}
		}
		&.toggle-revenue {
			padding-top: 9px;
			svg {
				width: 21px;
				height: 20px;
			}
		}
		&.toggle-downloads {
			padding-top: 9px;
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
	input {
		position: absolute;
		z-index: -1;
	}
	input:checked {
		~ label {
			border-top: 2px solid #dadee1;
			background-color: #ededf1;
			svg path {
				fill: $light-grey-1;
			}
		}
	}
}

/* Switch */
.filter-switch {
	> span {
		margin-right: 11px;
		display: inline-block;
		float: left;
		color: $light-grey-1;
		font-family: $brand-heading-font;
		font-size: 1.4rem;
	}
	&.filter-switch--small {
		> span {
			margin-right: 8px;
			font-size: 1.4rem;
		}
	}
}
@mixin can-toggle-branding(
  $can-toggle-off-color: #f2f2f5, 
  $can-toggle-on-color: #1bc79f,
  $can-toggle-inactive-text: transparent,
  $can-toggle-transition: cubic-bezier(0,1,0.5,1)
) {
		input[type="checkbox"] {
		  &[disabled] ~ label {
		    color: rgba($can-toggle-off-color, 0.5);
		  }
		  &:focus ~ label {
		    .can-toggle__switch {
		      background-color: $can-toggle-off-color;
		    }
		  }
		  &:hover ~label { color: transparent; }
		  &:checked {
		    ~ label {
		      .can-toggle__switch {
		        background-color: $can-toggle-on-color;
		      }
		    }
			}
		}
		label {
		  .can-toggle__label-text { flex: 1; }
		  .can-toggle__switch {
		    background: $can-toggle-off-color;
		    &:before {
		    	color: transparent;
		    }
		    &:after {
		      -webkit-transition: -webkit-transform 0.3s $can-toggle-transition;
		      transition: transform 0.3s $can-toggle-transition;
		      color: transparent; 
		    }
		  }
		}
	}

@mixin can-toggle-appearance 
( 
  $can-toggle-width: 46px,
  $can-toggle-height: 24px,
  $can-toggle-border-radius: 24px,
  $can-toggle-offset: 0,
  $can-toggle-label-font-size: 10px,
  $can-toggle-switch-font-size: 10px,
  $can-toggle-shadow: none
){
 	$can-toggle-switch-width: $can-toggle-width/2;
	  input[type="checkbox"] {
	    &:checked {
	      ~ label {
	        .can-toggle__switch {
	          &:after {
	          	transform: translate3d($can-toggle-width - ($can-toggle-switch-width + $can-toggle-offset),0,0);
	          	.no-csstransforms3d & {
	          		left: $can-toggle-width - ($can-toggle-switch-width + $can-toggle-offset);
	          	}
	          }
	        }
	      }
	    }
	  }
	  label {
	    font-size: $can-toggle-label-font-size; 
	    .can-toggle__switch {
	      height: $can-toggle-height;
	      flex: 0 0 $can-toggle-width;
	      border-radius: $can-toggle-border-radius;
	      &:before {
	        left: $can-toggle-width/2;
	        font-size: $can-toggle-switch-font-size; 
	        line-height: $can-toggle-height;
	        width: $can-toggle-width/2;
	        padding: 0 12px;
	      }
	      &:after {
	        top: $can-toggle-offset; left: $can-toggle-offset;
	        border-radius: $can-toggle-border-radius/2;
	        width: $can-toggle-switch-width - $can-toggle-offset; 
	        line-height: $can-toggle-height - ($can-toggle-offset*2);
	        font-size: $can-toggle-switch-font-size;
	      }
	      &:hover {
	        &:after { box-shadow: $can-toggle-shadow; }
	      }
	    } 
	  }
	}

.can-toggle {	
  position: relative;
  *, *:before, *:after { box-sizing: border-box; }
  //overflow: hidden;
  float: left;
  display: block;
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
    &[disabled] ~ label {
      pointer-events: none;
      .can-toggle__switch { opacity: 0.4; }
    }
    &:checked {
      ~ label {
        .can-toggle__switch {
        	border: 1px solid #1bc79f;
          &:before {
            content: attr(data-unchecked);
            left: 0;
            background: url(../images/icon-switch-on-x2.png) no-repeat 6px 6px / 12px 10px;
          }
          &:after {
            content: attr(data-checked);
          }  
        }
      }
      &:focus, &:hover {
        ~ label {
        } 
      }
    }
  }
  &.can-toggle--size-small input:checked ~ label .can-toggle__switch:before {
  	 background: url(../images/icon-switch-on-x2.png) no-repeat 3px 4px / 9px 7px;
  }
  label {
    user-select: none;
    position: relative;
    display: -webkit-box;
		  /* @alternate */ display: -ms-flexbox;
		  /* @alternate */ display: -webkit-flex;
		  /* @alternate */ display: flex;
    align-items: center;
    overflow: visible;
    .can-toggle__label-text {
      flex: 1;
      padding-left: 32px;
    }
    .can-toggle__switch {
      position: relative;
      box-sizing: content-box;
      overflow: visible;
      border: 1px solid #d6d9e0;
      cursor: pointer;
      &:before {
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-transform: uppercase;
        text-align: center;
      }
      &:after {
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-transform: uppercase;
        text-align: center;
        background: white;
        transform: translate3d(0,0,0);
      }
    }
  }
  
  // Default values for .can-toggle class
  @include can-toggle-branding; 
  @include can-toggle-appearance; 
  
  // Create toggles of different sizes by overriding the can-toggle-appearance mixin defaults
  &.can-toggle--size-small {
  	width: 32px;
  	@include can-toggle-branding
    (
      #f2f2f5,  // Off state color
      #1bc79f,  // On state color
      transparent,  // Off state text color
      cubic-bezier(0.860, 0.000, 0.070, 1.000)  // Transition timing function
    );
    @include can-toggle-appearance
    (
      30px, // Toggle width
      15px,  // Toggle height
      15px,   // Toggle border radius
      0px,   // Offset (distance btw switch and box)
      10px,  // Label font size
      10px,  // Switch font size
      none // Switch shadow on hover/focus
    ); 
  }
  &.can-toggle--size-large {
  	width: 46px;
    @include can-toggle-branding
    (
      #f2f2f5,  // Off state color
      #1bc79f,  // On state color
      transparent,  // Off state text color
      cubic-bezier(0.860, 0.000, 0.070, 1.000)  // Transition timing function
    );
    @include can-toggle-appearance
    (
      44px, // Toggle width
      22px,  // Toggle height
      22px,   // Toggle border radius
      0px,   // Offset (distance btw switch and box)
      10px,  // Label font size
      10px,  // Switch font size
      none // Switch shadow on hover/focus
    ); 
  }
}