.form--search {
	.form--search__input-search {
		width: 202px;
		padding: 2px 0 0 0;
		font-family: $brand-heading-font;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: -0.2px;
		color: $light-grey-1;
		border: none;
		background: transparent;
		@extend %font-smoothing;
		outline: none;
		&::-webkit-input-placeholder,
		&:-moz-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder {
   		color: $light-grey-1;
   		opacity: 1;
		}
	}
	.ref-icon-before--search:before {
		font-size: 22px;
		line-height: 21px;
		color: $light-grey-1;
	}
	> label, > input {
		display: inline-block;
		vertical-align: top;
	}
}