.label--hidden-text {
	text-align: left;
	text-indent: -999em;
}
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="submit"]
textarea {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	border: 0;
	background-color: transparent;
	outline: none;
	box-shadow: none;
}
.form-field {
	label {
		display: block;
	}
	input, textarea {
		display: block;
	}
}
input:required {
  box-shadow: none;
}
input:invalid {
  box-shadow: none;
}