.highcharts-container > .highcharts-tooltip,
.highcharts-axis-labels.highcharts-xaxis-labels,
.highcharts-axis-labels.highcharts-yaxis-labels {
	overflow: visible;
}
.highcharts-series {
	stroke {
		cursor: pointer;
	}
	> path {
	
	}
}
.highcharts-series.selected-series {
	path {
		stroke-opacity: 1;
	}
}
.highchart-animating-fill .highcharts-series {
	> path {

	}
}
.highcharts-series path:nth-child(1) {
	pointer-events: none;
}
.highcharts-tooltip {
	display: inline-block;
	overflow: visible;
	font-family: 'Lato', sans-seif;
	-webkit-box-shadow: 2px 4px 1px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 2px 4px 1px 0px rgba(0,0,0,0.24);
	box-shadow: 2px 4px 1px 0px rgba(0,0,0,0.24);
	background: rgba(255,255,255,0.4);
	h2 {
		font-size: 14px;
	}
	h3 {
		font-size: 14px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 14px;
	}
	.top-five-section {
		padding-top: 5px;
		border-top: 1px solid #e1e5e8;
	}
}
.chart-watermark {
	position: absolute;
	right: 26px;
	bottom: 68px;
	width: 100px;
	height: 16px;
	z-index: 100;
}