$white-navigation: $reflection-white;
$grey-hover: #bec2d2;

.main-navigation {
	width: 100%;
	padding: 27px 0 23px;
	background-color: $dark-grey-1;
	> ul {
		> li {
			margin-bottom: 4px;
			@include font-size(12px);
			line-height: 1.5;
			font-weight: 700;			
			> a {				
				float: left;
				width: 100%;
				padding-left: 62px;
				text-transform: uppercase;
				background-color: $dark-grey-1;
			}
			&.is-selected {
				> a {
					color: $white-navigation;
					background-color: $reflection-purple;
					&:hover {
						color: $white-navigation;
					}
				}
			}
			> ul {
				display: block;
				z-index: 0;
				@include transition(margin-top 0.16s ease-in);
			}
			&.is-open {
				background-color: $dark-grey-2;
				> ul {
					position: relative;
					margin-top: 0;
					z-index: 0;
					@include transition(margin-top 0.2s ease-out);
				}
			}
		}
	}
	> ul ul {
		width: 100%;
		display: none;
		float: left;
		background-color: $dark-grey-2;
		li {
			position: relative;
			z-index: 1;
			font-size: 13px;
			&.is-selected {
				> a {
					color: $white-navigation;
					&:hover {
						color: $white-navigation;
					}
				}
			}
			&.has-child {
				@extend .ref-icon-after;
				@extend .ref-icon-after--triangle-down;
				line-height: 1.5;
				&:after {
					position: absolute;
					right: 21px;
					top: 2px;
					z-index: 10;
					font-size: 13px;
					color: $light-grey-1;
					@include transition(transform 0.2s);
				}
				&.is-open {
					&:after {			
						@include transform(rotate(-180deg));
						@include transition(transform 0.33s);
					}
				}
			}
			a {
				padding: 0 38px 15px 29px;
				color: $light-grey-1;	
				&:hover {
					color: $grey-hover;
				}
			}
			ul {
				background-color: #2a2c34;
				display: block;
				@include transition(margin-top 0.16s ease-in);
				a {
					padding-left: 38px;
				}
			}
		}
	}
	> ul > li > ul {
		> li > a {
			background-color: $dark-grey-2;
		}
		> li:first-child {
			margin-top: 22px;
		}
		> li:last-child a {
			padding-bottom: 30px;
		}
		li.is-open {
			+ li {
				margin-top: 22px;
			}
			ul {
				position: relative;
				margin-top: 0;
				padding-top: 14px;
				display: block;
				z-index: 0;
				@include transition(margin-top 0.2s ease-out);
			}
		}
	}
	ul ul ul {
		li:first-child {
				margin-top: 8px;
		}
		li:last-child a {
			padding-bottom: 24px;
		}
		li.is-selected {
			> a {
				color: #e1e5e8;
				&:hover {
					color: #e1e5e8;
				}
			}
		}
	}
	a {
		position: relative;
		padding: 18px 0px 18px 29px;
		display: block;
		z-index: 10;
		color: #767683;
		@include box-sizing(border-box);
		&:hover {
			color: #c6c6d4;
		}
	}
	.ref-icon-before:before {
		position: absolute;
		left: 30px;
		top: 15px;
		font-size: 18px;
	}
}