.page-overlay,
.page-overlay--confirm,
.page-overlay--download {
	position: fixed;
	top: 0;
	right: 0;	
	bottom: 0;
	left: 0;	
	width: 100%;
	min-height: 100%;
	/* @alternate */ min-height: 100vh;
	display: none;
	text-align: center;
	background: rgba(41,41,43,0.7);
	z-index: 10000;	
}
.page-popup {
	position: relative;
	display: block;
	@extend %vertical-centre-content;
}
.popup-content {
	position: relative;
	padding: 3.2rem 3rem 3rem;
	width: 100%;
	max-width: 40rem;
	opacity: 0;
	text-align: center;
	border-radius: 6px;
	background-color: #F2F2F5;
	transform: scale(0.8);
	&.is-showing {
		opacity: 1;
		transform: scale(1);
		transition: transform 0.15s, opacity 0.15s;
	}
	input, label {
		text-align: left;
	}
	button, input[type=submit], .button-style {
		margin: 1.6rem auto 0;
		text-align: center;
	}
}
.popup-close {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 0;
	span{
		&:after {
			font-size: 1.8rem;
			color: $light-grey-2;
			transition: color 0.1s;	
		}
		&:hover {
			&:after {
				color: darken($light-grey-2, 7%);
				transition: color 0.2s;
			}				
		}
		&:active {
			&:after {
				top: 2px;
			}
		}
	}
}