.tooltip {
	position: absolute;
	max-width: 163px;
	padding: 7px 15px 9px;
	display: inline-block;
	overflow: visible;
	z-index: 1000;
	background-color: $reflection-purple;
	font-family: $brand-heading-font;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.4;
	color: $reflection-white;
	&:after {
		content: ' ';
		position: absolute;
		bottom: -10px;	
		left: 9px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid $reflection-purple;
	}
}
.whats-this-tooltip-popup {
	-webkit-perspective: 1300px;
	perspective: 1300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: absolute;
	z-index: 10000;
	overflow: visible;
}
.whats-this-tooltip-icon {
	display: inline-block;
	vertical-align: middle;	
	@extend .ref-icon-after;
	@extend .ref-icon-after--question;	
	&:after {
		position: relative;
		top: 2px;
		font-size: 18px;
		color: #a19eea;
		transition: color 0.2s;
	}
	&:hover {
		&:after {
			color: $reflection-green;
			transition: color 0.2s;
		}
	}
	span {
		display: inline-block;
		text-align: left;
		text-indent: -999em;
	}
}
.whats-this-tooltip,
.popup-toast {
	position: absolute;
	width: 280px;
	padding: 23px 30px 15px;
	display: inline-block;
	overflow: visible;
	color: $reflection-white;
	background-color: $reflection-purple;
	h2 {
		max-width: 200px;
		font-size: 18px;
		color: $reflection-white;
	}
	p {
		font-size: 14px;
		line-height: 1.7;
		color: #c3c6f6;
	}
	img {
		position: absolute;
		top: -9px;
		right: 20px;
		width: 36px;
	}
}
.whats-this-tooltip {
	position: relative;
	top: 0;
	left: 0;
	-ms-transform: rotateX(86deg);
	-webkit-transform: rotateX(86deg);
	transform: rotateX(86deg);
	-ms-transform-origin: center top;
	-webkit-transform-origin: center top;
	transform-origin: center top;
	&.is-open {
		-ms-transform-origin: center top;
		-webkit-transform-origin: center top;
		transform-origin: center top;
		-ms-transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		transition: transform 0.18s ease-out;
	}
	&:after {
		@include breakpoint($tablet) {
			content: ' ';
			position: absolute;
			top: -10px;
			left: calc(50% - 10px);
			width: 0; 
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $reflection-purple;
		}
	}
	&.position-tooltip-left {
		-ms-transform-origin: right center;
		-webkit-transform-origin: right center;
		transform-origin: right center;
		-ms-transform: rotateX(0deg) rotateY(-96deg);
	  -webkit-transform: rotateX(0deg) rotateY(-96deg);
		transform: rotateX(0deg) rotateY(-96deg);
		&.is-open {
			-ms-transform-origin: right center;
		  -webkit-transform-origin: right center;
			transform-origin: right center;
			-ms-transform: rotateX(0deg) rotateY(0deg);
	    -webkit-transform: rotateX(0deg) rotateY(0deg);
			transform: rotateX(0deg) rotateY(0deg);
			transition: transform 0.18s ease-out;
		}
		&:after {
			@include breakpoint($tablet) {
				top: calc(50% - 10px);
				right: -20px;
				left: auto;
				border-left: 10px solid $reflection-purple;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
			}
		}
	}
	&.position-tooltip-right {
		-ms-transform-origin: left center;
		-webkit-transform-origin: left center;
		transform-origin: left center;
		-ms-transform: rotateX(0deg) rotateY(96deg);
	  -webkit-transform: rotateX(0deg) rotateY(96deg);
		transform: rotateX(0deg) rotateY(96deg);
		&.is-open {
			-ms-transform-origin: left center;
		  -webkit-transform-origin: left center;
			transform-origin: left center;
			-ms-transform: rotateX(0deg) rotateY(0deg);
	    -webkit-transform: rotateX(0deg) rotateY(0deg);
			transform: rotateX(0deg) rotateY(0deg);
			transition: transform 0.18s ease-out;
		}
		&:after {
			@include breakpoint($tablet) {
				top: calc(50% - 10px);
				left: -20px;
				border-right: 10px solid $reflection-purple;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
			}
		}
	}
	&.position-tooltip-top {
		-ms-transform-origin: center bottom;
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-ms-transform: rotateX(-86deg);
	  -webkit-transform: rotateX(-86deg);
		transform: rotateX(-86deg);
		&.is-open {
			-ms-transform-origin: center bottom;
		  -webkit-transform-origin: center bottom;
			transform-origin: center bottom;
			-ms-transform: rotateX(0deg);
	    -webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
			transition: transform 0.18s ease-out;
		}
		&:after {
			@include breakpoint($tablet) {
				top: auto;
				bottom: -10px;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid $reflection-purple;
				border-bottom: 0;
			}
		}
	}
}
.popup-toast-container {
	-webkit-perspective: 1300px;
	perspective: 1300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: fixed;
	top: calc(100% + 10px);
	left: calc(50% - 154px);
	width: 308px;
	z-index: -1;
	overflow: visible;
	transition: top 0.3s;
	@include breakpoint($tablet) {
		right: 30px;
		left: auto;
	}
}
.popup-toast {
	position: relative;
	width: 100%;
	transform: rotateX(0deg);	
	&.is-read {
		-ms-transform-origin: center bottom;
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-ms-transform: rotateX(95deg);
	  -webkit-transform: rotateX(95deg);
		transform: rotateX(95deg);
		transition: transform 0.35s ease-in;
	}
	a {
		font-weight: 700;
		color: #c3c6f6;
		&:hover {
			color: lighten(#c3c6f6, 10%);
		}
	}
	&.popup-toast--alert {
		background-color: $reflection-red;
		p {
			color: #ffe3e8;
		}
		a {
			color: #ffe3e8;
			&:hover {
				color: darken(#ffe3e8, 10%);
			}
		}
		img {
			width: 45px;
		}
	}
}