.page-press {
	.page-banner {
		margin-bottom: 0;
	}
	.grid-container {
		padding-top: 3rem;
		@include breakpoint($laptop) {
			padding-top: 4rem;
		}
	}
	.grid__row-container.grid__column--two-thirds {		
		> div {
			@include column(12,12);
			@include breakpoint($laptop) {
				@include column(8,8);
			}
		}
	}
	.grid__row-container.grid__column--one-third {
		@media screen and (max-width: 959px) {
			width: 100%;
		}
		> div {
			@include column(12,12);
			@include breakpoint($laptop) {
				@include column(4,4);
			}			
		}
	}
	.grid__row-container.grid__column--two-thirds {
		@media screen and (max-width: 959px) {
			width: 100%;
		}
		> div.grid__column {
			> div {
				padding-bottom: 3rem;
				margin-bottom: 3rem;
				border-bottom: 1px solid $divider-grey;
			}
			@include breakpoint($laptop) {
				&:last-child {
					> div {
						border-bottom: none;
					}
				}
			}
		}
	}
	.grid__row-container.grid__column--one-third {
		> div.grid__column {
			padding-bottom: 3rem;
			margin-bottom: 3rem;
			border-bottom: 1px solid $divider-grey;
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.grid__row-container {
		display: inline-block;
		vertical-align: top;
	}
	.table-data {
		th {
			padding: 0 10px 11px 0;
			font-size: 1.4rem;
			&:first-child {
				padding-left: percentage(20/626);
			}
			&:active {
				position: relative;
				top: 0;
				margin-top: 3px;
				padding-bottom: 8px;
			}
			@include breakpoint($laptop) {
				padding-right: 0;
				font-size: 1.6rem;
			}
		}
		td {
			padding: 14px 10px 16px 0;
			font-size: 1.3rem;	
			&:first-child {
				padding-left: percentage(20/626);
			}
			@include breakpoint($laptop) {
				padding-right: 0;
				padding-left: 0;
				font-size: 1.5rem;	
				.panel-left-open & {
					font-size: 1.3rem;
				}
			}
			@include breakpoint($laptop-plus) {
				.panel-left-open & {
					font-size: 1.5rem;
				}
			}
		}		
	}
	dl {
		font-size: 0px;
		a {
			color: $reflection-purple;
			&:hover {
				color: $reflection-purple--hover;
			}
		}
	}
	dt {
		width: 150px;		
		padding-right: 10px;
		margin-bottom: 0.2rem;
		display: inline-block;
		vertical-align: top;
		clear: both;
		font-family: $brand-heading-font;
		font-size: 1.4rem;
		font-weight: 600;
		line-height: 1.4;
		color: $dark-grey-1;
		box-sizing: border-box;
		&:last-child {
			margin-bottom: 0;
		}
		@include breakpoint($laptop) {
			width: 50%;
			font-size: 1.6rem;
			.panel-left-open & {
				font-size: 1.4rem;
			}
		}
		@include breakpoint($laptop-plus) {
			.panel-left-open & {
				font-size: 1.6rem;
			}
		}
	}
	dd {
		width: calc(100% - 150px);
		margin-bottom: 1rem;
		display: inline-block;
		vertical-align: top;
		font-family: $brand-body-font;
		font-size: 1.4rem;
		line-height: 1.4;
		color: #727686;
		box-sizing: border-box;
		&:last-child {
			margin-bottom: 0;
		}
		@include breakpoint($laptop) {
			width: 50%;
			font-size: 1.6rem;
			.panel-left-open & {
				font-size: 1.4rem;
			}
		}
		@include breakpoint($laptop-plus) {
			.panel-left-open & {
				font-size: 1.6rem;
			}
		}
	}
}
.press-table-col--date {
	width: 25%;
	@include breakpoint($tablet) {
		width: 17.891373801917%;
	}	
}
.press-table-col--title {
	width: 45%;
	@include breakpoint($tablet) {
		width: 58.466453674121%;
	}
}
.press-table-col--source {
	width: 30%;
	@include breakpoint($tablet) {
		width: 23.642172523962%
	}
}
.press-area--featured-list {
	padding: 3rem 0 0;
	display: none;
	background-color: $panel-grey;
	@include breakpoint($tablet) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	h2 {
		margin-bottom: 0;
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		font-family: $brand-body-font;
		text-transform: uppercase;
		text-align: center;
		color: #9d9ea6;
		@include breakpoint($desktop) {
			font-size: 13px;
		}
	}
	ul {
		width: 100%;
		margin: 0 auto;
		max-width: 1400px;
		@include breakpoint($phablet) {
			text-align: center;
		}
		@include breakpoint($tablet) {
			display: -webkit-box;
		  /* @alternate */ display: -ms-flexbox;
		  /* @alternate */ display: -webkit-flex;
		  /* @alternate */ display: flex;
		  flex-direction: row;
		  justify-content: center;
		  align-items: center;
		}
	}
	li {
		width: 48%;
		margin-bottom: 4rem;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		img, svg {
			width: 70%;
			max-width: 110px;
		}
		@include breakpoint($phablet) {
			width: 33%;
		}
		@include breakpoint($tablet) {
			width: auto;
			margin-bottom: 0;
			justify-content: center;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			.ie10 & {
				width: 20%;
			}
		}
		@include breakpoint($desktop) {
			img {
				max-width: 135px;
			}			
		}
	}
	.list-heading-container {
		display: none;
		@include breakpoint($tablet) {
			display: inline-block;
		}
	}
}
.img-brand-assets {
	width: 100%;
	max-width: 200px;
	margin-right: percentage(40/626);
	margin-bottom: 2rem;
	display: inline-block;
	vertical-align: top;
	@include breakpoint($phablet) {
		width: percentage(243/626);
		max-width: 243px;
		margin-bottom: 0;
	}
}
.brand-assets-container {
	text-align: center;
	@include breakpoint($phablet) {
		text-align: left;
	}
	.brand-assets-content {
		width: 100%;
		text-align: left;
		@include breakpoint($phablet) {
			width: percentage(320/626);
			display: inline-block;
			vertical-align: top;
		}	
	}
}