.ratings-container,
.ratings-full {
	height: 15px;
	background-size: 105px 15px;
	background-repeat: no-repeat;
}
.ratings-container {
	position: relative;
	width: 105px;
	margin-bottom: 4px;
	margin-top: 5px;
	background-image: url(images/rating-stars-grey@2x.png);
}
.ratings-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	background-image: url(images/rating-stars-green@2x.png);
}