.site-article {
	position: relative;
	h2, h2 a {
		color: $reflection-purple;
		&:hover {
			color: darken($reflection-purple, 10%);
		}
		&:active {
			color: darken($reflection-purple, 10%);
		}
	}
	img {
		max-width: 100%;
		margin-bottom: 1.875em;
		font-size: 1.6rem;
	}
	.more-link {
		margin-bottom: 0;
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 700;
	}
	.addthis_sharing_toolbox {
		position: absolute;
		right: 0px;
		bottom: 0.4rem;
	}
}
.site-article--info {
	font-size: 1.4rem;
	margin-top: 2.5rem;
	a {
		font-weight: 700;
	}
	span, a {
		padding: 0 0.3rem;
	}
	strong {
		padding-right: 0.3rem;
	}
}
.site-article-full {
	position: relative;
	padding-bottom: 2.7rem;
	margin-bottom: 3.1rem;
	border-bottom: 1px solid #e1e1e1;
	.site-article--info {
		font-size: 1.6rem;
	}
	.comments-link {
		float: right;
	}
	img {
		max-width: 100%;
		margin-top: 0.9em;
		margin-bottom: 0.5em;		
		font-size: 1.6rem;
	}
	img + p {
		margin-top: 2rem;
	}
	h2 + img,
	h3 + img,
	h4 + img,
	h5 + img,
	h6 + img {
		margin-top: 0.8em;
	}
	.site-article__footer {
		margin-top: 4.5rem;
		.blog-tags {
			margin-bottom: 1.4rem;
		}
		.site-article--info {
			margin-top: 0;
		}
	}
	.addthis_sharing_toolbox {
		bottom: 2.7rem;
	}
}