.tabs-container {
	width: 100%;
	li {
		height: 7.2rem;
		.tabs-container--large-tabs & {
			height: 13.7rem;
		}
	}
}
.tabs__tab {
	position: relative;
	height: 7.2rem;
	background-color: $reflection-white;
	text-align: center;
	.tab-animate-active {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		z-index: 0;
		background-color: $panel-grey;
		@include transition(height $base-transition-speed-on);
	}
	&.is-active {
		.tab-animate-active {
			height: 100%;
			@include transition(height $base-transition-speed-on);
		}
	}
	.tabs-container--large-tabs & {
		height: 13.7rem;
		border-top: 3px solid transparent;
		&.is-active {
			border-top: 3px solid $panel-grey;
		}
	}
}
.tabs__link {	
	@extend %vertical-centre-content;
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 1;
	font-size: 1.39rem;
	font-weight: 700;
	letter-spacing: 0.6px;
	color: $reflection-purple;
	text-transform: uppercase;
	@include transition(color $base-transition-speed-on);
	&:hover {
		color: darken($reflection-purple, 10%);
		@include transition(color $base-transition-speed-on);
	}
	.tabs__tab:active & {
		> span {
			margin-top: 5px;
			transform: scale(0.98);
		}
	}
	.is-active & {
		color: $dark-grey-2;
		@include transition(color $base-transition-speed-on);
		&:hover {
			color: $dark-grey-2;
		}
	}
	> span {
		width: 100%;
		@include transition(margin-top 0.1s, transform 0.1s);
	}
	span span, span:before {
		vertical-align: middle;
	}
	span > span {
		width: 80%;
		max-width: 80%;
		display: inline-block;
		text-align: left;
		@include breakpoint($tablet) {
				width: auto;
		}
		.tabs-container--large-tabs & {
			width: 80%;
			font-size: 1.6rem;
			margin-bottom: 10px;
			@include breakpoint($tablet) {
				width: auto;
				max-width: 80%;
			}
		}
	}
	span b {
		padding-top: 10px;
		display: inline-block;
		line-height: 1.6;		
		.tabs-container--large-tabs & {
			font-size: 1.4rem;
			text-transform: none;
			font-weight: 400;
		}
	}
	span:before {		
		margin-right: 0.6em;
		font-size: 2.2rem;
		.tabs-container--large-tabs & {
			font-size: 2.9rem;
			margin-right: 0.5em;
			vertical-align: top;
			@include breakpoint($tablet) {
				font-size: 3.2rem;
			}
			@include breakpoint($laptop) {
				font-size: 3.8rem;
			}
		}
	}
}
.tabs__content-container {
	margin-bottom: 4rem;
}
.tabs__content {
	display: none;
	background-color: $panel-grey;
	* {
		@include opacity(0);
		.no-js & {
			@include opacity(1);
		}
	}
}
.tabs__content.tabs__content--is-showing {
	display: block;
}