<!-- <div class="panel-right-container js-account-container"> -->
	<link href="global-panel-right.css" rel="stylesheet" type="text/css" />
	<div class="panel-right__overlay"></div>
	<div class="panel-right js-custom-scrollbar" data-mcs-theme="minimal-dark">
		<div class="account-user-details">
			<div class="account-user-details--name">
				<h2 class="user-name">Jan Molby</h2>
			</div>
			<h3 class="user-company">Electronic Arts</h3>
		</div>
		<nav class="main-navigation main-navigation--account js-main-nav js-account-navigation" role="navigation">
			<ul>
				<li>
					<a href="v2-account-details.html">
						<svg enable-background="new 0 0 30 30"viewBox="0 0 30 30"x=0px xml:space=preserve y=0px><path d="M5.6,9H0V6.2h5.6V9z M30,6.2H9.4V9H30V6.2z M5.6,13.7H0v2.8h5.6V13.7z M30,13.7H9.4
    v2.8H30V13.7z M5.6,21.2H0V24h5.6V21.2z M30,21.2H9.4V24H30V21.2z" fill="#5A5A68" /></svg>
						<span>Account Details</span>
					</a>
				</li>
				<li>
					<a href="v2-account-licenses.html">
						<svg x=0px y=0px viewBox="0 0 18 18"enable-background="new 0 0 18 18"xml:space=preserve><path id=Account_Settings fill=#3B3735 d="M9,1.2c1.4,0,2.9,0.4,2.9,3.5c0,1.9-1.3,3.5-2.9,3.5S6.1,6.6,6.1,4.7
	C6.1,1.6,7.6,1.2,9,1.2 M9,0C6.8,0,5,1.1,5,4.7c0,2.5,1.8,4.6,4,4.6c2.2,0,4-2.1,4-4.6C13,1.1,11.2,0,9,0L9,0z M5.8,10.7
	c1,0.6,2.1,0.9,3.2,0.9c1.1,0,2.2-0.3,3.2-0.9l2.6,1.3l2,4.4c0,0.1,0,0.2,0,0.3c-0.1,0.1-0.1,0.2-0.1,0.2H1.3c0,0-0.1-0.1-0.1-0.2
	c0-0.1,0-0.2,0-0.3l2-4.4L5.8,10.7 M5.8,9.5C5.8,9.5,5.8,9.5,5.8,9.5l-3.2,1.6c-0.2,0.1-0.4,0.3-0.5,0.5l-2,4.5
	C0,16.4,0,17,0.2,17.3C0.4,17.5,0.7,18,1,18h15.9c0.3,0,0.7-0.4,0.9-0.7C18,17,18,16.4,17.9,16l-2-4.5c-0.1-0.2-0.3-0.4-0.5-0.5
	l-3.1-1.6c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c-0.9,0.7-1.9,1-3,1c-1.1,0-2.1-0.3-3-1C5.9,9.5,5.9,9.5,5.8,9.5L5.8,9.5z"/></svg>
						<span>Licenses</span>
					</a>
				</li>
				<li>
					<a href="v2-account-share.html">
						<svg enable-background="new 0 0 32 32"viewBox="0 0 32 32"x=0px xml:space=preserve y=0px><path d="M28.8,21.4c-2.4-1.4-5.3-0.8-7.1,1.1l-10.1-5.1c0.2-0.9,0.2-1.9,0-2.9l10.1-5.1c1.8,2,4.7,2.5,7.1,1.1
    c2.7-1.6,3.6-5.1,2.1-7.8c-1.6-2.7-5.1-3.6-7.8-2.1c-2.3,1.4-3.4,4.1-2.6,6.6l-10,5.1c-1.7-2.1-4.8-2.8-7.3-1.4
    c-2.7,1.6-3.6,5.1-2.1,7.8c1.6,2.7,5.1,3.6,7.8,2.1c0.6-0.4,1.2-0.8,1.6-1.4l10,5c-0.8,2.5,0.2,5.3,2.6,6.6c2.7,1.6,6.2,0.6,7.8-2.1
    C32.4,26.4,31.5,23,28.8,21.4z M24.1,2.5c1.8-1,4-0.4,5,1.3c1,1.8,0.4,4-1.3,5c-1.8,1-4,0.4-5-1.3C21.7,5.8,22.3,3.5,24.1,2.5z
     M7.9,19.2c-1.8,1-4,0.4-5-1.3c-1-1.8-0.4-4,1.3-5c1.8-1,4-0.4,5,1.3C10.3,15.9,9.7,18.2,7.9,19.2z M29.1,28.2c-1,1.8-3.3,2.4-5,1.3
    c-1.8-1-2.4-3.3-1.3-5c1-1.8,3.3-2.4,5-1.3C29.5,24.1,30.1,26.4,29.1,28.2z"fill=#5A5A68 /></svg>
						<span>Sharing My Data</span>
					</a>
				</li>
				<li>
					<a href="v2-account-billing.html">
						<svg enable-background="new 0 0 32 32"viewBox="0 0 32 32"x=0px xml:space=preserve y=0px><path d="M29,7.1c0.5,0,1,0.5,1,1v16c0,0.5-0.5,1-1,1H3c-0.5,0-1-0.5-1-1v-16c0-0.5,0.5-1,1-1
    H29 M29,5.1H3c-1.6,0-3,1.3-3,3v16c0,1.6,1.4,3,3,3h26c1.6,0,3-1.4,3-3v-16C32,6.4,30.6,5.1,29,5.1L29,5.1z M27.9,10.9H4v4.2h23.9
    V10.9z M27.9,17.9h-9.8v4.2h9.8V17.9z"fill="#5A5A68" /></svg>
						<span>Billing Details</span>
					</a>
				</li>				
				<li>
					<a href="v2-account-manage-notifications.html">
						<svg x=0px y=0px viewBox="0 0 18 18"enable-background="new 0 0 18 18"xml:space=preserve><g><path fill=#3B3735 d=M9,18c1.1,0,2-1,2.2-1.7H6.8C7,16.9,7.9,18,9,18z /><path fill=#3B3735 d="M15.2,12.4v-5c0-1.9-0.7-3.4-1.9-4.5c-0.7-0.6-1.6-1.1-2.5-1.3c0,0,0,0,0-0.1C10.7,0.7,9.9,0,9,0
		S7.3,0.7,7.3,1.4c0,0,0,0.1,0,0.1C4.9,2.1,2.8,4.1,2.8,7.3v5l-1.7,1.1v1.7h15.7v-1.7L15.2,12.4z M9,2.4c1.3,0,2.6,0.4,3.5,1.2
		c1,0.9,1.6,2.1,1.6,3.7v6.2H4V7.3C4,4,6.6,2.4,9,2.4z"/></g></svg>
						<span>Alert Settings</span>
					</a>
				</li>				
				<li>
					<a href="v2-linked-accounts.html">
						<svg enable-background="new 0 0 30 30"viewBox="0 0 30 30"x=0px xml:space=preserve y=0px><path d="M16.8,11.3c-0.3-0.2-0.6-0.2-0.9-0.2c-0.3,0.1-0.6,0.2-0.7,0.5
    C15,11.9,15,12.3,15,12.5c0.1,0.3,0.2,0.6,0.5,0.7c1.1,0.7,1.8,1.9,1.8,3.3c0,1-0.4,2-1.1,2.8L11.5,24c-0.7,0.7-1.7,1.1-2.8,1.1
    c-2.1,0-3.9-1.7-3.9-3.9c0-1,0.4-2,1.1-2.8l2.2-2.2c0.2-0.2,0.3-0.5,0.3-0.8c0-0.3-0.1-0.6-0.3-0.8c-0.2-0.2-0.5-0.3-0.8-0.3
    c-0.3,0-0.6,0.1-0.8,0.3l-2.2,2.2c-1.2,1.2-1.8,2.7-1.8,4.4c0,3.4,2.8,6.2,6.2,6.2c1.7,0,3.2-0.6,4.4-1.8l4.7-4.7
    c1.2-1.2,1.8-2.7,1.8-4.4C19.7,14.4,18.6,12.5,16.8,11.3z M21.2,2.5c-1.7,0-3.2,0.6-4.4,1.8L12.2,9c-1.2,1.2-1.8,2.7-1.8,4.4
    c0,2.1,1.1,4.1,2.9,5.2c0.3,0.2,0.6,0.2,0.9,0.2c0.3-0.1,0.6-0.2,0.7-0.5c0.2-0.3,0.2-0.6,0.2-0.9c-0.1-0.3-0.2-0.6-0.5-0.7
    c-1.1-0.7-1.8-1.9-1.8-3.3c0-1,0.4-2,1.1-2.8L18.5,6c0.7-0.7,1.7-1.1,2.8-1.1c2.1,0,3.9,1.7,3.9,3.9c0,1-0.4,2-1.1,2.8l-2.2,2.2
    c-0.2,0.2-0.3,0.5-0.3,0.8c0,0.3,0.1,0.6,0.3,0.8c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3l2.2-2.2c1.2-1.2,1.8-2.7,1.8-4.4
    C27.5,5.3,24.7,2.5,21.2,2.5z"fill="#5A5A68 "id=Linked_Accounts /></svg>
						<span>Linked Accounts</span>
					</a>
				</li>
				<li>
					<a href="home.html">
						<svg x=0px y=0px viewBox="0 0 18 18"enable-background="new 0 0 18 18"xml:space=preserve><path id=Sign_Out fill=#3B3735 d="M13.4,11.7v3.7c0,1.2-0.9,2.1-2.1,2.1H4.1c-1.1,0-2.1-1-2.1-2.1V2.6c0-1.2,0.9-2.1,2.1-2.1
	h7.2c1.1,0,2.1,1,2.1,2.1v3.7h-1V2.6c0-0.6-0.5-1.1-1-1.1H4.1C3.5,1.6,3,2,3,2.6v12.8c0,0.6,0.5,1.1,1,1.1h7.2c0.6,0,1-0.5,1-1.1
	v-3.7H13.4z M8.2,9.5h8l-0.9,1c-0.2,0.2-0.2,0.6,0,0.9c0.2,0.2,0.6,0.2,0.8,0l1.6-1.7C17.9,9.5,18,9.3,18,9s-0.1-0.5-0.3-0.7
	l-1.6-1.7c-0.2-0.2-0.6-0.2-0.8,0c-0.2,0.2-0.2,0.6,0,0.8l0.9,1h-8"/></svg>
						<span>Sign Out</span>
					</a>
				</li>
			</ul>
	</nav>

		<div class="blockquote-container">
			<blockquote>
				<p>It's really hard to design products by focus groups. A lot of times people don't know what they want until you show it to them.</p>
				<footer>
					<cite>
						<span>Steve Jobs</span>
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
<!-- </div> -->