<!-- <div class="panel-right-container"> -->
	<div class="panel-right__overlay"></div>
	<div class="panel-right js-custom-scrollbar" data-mcs-theme="minimal-dark">
		
		<div class="login-panel">
			<div class="login-slide-container js-login-slide-container">
				<div class="login-panel__login-form">
					<form class="reflection-form reflection-form--theme-dark" autocomplete="off">
						<div>
							<div class="form-field">						
								<input type="email" name="username" id="loginusername" autocomplete="off" />
								<label for="loginusername">User Name</label>
							</div>
							<div class="form-field">
								<input type="password" name="loginpassword" id="loginpassword" autocomplete="off" />
								<label for="loginpassword">Password</label>
							</div>
						</div>
						<div class="form-field--checkbox-list form-field--checkbox-list--inline form-field--checkbox-list--medium">
							<ul>
								<li>
									<input type="checkbox" name="checkboxKeepSignedIn" id="checkboxKeepSignedIn" />
									<label for="checkboxKeepSignedIn" class="checkboxLabel">Keep me signed in</label>
									<label for="checkboxKeepSignedIn" class="checkboxLabelVisible">Keep me signed in</label>
								</li>
							</ul>
						</div>
						<button class="ref-button--primary--large">Log In</button>
						<a href="#" class="login-panel__footer-link js-mock-forgot-my-password">I Forgot My Password</a>
						<a href="#" class="login-panel__footer-link">Not a Member Yet? Apply Now</a>
					</form>
				</div>

				<div class="login-panel__reset-password">
					<form class="reflection-form reflection-form--theme-dark" autocomplete="off">
						<div>
							<div class="form-field">						
								<input type="email" name="username" id="loginemailreset" autocomplete="off" value="autopopulated@email.com" />
								<label for="loginemailreset">Email</label>
							</div>
							<p>Fear not, we'll send an email to reset your password to the above address</p>
							<button class="ref-button--primary--large js-mock-reset-password">Reset Password</button>
							<a href="#" class="login-panel__footer-link js-mock-back-to-login">Back to Login</a>
						</div>
					</form>
				</div>

				<div class="login-panel__reset-password-confirmation">
					<svg version="1.1" x="0px" y="0px" viewBox="0 0 93 32.7" enable-background="new 0 0 93 32.7" xml:space="preserve" class=email-delivery-animation><path class=email-delivery-animation--email fill="#5A5A68" d="M0,8.1v12.1h18.3V8.1H0z M15.1,9.8l-6,3.7l-6-3.7H15.1z M1.7,18.5v-8.4l7.4,4.6l7.4-4.6v8.4H1.7z"/><g class=email-delivery-animation--van-body><g><path fill="none" stroke="#A0A0A9" stroke-width="2.117" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M87.9,23"/><polyline fill="#29292C" points="39.9,27.2 29.8,27.2 29.8,1 69.2,1 69.2,27.6 "/><path fill="#5A5A68" d="M73.1,19.6h-1.7c-0.3,0-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5h1.7c0.3,0,0.5,0.2,0.5,0.5S73.4,19.6,73.1,19.6z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#5A5A68" d="M42.1,5.8c0,0.3-0.2,0.5-0.5,0.5h-6.3c-0.3,0-0.5-0.2-0.5-0.5l0,0c0-0.3,0.2-0.5,0.5-0.5h6.3C41.9,5.3,42.1,5.6,42.1,5.8L42.1,5.8z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#5A5A68" d="M43.7,7.4c0,0.3-0.2,0.5-0.5,0.5h-7.9c-0.3,0-0.5-0.2-0.5-0.5l0,0c0-0.3,0.2-0.5,0.5-0.5h7.9C43.5,6.9,43.7,7.1,43.7,7.4L43.7,7.4z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#5A5A68" d="M40.6,10.6c0,0.3-0.2,0.5-0.5,0.5h-4.8c-0.3,0-0.5-0.2-0.5-0.5l0,0c0-0.3,0.2-0.5,0.5-0.5h4.8C40.3,10.1,40.6,10.3,40.6,10.6L40.6,10.6z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#5A5A68" d="M42.1,12.2c0,0.3-0.2,0.5-0.5,0.5h-6.3c-0.3,0-0.5-0.2-0.5-0.5l0,0c0-0.3,0.2-0.5,0.5-0.5h6.3C41.9,11.7,42.1,11.9,42.1,12.2L42.1,12.2z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#5A5A68" d="M42.1,9c0,0.3-0.2,0.5-0.5,0.5h-6.3c-0.3,0-0.5-0.2-0.5-0.5l0,0c0-0.3,0.2-0.5,0.5-0.5h6.3C41.9,8.5,42.1,8.7,42.1,9L42.1,9z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#5A5A68" d="M43.7,13.8c0,0.3-0.2,0.5-0.5,0.5h-7.9c-0.3,0-0.5-0.2-0.5-0.5l0,0c0-0.3,0.2-0.5,0.5-0.5h7.9C43.5,13.3,43.7,13.5,43.7,13.8L43.7,13.8z"/></g><g><g><circle fill="#29292C" cx="44.6" cy="26.6" r="5.1"/><circle fill="none" stroke="#5A5A68" stroke-miterlimit="10" cx="44.6" cy="26.6" r="2.4"/></g><g><g><circle fill="#29292C" cx="84.1" cy="26.6" r="5.1"/><path fill="#5A5A68" d="M91.6,17.2L91.5,17c-0.2-0.4-1.1-1.7-2.1-1.9l-6.9-1.7L77,8.1L76.8,8c-0.2-0.1-1.5-0.9-2.7-0.9h-3.9V0H28.8v28.2h9.9c0.7,2.6,3.1,4.5,5.9,4.5c2.8,0,5.1-1.9,5.8-4.4h27.8c0.7,2.5,3.1,4.4,5.8,4.4c2.8,0,5.1-1.9,5.8-4.4l1.2,0c0.7-0.1,1.8-0.7,1.8-2.2V21C93,19.4,92.1,18,91.6,17.2z M70.2,11h4.1l3.6,3.9v1.5h-7.6V11z M44.6,30.7c-2.3,0-4.1-1.8-4.1-4.1s1.8-4.1,4.1-4.1s4.1,1.8,4.1,4.1S46.9,30.7,44.6,30.7z M68.2,26.3H50.7c-0.2-3.2-2.8-5.8-6.1-5.8c-3.2,0-5.9,2.5-6.1,5.7h-7.7V2h37.4V26.3z M84.1,30.7c-2.3,0-4.1-1.8-4.1-4.1s1.8-4.1,4.1-4.1s4.1,1.8,4.1,4.1S86.4,30.7,84.1,30.7z M91,26.2c0,0.1,0,0.1,0,0.2h-0.8c-0.2-3.2-2.8-5.8-6.1-5.8c-3.3,0-5.9,2.6-6.1,5.8h-7.8v-9h8.6v-2.9L74.7,10h-4.5V9.1h3.9c0.4,0,1.1,0.3,1.6,0.6l5.7,5.6l7.5,1.8c0.2,0.1,0.6,0.5,0.9,1c0,0.1,0.1,0.2,0.2,0.3C90.3,18.9,91,20,91,21V26.2z"/></g><circle fill="none" stroke="#5A5A68" stroke-miterlimit="10" cx="84.1" cy="26.6" r="2.4"/></g></g></g></svg>

					<svg version=1.1 xmlns=http://www.w3.org/2000/svg xmlns:xlink=http://www.w3.org/1999/xlink x=0px y=0px viewBox="0 0 61 54" enable-background="new 0 0 61 54" xml:space=preserve class=success-tick><path fill=#1BC79F d="M60.6,7.4l-8.1-7.1C52.2,0.1,51.9,0,51.6,0c-0.3,0-0.6,0.2-0.9,0.4L21.3,33.8L10.9,20
						c-0.2-0.3-0.5-0.4-0.8-0.5c-0.3,0-0.7,0-0.9,0.2l-8.6,6.5c-0.6,0.4-0.7,1.2-0.2,1.7l19.4,25.5c0.2,0.3,0.6,0.5,1,0.5c0,0,0,0,0,0
						c0.4,0,0.7-0.2,0.9-0.4L60.7,9.2C61.2,8.7,61.1,7.9,60.6,7.4z"/></svg>
					<p>We've sent the email, click on the link contained therein to reset your password once it arrives</p>
					<a href="#" class="login-panel__footer-link js-mock-back-to-login">Back to Login</a>
				</div>

			</div>
		</div>

		<div class="blockquote-container">
			<blockquote>
				<p>It's really hard to design products by focus groups. A lot of times people don't know what they want until you show it to them.</p>
				<footer>
					<cite>
						<span>Steve Jobs</span>
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
<!-- </div> -->