<!-- <div class="research-experiment__banner"> -->
	<div class="experimental-indicator">
		<img src="images/research-tools/experimental-indicator.svg" alt="Experiment Icon" />
		<span>Experiment</span>
	</div>
	<div class="research-experiment__banner__intro-text">
		NB: This prototype only contains a limited historic data set. It’s purpose is to assess whether this feature would be useful if developed further so please <a href={{url}} target="_blank">let us know what you think of it.</a>
	</div>
	<div class="sharing-container">
		<div class="addthis_sharing_toolbox"></div>
	</div>
<!-- </div> -->