<!-- <header class="global-header"> -->
	<link rel="stylesheet" type="text/css" href="global-header.css" />
	<div class="hamburger">
		<button class="hamburger__button ref-icon-before ref-icon-before--hamburger js-hamburger-button"></button>
	</div>
	<div class="site-logo">
		<a href="v3-home.html">
			<img src="images/logo-reflection-header.png" alt="Reflection logo" class="img-site-logo" />
		</a>
	</div>
	<div class="global-header__actions">
		<div class="search-link-container js-search-text-container">
			<label for="searchappstore" class="search-stores-label">Find App or Publisher</label>
			<input type="text" name="searchappstore" id="searchappstore" class="js-get-items" autocomplete="off">			
			<span for="searchappstore" class="search-icon ref-icon-after--search js-search-icon"></span>
			<a href="#" class="clear-search ref-icon-after--close js-clear-search">Clear</a>
		</div>
		<div class="notifications-link-container has-notifications">
			<a href="v2-news.html" class="ref-icon-after--notification notifications-link">Notifications</a>
			<span class="notifications-link-container__notifications-number">2</span>
		</div>
		<div class="my-account-link-container">
			<a href="#" class="ref-icon-before--profile my-account-link js-link-log-in"><span>Matey McLongnameston</span></a>
		</div>	
	</div>
<!-- </header> -->