<!-- <div class="panel-right-container js-search-container"> -->
	<div class="panel-right__overlay"></div>
	<div class="panel-right search-container">
		<header>
			<h2 class="search__results-container__heading">Apps</h2>
			<div class="filter-toggle filter-toggle--with-text">
				<div class="toggle">
					<input id="toggle--show-ios" name="storeselector" checked type="radio">
					<label for="toggle--show-ios">
						iOS App Store
					</label>
				</div>
				<div class="toggle">
					<input id="toggle--show-google-play" name="storeselector" type="radio">
					<label for="toggle--show-google-play">
						Google Play
					</label>
				</div>
			</div>
		</header>
		<div class="search__results-container">
			<div class="search__results-section js-item-results--apps" data-mcs-theme="minimal-dark">
				<ul>
				</ul>
				<div class="search-results-none-container js-no-results--apps">
					<span>No matching apps</span>
				</div>
			</div>
			<div class="search__results-section search__results-section--developers js-item-results--developers" data-mcs-theme="minimal-dark">
				<h2 class="search__results-container__heading">Publishers</h2>
				<ul>
				</ul>
				<div class="search-results-none-container js-no-results--publishers">
					<span>No matching publishers</span>
				</div>
			</div>			
		</div>
	</div>
</div>