@keyframes backgroundMoveRightToLeft {
	0% { background-position: 0 0; }
	100% { background-position: -190px 0; }
}
@keyframes backgroundMove {
	0% { background-position: 0 0; }
	100% { background-position: 470px 0; }
}
@keyframes BackgroundGradientPulse { 
    0%{background-position:0% 50%}
    100%{background-position: -200% 50%}
}