// Breakpoint variables
$phablet: 480px;
$tablet: 720px;
$laptop: 960px;
$laptop-mid: 1024px;
$laptop-plus: 1150px;
$desktop: 1280px;
$desktop-wide: 1600px;
$desktop-super-wide: 1900px;
$desktop-widest: 2300px;
$mobile-max-width: 719px;
$leftnav-wide: 1360px;

$base-margin-bottom: 4rem;