/* Base */
/* Global */
/* line 8, sass/components-v2-css-modules/_article-list.scss */
.article-list-container {
  padding-top: 2rem;
  background-color: #f2f2f5;
}
/* line 11, sass/components-v2-css-modules/_article-list.scss */
.article-list-container .upgrade-content-container {
  width: 90%;
  background-color: #f2f2f5;
}
/* line 14, sass/components-v2-css-modules/_article-list.scss */
.article-list-container .upgrade-content-container .upgrade-content {
  margin-bottom: 6rem;
}
/* line 17, sass/components-v2-css-modules/_article-list.scss */
.article-list-container .upgrade-content-container .accordion-list-assoc-images {
  min-height: inherit;
  width: 47%;
  margin-top: 90px;
}
/* line 21, sass/components-v2-css-modules/_article-list.scss */
.article-list-container .upgrade-content-container .accordion-list-assoc-images img {
  right: 0;
  width: 100%;
  max-width: 527px;
}

/* line 29, sass/components-v2-css-modules/_article-list.scss */
.article-list {
  width: 100%;
  max-width: 785px;
  padding: 0 0 3rem;
  margin: 0 auto;
}

/* line 35, sass/components-v2-css-modules/_article-list.scss */
.article-list__item {
  width: 100%;
  margin-bottom: 10px;
  font-size: 0;
  background-color: #fcfdfd;
}
/* line 40, sass/components-v2-css-modules/_article-list.scss */
.article-list__item > article {
  position: relative;
  padding: 20px 20px 21px;
  overflow: visible;
}
/* line 44, sass/components-v2-css-modules/_article-list.scss */
.article-list__item > article.is-new {
  position: relative;
  border: 1px solid #6d69c5;
}
/* line 47, sass/components-v2-css-modules/_article-list.scss */
.article-list__item > article.is-new:after {
  content: "NEW";
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px 14px 4px 11px;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #fcfdfd;
  border-radius: 0 10px 0 0;
  background-color: #6d69c5;
}

/* line 64, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__icons-container,
.article-list__item__summary-container,
.article-list__item__actions-container {
  display: inline-block;
  vertical-align: top;
}

/* line 70, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__icons-container {
  width: 61px;
  display: inline-block;
  vertical-align: top;
}
/* line 74, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__icons-container .account-notification-icon {
  width: 42px;
  height: 42px;
}
/* line 77, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__icons-container .account-notification-icon path {
  fill: #81879d;
}
/* line 81, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__icons-container .reflection-notification-icon {
  width: 42px;
  height: 42px;
  margin-top: -4px;
}
/* line 85, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__icons-container .reflection-notification-icon path {
  fill: #6d69c5;
}

/* line 90, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__type-icon {
  width: 42px;
  border-radius: 7px;
}

/* line 94, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__store {
  margin-top: 1px;
  margin-left: 11px;
  display: block;
}
/* line 98, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__store:after, .article-list__item__store:before {
  left: 2px;
  color: #81879d;
  font-size: 18px;
}
/* line 104, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__store.ref-icon-after--play-store {
  margin-left: 13px;
}
/* line 106, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__store.ref-icon-after--play-store:after {
  font-size: 17px;
}

/* line 111, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__summary-container {
  width: calc(100% - 61px);
  overflow: visible;
}

/* line 115, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__title,
.article-list__item__title:first-child {
  width: calc(100% - 240px);
  margin-top: -5px;
  margin-bottom: 2px;
  font-size: 22px;
  line-height: 1.2;
}
/* line 122, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__title a,
.article-list__item__title:first-child a {
  display: block;
  color: #6d69c5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 126, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__title a:hover,
.article-list__item__title:first-child a:hover {
  color: #4b46b5;
}
/* line 130, sass/components-v2-css-modules/_article-list.scss */
.article-list__item--reflection-acount .article-list__item__title, .article-list__item--reflection-acount
.article-list__item__title:first-child {
  margin-bottom: 15px;
}

/* line 134, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__sub-title {
  width: calc(100% - 240px);
  margin-bottom: 15px;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #5b5b68;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 143, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__sub-title a {
  color: #6d69c5;
}
/* line 145, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__sub-title a:hover {
  color: #4b46b5;
}

/* line 150, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__type-heading {
  margin-right: 12px;
  margin-bottom: 4px;
  display: inline-block;
  vertical-align: top;
  font-size: 1.8rem;
}
/* line 156, sass/components-v2-css-modules/_article-list.scss */
.article-list__item--reflection-acount .article-list__item__type-heading {
  margin-right: 13px;
  margin-bottom: 5px;
  font-size: 1.6rem;
}

/* line 162, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__posted-date {
  padding-top: 5px;
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
  color: #81879d;
}
/* line 168, sass/components-v2-css-modules/_article-list.scss */
.article-list__item--reflection-acount .article-list__item__posted-date {
  padding-top: 3px;
}

/* line 172, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__intro,
.article-list__item__content,
.article-list__item__open-close-link {
  position: relative;
  left: -1px;
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #5b5b68;
  line-height: 1.9;
}

/* line 184, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__intro .text-ellipses {
  display: inline;
}
/* line 186, sass/components-v2-css-modules/_article-list.scss */
.is-open .article-list__item__intro .text-ellipses {
  display: none;
}
/* line 190, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__intro .is-hidden-text {
  display: none;
}
/* line 192, sass/components-v2-css-modules/_article-list.scss */
.is-open .article-list__item__intro .is-hidden-text {
  display: inline;
}

/* line 197, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__content {
  margin-top: 2.5rem;
  display: none;
  opacity: 0;
}
/* line 201, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__content:last-child {
  margin-bottom: 1.7rem;
}
/* line 205, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__content .ref-button--primary--medium:hover {
  color: #fcfdfd;
}
/* line 209, sass/components-v2-css-modules/_article-list.scss */
.is-open .article-list__item__content {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

/* line 216, sass/components-v2-css-modules/_article-list.scss */
.is-open .article-list__item__open-close-link {
  margin-top: 1rem;
}

/* line 220, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__actions-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 225px;
  text-align: right;
}
/* line 226, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__actions-container a {
  margin-left: 10px;
}

/* line 230, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__bookmark-action {
  margin: 7px 4px 0 0;
  display: inline-block;
}
/* line 233, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__bookmark-action svg {
  width: 14px;
  height: 24px;
}
/* line 237, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__bookmark-action polygon, .article-list__item__bookmark-action path {
  fill: #dde0e2;
  -webkit-transition: fill 0.2s;
          transition: fill 0.2s;
}
/* line 243, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__bookmark-action:hover polygon, .article-list__item__bookmark-action:hover path, .article-list__item__bookmark-action.is-on polygon, .article-list__item__bookmark-action.is-on path {
  fill: #1bc79f;
  -webkit-transition: fill 0.2s;
          transition: fill 0.2s;
}

/* line 249, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__image {
  margin: 2.1rem 0 -29px -20px;
  overflow: visible;
}
/* line 252, sass/components-v2-css-modules/_article-list.scss */
.article-list__item__image img {
  width: calc(100% + 20px);
}

/* line 256, sass/components-v2-css-modules/_article-list.scss */
.tooltip--article-list-content {
  color: #6d69c5;
  cursor: pointer;
  -webkit-transition: border-color 0.2s, background-color 0.2s, color 0.2s;
          transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}
/* line 260, sass/components-v2-css-modules/_article-list.scss */
.tooltip--article-list-content:hover {
  color: #4b46b5;
  -webkit-transition: border-color 0.3s, background-color 0.3s, color 0.3s;
          transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}
