<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	<title>Reflection V2, Data Lab, Top Downloads</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="design-kit-v2.css" />
	<link rel="stylesheet" href="js/vendor/jquery.mCustomScrollbar.css" />
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Source Sans Pro:400,600,700', 'Lato:400,700,400italic']
    }
  });
</script>
</head>
<body>
	<!--[if (lt IE 9)]>
      <div class="window-warning">
  			<p>Uh oh... Reflection doesn't work in this browser. &nbsp; &nbsp;<a href="http://outdatedbrowser.com/en" target="_blank">Download a compatible browser</a></p>
  		</div>
  <![endif]-->

  <header id="js-component-import--global-header" class="global-header"></header>
  
	<div id="js-component-import--panel-left" class="panel-left js-panel-left js-custom-scrollbar" data-mcs-theme="minimal-dark"></div>

	<div class="l-page-container">
		<div id="main" class="l-main" role="main">
			<div class="page-lab-base page-daily-releases grid-container theme-dark js-page-lab-base" ng-controller="DataController as dataList">
				
				<img src="images/data-lab-article-making-top-mock-data.png" alt="Sharing image of the chart" style="position: fixed; left: -999rem;" />

				<div class="sharing-container">
					<div class="addthis_sharing_toolbox"></div>
				</div>

				<div class="data-lab-article-intro">
					<h1 class="data-lab-article-intro__heading">What Time of Year Is Best for Hitting My Desired Chart Position?</h1>
					<p class="data-lab-article-intro__paragraph">The heatmap below clearly shows which days of the year require more or less daily downloads to hit a specific position in the top 200 iOS charts. Use this insight to plan the optimal time to acquire new users.</p>
				</div>

				<div class="grid__row overflow-visible">
					<div class="filters-row filters-row-main-chart js-filters-main-chart">
						<h2 class="filter-row__heading">Daily Downloads Required to Rank</h2>
					</div>
				</div>
					
				<div class="daily-releases-filters-container js-daily-releases-filters-container">

					<div class="secondary-filter secondary-filter--medium form-field--select js-secondary-filter js-dropdown-chart-type">
						<select class="js-select-box">
							<option value="FREE" selected>Free Chart</option>
							<option value="PAID">Paid Chart</option>
							<option value="GROSSING">Grossing Chart</option>
						</select>
					</div>

					<div class="secondary-filter secondary-filter--medium form-field--select js-secondary-filter js-dropdown-position">
						<select class="js-select-box">
							<option value="200" selected>Top 200</option>
							<option value="150" data-access="key">Top 150</option>
							<option value="100" data-access="key">Top 100</option>
							<option value="50" data-access="key">Top 50</option>
							<option value="20" data-access="key">Top 20</option>
							<option value="10" data-access="key">Top 10</option>
						</select>
					</div>

					<div class="secondary-filter secondary-filter--medium form-field--select js-secondary-filter js-dropdown-country">
						<select class="js-select-box">
							<option value="GB" selected>United Kingdom</option>
							<option value="US" data-access="key">USA</option>
						</select>
					</div>

					<div class="secondary-filter secondary-filter--medium form-field--select js-secondary-filter js-dropdown-category">
						<select class="js-select-box">
							<option value="Overall" selected>Overall</option>
							<option value="Games" data-access="key">Games</option>
							<option value="Action" data-access="key">Games - Action</option>
							<option value="Adventure" data-access="key">Games - Adventure</option>
							<option value="Arcade" data-access="key">Games - Arcade</option>
							<option value="Board" data-access="key"">Games - Board</option>
							<option value="Card" data-access="key">Games - Card</option>
							<option value="Dice" data-access="key">Games - Dice</option>
							<option value="Educational" data-access="key">Games - Educational</option>
							<option value="Family" data-access="key">Games - Family</option>
							<!-- <option value="Music Games" data-access="key">Games - Music</option> -->
							<option value="Puzzle" data-access="key">Games - Puzzle</option>
							<option value="Racing" data-access="key">Games - Racing</option>
							<option value="Role Playing" data-access="key">Games - Role Playing</option>
							<option value="Simulation" data-access="key">Games - Simulation</option>
							<option value="Sports Games" data-access="key">Games - Sports</option>
							<option value="Strategy" data-access="key">Games - Strategy</option>
							<option value="Trivia" data-access="key">Games - Trivia</option>
							<option value="Word" data-access="key">Games - Word</option>
							<!-- <option value="Books" data-access="key">Books</option>
					    <option value="Business" data-access="key">Business</option>
					    <option value="Catalogs" data-access="key">Catalogs</option>
					    <option value="Education" data-access="key">Education</option>
							<option value="Entertainment" data-access="key">Entertainment</option>
							<option value="Finance" data-access="key">Finance</option>
							<option value="Food & Drink" data-access="key">Food &amp; Drink</option>
							<option value="Health & Fitness" data-access="key">Health &amp; Fitness</option>
							<option value="Lifestyle" data-access="key">Lifestyle</option>
							<option value="Medical" data-access="key">Medical</option>
							<option value="Music" data-access="key">Music</option>
							<option value="Navigation" data-access="key">Navigation</option>
							<option value="News" data-access="key">News</option>
							<option value="Newsstand" data-access="key">Newsstand</option>
							<option value="Photo & Video" data-access="key">Photo &amp; Video</option>
							<option value="Productivity" data-access="key">Productivity</option>
							<option value="Reference" data-access="key">Reference</option>
							<option value="Shopping" data-access="key">Shopping</option>
							<option value="Social Networking" data-access="key">Social Networking</option>
							<option value="Sports" data-access="key">Sports</option>
							<option value="Travel" data-access="key">Travel</option>
							<option value="Utilities" data-access="key">Utilities</option>
					    <option value="Weather" data-access="key">Weather</option> -->
						</select>
					</div>

					<div class="secondary-filter secondary-filter--medium form-field--select js-secondary-filter js-dropdown-device">
						<select class="js-select-box">
							<option value="PHONE" selected>iPhone</option>
							<option value="TABLET">iPad</option>
						</select>
					</div>

					<div class="heatmap-key">
						<span class="heatmap-key__label">Less</span>
						<span class="heatmap-key__label">More</span>
						<div class="heatmap-key__gradient-bar"></div>
					</div>

					<div class="data-day-labels">
						<span>Mon</span>
						<span>Tue</span>
						<span>Wed</span>
						<span>Thu</span>
						<span>Fri</span>
						<span class="data-day-label-weekend">Sat</span>
						<span class="data-day-label-weekend">Sun</span>
					</div>
				</div>
				
				<div class="data-heatmap-no-data">
					<div class="chart__no-data">
						<div class="animation-hamster-no-data-dark"></div>
						<div>
							<h2>No Available Data</h2>
							<p><a class="js-open-no-data" href="#">Help us offer ever deeper insight</a></p>
						</div>
					</div>
				</div>

				<div class="data-heatmap js-data-heatmap">

					<div class="data-month-labels">
						<span>January '16</span>
						<span>February '16</span>
						<span>March '16</span>
						<span>April '16</span>
						<span>May '16</span>
						<span>June '16</span>
						<span>July '16</span>
						<span>August '16</span>
						<span>September '16</span>
						<span>October '16</span>
						<span>November '16</span>
						<span>December '16</span>
					</div>

					<svg class="data-heatmap__pointer data-heatmap__pointer--left js-data-heatmap__pointer" enable-background="new 0 0 11 14"viewBox="0 0 11 14"x=0px xml:space=preserve y=0px><path d="M10.8,6.7L0.6,0.1C0.4,0,0.3,0,0.2,0C0.1,0.1,0,0.2,0,0.3v13.3c0,0.1,0.1,0.2,0.2,0.3c0.1,0,0.1,0,0.2,0
	c0.1,0,0.1,0,0.2-0.1l10.3-6.7C10.9,7.2,11,7.1,11,7C11,6.9,10.9,6.8,10.8,6.7z" fill="#1BC79F" /></svg>
					
					<svg class="data-heatmap__pointer data-heatmap__pointer--right js-data-heatmap__pointer" enable-background="new 0 0 11 14"viewBox="0 0 11 14"x=0px xml:space=preserve y=0px><path d="M10.8,6.7L0.6,0.1C0.4,0,0.3,0,0.2,0C0.1,0.1,0,0.2,0,0.3v13.3c0,0.1,0.1,0.2,0.2,0.3c0.1,0,0.1,0,0.2,0
	c0.1,0,0.1,0,0.2-0.1l10.3-6.7C10.9,7.2,11,7.1,11,7C11,6.9,10.9,6.8,10.8,6.7z" fill="#1BC79F" /></svg>

					<ul class="data-container js-data-container">
						<li class='data-cell {{dataList.setCSSClass($index)}}' ng-repeat="dataItem in dataList.appData">
							<span class="data-cell-colour" style='opacity: {{dataList.getOpacity($index)}}'></span>
							<span class="data-cell-colour--off-state"></span>
							<div class="data-hover">
								<span class="data-hover__data-date">{{dataList.timeConverter(dataItem.date)}}</span>
								<span class="data-hover__data-value">{{dataList.formatValue(dataItem.value)}}</span>
								<span class="data-hover__title">Daily {{dataList.getTerm()}}</span>
							</div>
						</li>
					</ul>		
					<div class="chart-bottom-spacing"></div>
				</div>

				<div class="feedback-container">
										<svg x="0px" y="0px"
     viewBox="0 0 58.4 99.6" enable-background="new 0 0 58.4 99.6" xml:space="preserve">
<path fill="#6D69C5" d="M51.6,70.4c0,12.3-10,22.4-22.4,22.4S6.8,82.8,6.8,70.4H51.6z" class="lab-bottle-liquid" />
<path fill="#5A5A68" d="M40.6,43.5V8.8h1.7c2.4,0,4.4-2,4.4-4.4S44.7,0,42.3,0H16.1c-2.4,0-4.4,2-4.4,4.4s2,4.4,4.4,4.4h1.1v35
    C6.7,48.5,0,58.8,0,70.4c0,16.1,13.1,29.2,29.2,29.2c16.1,0,29.2-13.1,29.2-29.2C58.4,58.7,51.3,48,40.6,43.5z M16.1,3h26.1
    c0.8,0,1.4,0.6,1.4,1.4c0,0.7-0.5,1.2-1.1,1.4H15.9c-0.6-0.1-1.1-0.7-1.1-1.4C14.7,3.6,15.4,3,16.1,3z M29.2,96.6
    C14.8,96.6,3,84.9,3,70.4c0-10.7,6.4-20.2,16.3-24.3l0.9-0.4V7h17.3v38.6l1,0.4c10.1,3.8,16.9,13.7,16.9,24.5
    C55.4,84.9,43.7,96.6,29.2,96.6z"/>
</svg>
										<div>
											<h2 class="heading-style--heading-three">Would You Use This Feature?</h2>
											<p>Let us know with this <a href="">quick 2 question survey</a> so we can improve it with your help.</p>
										</div>
									</div>

									<div class="idc-comments-container">
					<script>
						var idcomments_acct = 'c4a0cfaab22f16bc5e847b0d1398bb91';
						var idcomments_post_id = 'datavisdailydownloadscomments';
						var idcomments_post_url;
						</script>
						<span id="IDCommentsPostTitle" style="display:none"></span>
					<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
				</div>

				<div class="footer-chart js-footer-chart">
					<div class="footer-chart__labels">
						<h2 class="footer-chart__week-title">Week <span class="js-week-number">1</span></h2>
						<span class="footer-chart__date js-date-value"></span>
						<h2 class="footer-chart__apps-released js-apps-released-value">-</h2>
						<span class="footer-chart__released-title">Week Total {{dataList.getTerm()}}</span>
					</div>
					<ul class="js-daily-releases-bar-chart">
						<li ng-repeat="dataItem in dataList.weeksData" data-height='{{dataList.setBarHeight($index)}}'></li>
					</ul>
				</div>

			</div>
		</div>
	</div>

	<div class="page-overlay js-page-overlay js-page-overlay--sign-up">
		<div class="page-popup">
			<div class="popup-content js-popup-content">
				<a href="#" class="popup-close js-popup-close"><span class="ref-icon-after ref-icon-after--close">Close</span></a>
				<div class="popup-sections-container js-popup-sections-container">
					<div class="multi-step-section is-viewed-step">
						<h2 class="heading-style--heading-four multi-step-section__heading">Sign up or Log In to See This Data</h2>
						<p>Create a Free Reflection account to dig deeper into this data. It'll take seconds and no payment details are required, it's free!</p>
						<button class="ref-button--primary--large button-full-width js-popup-close">
							Create Free Account
						</button>
						<p class="popup-text-link"><a href="#">Already a Member, Log In</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/vendor/jquery-1.11.1.min.js"></script>
 	<script src="js/vendor/handlebars-v2.0.0.js"></script> <!-- static templates only -->
 	<script src="js-v2/templates/templates.js"></script> <!-- static templates only -->
 	<script src="js/vendor/modernizr.2.8.3.custom.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>

	<!--[if IE 9]>
		<script src="js/vendor/jquery.mCustomScrollbar.concat.min.js"></script>
	<![endif]-->

	<div id="js-appendScriptsContainer"></div>

	<script src="js-v2/app-include-templates.js"></script> <!-- static templates only -->
  <script src="js-v2/application.js"></script>
  <script src="js/data-lab/daily-downloads-default.json"></script>

  <script>
		
		function getMaxValueFromArray(list) {
			var mx = 0;
			for(var x = 0; x < list.length; x++) {
				if(list[x].value > mx) {
					mx = list[x].value;
				}
			}
			return mx;
		}

		var currentDataCategory;
		var currentIndex = 1;

  	$(window).on("load", function(){

			var emptyWeeksData = [];
			
  		var reflectionApp = angular.module('reflectionApp', [])
			.controller('DataController', function($scope, $http) {
				
				var dataIndex = 0;
				var dataList = this;
				console.log(dailyReleasesData);
				dataList.toggle = 1;
				dataList.category = dailyReleasesData;
				dataList.appData = dailyReleasesData.data;
				dataList.weeksData = dailyReleasesData.weeks;
				dataList.getWeeksMax = getMaxValueFromArray(dataList.weeksData);
				currentDataCategory = dataList.category;
				this.hasPermission = false;
				
				// TODO: Make this selector change reflect all available filters
				$('.js-select-box').on("change", function(){
					
					var thisSelect = this;

					setTimeout(function(){
						console.log("attempt to select = " + thisSelect.value);
						var hasPermission = hasPermissions(thisSelect.value);
						
						var fileNameToRequest = getFileToNameRequest();
						console.log(fileNameToRequest);

						var userId = getUserRole();
						console.log(userId);
						
						if(userId != null || (userId == null && hasPermission)) {
							
							if(userId == null) {
								userId = "js/data-lab";
							}

							// animate charts and then apply new data
							$('.js-data-container').addClass("flip");
							
							$scope.$apply(function () {
								// for animation of the weeks bar chart
								dataList.weeksData = emptyWeeksData;
							});

							setTimeout(function(){
								$('.js-data-container li.is-hotter').removeClass("is-hotter");
								
								console.log("getJSON url = " + userId + "/" + fileNameToRequest);
								$.getJSON(userId + "/" + fileNameToRequest, function( data ) {
									console.log(data);
									$('.page-no-data').removeClass('page-no-data');
									$scope.$apply(function () {
										dataList.category = data;
										dataList.appData = data.data;
										dataList.weeksData = data.weeks;
										dataList.getWeeksMax = getMaxValueFromArray(dataList.weeksData);
										currentDataCategory = dataList.category;							
				        	});
				        	setWeeksLabels();
				        	setTimeout(function(){
				        		$('.js-data-container').removeClass("flip");
				        		animateBarChartHeights();
				        	}, 100);
				        })
				        .error(function() {
									$('.js-page-lab-base').addClass('page-no-data');
				        });
				      
							}, 300);
						} else {

							console.log("user is null and doesn't have permission");

						}
					}, 10);
				});

				dataList.getAppOpacity = function(listIndex) {
		    	var min = this.category.min,
		    			max = this.category.max;
		    	var range = max - min;
		    	var valueFromMin;
		    	valueFromMin = dataList.appData[listIndex].value - min;
		    	var opacity = 1 / (range / valueFromMin);
		    	return opacity;
		    }

		    dataList.setCSSClass = function(listIndex) {
					var opacity = dataList.getAppOpacity(listIndex);
					if(opacity > 0.5) {
						return "is-hotter";
					}

					return "";
		    }
				
				dataList.getOpacity = function(listIndex) {
					// Heat map is purple to red
					// At 0% is purple #6d69c5 opacity 0, background #343438
					// At 50% is purple #6d69c5 opacity 1
					// Add a class above 50% to change background to red
					// At 50.01% is red #ff496a opacity 0, background #6d69c5
					// At 100% is red #ff496a opacity 1

					var opacity = dataList.getAppOpacity(listIndex);
					if(opacity <= 0.5) {
						opacity = opacity / 0.5;
					} else {
						opacity = (opacity - 0.5) / 0.5;
					}

					return opacity;
				}

				dataList.setBarHeight = function(listIndex) {
					return (dataList.weeksData[listIndex].value / dataList.getWeeksMax) * 100;
				}

				dataList.timeConverter = function(UNIX_timestamp){
				  return timeConverter(UNIX_timestamp);
				}

				dataList.formatValue = function(value) {
					var returnString = ($('.js-dropdown-chart-type .js-dropdown-option.is-selected').attr("data-value") == ("GROSSING")) ? "$" : "";

					var formattedValue = this.formatToNumberWithCommas(value);

					return returnString + formattedValue;
				}

				dataList.getTerm = function() {
					return ($('.js-dropdown-chart-type .js-dropdown-option.is-selected').attr("data-value") == ("GROSSING")) ? "Revenue" : "Downloads";
				}

				dataList.formatToNumberWithCommas = function(x) {
			  	return (x != null) ? x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : "-";
				}

			});

			window.angular.element(document).ready(function() {
		    window.angular.bootstrap(document, ["reflectionApp"]);
			});

		  new Page();

		  function openSignUpPopup() {
		  	console.log("openSignUpPopup");
		  	$('.js-page-overlay--sign-up').fadeIn(200);
				setTimeout(function(){
					$('.js-page-overlay--sign-up .js-popup-content').addClass("is-showing");
				}, 100);
		  }

		  $('.js-popup-close').on("click", function(e){
				e.preventDefault();
				$('.js-page-overlay').fadeOut(100);
				$('.js-popup-content').removeClass("is-showing");
			});

			$(".js-page-overlay").on("click", function(e){
				if(!$(e.target).hasClass("js-no-close-on-click")) {
					$('.js-page-overlay').fadeOut(100);
					$('.js-popup-content').removeClass("is-showing");
				}
			});
			
			function animateBarChartHeights() {
				$('.js-daily-releases-bar-chart li').each(function(){
					$(this).css("height", $(this).attr("data-height") + "%");
				});
			}

			function timeConverter(UNIX_timestamp){
			  var a = new Date(UNIX_timestamp);
			  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
			  var year = a.getFullYear();
			  var month = months[a.getMonth()];
			  var date = a.getDate();
			  var hour = a.getHours();
			  var min = a.getMinutes();
			  var sec = a.getSeconds();
			  var time = date + ' ' + month + ' ' + year;
			  return time;
			}

			var FilterDropDown = function($domElement) {

				var $thisSelectBox = $domElement,
						$dropDownContainer = $("<ul>").addClass("form-field--select__dropdown"),
						$currentValue = $("<span>").addClass("form-field--select__box ref-icon-after--angle-down js-dropdown-trigger");

				$thisSelectBox.find('option').each(function(){
					
					var $thisOption = $(this),
							selectedClass = "";

					if($thisOption.val() != "") {

						if($thisOption.is(":selected")) {
							if($thisOption.val() != "") {
								selectedClass = "is-selected";
								$currentValue.text($thisOption.text());
							}
						}

						var accessClass = "";
						if($thisOption.data("access")) {
							accessClass = "ref-after-pro";
						}

						var $newListItem = $("<li>");
						$dropDownContainer.append($newListItem
																					.addClass("js-dropdown-option")
																					.addClass(selectedClass)
																					.addClass(accessClass)
																					.attr('data-value', $thisOption.attr('value'))
																					.on("click", function() {																						
																						
																						var thisValue = $(this).attr("data-value");
																						var userId = getUserRole();
																						var permissionsValid = hasPermissions(thisValue);
																						if(userId != null || (userId == null && permissionsValid)) {

																							$thisSelectBox.find("option").removeAttr("selected");
																							$thisOption.attr("selected", "selected");
																							$thisSelectBox.trigger("change");
																							$currentValue.text($thisOption.text());
																							$dropDownContainer.toggle();
																							$thisSelectBox.parent("div").toggleClass("is-open");
																							$thisSelectBox.parent("div").removeClass("nothing-selected");
																							$dropDownContainer.find(".is-selected").removeClass("is-selected");
																							$(this).addClass("is-selected");
																							
																						} else {
																							$dropDownContainer.toggle();
																							openSignUpPopup();																							
																						}

																					})
																					.append($("<span>").text($thisOption.text()))
																		);
					} else {
						// no option value means placeholder text before option is selected
						$currentValue.text($thisOption.text());
					}
				});

				$currentValue.on("click", function(){
					if(!$thisSelectBox.attr("disabled")) {
						var $parentDiv = $thisSelectBox.parent("div");
						if($parentDiv.hasClass("is-open")) {
							$dropDownContainer.toggle();	
							$parentDiv.toggleClass("is-open");
						} else {
							setTimeout(function(){
								if(!$parentDiv.hasClass("is-open")) {
									closeAllFilters();
								}
								var parentWidth = $parentDiv.width();
								var parentHeight = $parentDiv.height();
								$dropDownContainer.css({"min-width": parentWidth + "px"});
								$dropDownContainer.toggle();	
								$parentDiv.toggleClass("is-open");
							}, 50); // allow time for instance.closeAllFilters() to close other filters first
						}
					}
				});

				if($currentValue.text() == "") {
					$thisSelectBox.parent("div").addClass("nothing-selected");
				}

				$thisSelectBox.parent("div").append($currentValue)
																		.append($dropDownContainer);
			};

		  function closeAllFilters() {
				$('.js-secondary-filter.is-open .form-field--select__dropdown').hide();
				$('.js-secondary-filter.is-open').removeClass("is-open");
			}

			function getUserRole() {
				// return null;
				return "js/8wehfi7wro8ywe8mryow73yrnoxwyonr7tw4ox7b";
			}

			function hasPermissions(dropDownValue) {

				if(dropDownValue == "GB" || dropDownValue == "200" || dropDownValue == "Overall" || dropDownValue == "PHONE" || dropDownValue == "TABLET" || dropDownValue == "FREE" || dropDownValue == "PAID" || dropDownValue == "GROSSING") {
					return true;
				}

				return false;
			}

			function getFileToNameRequest() {

				var selectedPosition = $('.js-dropdown-position .js-dropdown-option.is-selected').data("value");
				var selectedCountry = $('.js-dropdown-country .js-dropdown-option.is-selected').data("value");				
				var selectedCategory = $('.js-dropdown-category .js-dropdown-option.is-selected').data("value");
				var selectedDevice = $('.js-dropdown-device .js-dropdown-option.is-selected').data("value");
				var selectedChartType = $('.js-dropdown-chart-type .js-dropdown-option.is-selected').data("value");

				console.log(selectedChartType);

				return "daily-downloads_" + selectedCountry + "_" + selectedChartType + "_" + selectedCategory + "_" + selectedPosition + "_" + selectedDevice + "_2016.json";
			}

			$("html").on("click", function(e){
				if(!$(e.target).hasClass("js-no-close-on-click") && !$(e.target).hasClass("js-clear-all")) {
					closeAllFilters();
				}
			});

		  $('.js-select-box').each(function() {
  			new FilterDropDown($(this));
  		});

  		function setWeeksLabels() {
  			if(currentDataCategory.weeks[currentIndex-1]) {
					$('.js-week-number').text(currentIndex);
					var formattedDate = timeConverter(currentDataCategory.weeks[currentIndex-1].date);
					$('.js-date-value').text(formattedDate);
					
					var valueString = ($('.js-dropdown-chart-type .js-dropdown-option.is-selected').attr("data-value") == ("GROSSING")) ? "$" : "";

					var formattedValue = currentDataCategory.weeks[currentIndex-1].value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

					$('.js-apps-released-value').text(valueString + formattedValue);
  			}  			
  		}

  		$(window).on("scroll", function(){  			
  			var marginWhenFiltersAreFixed = 484;
				if($(window).scrollTop() > marginWhenFiltersAreFixed) {
					$('.js-daily-releases-filters-container').addClass("is-fixed");
				} else {
					$('.js-daily-releases-filters-container.is-fixed').removeClass("is-fixed");
				}
				
				var rowHeight = 60;
				var offsetTopFromWindowTop = 206;
				var marginWhenBarChartShows = 340;
				var marginWhenArrowsMove = marginWhenFiltersAreFixed - 30;
				var scrollTopValue = $(window).scrollTop();
				var dataContainerOffsetTop = $('.js-data-container').offset().top;
				var heightOfDataScrolled = (scrollTopValue + offsetTopFromWindowTop) - dataContainerOffsetTop;
				if(scrollTopValue + offsetTopFromWindowTop > dataContainerOffsetTop) {
					currentIndex = Math.floor((heightOfDataScrolled + 32) / rowHeight) + 1;
				}
				if(scrollTopValue > marginWhenBarChartShows && currentDataCategory.weeks[currentIndex-1]) {
					$('.js-footer-chart').addClass("is-showing");
					$('.js-data-heatmap').addClass("is-showing");
				} else {
					$('.js-footer-chart').removeClass("is-showing");
					$('.js-data-heatmap').removeClass("is-showing");
				}

				if(scrollTopValue > marginWhenArrowsMove) {
					$('.js-data-heatmap__pointer').css("top", heightOfDataScrolled + 21 + "px");
				} else {
					$('.js-data-heatmap__pointer').css("top", "21px");
				}
				
				$('.js-daily-releases-bar-chart li.is-on').removeClass("is-on");
				$('.js-daily-releases-bar-chart li:nth-child(' + currentIndex + ')').addClass("is-on");
				setWeeksLabels();
  		});

  		setTimeout(function(){
  			animateBarChartHeights();
  		}, 500);

		});

	</script>

	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5513f37846b6ec2e"></script> 
</body>
</html>