/* Global */
/* line 6, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart-container {
  padding-left: 19px;
  padding-right: 21px;
  text-align: center;
  background-color: #f2f2f5;
}

/* line 12, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart {
  width: 100%;
  margin-bottom: 2rem;
  table-layout: fixed;
  text-align: left;
}
/* line 17, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart col {
  width: 33.333333333%;
}
/* line 20, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart th {
  padding: 13px 0 10px 17px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #363a47;
  background-color: transparent;
}
/* line 27, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart th svg {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
}
/* line 33, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart th svg path {
  fill: #727686;
}
/* line 37, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart th span {
  padding-top: 3px;
  display: inline-block;
  vertical-align: top;
}
/* line 43, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart td {
  position: relative;
  vertical-align: top;
  border: 1px solid #f2f2f5;
  background-color: #f2f2f5;
}

/* line 50, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__head-cell__clear-link {
  padding: 5px 15px 0 0;
  display: none;
  float: right;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #6d69c5;
}
/* line 58, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__head-cell__clear-link:hover {
  color: #4b46b5;
}
/* line 61, sass/components-v2-css-modules/_daily-app-chart.scss */
.is-showing-search-results .live-chart__head-cell__clear-link {
  display: inline-block;
}

/* line 66, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__show-more-button,
.live-chart__show-more-button:last-child {
  margin: 0 auto 3rem;
}

/* line 70, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell {
  position: relative;
  width: 100%;
  padding: 11px 15px 7px;
  background-color: #fcfdfd;
  border: 1px solid #f2f2f5;
  z-index: 1;
}
/* line 77, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart--compact-view .live-chart__cell {
  padding-bottom: 3px;
}

/* line 81, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__disabled-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 10;
  background-color: #fcfdfd;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.1s 0.3s;
  transition: opacity 0.3s, visibility 0.1s 0.3s;
}
/* line 92, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell--disabled .live-chart__cell__disabled-overlay {
  display: block;
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 99, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-icon {
  width: 42px;
  height: 42px;
  padding-top: 1px;
  display: inline-block;
  vertical-align: top;
  border-radius: 7px;
}
/* line 106, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart--compact-view .live-chart__cell__app-icon {
  display: none;
}

/* line 110, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-details-container {
  width: calc(100% - 56px);
  display: inline-block;
  float: right;
  overflow: visible;
  vertical-align: top;
  font-size: 0;
}
/* line 117, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart--compact-view .live-chart__cell__app-details-container {
  width: 100%;
}
/* line 120, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-details-container .ratings-container {
  width: 65px;
  height: 10px;
  margin-left: -1px;
  margin-top: 4px;
  vertical-align: top;
  display: none;
}
@media (min-width: 1280px) {
  /* line 120, sass/components-v2-css-modules/_daily-app-chart.scss */
  .live-chart__cell__app-details-container .ratings-container {
    display: inline-block;
  }
}
/* line 130, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart--compact-view .live-chart__cell__app-details-container .ratings-container {
  display: none;
}
/* line 134, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-details-container .ratings-container,
.live-chart__cell__app-details-container .ratings-full {
  background-size: 65px 10px;
}

/* line 139, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-name {
  width: calc(100% - 85px);
  padding-bottom: 2px;
  display: inline-block;
  vertical-align: top;
  font-size: 13.6px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #6d69c5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 151, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-name:hover {
  color: #4b46b5;
}
/* line 154, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-name.is-loading {
  width: calc(100% - 130px);
  max-width: 200px;
  height: 10px;
  padding-bottom: 0;
  margin-top: 2px;
  margin-bottom: 8px;
  background-color: #e9e9ed;
}
/* line 163, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-name.live-chart__cell__app-name--no-data {
  margin-top: 3px;
  margin-bottom: 3px;
  overflow: visible;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #81879d;
}
/* line 171, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-name.live-chart__cell__app-name--no-data:before {
  top: -4px;
  margin-right: 10px;
  font-size: 24px;
}
/* line 176, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart--compact-view .live-chart__cell__app-name.live-chart__cell__app-name--no-data {
  margin-bottom: -9px;
}
/* line 180, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-name .whats-this-tooltip-icon {
  margin-top: -1px;
  margin-left: 5px;
  vertical-align: top;
}

/* line 186, sass/components-v2-css-modules/_daily-app-chart.scss */
span.live-chart__cell__app-name {
  color: #363a47;
}
/* line 188, sass/components-v2-css-modules/_daily-app-chart.scss */
span.live-chart__cell__app-name:hover {
  color: #363a47;
}

/* line 192, sass/components-v2-css-modules/_daily-app-chart.scss */
span.live-chart__cell__publisher-name {
  color: #5b5b68;
}
/* line 194, sass/components-v2-css-modules/_daily-app-chart.scss */
span.live-chart__cell__publisher-name:hover {
  color: #5b5b68;
}

/* line 198, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__rank {
  width: 85px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  font-size: 13.6px;
  font-weight: 700;
  color: #29292c;
  text-align: right;
  overflow: visible;
}
/* line 208, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__rank .ref-icon-after--up,
.live-chart__cell__rank .ref-icon-after--down,
.live-chart__cell__rank .ref-icon-after--equals {
  position: relative;
  top: 1px;
  margin-right: 3px;
  vertical-align: top;
}
/* line 215, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__rank .ref-icon-after--up:after,
.live-chart__cell__rank .ref-icon-after--down:after,
.live-chart__cell__rank .ref-icon-after--equals:after {
  position: relative;
  top: -6px;
  left: -2px;
}
/* line 221, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__rank .ref-icon-after--up,
.live-chart__cell__rank .ref-icon-after--up:after {
  color: #1bc79f;
}
/* line 225, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__rank .ref-icon-after--down,
.live-chart__cell__rank .ref-icon-after--down:after {
  color: #ff496a;
}
/* line 229, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__rank .ref-icon-after--equals:after {
  top: 3px;
  left: -8px;
  font-size: 10px;
  color: #c4c7d0;
}
/* line 235, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__rank.is-loading {
  float: right;
}

/* line 239, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__new-entry {
  position: relative;
  top: -2px;
  width: 44px;
  height: 17px;
  padding-top: 1px;
  margin-right: 9px;
  display: inline-block;
  vertical-align: top;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 11.5px;
  color: #fcfdfd;
  text-align: center;
  border-radius: 8px;
  background-color: #6d69c5;
}

/* line 256, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__publisher-name {
  width: calc(100% - 65px);
  display: block;
  font-size: 12px;
  color: #6d69c5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 264, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__publisher-name:hover {
  color: #4b46b5;
}
/* line 267, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart--compact-view .live-chart__cell__publisher-name {
  position: relative;
  top: 1px;
  width: calc(100% - 120px);
  display: inline-block;
}
/* line 273, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__publisher-name.is-loading {
  width: calc(100% - 150px);
  max-width: 200px;
  height: 10px;
  margin-bottom: 2px;
  background-color: #e9e9ed;
}
/* line 279, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart--compact-view .live-chart__cell__publisher-name.is-loading {
  display: none;
}

/* line 284, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__number-of-ratings,
.live-chart__cell__app-price {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #363a47;
}
/* line 290, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart--compact-view .live-chart__cell__number-of-ratings, .live-chart--compact-view
.live-chart__cell__app-price {
  display: none;
}

/* line 294, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__number-of-ratings {
  padding-left: 5px;
  display: none;
}
@media (min-width: 1280px) {
  /* line 294, sass/components-v2-css-modules/_daily-app-chart.scss */
  .live-chart__cell__number-of-ratings {
    display: inline-block;
  }
}

/* line 301, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-price {
  padding-top: 2px;
}

/* line 304, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__growth,
.live-chart__cell__app-downloads-revenue {
  display: inline-block;
  float: right;
  vertical-align: top;
  font-size: 12px;
  font-weight: 700;
  color: #363a47;
}
/* line 312, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart--compact-view .live-chart__cell__growth, .live-chart--compact-view
.live-chart__cell__app-downloads-revenue {
  padding-top: 4px;
}
/* line 314, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart--compact-view .live-chart__cell__growth.is-loading, .live-chart--compact-view .live-chart__cell__growth.is-no-data, .live-chart--compact-view
.live-chart__cell__app-downloads-revenue.is-loading, .live-chart--compact-view
.live-chart__cell__app-downloads-revenue.is-no-data {
  padding-top: 0;
}
/* line 318, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart--compact-view .live-chart__cell__growth.is-no-data, .live-chart--compact-view
.live-chart__cell__app-downloads-revenue.is-no-data {
  margin-bottom: 2px;
}
/* line 322, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__growth.positive-colour,
.live-chart__cell__app-downloads-revenue.positive-colour {
  color: #1bc79f;
}
/* line 325, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__growth.negative-colour,
.live-chart__cell__app-downloads-revenue.negative-colour {
  color: #ff496a;
}
/* line 328, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__growth span,
.live-chart__cell__app-downloads-revenue span {
  padding-top: 3px;
  display: inline-block;
  vertical-align: top;
}
/* line 333, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__growth:before,
.live-chart__cell__app-downloads-revenue:before {
  font-size: 18px;
}
/* line 337, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__growth.ref-icon-before--download:before,
.live-chart__cell__app-downloads-revenue.ref-icon-before--download:before {
  padding-right: 6px;
}
/* line 342, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__growth.ref-icon-before--revenue:before,
.live-chart__cell__app-downloads-revenue.ref-icon-before--revenue:before {
  padding-right: 7px;
}

/* line 347, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__growth {
  position: relative;
  top: 1px;
  padding-left: 7px;
}
/* line 351, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__growth.is-loading {
  display: none;
}

/* line 355, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__no-results {
  width: 100%;
  padding-top: 6px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: #81879d;
  text-align: center;
}

/* line 365, sass/components-v2-css-modules/_daily-app-chart.scss */
.is-unavailable {
  color: #c4c7d0 !important;
}
/* line 367, sass/components-v2-css-modules/_daily-app-chart.scss */
.is-unavailable:before, .is-unavailable:after {
  color: #c4c7d0 !important;
}

/* line 372, sass/components-v2-css-modules/_daily-app-chart.scss */
.live-chart__cell__app-downloads-revenue {
  cursor: pointer;
}
