/* Global */
@-webkit-keyframes backgroundMoveRightToLeft {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -190px 0;
  }
}
@keyframes backgroundMoveRightToLeft {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -190px 0;
  }
}
@-webkit-keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 470px 0;
  }
}
@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 470px 0;
  }
}
@-webkit-keyframes BackgroundGradientPulse {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}
@keyframes BackgroundGradientPulse {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}
/* line 8, sass/components-v2-css-modules/_data-tables.scss */
.is-loading-background, .ref-table--apps .app-data-revenue.is-loading span:first-child,
.ref-table--apps .app-data-downloads.is-loading span:first-child,
.ref-table--publishers .app-data-revenue.is-loading span:first-child,
.ref-table--publishers .app-data-downloads.is-loading span:first-child, .ref-table--apps .data-table__value-bar.is-loading div,
.ref-table--publishers .data-table__value-bar.is-loading div, .data-table__app-summary__app-name.is-loading {
  background-color: #e9e9ed;
  background: -webkit-linear-gradient(0deg, #f2f2f5, #f2f2f5, #e4e4e6, #f2f2f5, #f2f2f5);
  background: linear-gradient(90deg, #f2f2f5, #f2f2f5, #e4e4e6, #f2f2f5, #f2f2f5);
  background-size: 200% 100%;
  -webkit-animation: BackgroundGradientPulse 1.5s linear infinite;
          animation: BackgroundGradientPulse 1.5s linear infinite;
}

/* line 14, sass/components-v2-css-modules/_data-tables.scss */
.ref-table {
  position: relative;
  width: 100%;
  font-size: 1.3rem;
  color: #29292c;
  table-layout: auto;
}
/* line 20, sass/components-v2-css-modules/_data-tables.scss */
.is-safari .ref-table, .is-touch.is-chrome .ref-table {
  table-layout: auto;
}
/* line 24, sass/components-v2-css-modules/_data-tables.scss */
.ref-table th {
  padding-top: 1.2rem;
  padding-bottom: 1.1rem;
  vertical-align: top;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  color: #363a47;
}
/* line 31, sass/components-v2-css-modules/_data-tables.scss */
.ref-table th a {
  color: #6d69c5;
  font-weight: 600;
}
/* line 33, sass/components-v2-css-modules/_data-tables.scss */
.ref-table th a:hover {
  color: #4b46b5;
}
/* line 38, sass/components-v2-css-modules/_data-tables.scss */
.ref-table th:first-child {
  padding-left: 1.5rem;
}
/* line 43, sass/components-v2-css-modules/_data-tables.scss */
.ref-table tbody tr:nth-child(odd) {
  background-color: #f2f2f5;
}
/* line 46, sass/components-v2-css-modules/_data-tables.scss */
.ref-table tbody td {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 49, sass/components-v2-css-modules/_data-tables.scss */
.ref-table tbody td:first-child {
  padding-left: 1.5rem;
}
/* line 54, sass/components-v2-css-modules/_data-tables.scss */
.ref-table tbody.ref-table__body--loading table {
  width: 100%;
}
/* line 58, sass/components-v2-css-modules/_data-tables.scss */
.ref-table tbody.ref-table__body--loading tbody tr:nth-child(odd) {
  background-color: #f2f2f5;
}
/* line 62, sass/components-v2-css-modules/_data-tables.scss */
.ref-table tbody.ref-table__body--loading .app-data-cell-number-of-apps span {
  width: 30px;
  height: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background: #e9e9ed;
}
/* line 73, sass/components-v2-css-modules/_data-tables.scss */
.ref-table.ref-table--is-no-data tbody {
  display: none;
}
/* line 77, sass/components-v2-css-modules/_data-tables.scss */
.ref-table .sign-up-link {
  color: #6d69c5;
}
/* line 79, sass/components-v2-css-modules/_data-tables.scss */
.ref-table .sign-up-link:hover {
  color: #4b46b5;
}
/* line 84, sass/components-v2-css-modules/_data-tables.scss */
.ref-table .is-disabled-row td *, .ref-table .is-disabled-row td *:after, .ref-table .is-disabled-row td *:before {
  opacity: 0.6;
}
/* line 87, sass/components-v2-css-modules/_data-tables.scss */
.ref-table .is-disabled-row td .data-table__value-bar {
  opacity: 0.5;
}
/* line 90, sass/components-v2-css-modules/_data-tables.scss */
.ref-table .is-disabled-row td .relink-message {
  position: absolute;
  margin-top: -6px;
  opacity: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #6d69c5;
}

/* line 101, sass/components-v2-css-modules/_data-tables.scss */
.ref-table__row-with-error {
  border: 1px solid #ff496a !important;
  color: #ff496a;
}
/* line 104, sass/components-v2-css-modules/_data-tables.scss */
.ref-table__row-with-error td {
  font-weight: bold;
}
/* line 107, sass/components-v2-css-modules/_data-tables.scss */
.ref-table__row-with-error :after,
.ref-table__row-with-error :before {
  color: #ff496a !important;
}
/* line 111, sass/components-v2-css-modules/_data-tables.scss */
.ref-table__row-with-error .ref-button--primary--small {
  color: #fcfdfd;
}
/* line 113, sass/components-v2-css-modules/_data-tables.scss */
.ref-table__row-with-error .ref-button--primary--small:hover {
  color: #fcfdfd;
}

/* line 118, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps,
.ref-table--publishers {
  margin-bottom: 2rem;
}
@media (min-width: 1100px) {
  /* line 118, sass/components-v2-css-modules/_data-tables.scss */
  .ref-table--apps,
  .ref-table--publishers {
    margin-bottom: 4rem;
  }
}
/* line 124, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps tr,
.ref-table--publishers tr {
  border-bottom: 1px solid #fcfdfd;
}
/* line 127, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .column-row-selector,
.ref-table--publishers .column-row-selector {
  width: 4.9%;
}
/* line 130, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .column-store-icon,
.ref-table--publishers .column-store-icon {
  width: 4%;
}
/* line 132, sass/components-v2-css-modules/_data-tables.scss */
.page-app.page-data-dashboard .ref-table--apps .column-store-icon, .page-app.page-data-dashboard
.ref-table--publishers .column-store-icon {
  width: 6%;
}
/* line 136, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .column-app-name,
.ref-table--publishers .column-app-name {
  width: 25.2%;
}
/* line 138, sass/components-v2-css-modules/_data-tables.scss */
.page-app.page-data-dashboard .ref-table--apps .column-app-name, .page-app.page-data-dashboard
.ref-table--publishers .column-app-name {
  width: 28%;
}
/* line 142, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .column-released,
.ref-table--publishers .column-released {
  width: 8%;
}
/* line 145, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .column-revenue,
.ref-table--publishers .column-revenue {
  width: 12%;
}
/* line 147, sass/components-v2-css-modules/_data-tables.scss */
.page-app.page-data-dashboard .ref-table--apps .column-revenue, .page-app.page-data-dashboard
.ref-table--publishers .column-revenue {
  width: 14%;
}
/* line 151, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .column-downloads,
.ref-table--publishers .column-downloads {
  width: 14%;
}
/* line 153, sass/components-v2-css-modules/_data-tables.scss */
.page-app.page-data-dashboard .ref-table--apps .column-downloads, .page-app.page-data-dashboard
.ref-table--publishers .column-downloads {
  width: 17%;
}
/* line 157, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .column-more,
.ref-table--publishers .column-more {
  width: 4%;
}
/* line 159, sass/components-v2-css-modules/_data-tables.scss */
.page-app.page-data-dashboard .ref-table--apps .column-more, .page-app.page-data-dashboard
.ref-table--publishers .column-more {
  width: 6%;
}
/* line 163, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .column-percentage-of-total,
.ref-table--publishers .column-percentage-of-total {
  width: 23.3%;
}
/* line 166, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .revenue-head-cell,
.ref-table--apps .downloads-head-cell,
.ref-table--publishers .revenue-head-cell,
.ref-table--publishers .downloads-head-cell {
  text-align: right;
  font-size: 1.5rem;
}
/* line 172, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .total-for-period-head-cell span,
.ref-table--publishers .total-for-period-head-cell span {
  display: inline-block;
}
@media (min-width: 2300px) {
  /* line 172, sass/components-v2-css-modules/_data-tables.scss */
  .ref-table--apps .total-for-period-head-cell span,
  .ref-table--publishers .total-for-period-head-cell span {
    display: inline;
  }
}
/* line 178, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .total-for-period-head-cell span:first-child,
.ref-table--publishers .total-for-period-head-cell span:first-child {
  margin-bottom: 0.4rem;
  display: block;
  font-size: 1.4rem;
}
@media (min-width: 2300px) {
  /* line 178, sass/components-v2-css-modules/_data-tables.scss */
  .ref-table--apps .total-for-period-head-cell span:first-child,
  .ref-table--publishers .total-for-period-head-cell span:first-child {
    padding-right: 7px;
    display: inline;
  }
}
/* line 187, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .total-for-period-head-cell span:nth-child(2),
.ref-table--publishers .total-for-period-head-cell span:nth-child(2) {
  color: #ee9063;
  font-size: 1.3rem;
}
/* line 191, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .total-for-period-head-cell span:nth-child(3),
.ref-table--publishers .total-for-period-head-cell span:nth-child(3) {
  margin-left: 1.5rem;
  color: #6d69c5;
  font-size: 1.3rem;
}
/* line 197, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-cell-show-hide,
.ref-table--publishers .app-data-cell-show-hide {
  padding-left: 1.5rem;
}
/* line 199, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-cell-show-hide .form-field--checkbox-list,
.ref-table--publishers .app-data-cell-show-hide .form-field--checkbox-list {
  width: 17px;
  margin-right: 9px;
  padding-top: 3px;
  vertical-align: top;
}
/* line 206, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__store,
.ref-table--publishers .data-table__store {
  position: relative;
  top: -1px;
  left: -1px;
  margin-right: 7px;
  display: inline-block;
  vertical-align: top;
}
/* line 213, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__store:after,
.ref-table--publishers .data-table__store:after {
  font-size: 20px;
  color: #81879d;
}
/* line 217, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__store.ref-icon-after--play-store,
.ref-table--publishers .data-table__store.ref-icon-after--play-store {
  padding-top: 1px;
  padding-left: 1px;
}
/* line 220, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__store.ref-icon-after--play-store:after,
.ref-table--publishers .data-table__store.ref-icon-after--play-store:after {
  font-size: 18px;
}
/* line 224, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__store.is-loading,
.ref-table--publishers .data-table__store.is-loading {
  position: relative;
  left: 2px;
  width: 17px;
  height: 18px;
  background-color: #e9e9ed;
}
/* line 232, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-cell-app-details,
.ref-table--publishers .app-data-cell-app-details {
  padding-top: 7px;
  padding-bottom: 5px;
}
/* line 236, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-cell-released-date,
.ref-table--publishers .app-data-cell-released-date {
  padding-top: 1.7rem;
  vertical-align: top;
}
/* line 239, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-cell-released-date.is-loading span,
.ref-table--publishers .app-data-cell-released-date.is-loading span {
  position: relative;
  top: 1px;
  width: 80%;
  height: 10px;
  display: inline-block;
  background-color: #e9e9ed;
}
/* line 248, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-revenue,
.ref-table--apps .app-data-downloads,
.ref-table--publishers .app-data-revenue,
.ref-table--publishers .app-data-downloads {
  float: right;
  text-align: right;
}
/* line 252, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-revenue.is-loading,
.ref-table--apps .app-data-downloads.is-loading,
.ref-table--publishers .app-data-revenue.is-loading,
.ref-table--publishers .app-data-downloads.is-loading {
  width: 100%;
}
/* line 254, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-revenue.is-loading span,
.ref-table--apps .app-data-downloads.is-loading span,
.ref-table--publishers .app-data-revenue.is-loading span,
.ref-table--publishers .app-data-downloads.is-loading span {
  width: 80%;
  height: 10px;
  display: inline-block;
  background-color: #e9e9ed;
}
/* line 262, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-revenue.is-loading span.data-table__growth,
.ref-table--apps .app-data-downloads.is-loading span.data-table__growth,
.ref-table--publishers .app-data-revenue.is-loading span.data-table__growth,
.ref-table--publishers .app-data-downloads.is-loading span.data-table__growth {
  width: 25%;
}
/* line 267, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-revenue a,
.ref-table--apps .app-data-downloads a,
.ref-table--publishers .app-data-revenue a,
.ref-table--publishers .app-data-downloads a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #6d69c5;
}
/* line 272, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-revenue a:hover,
.ref-table--apps .app-data-downloads a:hover,
.ref-table--publishers .app-data-revenue a:hover,
.ref-table--publishers .app-data-downloads a:hover {
  color: #4b46b5;
}
/* line 277, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-downloads,
.ref-table--publishers .app-data-downloads {
  display: inline-block;
  vertical-align: top;
}
/* line 281, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__growth,
.ref-table--publishers .data-table__growth {
  margin-top: 0.4rem;
  display: block;
  font-weight: 700;
  font-size: 1.2rem;
  color: #c4c7d0;
}
@media (min-width: 1600px) {
  /* line 281, sass/components-v2-css-modules/_data-tables.scss */
  .ref-table--apps .data-table__growth,
  .ref-table--publishers .data-table__growth {
    padding-left: 5px;
    display: inline;
  }
}
/* line 291, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__growth.positive-colour,
.ref-table--publishers .data-table__growth.positive-colour {
  color: #1bc79f;
}
/* line 294, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__growth.negative-colour,
.ref-table--publishers .data-table__growth.negative-colour {
  color: #ff496a;
}
/* line 298, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .more-app-data,
.ref-table--publishers .more-app-data {
  position: absolute;
  top: 0;
  right: 8rem;
  width: 150px;
  padding: 7px;
  display: none;
  z-index: 10;
  text-align: center;
  background-color: #f2f2f5;
  border-radius: 5px;
}
/* line 309, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .more-app-data dt, .ref-table--apps .more-app-data dd,
.ref-table--publishers .more-app-data dt,
.ref-table--publishers .more-app-data dd {
  display: block;
}
/* line 312, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .more-app-data dd,
.ref-table--publishers .more-app-data dd {
  margin-bottom: 0.5rem;
}
/* line 316, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-cell-more,
.ref-table--publishers .app-data-cell-more {
  position: relative;
  padding-left: 12px;
  padding-top: 10px;
  vertical-align: top;
}
@media (min-width: 1600px) {
  /* line 316, sass/components-v2-css-modules/_data-tables.scss */
  .ref-table--apps .app-data-cell-more,
  .ref-table--publishers .app-data-cell-more {
    padding-top: 17px;
  }
}
/* line 324, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-cell-more .more-data-link,
.ref-table--publishers .app-data-cell-more .more-data-link {
  margin-left: 10%;
  vertical-align: top;
  font-size: 1.2rem;
  display: none;
  color: #6d69c5;
}
/* line 330, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-cell-more .more-data-link:hover,
.ref-table--publishers .app-data-cell-more .more-data-link:hover {
  color: #4b46b5;
}
/* line 335, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-cell-more.is-loading span,
.ref-table--publishers .app-data-cell-more.is-loading span {
  position: relative;
  top: 2px;
  width: 50%;
  height: 10px;
  left: 4px;
  display: inline-block;
  background-color: #e9e9ed;
}
/* line 345, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .app-data-cell-more .more-data-link:hover + .more-app-data,
.ref-table--publishers .app-data-cell-more .more-data-link:hover + .more-app-data {
  display: inline-block;
}
/* line 349, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__value-bar,
.ref-table--publishers .data-table__value-bar {
  max-width: 300px;
}
/* line 351, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__value-bar > span,
.ref-table--publishers .data-table__value-bar > span {
  width: 35px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
  color: #6d69c5;
  text-align: center;
}
/* line 359, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__value-bar div,
.ref-table--publishers .data-table__value-bar div {
  width: calc(100% - 53px);
  height: 10px;
  display: inline-block;
  background-color: #e6e6eb;
}
/* line 365, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__value-bar div span,
.ref-table--publishers .data-table__value-bar div span {
  height: 10px;
  display: block;
  background-color: #918edf;
}
/* line 370, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__value-bar:first-child,
.ref-table--publishers .data-table__value-bar:first-child {
  margin-bottom: 4px;
}
/* line 372, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__value-bar:first-child > span,
.ref-table--publishers .data-table__value-bar:first-child > span {
  color: #ee9063;
}
/* line 375, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__value-bar:first-child div span,
.ref-table--publishers .data-table__value-bar:first-child div span {
  background-color: #f5c943;
}
/* line 383, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__value-bar.is-loading span,
.ref-table--publishers .data-table__value-bar.is-loading span {
  width: 22px;
  height: 10px;
  margin-right: 7px;
  background-color: #e9e9ed;
}
/* line 390, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__value-bar a,
.ref-table--publishers .data-table__value-bar a {
  margin-left: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #6d69c5;
}
/* line 396, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__value-bar a:hover,
.ref-table--publishers .data-table__value-bar a:hover {
  color: #4b46b5;
}
/* line 400, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .data-table__value-bar .data-table__value-bar__upgrade,
.ref-table--publishers .data-table__value-bar .data-table__value-bar__upgrade {
  margin-left: 26px;
  color: #c4c7d0;
  text-align: right;
}

/* line 410, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .ratings-container,
.ref-table--apps .ratings-full,
.ref-table--publishers .ratings-container,
.ref-table--publishers .ratings-full,
.ref-table--home-chart .ratings-container,
.ref-table--home-chart .ratings-full {
  background-size: 65px 10px;
}
/* line 414, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps .ratings-container,
.ref-table--publishers .ratings-container,
.ref-table--home-chart .ratings-container {
  width: 65px;
}

/* line 419, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--publishers tbody td:first-child {
  padding-top: 17px;
  padding-bottom: 17px;
}
/* line 423, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--publishers .column-row-selector {
  width: 7%;
}
/* line 426, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--publishers .column-app-name {
  width: 25%;
}
/* line 429, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--publishers .column-apps-number {
  width: 5%;
}
/* line 432, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--publishers .column-revenue {
  width: 15%;
}
/* line 435, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--publishers .column-downloads {
  width: 15%;
}

/* line 439, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps,
.ref-table--apps * {
  overflow: visible;
}

/* line 444, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps.ref-table--apps--country .data-table__app-summary img,
.ref-table--apps.ref-table--apps--country .data-table__app-summary .icon-flag {
  margin-top: 2px;
  width: 32px;
  display: inline-block;
  float: left;
  border-radius: 0;
}
/* line 452, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--apps.ref-table--apps--country .ratings-container {
  margin-top: 2px;
  margin-bottom: 0;
}

/* line 458, sass/components-v2-css-modules/_data-tables.scss */
.data-table__app-summary img {
  width: 42px;
  max-height: 42px;
  display: inline-block;
  float: left;
  border-radius: 9px;
}
/* line 465, sass/components-v2-css-modules/_data-tables.scss */
.data-table__app-summary .data-table__app-details-container {
  width: calc(100% - 55px);
  max-width: 170px;
  margin-left: 11px;
  padding-top: 7px;
  display: inline-block;
  vertical-align: top;
  float: left;
  text-align: left;
}
/* line 474, sass/components-v2-css-modules/_data-tables.scss */
.page-data-dashboard--country .data-table__app-summary .data-table__app-details-container {
  width: calc(100% - 50px);
}
@media (min-width: 1600px) {
  /* line 465, sass/components-v2-css-modules/_data-tables.scss */
  .data-table__app-summary .data-table__app-details-container {
    max-width: 300px;
  }
}

/* line 482, sass/components-v2-css-modules/_data-tables.scss */
.data-table__app-summary__app-name {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-right: 10px;
  font-family: "Lato", sans-serif;
  font-size: 1.39rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 492, sass/components-v2-css-modules/_data-tables.scss */
.data-table__app-summary__app-name a {
  padding-bottom: 0.5rem;
  color: #6d69c5;
}
/* line 495, sass/components-v2-css-modules/_data-tables.scss */
.data-table__app-summary__app-name a:hover {
  color: #4b46b5;
}
/* line 499, sass/components-v2-css-modules/_data-tables.scss */
.data-table__app-summary__app-name.is-loading {
  width: 80%;
  max-width: 200px;
  height: 10px;
  margin-top: 7px;
  margin-bottom: 9px;
  background-color: #e9e9ed;
}
/* line 506, sass/components-v2-css-modules/_data-tables.scss */
.ref-table--publishers .data-table__app-summary__app-name.is-loading {
  margin-top: 5px;
  margin-bottom: 6px;
}

/* line 517, sass/components-v2-css-modules/_data-tables.scss */
.cellTableSortableHeader {
  outline: none;
}
/* line 519, sass/components-v2-css-modules/_data-tables.scss */
.cellTableSortableHeader:focus {
  outline: none;
}
/* line 522, sass/components-v2-css-modules/_data-tables.scss */
.cellTableSortableHeader span {
  cursor: pointer;
}
/* line 524, sass/components-v2-css-modules/_data-tables.scss */
.cellTableSortableHeader span:active {
  position: relative;
  top: 2px;
}
/* line 532, sass/components-v2-css-modules/_data-tables.scss */
.cellTableSortableHeader.is-ascending-first-child span:first-child .sort-svg .ascending {
  fill: #6d69c5;
}
/* line 540, sass/components-v2-css-modules/_data-tables.scss */
.cellTableSortableHeader.is-ascending-first-child.total-for-period-head-cell span:nth-child(2) .sort-svg .ascending {
  fill: #6d69c5;
}
/* line 550, sass/components-v2-css-modules/_data-tables.scss */
.cellTableSortableHeader.is-ascending-last-child span:last-child .sort-svg .ascending {
  fill: #6d69c5;
}
/* line 559, sass/components-v2-css-modules/_data-tables.scss */
.cellTableSortableHeader.is-descending-first-child span:first-child .sort-svg .descending {
  fill: #6d69c5;
}
/* line 567, sass/components-v2-css-modules/_data-tables.scss */
.cellTableSortableHeader.is-descending-first-child.total-for-period-head-cell span:nth-child(2) .sort-svg .descending {
  fill: #6d69c5;
}
/* line 577, sass/components-v2-css-modules/_data-tables.scss */
.cellTableSortableHeader.is-descending-last-child span:last-child .sort-svg .descending {
  fill: #6d69c5;
}

/* line 586, sass/components-v2-css-modules/_data-tables.scss */
.ref-table:not(.ref-table--home-chart) .ref-icon-after--equals:after {
  top: 0px;
  left: 2px;
  font-size: 12px;
  color: #c4c7d0;
}

/* line 594, sass/components-v2-css-modules/_data-tables.scss */
.data-coming-soon {
  color: #81879d;
  cursor: pointer;
}
