/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Global */
/* Base */
/* Layout */
/* line 7, sass/helpers/_placeholders.scss */
address, article, aside, blockquote, center, dir, div, dd, details, dl, dt, fieldset, figcaption, figure, form, footer, frameset, h1, h2, h3, h4, h5, h6, hr, header, hgroup, isindex, main, menu, nav, noframes, noscript, ol, p, pre, section, summary, ul,
li {
  width: auto;
  overflow: hidden;
}

/* Typography */
/* line 28, sass/helpers/_placeholders.scss */
html, body, input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* UI */
/* Templates */
@font-face {
  font-family: 'Lato-Local';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(fonts/offline-fonts/Lato-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Lato-Local';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(fonts/offline-fonts/Lato-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro Local';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"), url(fonts/offline-fonts/SourceSansPro-SemiBold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro Local';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(fonts/offline-fonts/SourceSansPro-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* line 33, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz {
  height: 100vh;
  padding-top: 80px;
  text-align: center;
  background: #FCFDFD;
}
@media (min-width: 1005px) {
  /* line 33, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz {
    padding-top: 0;
  }
  /* line 40, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.35em;
  }
  /* line 48, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz > * {
    display: inline-block;
    vertical-align: middle;
  }
}

/* line 54, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__main {
  position: relative;
  width: calc(1338/4 * 3px);
  height: calc(900/4 * 3px);
  display: inline-block;
  overflow: hidden;
  font-size: 0;
}
@media (min-width: 1460px) {
  /* line 54, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__main {
    width: 1338px;
    height: 900px;
  }
}

/* line 66, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question-list {
  position: relative;
  width: 10000px;
  height: calc(568/4* 3px);
  display: inline-block;
  overflow: visible;
  text-align: left;
}
@media (min-width: 1460px) {
  /* line 66, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__question-list {
    height: 568px;
  }
}

/* line 77, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question {
  position: relative;
  width: 980px;
  height: calc(548/4 * 3px);
  margin: 0 200px 0 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
}
@media (min-width: 1460px) {
  /* line 77, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__question {
    width: 1338px;
    height: 568px;
  }
}

/* line 91, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question-text {
  padding: 0 40px;
  color: #29292C;
  font-family: "Source Sans Pro Local", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
}
@media (min-width: 1460px) {
  /* line 91, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__question-text {
    font-size: 80px;
    line-height: 100px;
  }
}

/* line 104, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question-image {
  width: calc(300/4 * 3px);
  height: calc(300/4 * 3px);
  margin-left: 36px;
  float: left;
}
/* line 109, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question-image + .page-develop-quiz__question-text {
  padding-left: 50px;
  text-align: left;
}
@media (min-width: 1460px) {
  /* line 104, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__question-image {
    width: 317px;
    height: 317px;
  }
  /* line 116, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__question-image + .page-develop-quiz__question-text {
    padding-left: 110px;
  }
}

/* line 121, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__answers-list {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* line 128, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__answer {
  margin-left: calc(40/4 * 3px);
  display: inline-block;
}
/* line 131, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__answer:first-child {
  margin-left: 0;
}
@media (min-width: 1460px) {
  /* line 128, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__answer {
    margin-left: 46px;
  }
}

/* line 138, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button {
  width: calc(380/4 * 3px);
  height: calc(148/4 * 3px);
  text-align: center;
  font-family: "Lato-Local", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #6D69C5;
  border: 5px solid #C4C7D0;
  border-radius: 18px;
  background-color: #F5F9F9;
  cursor: pointer;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
/* line 151, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button:hover {
  background-color: #E6EEEE;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
/* line 155, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button:active {
  color: #FCFDFD;
  border-color: #524FA5;
  background-color: #6D69C5;
  -webkit-transition: none;
          transition: none;
}
/* line 161, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button.is-incorrect, .page-develop-quiz__button.is-incorrect:hover {
  color: #FCFDFD;
  border-color: #B02841;
  background-color: #FF496A;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
/* line 168, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button.is-correct, .page-develop-quiz__button.is-correct:hover {
  color: #FCFDFD;
  border-color: #17836A;
  background-color: #1BC79F;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
/* line 175, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button.quiz-button--small {
  font-size: 40px;
}
@media (min-width: 1460px) {
  /* line 175, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__button.quiz-button--small {
    font-size: 65px;
  }
}
/* line 181, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button.quiz-button--smaller {
  width: calc(197/4*3px);
  height: calc(85/4*3px);
  font-size: 30px;
  border-width: 3px;
  border-radius: 10px;
}
@media (min-width: 1460px) {
  /* line 181, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__button.quiz-button--smaller {
    width: 197px;
    height: 85px;
    font-size: 40px;
  }
}
@media (min-width: 1460px) {
  /* line 138, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__button {
    width: 415px;
    height: 151px;
    font-size: 80px;
  }
}

/* line 199, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button--restart {
  position: absolute;
  bottom: 134px;
  left: 80px;
  padding-bottom: 3px;
  opacity: 0;
  font-family: "Source Sans Pro Local", sans-serif;
  font-weight: 600;
}
/* line 207, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button--restart.is-showing {
  opacity: 1;
  -webkit-transition: 0.2s;
          transition: 0.2s;
}
@media (min-width: 1460px) {
  /* line 199, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__button--restart {
    bottom: 125px;
    right: 0;
    left: auto;
  }
}

/* line 217, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__score-image {
  width: calc(500/4 * 3px);
  margin-left: 40px;
  float: left;
}
/* line 221, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__score-image + .page-develop-quiz__question-text {
  padding-left: 50px;
  text-align: left;
}
@media (min-width: 1460px) {
  /* line 217, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__score-image {
    width: 500px;
  }
}

/* line 229, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question-text + .page-develop-quiz__score-text {
  margin-top: calc(42/4 * 3px);
}
@media (min-width: 1460px) {
  /* line 229, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__question-text + .page-develop-quiz__score-text {
    margin-top: 42px;
  }
}

/* line 235, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__score-text {
  margin: 32px 0 0 0;
  padding-left: 50px;
  padding-right: 60px;
  font-family: "Lato-Local", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 53px;
  color: #63636B;
}
@media (min-width: 1460px) {
  /* line 235, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__score-text {
    padding-left: 110px;
  }
}

/* line 248, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress {
  position: absolute;
  width: 723px;
  left: 140px;
  bottom: 150px;
  overflow: visible;
}
@media (min-width: 1460px) {
  /* line 248, sass/templates-design-kit-v2/_develop-quiz.scss */
  .page-develop-quiz__progress {
    left: 345px;
    bottom: 149px;
  }
}

/* line 259, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__bar {
  width: 100%;
  height: 27px;
  background-color: #EBEBEB;
}

/* line 265, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__bar__fill {
  width: 0%;
  height: 27px;
  background-color: #36FED0;
  -webkit-transition: width 0.5s ease;
          transition: width 0.5s ease;
}

@-webkit-keyframes hamster-progress-run {
  100% {
    background-position: -600px 0;
  }
}
@keyframes hamster-progress-run {
  100% {
    background-position: -600px 0;
  }
}
@-webkit-keyframes hamster-progress-eating {
  100% {
    background-position: -1400px 0;
  }
}
@keyframes hamster-progress-eating {
  100% {
    background-position: -1400px 0;
  }
}
/* line 283, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster {
  position: absolute;
  top: -39px;
  left: 0;
  width: 150px;
  height: 87px;
  margin-left: -75px;
  display: inline-block;
  -webkit-transition: left 0.5s ease;
          transition: left 0.5s ease;
}
/* line 292, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster img {
  width: 100%;
}
/* line 295, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster.is-running {
  background-image: url("images/develop-quiz/sprite-hamster-run@2x.png");
  background-size: 600px 87px;
  background-position: 0 0;
  -webkit-animation: hamster-progress-run 0.4s infinite steps(4);
  animation: hamster-progress-run 0.4s infinite steps(4);
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 303, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster.is-running img {
  display: none;
}
/* line 307, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster.is-eating {
  top: -70px;
  width: 100px;
  height: 126px;
  background-image: url("images/develop-quiz/sprite-hamster-eating@2x.png");
  background-size: 1400px 125px;
  background-position: 0 0;
  -webkit-animation: hamster-progress-eating 2s infinite steps(14);
  animation: hamster-progress-eating 2s infinite steps(14);
}
/* line 316, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster.is-eating img {
  display: none;
}

/* line 321, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster-nut {
  position: absolute;
  top: -26px;
  right: -10px;
  width: 48px;
  height: 70px;
}
/* line 327, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster-nut img {
  width: 100%;
}

/* Browser fixes */
/* No files to import found in ../support/* */
/* line 28, sass/base/_base-develop-quiz.scss */
p.browserupgrade {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
}

/* line 36, sass/base/_base-develop-quiz.scss */
* {
  text-decoration: none;
}

/* line 39, sass/base/_base-develop-quiz.scss */
html, body {
  position: relative;
  overflow-x: hidden;
  font-size: 10px;
  line-height: 1.5rem;
  -webkit-text-size-adjust: 100%;
}

/* line 48, sass/base/_base-develop-quiz.scss */
html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

/* line 52, sass/base/_base-develop-quiz.scss */
body {
  min-height: 100vh;
}

/* line 55, sass/base/_base-develop-quiz.scss */
address, article, aside, blockquote, center, dir, div, dd, details, dl, dt, fieldset, figcaption, figure, form, footer, frameset, h1, h2, h3, h4, h5, h6, hr, header, hgroup, isindex, main, menu, nav, noframes, noscript, ol, p, pre, section, summary, ul,
li {
  box-sizing: border-box;
}

/* line 60, sass/base/_base-develop-quiz.scss */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
  cursor: pointer;
  text-shadow: none !important;
}

/* line 78, sass/base/_base-develop-quiz.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 83, sass/base/_base-develop-quiz.scss */
button, a {
  outline: none;
}

/* line 86, sass/base/_base-develop-quiz.scss */
.touchevents * {
  -webkit-tap-highlight-color: transparent;
}

/* line 89, sass/base/_base-develop-quiz.scss */
input::-ms-clear {
  display: none;
}
