/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Typography */
/*  Mixins as placeholders - so that they appear inline with the style selectors
/   These are used where groups of styles need to be called but shouldn't be output to the main stylesheet
*/
/* Global */
/* line 27, sass/ui/_colours.scss */
.positive-colour {
  color: #1bc79f;
}

/* line 30, sass/ui/_colours.scss */
.negative-colour {
  color: #ff496a;
}

/* line 33, sass/ui/_colours.scss */
.neutral-colour {
  color: #81879d;
}

/* Base */
/* Layout */
/* line 7, sass/helpers/_placeholders.scss */
address, article, aside, blockquote, center, dir, div, dd, details, dl, dt, fieldset, figcaption, figure, form, footer, frameset, h1, h2, h3, h4, h5, h6, hr, header, hgroup, isindex, main, menu, nav, noframes, noscript, ol, p, pre, section, summary, ul,
li {
  width: auto;
  overflow: hidden;
}

/* Typography */
/* line 28, sass/helpers/_placeholders.scss */
html, body, input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* UI */
/* line 55, sass/helpers/_placeholders.scss */
.is-loading-background {
  background-color: #e9e9ed;
  background: -webkit-linear-gradient(0deg, #f2f2f5, #f2f2f5, #e4e4e6, #f2f2f5, #f2f2f5);
  background: linear-gradient(90deg, #f2f2f5, #f2f2f5, #e4e4e6, #f2f2f5, #f2f2f5);
  background-size: 200% 100%;
  -webkit-animation: BackgroundGradientPulse 1.5s linear infinite;
          animation: BackgroundGradientPulse 1.5s linear infinite;
}

/* Templates */
/* line 1, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz {
  height: 100vh;
  text-align: center;
  background: #FCFDFD;
}
/* line 5, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.35em;
}
/* line 13, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz > * {
  display: inline-block;
  vertical-align: middle;
}

/* line 18, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__main {
  position: relative;
  width: 1338px;
  height: 900px;
  display: inline-block;
  overflow: hidden;
  font-size: 0;
}

/* line 26, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question-list {
  position: relative;
  width: 10000px;
  height: 568px;
  display: inline-block;
  overflow: visible;
  text-align: left;
}

/* line 34, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question {
  position: relative;
  width: 1338px;
  height: 568px;
  margin: 0 200px 0 0;
  padding: 0;
  display: inline-block;
  font-weight: 700;
}

/* line 43, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question-text {
  color: #29292C;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 80px;
  line-height: 100px;
  text-align: center;
}

/* line 50, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question-image {
  width: 317px;
  height: 317px;
  float: left;
}
/* line 54, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question-image + .page-develop-quiz__question-text {
  padding-left: 110px;
  text-align: left;
}

/* line 59, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__answers-list {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 64, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__answer {
  margin-left: 46px;
  display: inline-block;
}
/* line 67, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__answer:first-child {
  margin-left: 0;
}

/* line 71, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button {
  width: 415px;
  height: 151px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #6D69C5;
  border: 5px solid #C4C7D0;
  border-radius: 20px;
  background-color: #F5F9F9;
  cursor: pointer;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
/* line 84, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button:hover {
  background-color: #E6EEEE;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
/* line 88, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button:active {
  color: #FCFDFD;
  border-color: #524FA5;
  background-color: #6D69C5;
  -webkit-transition: none;
          transition: none;
}
/* line 94, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button.is-incorrect, .page-develop-quiz__button.is-incorrect:hover {
  color: #FCFDFD;
  border-color: #B02841;
  background-color: #FF496A;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
/* line 101, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button.is-correct, .page-develop-quiz__button.is-correct:hover {
  color: #FCFDFD;
  border-color: #17836A;
  background-color: #1BC79F;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
/* line 108, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__button.quiz-button--small {
  font-size: 65px;
}

/* line 112, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__score-image {
  width: 500px;
  float: left;
}
/* line 115, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__score-image + .page-develop-quiz__question-text {
  padding-left: 110px;
  text-align: left;
}

/* line 120, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__question-text + .page-develop-quiz__score-text {
  margin-top: 42px;
}

/* line 123, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__score-text {
  margin: 32px 0 0 0;
  padding-left: 110px;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  color: #63636B;
}

/* line 132, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress {
  position: absolute;
  width: 723px;
  left: 345px;
  bottom: 149px;
  overflow: visible;
}

/* line 139, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__bar {
  width: 100%;
  height: 27px;
  background-color: #EBEBEB;
}

/* line 144, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__bar__fill {
  width: 0%;
  height: 27px;
  background-color: #36FED0;
  -webkit-transition: width 0.5s;
          transition: width 0.5s;
}

/* line 150, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster {
  position: absolute;
  top: -29px;
  left: 0;
  margin-left: -75px;
  width: 149px;
  height: 77px;
  display: inline-block;
  -webkit-transition: left 0.5s;
          transition: left 0.5s;
}
/* line 159, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster img {
  width: 100%;
}

/* line 163, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster-nut {
  position: absolute;
  top: -26px;
  right: -10px;
  width: 48px;
  height: 70px;
}
/* line 169, sass/templates-design-kit-v2/_develop-quiz.scss */
.page-develop-quiz__progress__hamster-nut img {
  width: 100%;
}

/* Browser fixes */
/* No files to import found in ../support/* */
/* line 28, sass/base/_base-develop-quiz.scss */
p.browserupgrade {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
}

/* line 36, sass/base/_base-develop-quiz.scss */
* {
  text-decoration: none;
}

/* line 39, sass/base/_base-develop-quiz.scss */
html, body {
  position: relative;
  overflow-x: hidden;
  font-size: 10px;
  line-height: 1.5rem;
  -webkit-text-size-adjust: 100%;
}

/* line 48, sass/base/_base-develop-quiz.scss */
html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

/* line 52, sass/base/_base-develop-quiz.scss */
body {
  min-height: 100vh;
}

/* line 55, sass/base/_base-develop-quiz.scss */
address, article, aside, blockquote, center, dir, div, dd, details, dl, dt, fieldset, figcaption, figure, form, footer, frameset, h1, h2, h3, h4, h5, h6, hr, header, hgroup, isindex, main, menu, nav, noframes, noscript, ol, p, pre, section, summary, ul,
li {
  box-sizing: border-box;
}

/* line 60, sass/base/_base-develop-quiz.scss */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
  cursor: pointer;
  text-shadow: none !important;
}

/* line 78, sass/base/_base-develop-quiz.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 83, sass/base/_base-develop-quiz.scss */
button, a {
  outline: none;
}

/* line 86, sass/base/_base-develop-quiz.scss */
.touchevents * {
  -webkit-tap-highlight-color: transparent;
}

/* line 89, sass/base/_base-develop-quiz.scss */
input::-ms-clear {
  display: none;
}
