/* Global */
/* line 8, sass/components-v2-css-modules/_global-panel-right.scss */
.panel-right-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  -ms-pointer-events: none;
  pointer-events: none;
}
/* line 18, sass/components-v2-css-modules/_global-panel-right.scss */
.panel-right-container.is-showing {
  overflow: auto;
  overflow-x: hidden;
  -ms-pointer-events: auto;
  pointer-events: auto;
  z-index: 500;
}
/* line 25, sass/components-v2-css-modules/_global-panel-right.scss */
.no-csstransitions .panel-right-container {
  display: none;
}
/* line 27, sass/components-v2-css-modules/_global-panel-right.scss */
.no-csstransitions .panel-right-container.is-showing {
  display: block;
}

/* line 32, sass/components-v2-css-modules/_global-panel-right.scss */
.panel-right__overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #29292b;
  opacity: 0;
  visibility: hidden;
}
/* line 41, sass/components-v2-css-modules/_global-panel-right.scss */
.no-touchevents .panel-right__overlay {
  -webkit-transition: opacity 0.18s, visibility 0.01s 0.27s;
          transition: opacity 0.18s, visibility 0.01s 0.27s;
}
/* line 44, sass/components-v2-css-modules/_global-panel-right.scss */
.is-showing .panel-right__overlay {
  visibility: visible;
  opacity: 0.5;
}
/* line 47, sass/components-v2-css-modules/_global-panel-right.scss */
.no-touchevents .is-showing .panel-right__overlay {
  -webkit-transition: opacity 0.27s;
          transition: opacity 0.27s;
}
/* line 51, sass/components-v2-css-modules/_global-panel-right.scss */
.no-js .panel-right__overlay {
  display: none;
}

/* line 55, sass/components-v2-css-modules/_global-panel-right.scss */
.panel-right,
.no-js .panel-right {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  padding-top: 69px;
  display: block;
  overflow: auto;
  font-size: 10px;
  background-color: #29292c;
}
/* line 67, sass/components-v2-css-modules/_global-panel-right.scss */
.no-touchevents .panel-right, .no-touchevents
.no-js .panel-right {
  -webkit-transition: right 0.1s ease-in;
          transition: right 0.1s ease-in;
}
/* line 70, sass/components-v2-css-modules/_global-panel-right.scss */
.is-showing .panel-right, .is-showing
.no-js .panel-right {
  right: 0;
}
/* line 72, sass/components-v2-css-modules/_global-panel-right.scss */
.no-touchevents .is-showing .panel-right, .no-touchevents .is-showing
.no-js .panel-right {
  -webkit-transition: right 0.1s 0.1s ease-out;
          transition: right 0.1s 0.1s ease-out;
}
@media (min-width: 720px) {
  /* line 76, sass/components-v2-css-modules/_global-panel-right.scss */
  .panel-right .blockquote-container,
  .no-js .panel-right .blockquote-container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    padding: 0 28px 50px 28px;
    opacity: 0;
  }
  /* line 84, sass/components-v2-css-modules/_global-panel-right.scss */
  .is-showing .panel-right .blockquote-container, .is-showing
  .no-js .panel-right .blockquote-container {
    opacity: 1;
    -webkit-transition: opacity 0.2s 0.2s;
            transition: opacity 0.2s 0.2s;
  }
  /* line 88, sass/components-v2-css-modules/_global-panel-right.scss */
  .panel-right .blockquote-container blockquote:before,
  .no-js .panel-right .blockquote-container blockquote:before {
    left: -4px;
    color: #363a47;
  }
}
@media screen and (max-height: 650px) {
  /* line 94, sass/components-v2-css-modules/_global-panel-right.scss */
  .panel-right .login-panel + .blockquote-container,
  .no-js .panel-right .login-panel + .blockquote-container {
    display: none;
  }
}
@media screen and (max-height: 750px) {
  /* line 99, sass/components-v2-css-modules/_global-panel-right.scss */
  .panel-right .main-navigation--account + .blockquote-container,
  .no-js .panel-right .main-navigation--account + .blockquote-container {
    display: none;
  }
}

/* line 105, sass/components-v2-css-modules/_global-panel-right.scss */
.panel-right.search-container {
  right: -319px;
  width: 319px;
  height: 630px;
  background-color: #fcfdfd;
}
/* line 110, sass/components-v2-css-modules/_global-panel-right.scss */
.no-touchevents .panel-right.search-container {
  -webkit-transition: none;
          transition: none;
}
/* line 113, sass/components-v2-css-modules/_global-panel-right.scss */
.is-showing .panel-right.search-container {
  right: 0;
}
/* line 115, sass/components-v2-css-modules/_global-panel-right.scss */
.no-touchevents .is-showing .panel-right.search-container {
  -webkit-transition: none;
          transition: none;
}
