/* Global */
/* line 6, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard {
  padding-top: 2.8rem;
}
/* line 8, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .grid__row--heading-row__left {
  width: 60%;
  margin-bottom: 2rem;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
/* line 14, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .grid__row--heading-row__left .toggle-container {
  margin-top: 1px;
  display: inline-block;
}
/* line 17, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .grid__row--heading-row__left .toggle-container label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
}
@media (min-width: 1150px) {
  /* line 8, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
  .page-developer-leaderboard .grid__row--heading-row__left {
    margin-bottom: 0;
  }
  /* line 24, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
  .page-developer-leaderboard .grid__row--heading-row__left .toggle-container {
    margin-top: 5px;
  }
}
/* line 29, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .page-developer-leaderboard__total {
  color: #c4c7d0;
  font-size: 1.6rem;
  font-weight: 400;
}
/* line 34, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .page-developer-leaderboard__total__value {
  margin-top: -1px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fcfdfd;
}
/* line 44, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .grid__row--heading-row__right {
  width: 39%;
  padding-top: 1.3rem;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-align: right;
}
/* line 52, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .filters-container {
  margin-bottom: 3rem;
}
/* line 54, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .filters-container .toggle-container {
  margin-right: 1rem;
}
/* line 57, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .filters-container > div {
  margin-bottom: 10px;
  display: inline-block;
}
/* line 61, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .filters-container .dropdown-category-google {
  display: none;
}
/* line 65, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .row-headings {
  padding: 0 13px 1rem;
  border-bottom: 1px solid #161617;
}
/* line 69, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .row-headings__heading {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  color: #fcfdfd;
}
/* line 75, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .developer-rank-container,
.page-developer-leaderboard .developer-container,
.page-developer-leaderboard .revenue-container,
.page-developer-leaderboard .app-breakdown-container {
  display: inline-block;
  vertical-align: top;
}
/* line 82, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .grid__row,
.page-developer-leaderboard .grid__row * {
  overflow: visible;
}
/* line 86, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .data-row {
  padding: 14px 13px 13px;
  color: #fcfdfd;
  border-bottom: #29292c solid 2px;
  background-color: #343438;
}
/* line 92, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .developer-rank-container {
  width: 7%;
}
/* line 95, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .developer-container {
  width: 25%;
  padding-right: 15px;
}
/* line 99, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .revenue-container {
  width: 11%;
}
/* line 102, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .app-breakdown-container {
  width: 56%;
}
/* line 105, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .chart__loading,
.page-developer-leaderboard .chart__no-data {
  display: none;
}
/* line 110, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard.is-loading .chart__loading {
  display: block;
}
/* line 113, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard.is-loading .page-developer-leaderboard__chart-container,
.page-developer-leaderboard.is-loading .page-developer-leaderboard__total__value {
  display: none;
}
/* line 118, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard .page-developer-leaderboard__chart-container {
  margin-bottom: 6rem;
  overflow: visible;
}

/* line 124, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.data-row .developer-rank-container {
  margin-top: 6px;
  font-size: 1.4rem;
  font-weight: bold;
}
/* line 129, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.data-row .developer-container {
  margin-top: 3px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 138, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.data-row .revenue-container {
  margin-top: 6px;
  font-size: 1.4rem;
  font-weight: bold;
}
/* line 143, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.data-row .app-breakdown-container {
  height: 28px;
}
/* line 145, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.data-row .app-breakdown-container .percentage-container {
  width: 50px;
  margin-top: 6px;
  float: left;
  font-size: 1.4rem;
  font-weight: bold;
  color: #F2F2F5;
}

/* line 155, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.page-developer-leaderboard__page-title {
  margin-right: 2rem;
  font-size: 2.6rem;
  display: inline-block;
}
@media (min-width: 1150px) {
  /* line 155, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
  .page-developer-leaderboard__page-title {
    font-size: 3.4rem;
    margin-right: 3.1rem;
  }
}

/* line 164, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue__data-bar {
  width: calc(100% - 50px);
  display: inline-block;
}

/* line 168, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container {
  height: 28px;
  font-size: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
}
/* line 172, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .app-breakdown {
  width: 100%;
  display: block;
  float: left;
}
/* line 177, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue {
  position: relative;
  height: 28px;
  width: 0;
  float: left;
  cursor: pointer;
  will-change: width;
  -webkit-transition: background-color 0.3s, width 1s;
  transition: background-color 0.3s, width 1s;
}
/* line 185, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:hover {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
/* line 188, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(1n) {
  background-color: #F5C942;
}
/* line 190, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(1n):hover {
  background-color: #f4c22a;
}
/* line 194, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(2n) {
  background-color: #918EDF;
}
/* line 196, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(2n):hover {
  background-color: #7e7ad9;
}
/* line 200, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(3n) {
  background-color: #7FC2B5;
}
/* line 202, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(3n):hover {
  background-color: #6ebaab;
}
/* line 206, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(4n) {
  background-color: #E77465;
}
/* line 208, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(4n):hover {
  background-color: #e04c39;
}
/* line 212, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(5n) {
  background-color: #74A1C2;
}
/* line 214, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(5n):hover {
  background-color: #5189b2;
}
/* line 218, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(6n) {
  background-color: #DDACC5;
}
/* line 220, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(6n):hover {
  background-color: #ce88ac;
}
/* line 224, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(7n) {
  background-color: #B6A38C;
}
/* line 226, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(7n):hover {
  background-color: #a28a6d;
}
/* line 230, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(8n) {
  background-color: #AC72AE;
}
/* line 232, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(8n):hover {
  background-color: #945697;
}
/* line 236, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(9n) {
  background-color: #C6C6C6;
}
/* line 238, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(9n):hover {
  background-color: #adadad;
}
/* line 242, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(10n) {
  background-color: #E9A551;
}
/* line 244, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(10n):hover {
  background-color: #e38e24;
}
/* line 248, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(11n) {
  background-color: #AEA9C8;
}
/* line 250, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-apps-revenue-container .developer-app-revenue:nth-child(11n):hover {
  background-color: #918ab4;
}

/* line 256, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-leaderboard__app-details {
  position: absolute;
  bottom: 34px;
  right: 0;
  width: 200px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  text-align: center;
  pointer-events: none;
  background-color: #363a47;
}
/* line 268, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-leaderboard__app-details img {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  border-radius: 7px;
}
/* line 274, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-leaderboard__app-details h2 {
  margin-bottom: 1px;
  font-size: 13px;
  margin-top: 0;
  text-align: center;
  color: #fcfdfd;
}
/* line 281, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-leaderboard__app-details h3 {
  margin-bottom: 10px;
  font-size: 16px;
  margin-top: 0;
  text-align: center;
  color: #fcfdfd;
}
/* line 288, sass/components-v2-css-modules/_page-developer-leaderboard.scss */
.developer-app-revenue:hover .developer-leaderboard__app-details {
  display: block;
}
