/* Global */
/* line 6, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing {
  padding-top: 8.2rem;
  text-align: center;
}
/* line 9, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing .page-title {
  margin-bottom: 5rem;
  font-size: 33px;
  text-align: center;
  letter-spacing: 0.014em;
}
/* line 15, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing .home-section-quote {
  text-align: left;
}
/* line 18, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing .current-subscription-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14.9px;
  font-weight: 600;
  color: #fcfdfd;
}
/* line 23, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing .current-subscription-text:before {
  position: relative;
  top: 4px;
  padding-right: 7px;
  font-size: 19px;
  color: #25f9c8;
}
/* line 30, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing .current-subscription-text span {
  position: relative;
  top: 2px;
}

/* line 36, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container {
  width: calc(100% - 40px);
  max-width: 981px;
  margin: 0 auto;
  display: inline-block;
  font-size: 0;
}

/* line 43, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column {
  display: inline-block;
  vertical-align: top;
}
/* line 46, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail {
  padding: 13px 25px;
  line-height: 1.5;
  color: #fcfdfd;
  font-size: 1.4rem;
  background-color: #363A47;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
/* line 54, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail:last-child {
  padding-bottom: 24px;
}
/* line 57, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail .ref-button--primary--large {
  width: 100%;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fcfdfd;
}
/* line 62, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail .ref-button--primary--large:hover {
  color: #fcfdfd;
}
/* line 66, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail strong {
  font-weight: 600;
}
/* line 68, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail strong + .current-subscription-text {
  margin-top: 20px;
  margin-bottom: 15px;
  display: inline-block;
}
/* line 72, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail strong + .current-subscription-text:before {
  top: 0;
}
/* line 77, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail .ref-button--primary--small {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 5px;
  padding-top: 1.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 83, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail .ref-button--primary--small:active {
  padding-top: calc(1.1rem - 1px);
}
/* line 87, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail a {
  color: #918EDF;
}
/* line 89, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail a:hover {
  color: #7e7ad9;
}
/* line 94, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-features {
  display: none;
}
/* line 96, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-features .pricing-detail {
  border-bottom: 0;
}
/* line 101, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column.is-showing-features .pricing-features {
  display: block;
}

/* line 106, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column--small {
  width: 30%;
}

/* line 109, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column--large {
  width: 40%;
}

/* line 112, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header {
  position: relative;
  height: 259px;
  padding: 2.4rem 2rem 0;
  border-bottom: 1px solid #000;
  background-color: #81879d;
}
/* line 118, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header .pricing-title {
  margin-bottom: 0.7rem;
  font-size: 2.8rem;
  color: #fcfdfd;
}
/* line 123, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header .pricing-cost {
  margin-bottom: 1.4rem;
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #fcfdfd;
}
/* line 129, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header .pricing-cost span {
  position: relative;
  top: 9px;
  left: 1px;
  vertical-align: top;
  font-size: 1.4rem;
}
/* line 137, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header .pricing-description {
  font-size: 16px;
  line-height: 1.5;
  color: #fcfdfd;
}
/* line 142, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header .pricing-details-title {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  color: #A5F9E5;
}

/* line 156, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(1) {
  margin-top: 26px;
}
/* line 158, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(1) .pricing-container__column__header {
  border-radius: 10px 0 0;
}
/* line 161, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(1) .pricing-detail:last-child {
  border-radius: 0 0 0 10px;
}
/* line 164, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(1) .ref-button--primary--large {
  background-color: #81879d;
}
/* line 167, sass/components-v2-css-modules/_page-pricing.scss */
.no-touchevents .pricing-container__column:nth-child(1) .ref-button--primary--large:hover {
  background-color: #676d84;
}

/* line 173, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2) {
  border-radius: 10px;
}
/* line 175, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2) .pricing-container__column__header {
  height: 285px;
  padding-top: 2rem;
  border-radius: 0 10px 0 0;
  background-color: #6d69c5;
}
/* line 181, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2) .pricing-title {
  font-size: 3.4rem;
}
/* line 184, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2) .pricing-cost {
  font-size: 4.0rem;
}
/* line 187, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2) .pricing-description {
  font-weight: 700;
}

/* line 191, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(3) {
  margin-top: 26px;
}
/* line 193, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(3) .pricing-container__column__header {
  border-radius: 0 10px 0 0;
  background-color: #1bc79f;
}
/* line 197, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(3) .pricing-detail:last-child {
  border-radius: 0 0 10px;
}
/* line 200, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(3) .ref-button--primary--large {
  background-color: #1bc79f;
}
/* line 203, sass/components-v2-css-modules/_page-pricing.scss */
.no-touchevents .pricing-container__column:nth-child(3) .ref-button--primary--large:hover {
  background-color: #159a7b;
}

/* line 209, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-link-see-features {
  margin-top: 12px;
  margin-bottom: 4px !important;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: #918EDF;
}
/* line 217, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-link-see-features:hover {
  color: #7e7ad9;
}
/* line 220, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-link-see-features span:first-child {
  display: inline;
}
/* line 223, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-link-see-features span:nth-child(2) {
  display: none;
}
/* line 227, sass/components-v2-css-modules/_page-pricing.scss */
.is-showing-features .pricing-link-see-features span:first-child {
  display: none;
}
/* line 230, sass/components-v2-css-modules/_page-pricing.scss */
.is-showing-features .pricing-link-see-features span:nth-child(2) {
  display: inline;
}

/* line 235, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-foot-content {
  margin: 0 auto 6rem;
  max-width: 660px;
  text-align: center;
}
/* line 239, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-foot-content button {
  margin: 2.2rem 0;
}
