/* Global */
/* Base */
/* Layout */
/* Typography */
/* line 28, sass/helpers/_placeholders.scss */
.page-loading {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* UI */
/* Global */
@-webkit-keyframes backgroundMoveRightToLeft {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -190px 0;
  }
}
@keyframes backgroundMoveRightToLeft {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -190px 0;
  }
}
@-webkit-keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 470px 0;
  }
}
@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 470px 0;
  }
}
@-webkit-keyframes BackgroundGradientPulse {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}
@keyframes BackgroundGradientPulse {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}
/* line 19, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 1000;
  opacity: 0.9;
  background-color: #6f6cbe;
  /* @alternate */
  background: -webkit-repeating-linear-gradient(135deg, #7773ce, #7773ce 25%, #6d69c5 25%, #6d69c5 50%, #7773ce 50%) top left;
  background: repeating-linear-gradient(-45deg, #7773ce, #7773ce 25%, #6d69c5 25%, #6d69c5 50%, #7773ce 50%) top left;
  background-size: 47px 47px;
  -webkit-animation: backgroundMove 5s linear infinite;
          animation: backgroundMove 5s linear infinite;
  -webkit-transition: height 0.2s;
          transition: height 0.2s;
}
/* line 40, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading span {
  position: relative;
  padding: 13px 30px 0 0;
  display: inline-block;
  z-index: 2;
  float: right;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #fcfdfd;
}
/* line 52, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading.is-closing, .page-loading.is-opening {
  height: 0;
  -webkit-transition: height 0.2s;
          transition: height 0.2s;
}
/* line 57, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading.is-complete {
  background: #1bc79f;
  -webkit-animation: none;
          animation: none;
}
/* line 60, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading.is-complete .loading-progress {
  background: #1bc79f;
}
/* line 64, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading.is-complete--error {
  background: #ff496a;
  -webkit-animation: none;
          animation: none;
}
/* line 67, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading.is-complete--error .loading-progress {
  background: #ff496a;
}
/* line 71, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading.page-loading--determinate {
  background: #6d69c5;
  -webkit-animation: none;
          animation: none;
}
/* line 74, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading.page-loading--determinate.is-closing, .page-loading.page-loading--determinate.is-opening {
  height: 0;
  -webkit-transition: height 0.2s;
          transition: height 0.2s;
}
/* line 80, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading .loading-progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 40px;
  z-index: 1;
  float: left;
  background: #5451a6;
  -webkit-transition: width 0.4s;
          transition: width 0.4s;
}
/* line 91, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading.component-loading {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  -webkit-transition: height 0.2s;
          transition: height 0.2s;
}
/* line 97, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading.component-loading.is-closing, .page-loading.component-loading.is-opening {
  height: 0;
  -webkit-transition: height 0.2s;
          transition: height 0.2s;
}
/* line 102, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading.component-loading span {
  padding-top: 8px;
}
/* line 105, sass/components-v2-css-modules/_page-loading-bar.scss */
.page-loading.component-loading .loading-progress {
  height: 30px;
}

/* line 110, sass/components-v2-css-modules/_page-loading-bar.scss */
.ref-button--loading-determinate {
  position: relative;
}
/* line 112, sass/components-v2-css-modules/_page-loading-bar.scss */
.ref-button--loading-determinate.ref-button--is-loading, .ref-button--loading-determinate.ref-button--is-loading:disabled {
  background: #ff4969;
  -webkit-animation: none;
          animation: none;
}
/* line 117, sass/components-v2-css-modules/_page-loading-bar.scss */
.ref-button--loading-determinate .loading-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #e23755;
  border-radius: 5px 5px;
  -webkit-transition: width 0.4s;
          transition: width 0.4s;
}
/* line 127, sass/components-v2-css-modules/_page-loading-bar.scss */
.ref-button--loading-determinate .loading-button-text {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  z-index: 2;
}

/* line 135, sass/components-v2-css-modules/_page-loading-bar.scss */
.site-loading__panel-left {
  position: fixed;
  top: 0;
  width: 60px;
  height: 100vh;
  display: inline-block;
  overflow: hidden;
  z-index: 10;
  float: left;
  vertical-align: top;
  border-right: 1px solid #000;
  background-color: #29292c;
}

/* line 148, sass/components-v2-css-modules/_page-loading-bar.scss */
.site-loading-container {
  height: calc(100vh - 50px);
  overflow: visible;
}
/* line 151, sass/components-v2-css-modules/_page-loading-bar.scss */
.site-loading-container .hamster-wheel,
.site-loading-container .animation-hamster {
  top: 41vh;
}
/* line 156, sass/components-v2-css-modules/_page-loading-bar.scss */
.site-loading-container.is-loaded .hamster-wheel,
.site-loading-container.is-loaded .animation-hamster {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

/* line 163, sass/components-v2-css-modules/_page-loading-bar.scss */
.icon-chart-loading {
  position: absolute;
  top: 63px;
  left: 63px;
}
