/* Global */
/* line 5, sass/components-v2-css-modules/_page-daily-app-charts.scss */
.page-live-charts {
  padding-top: 23px;
  overflow: visible;
}
/* line 8, sass/components-v2-css-modules/_page-daily-app-charts.scss */
.page-live-charts > header {
  overflow: visible;
}
/* line 11, sass/components-v2-css-modules/_page-daily-app-charts.scss */
.page-live-charts .page-title,
.page-live-charts .page-header__page-actions {
  display: inline-block;
  vertical-align: top;
}
/* line 16, sass/components-v2-css-modules/_page-daily-app-charts.scss */
.page-live-charts .page-title {
  margin: -2px 0 23px -2px;
}
/* line 18, sass/components-v2-css-modules/_page-daily-app-charts.scss */
.page-live-charts .page-title + .secondary-filter {
  margin-left: 2.8rem;
}
/* line 22, sass/components-v2-css-modules/_page-daily-app-charts.scss */
.page-live-charts .page-header__page-actions {
  float: right;
}
/* line 24, sass/components-v2-css-modules/_page-daily-app-charts.scss */
.page-live-charts .page-header__page-actions > div,
.page-live-charts .page-header__page-actions > input,
.page-live-charts .page-header__page-actions > button {
  margin-left: 10px;
  display: inline-block;
  float: right;
  vertical-align: top;
}
/* line 32, sass/components-v2-css-modules/_page-daily-app-charts.scss */
.page-live-charts .page-header__page-actions .form-field--search {
  margin-left: 1px;
}
/* line 35, sass/components-v2-css-modules/_page-daily-app-charts.scss */
.page-live-charts .page-header__page-actions .form-field--checkbox-list {
  padding-top: 10px;
  display: none;
}
@media (min-width: 1100px) {
  /* line 35, sass/components-v2-css-modules/_page-daily-app-charts.scss */
  .page-live-charts .page-header__page-actions .form-field--checkbox-list {
    display: inline-block;
  }
}
/* line 43, sass/components-v2-css-modules/_page-daily-app-charts.scss */
.page-live-charts + div .global-footer {
  border-top: none;
}
/* line 46, sass/components-v2-css-modules/_page-daily-app-charts.scss */
.page-live-charts .sign-up-link {
  display: inline-block;
  color: #6d69c5;
  cursor: pointer;
}
