/* Global */
/* line 6, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing {
  padding-top: 8.2rem;
  text-align: center;
}
/* line 9, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing .page-title {
  margin-bottom: 5rem;
  font-size: 33px;
  text-align: center;
  letter-spacing: 0.014em;
}
/* line 15, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing .home-section-quote {
  text-align: left;
}
/* line 18, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing .current-subscription-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14.9px;
  font-weight: 600;
  color: #fcfdfd;
}
/* line 23, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing .current-subscription-text:before {
  position: relative;
  top: 4px;
  padding-right: 7px;
  font-size: 19px;
  color: #25f9c8;
}
/* line 30, sass/components-v2-css-modules/_page-pricing.scss */
.page-pricing .current-subscription-text span {
  position: relative;
  top: 2px;
}

/* line 36, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container {
  width: calc(100% - 40px);
  max-width: 982px;
  margin: 0 auto 7rem;
  display: inline-block;
  font-size: 0;
}
@media (min-width: 1600px) {
  /* line 36, sass/components-v2-css-modules/_page-pricing.scss */
  .pricing-container {
    max-width: 1162px;
  }
}

/* line 46, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column {
  display: inline-block;
  vertical-align: top;
}
/* line 49, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail {
  padding: 13px 25px;
  line-height: 1.5;
  color: #fcfdfd;
  font-size: 1.4rem;
  background-color: #363A47;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
/* line 57, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail:last-child {
  padding-bottom: 24px;
}
/* line 60, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail .ref-button--primary--large {
  width: 100%;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fcfdfd;
}
/* line 65, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail .ref-button--primary--large:hover {
  color: #fcfdfd;
}
/* line 69, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail strong {
  font-weight: 600;
}
/* line 71, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail strong + .current-subscription-text {
  margin-top: 20px;
  margin-bottom: 15px;
  display: inline-block;
}
/* line 75, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail strong + .current-subscription-text:before {
  top: 0;
}
/* line 80, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail .ref-button--primary--small {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 5px;
  padding-top: 1.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 86, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail .ref-button--primary--small:active {
  padding-top: calc(1.1rem - 1px);
}
/* line 90, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail a {
  color: #918EDF;
}
/* line 92, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-detail a:hover {
  color: #7e7ad9;
}
/* line 97, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-features {
  display: none;
}
/* line 99, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column .pricing-features .pricing-detail {
  border-bottom: 0;
}
/* line 104, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column.is-showing-features .pricing-features {
  display: block;
}

/* line 109, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column--small {
  width: 20%;
}

/* line 112, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column--large {
  width: 30%;
}

/* line 115, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header {
  position: relative;
  height: 259px;
  padding: 2.4rem 2rem 0;
  border-bottom: 1px solid #000;
  background-color: #81879d;
}
/* line 121, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header .pricing-title {
  margin-bottom: 0.7rem;
  font-size: 2.8rem;
  color: #fcfdfd;
}
/* line 126, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header .pricing-cost {
  margin-bottom: 1.4rem;
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #fcfdfd;
}
/* line 132, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header .pricing-cost span {
  position: relative;
  top: 9px;
  vertical-align: top;
  font-size: 1.4rem;
}
/* line 139, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header .pricing-description {
  font-size: 16px;
  line-height: 1.5;
  color: #fcfdfd;
}
/* line 144, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column__header .pricing-details-title {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  color: #A5F9E5;
}

/* line 158, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(1) {
  margin-top: 26px;
}
/* line 160, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(1) .pricing-container__column__header {
  border-radius: 10px 0 0;
}
/* line 163, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(1) .pricing-detail:last-child {
  border-radius: 0 0 0 10px;
}
/* line 166, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(1) .ref-button--primary--large {
  background-color: #81879d;
}
/* line 169, sass/components-v2-css-modules/_page-pricing.scss */
.no-touchevents .pricing-container__column:nth-child(1) .ref-button--primary--large:hover {
  background-color: #676d84;
}

/* line 175, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2),
.pricing-container__column:nth-child(3) {
  border-radius: 0 0 10px 10px;
}
/* line 178, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2) .pricing-container__column__header,
.pricing-container__column:nth-child(3) .pricing-container__column__header {
  height: 285px;
}
/* line 181, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2) .pricing-title,
.pricing-container__column:nth-child(3) .pricing-title {
  font-size: 3.4rem;
}
/* line 184, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2) .pricing-cost,
.pricing-container__column:nth-child(3) .pricing-cost {
  font-size: 4.0rem;
}
/* line 187, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2) .pricing-description,
.pricing-container__column:nth-child(3) .pricing-description {
  font-weight: 700;
}

/* line 192, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2) .pricing-container__column__header {
  padding-top: 2rem;
  border-radius: 10px 0 0;
  background-color: #1bc79f;
}
/* line 197, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(2) .ref-button--primary--large {
  background-color: #1bc79f;
}
/* line 200, sass/components-v2-css-modules/_page-pricing.scss */
.no-touchevents .pricing-container__column:nth-child(2) .ref-button--primary--large:hover {
  background-color: #159a7b;
}

/* line 207, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(3) .pricing-container__column__header {
  padding-top: 2rem;
  border-radius: 0 10px 0 0;
  background-color: #6d69c5;
}

/* line 213, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(4) {
  margin-top: 26px;
}
/* line 215, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(4) .pricing-container__column__header {
  border-radius: 0 10px 0 0;
}
/* line 218, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(4) .pricing-detail:last-child {
  border-radius: 0 0 10px;
}
/* line 221, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-container__column:nth-child(4) .ref-button--primary--large {
  background-color: #81879d;
}
/* line 224, sass/components-v2-css-modules/_page-pricing.scss */
.no-touchevents .pricing-container__column:nth-child(4) .ref-button--primary--large:hover {
  background-color: #676d84;
}

/* line 230, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-link-see-features {
  margin-top: 12px;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: #918EDF;
}
/* line 237, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-link-see-features:hover {
  color: #7e7ad9;
}
/* line 240, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-link-see-features span:first-child {
  display: inline;
}
/* line 243, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-link-see-features span:nth-child(2) {
  display: none;
}
/* line 247, sass/components-v2-css-modules/_page-pricing.scss */
.is-showing-features .pricing-link-see-features span:first-child {
  display: none;
}
/* line 250, sass/components-v2-css-modules/_page-pricing.scss */
.is-showing-features .pricing-link-see-features span:nth-child(2) {
  display: inline;
}

/* line 255, sass/components-v2-css-modules/_page-pricing.scss */
.pricing-foot-content {
  margin: 0 auto 6rem;
  max-width: 660px;
  text-align: center;
}
