/* Global */
/* line 27, sass/ui/_colours.scss */
.positive-colour {
  color: #1bc79f;
}

/* line 30, sass/ui/_colours.scss */
.negative-colour {
  color: #ff496a;
}

/* line 33, sass/ui/_colours.scss */
.neutral-colour {
  color: #5674b9;
}

/* line 7, sass/components-v2-dark-theme/_button.scss */
.theme-dark .ref-button--secondary--small,
.theme-dark .ref-button--secondary--medium,
.theme-dark .ref-button--secondary--large {
  font-weight: 400;
  color: #c4c7d0;
  background-color: #343438;
  border-color: #000;
}
/* line 14, sass/components-v2-dark-theme/_button.scss */
.theme-dark .ref-button--secondary--small:hover,
.theme-dark .ref-button--secondary--medium:hover,
.theme-dark .ref-button--secondary--large:hover {
  background-color: #2e2e31;
}
/* line 19, sass/components-v2-dark-theme/_button.scss */
.no-touchevents .theme-dark .ref-button--secondary--small:not(.is-disabled):active, .no-touchevents
.theme-dark .ref-button--secondary--medium:not(.is-disabled):active, .no-touchevents
.theme-dark .ref-button--secondary--large:not(.is-disabled):active {
  border-top-color: #000;
}

/* line 3, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter {
  color: #c4c7d0;
  border-color: #000;
}
/* line 6, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter .form-field--select__box {
  background-color: #242426;
}
/* line 8, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter .form-field--select__box:after {
  color: #727686;
}
/* line 12, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter.is-open {
  color: #fcfdfd;
  border-color: #35335d;
}
/* line 15, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter.is-open .form-field--select__box {
  background-color: #47447c;
}
/* line 17, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter.is-open .form-field--select__box:after {
  color: #9fa1d5;
}
/* line 25, sass/components-v2-dark-theme/_form.scss */
.theme-dark .form-field--select__dropdown .form-field--select__dropdown__parent-option {
  border-color: #5a5a68;
}

/* line 2, sass/components-v2-dark-theme/_layout.scss */
.theme-dark .l-main {
  background: #29292c;
}
