/* Global */
/* line 27, sass/ui/_colours.scss */
.positive-colour {
  color: #1bc79f;
}

/* line 30, sass/ui/_colours.scss */
.negative-colour {
  color: #ff496a;
}

/* line 33, sass/ui/_colours.scss */
.neutral-colour {
  color: #81879d;
}

/* line 7, sass/components-v2-dark-theme/_button.scss */
.theme-dark .ref-button--secondary--small,
.theme-dark .ref-button--secondary--medium,
.theme-dark .ref-button--secondary--large {
  font-weight: 400;
  color: #c4c7d0;
  background-color: #343438;
  border-color: #000;
}
/* line 14, sass/components-v2-dark-theme/_button.scss */
.theme-dark .ref-button--secondary--small:hover,
.theme-dark .ref-button--secondary--medium:hover,
.theme-dark .ref-button--secondary--large:hover {
  background-color: #2e2e31;
}
/* line 19, sass/components-v2-dark-theme/_button.scss */
.no-touchevents .theme-dark .ref-button--secondary--small:not(.is-disabled):active, .no-touchevents
.theme-dark .ref-button--secondary--medium:not(.is-disabled):active, .no-touchevents
.theme-dark .ref-button--secondary--large:not(.is-disabled):active {
  border-top-color: #000;
}

/* line 3, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .page-data-dashboard .page-header__data-info-text {
  color: #c4c7d0;
}
/* line 6, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .page-data-dashboard .custom-chart-key {
  border-color: #000;
}
/* line 14, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .chart-container,
.theme-dark .chart-container:first-child {
  border-color: #000;
  background-color: #29292c;
}
/* line 19, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .total-for-period-title {
  color: #81879d;
}
/* line 22, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .total-for-period {
  font-weight: 400;
  color: #fcfdfd;
}
/* line 26, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .growth-on-last-period {
  font-weight: 400;
}
/* line 31, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .data-table-section .section-title span {
  color: #727686;
}
/* line 33, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .data-table-section .section-title span:last-child {
  color: #c4c7d0;
}
/* line 39, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .data-table-section__header,
.theme-dark .data-table-section__summary {
  border-color: #000;
}
/* line 43, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .data-table-section--totals-title {
  color: #c4c7d0;
}
/* line 46, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .data-table-section__summary__figures .data-table-section__summary__total-revenue,
.theme-dark .data-table-section__summary__figures .data-table-section__summary__total-downloads {
  color: #fcfdfd;
}
/* line 50, sass/components-v2-dark-theme/_data-dashboard.scss */
.theme-dark .data-table-section__summary__figures .data-table-section__summary__growth.positive-colour {
  color: #12a76a;
}

/* line 3, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter {
  color: #c4c7d0;
  border-color: #000;
}
/* line 6, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter .form-field--select__box {
  background-color: #29292c;
}
/* line 8, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter .form-field--select__box:hover {
  background-color: #242426;
}
/* line 11, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter .form-field--select__box:after {
  color: #727686;
}
/* line 15, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter.is-open {
  color: #fcfdfd;
  border-color: #35335d;
}
/* line 18, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter.is-open .form-field--select__box {
  background-color: #47447c;
}
/* line 20, sass/components-v2-dark-theme/_form.scss */
.theme-dark .primary-filters-container .primary-filter.is-open .form-field--select__box:after {
  color: #9fa1d5;
}
/* line 27, sass/components-v2-dark-theme/_form.scss */
.theme-dark .form-field--select__dropdown {
  border-color: #000;
}
/* line 29, sass/components-v2-dark-theme/_form.scss */
.theme-dark .form-field--select__dropdown .form-field--select__dropdown__parent-option {
  border-color: #5a5a68;
}
/* line 34, sass/components-v2-dark-theme/_form.scss */
.theme-dark .filter-toggle label {
  font-weight: 400;
  color: #c4c7d0;
  border-color: #000000;
  background-color: #343438;
}
/* line 39, sass/components-v2-dark-theme/_form.scss */
.theme-dark .filter-toggle label:after {
  display: none !important;
}
/* line 43, sass/components-v2-dark-theme/_form.scss */
.theme-dark .filter-toggle input:checked ~ label {
  color: #fcfdfd;
  border-color: #000000;
  background-color: #47447c;
}
/* line 48, sass/components-v2-dark-theme/_form.scss */
.theme-dark .filter-toggle .toggle:last-child label {
  border-right: 1px solid #000;
}
/* line 52, sass/components-v2-dark-theme/_form.scss */
.theme-dark .secondary-filters-container {
  background-color: #29292c;
}
/* line 55, sass/components-v2-dark-theme/_form.scss */
.theme-dark .checkboxLabelVisible,
.theme-dark .radioButtonLabelVisible {
  color: #81879d;
}
/* line 61, sass/components-v2-dark-theme/_form.scss */
.theme-dark input[type="checkbox"]:checked + .checkboxLabel:after,
.theme-dark input[type="radio"]:checked + .radioButtonLabel:after {
  color: #29292c;
}
/* line 65, sass/components-v2-dark-theme/_form.scss */
.theme-dark .checkboxLabel,
.theme-dark .radioButtonLabel {
  background-color: #333338;
}
/* line 68, sass/components-v2-dark-theme/_form.scss */
.theme-dark .checkboxLabel:hover,
.theme-dark .radioButtonLabel:hover {
  background-color: #3d3d43;
}
/* line 71, sass/components-v2-dark-theme/_form.scss */
.theme-dark .checkboxLabel:active,
.theme-dark .radioButtonLabel:active {
  border-color: #313136;
}
/* line 75, sass/components-v2-dark-theme/_form.scss */
.theme-dark .form-field--search {
  border-color: #000;
  background-color: #343438;
}
/* line 78, sass/components-v2-dark-theme/_form.scss */
.theme-dark .form-field--search input {
  color: #c4c7d0;
}
/* line 81, sass/components-v2-dark-theme/_form.scss */
.theme-dark .form-field--search .ref-icon-after--search:after,
.theme-dark .form-field--search .clear-search:after {
  color: #81879d;
}
/* line 86, sass/components-v2-dark-theme/_form.scss */
.theme-dark .form-field--search.is-open .ref-icon-after--search:after {
  color: #343438;
}

/* line 1, sass/components-v2-dark-theme/_helpers.scss */
.text-link--dark, .theme-dark .page-header__text-link,
.theme-dark .data-table__app-summary__app-name a, .theme-dark .summary-widget__data-item__app-name {
  color: #9f9bff;
}
/* line 3, sass/components-v2-dark-theme/_helpers.scss */
.text-link--dark:hover, .theme-dark .page-header__text-link:hover,
.theme-dark .data-table__app-summary__app-name a:hover, .theme-dark .summary-widget__data-item__app-name:hover {
  color: #6d69c5;
}

/* line 2, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .highcharts-axis path {
  stroke: #000;
}
/* line 7, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .custom-chart-key li.revenue-key input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #f5c943 !important;
}
/* line 12, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .custom-chart-key li.downloads-key input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #918edf !important;
}
/* line 17, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .custom-chart-key li.series-1 input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #7fc2b6;
}
/* line 22, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .custom-chart-key li.series-2 input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #e77465;
}
/* line 27, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .custom-chart-key li.series-3 input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #74a2c3;
}
/* line 32, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .custom-chart-key li.series-4 input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #ddadc5;
}
/* line 37, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .custom-chart-key li.series-5 input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #b6a38c;
}
/* line 42, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .custom-chart-key li.series-6 input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #ad73af;
}
/* line 47, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .custom-chart-key li.series-7 input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #c6c6c6;
}
/* line 52, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .custom-chart-key li.series-8 input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #e9a552;
}
/* line 57, sass/components-v2-dark-theme/_highcharts.scss */
.theme-dark .custom-chart-key li.series-9 input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #aea9c8;
}

/* line 2, sass/components-v2-dark-theme/_icons.scss */
.theme-dark .sort-svg path {
  fill: #5a5a68;
}
/* line 5, sass/components-v2-dark-theme/_icons.scss */
.theme-dark .is-ascending .sort-svg .ascending,
.theme-dark .is-descending .sort-svg .descending {
  fill: #9f9bff;
}

/* line 2, sass/components-v2-dark-theme/_layout.scss */
.theme-dark .l-main {
  background: #29292c;
}

@-webkit-keyframes BackgroundGradientPulseDark {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}

@keyframes BackgroundGradientPulseDark {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}
/* line 1, sass/components-v2-dark-theme/_placeholders.scss */
.is-loading-background--dark, .theme-dark .ref-table--apps .data-table__store.is-loading,
.theme-dark .ref-table--publishers .data-table__store.is-loading,
.theme-dark .data-table__app-summary__app-name.is-loading,
.theme-dark .ref-table--apps .app-data-revenue.is-loading span:first-child,
.theme-dark .ref-table--apps .app-data-downloads.is-loading span:first-child,
.theme-dark .ref-table--apps .data-table__value-bar.is-loading div {
  background-color: #29292c;
  background: -webkit-linear-gradient(0deg, #29292c, #29292c, #1c1c1c, #29292c, #29292c);
  background: linear-gradient(90deg, #29292c, #29292c, #1c1c1c, #29292c, #29292c);
  background-size: 200% 100%;
  -webkit-animation: BackgroundGradientPulseDark 1.5s linear infinite;
          animation: BackgroundGradientPulseDark 1.5s linear infinite;
}

/* line 2, sass/components-v2-dark-theme/_ratings.scss */
.theme-dark .ratings-container {
  background-image: url(images/rating-stars-black@2x.png);
}

/* line 2, sass/components-v2-dark-theme/_summary-widget.scss */
.theme-dark .summary-widget {
  background-color: #343438;
}
/* line 8, sass/components-v2-dark-theme/_summary-widget.scss */
.theme-dark a:hover .summary-widget__data-item__app-name {
  color: #6d69c5;
}
/* line 11, sass/components-v2-dark-theme/_summary-widget.scss */
.theme-dark .summary-widget__data-item__data {
  color: #fcfdfd;
}
/* line 13, sass/components-v2-dark-theme/_summary-widget.scss */
.theme-dark .summary-widget__data-item__data.positive-colour {
  color: #12a76a;
}
/* line 16, sass/components-v2-dark-theme/_summary-widget.scss */
.theme-dark .summary-widget__data-item__data.negative-colour {
  color: #ff496a;
}
/* line 20, sass/components-v2-dark-theme/_summary-widget.scss */
.theme-dark .summary-widget__data-title {
  color: #81879d;
}

/* line 2, sass/components-v2-dark-theme/_tables.scss */
.theme-dark .ref-table {
  color: #fcfdfd;
}
/* line 4, sass/components-v2-dark-theme/_tables.scss */
.theme-dark .ref-table th {
  color: #81879d;
}
/* line 7, sass/components-v2-dark-theme/_tables.scss */
.theme-dark .ref-table tbody tr:nth-child(odd),
.theme-dark .ref-table tbody tr:nth-child(even) {
  background-color: #343438;
}
/* line 12, sass/components-v2-dark-theme/_tables.scss */
.theme-dark .ref-table--apps tr,
.theme-dark .ref-table--publishers tr {
  border-color: #29292c;
  border-width: 2px;
}
/* line 17, sass/components-v2-dark-theme/_tables.scss */
.theme-dark .ref-table--apps .total-for-period-head-cell span:nth-child(2),
.theme-dark .ref-table--publishers .total-for-period-head-cell span:nth-child(2),
.theme-dark .ref-table--apps .data-table__value-bar:first-child > span,
.theme-dark .ref-table--publishers .data-table__value-bar:first-child > span {
  color: #ffb44a;
}
/* line 23, sass/components-v2-dark-theme/_tables.scss */
.theme-dark .ref-table--apps .data-table__value-bar:first-child div span,
.theme-dark .ref-table--publishers .data-table__value-bar:first-child div span {
  background-color: #ffb44a;
}
/* line 27, sass/components-v2-dark-theme/_tables.scss */
.theme-dark .ref-table--apps .total-for-period-head-cell span:nth-child(3),
.theme-dark .ref-table--publishers .total-for-period-head-cell span:nth-child(3),
.theme-dark .ref-table--apps .data-table__value-bar > span,
.theme-dark .ref-table--publishers .data-table__value-bar > span {
  color: #9f9bff;
}
/* line 33, sass/components-v2-dark-theme/_tables.scss */
.theme-dark .ref-table--apps .data-table__value-bar div span,
.theme-dark .ref-table--publishers .data-table__value-bar div span {
  background-color: #6d69c5;
}
/* line 37, sass/components-v2-dark-theme/_tables.scss */
.theme-dark .ref-table--apps .data-table__value-bar div,
.theme-dark .ref-table--publishers .data-table__value-bar div {
  background-color: #29292c;
}
/* line 41, sass/components-v2-dark-theme/_tables.scss */
.theme-dark .ref-table--apps .data-table__growth.positive-colour,
.theme-dark .ref-table--publishers .data-table__growth.positive-colour {
  color: #12a76a;
}
/* line 53, sass/components-v2-dark-theme/_tables.scss */
.theme-dark .ref-table--apps .app-data-cell-released-date.is-loading span,
.theme-dark .ref-table--publishers .app-data-cell-released-date.is-loading span,
.theme-dark .ref-table--apps .app-data-revenue.is-loading span,
.theme-dark .ref-table--apps .app-data-downloads.is-loading span.data-table__growth,
.theme-dark .ref-table--apps .app-data-cell-more.is-loading span,
.theme-dark .ref-table--publishers .app-data-revenue.is-loading span,
.theme-dark .ref-table--publishers .app-data-downloads.is-loading span.data-table__growth,
.theme-dark .ref-table--publishers .app-data-cell-more.is-loading span,
.theme-dark .ref-table--publishers .app-data-cell-more.is-loading span,
.theme-dark .ref-table--apps .data-table__value-bar.is-loading span,
.theme-dark .ref-table--publishers .data-table__value-bar.is-loading span {
  background-color: #29292c;
}

/* line 2, sass/components-v2-dark-theme/_tabs.scss */
.theme-dark .seconday-tabs li {
  background-color: #343438;
}
/* line 4, sass/components-v2-dark-theme/_tabs.scss */
.theme-dark .seconday-tabs li.is-active a {
  color: #9f9bff;
}
