/* Global */
/* line 6, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard {
  padding-top: 2.3rem;
  overflow: visible;
}
/* line 9, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard > .grid-container:first-child {
  overflow: visible;
}
/* line 12, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .page-title {
  margin-left: -2px;
  margin-right: 3.9rem;
  padding-top: 0.1rem;
  margin-bottom: 3rem;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  letter-spacing: -0.01em;
}
/* line 21, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .page-title span {
  margin-left: 5px;
  font-size: 2.2rem;
  font-weight: 400;
}
/* line 26, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .page-title.is-loading {
  min-width: 98px;
  height: 25px;
  margin-top: 6px;
  margin-bottom: calc(3rem - 6px);
  background-color: #e9e9ed;
}
/* line 33, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .page-title + .secondary-filter {
  margin-right: 1rem;
}
/* line 37, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .page-header__page-toggle {
  margin-left: 1rem;
  float: right;
}
/* line 41, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .page-header__data-info-text {
  padding-top: 12px;
  padding-right: 5px;
  vertical-align: top;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #5a5a68;
}
@media (min-width: 1280px) {
  /* line 41, sass/components-v2-css-modules/_template-data-dashboard.scss */
  .page-data-dashboard .page-header__data-info-text {
    display: inline-block;
  }
}
/* line 53, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .page-header__data-info-icon {
  vertical-align: top;
  padding-top: 9px;
}
/* line 57, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .page-header_action-button {
  float: right;
}
/* line 60, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .alert-warning {
  margin-bottom: 2rem;
}
/* line 63, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .alert-notice {
  margin-bottom: 1.5rem;
}
/* line 68, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .secondary-filters-container .secondary-filter .form-field--select__box {
  min-width: inherit;
}
/* line 71, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .secondary-filters-container .secondary-filter:nth-child(1), .page-data-dashboard .secondary-filters-container .secondary-filter:nth-child(2), .page-data-dashboard .secondary-filters-container .secondary-filter:nth-child(3) {
  margin-right: 1rem;
}
/* line 76, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .secondary-filters-container .secondary-filter .form-field--select__box {
  width: 140px;
}
@media (min-width: 1280px) {
  /* line 76, sass/components-v2-css-modules/_template-data-dashboard.scss */
  .page-data-dashboard .secondary-filters-container .secondary-filter .form-field--select__box {
    width: inherit;
    min-width: 94px;
  }
}
/* line 84, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .secondary-filters-container .form-field--checkbox-list {
  margin-left: 1rem;
  padding-top: 0.9rem;
}
/* line 89, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .toggle-container--chart-type {
  margin-left: 1rem;
  float: right;
}
/* line 93, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard .upgrade-content-container {
  overflow: hidden;
}

/* line 97, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section {
  position: relative;
  padding: 0;
}
@media screen and (max-width: 1100px) {
  /* line 101, sass/components-v2-css-modules/_template-data-dashboard.scss */
  .data-table-section.grid__column--three-quarters {
    width: 100%;
  }
}
@media (min-width: 1100px) {
  /* line 97, sass/components-v2-css-modules/_template-data-dashboard.scss */
  .data-table-section {
    padding: 0 2% 0 0;
  }
}
/* line 108, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section.grid__column--full-width {
  padding: 0;
}
/* line 111, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard--country .data-table-section {
  padding: 0;
}
/* line 114, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section .section-title {
  width: 70px;
  margin: 0;
  line-height: 1.2;
  display: inline-block;
}
/* line 119, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section .section-title span {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #363a47;
}
/* line 125, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section .section-title span:first-child {
  margin-bottom: 2px;
}
/* line 128, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section .section-title span:last-child {
  min-height: 24px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

/* line 135, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__header {
  padding-bottom: 1.3rem;
  overflow: visible;
  border-bottom: 1px solid #e1e5e8;
}

/* line 140, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__filters {
  width: calc(100% - 80px);
  padding-top: 3px;
  display: inline-block;
  float: right;
  overflow: visible;
  font-size: 0;
}
/* line 147, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__filters .secondary-filter {
  width: 18.1%;
  margin-right: 12px;
  float: right;
}
/* line 151, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__filters .secondary-filter:first-child {
  width: 22.2%;
  margin-right: 0;
  margin-left: 9px;
}
/* line 156, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__filters .secondary-filter:last-of-type {
  width: 19.5%;
}
/* line 159, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__filters .secondary-filter .form-field--select__box {
  min-width: inherit;
}
/* line 163, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__filters > label {
  margin-left: 0.6rem;
  padding-top: 12px;
  padding-right: 0.8rem;
  display: inline-block;
  float: right;
  vertical-align: top;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #727686;
}

/* line 175, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-aside-bar {
  padding: 0;
  margin-top: 2px;
}
@media screen and (max-width: 1100px) {
  /* line 179, sass/components-v2-css-modules/_template-data-dashboard.scss */
  .data-aside-bar.grid__column--one-quarter {
    width: 100%;
    font-size: 0;
  }
}

/* line 185, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #e1e5e8;
}
/* line 190, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary .form-field--checkbox-list {
  padding: 4px 0 0 15px;
}
/* line 193, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary .data-table-section--totals-title {
  margin: 3px 0 9px;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  color: #363a47;
}

/* line 201, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures {
  display: inline-block;
  float: right;
}
/* line 204, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures span, .data-table-section__summary__figures a {
  display: inline-block;
  vertical-align: top;
}
/* line 208, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures .data-table-section__summary__total-revenue,
.data-table-section__summary__figures .data-table-section__summary__total-downloads {
  padding: 0 7px 0 8px;
  font-size: 1.4rem;
  color: #363a47;
}
/* line 213, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures .data-table-section__summary__total-revenue span,
.data-table-section__summary__figures .data-table-section__summary__total-downloads span {
  padding-top: 0.5rem;
}
/* line 216, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures .data-table-section__summary__total-revenue a,
.data-table-section__summary__figures .data-table-section__summary__total-downloads a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #6d69c5;
}
/* line 221, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures .data-table-section__summary__total-revenue a:hover,
.data-table-section__summary__figures .data-table-section__summary__total-downloads a:hover {
  color: #4b46b5;
}
/* line 226, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures .data-table-section__summary__total-downloads {
  padding-left: 17px;
}
/* line 229, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures .data-table-section__summary__total-revenue:before,
.data-table-section__summary__figures .data-table-section__summary__total-downloads:before {
  padding-right: 0.6rem;
  font-size: 2.4rem;
  color: #727686;
}
/* line 235, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures .data-table-section__summary__growth {
  padding: 0.4rem 1.7rem 0 0;
  font-weight: 700;
  font-size: 1.2rem;
  color: #c4c7d0;
}
/* line 240, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures .data-table-section__summary__growth.positive-colour {
  color: #1bc79f;
}
/* line 243, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures .data-table-section__summary__growth.negative-colour {
  color: #ff496a;
}
/* line 247, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures .data-table-section__summary__more-link {
  padding: 0.4rem 1.6rem 0 0;
  font-size: 1.2rem;
  display: none;
  color: #6d69c5;
}
/* line 252, sass/components-v2-css-modules/_template-data-dashboard.scss */
.data-table-section__summary__figures .data-table-section__summary__more-link:hover {
  color: #4b46b5;
}

/* line 258, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-data-dashboard--list-page .data-table-section {
  padding: 0;
}

/* line 262, sass/components-v2-css-modules/_template-data-dashboard.scss */
.chart-container__chart-message {
  position: absolute;
  top: 73px;
  left: calc(50% - 150px);
  width: 300px;
  padding: 10px 10px 11px 11px;
  visibility: hidden;
  border: 1px solid #c4c7d0;
  border-radius: 7px;
  background: #fcfdfd;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
/* line 273, sass/components-v2-css-modules/_template-data-dashboard.scss */
.chart-container__chart-message.is-showing {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s, -webkit-transform 0.2s;
  transition: visibility 0s, -webkit-transform 0.2s;
  transition: transform 0.2s, visibility 0s;
  transition: transform 0.2s, visibility 0s, -webkit-transform 0.2s;
}
/* line 278, sass/components-v2-css-modules/_template-data-dashboard.scss */
.chart-container__chart-message .popup-close {
  top: 9px;
  right: 8px;
}
/* line 281, sass/components-v2-css-modules/_template-data-dashboard.scss */
.chart-container__chart-message .popup-close .ref-icon-after--close:after {
  font-size: 1.5rem;
}

/* line 286, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-header__text-link {
  padding-top: 10px;
  padding-right: 2px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  float: right;
  color: #6d69c5;
}
/* line 293, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-header__text-link:hover {
  color: #4b46b5;
}
/* line 296, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-header__text-link.is-disabled {
  color: #c3c6f6;
}

/* line 300, sass/components-v2-css-modules/_template-data-dashboard.scss */
.page-header__text-link--top {
  padding-top: 0;
  margin-left: 20px;
}
