/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/
/* Layout */
@media screen and (max-width: 720px) {
	.content-wrapper {
		padding: 10px 30px;
	}
}

/* Branding */
.custom-logo {
	width: 187px;
}

@media screen and (min-width: 720px) {
	.custom-logo {
		width: 233px;
	}
}

@media screen and (max-width: 720px) {
	.has-header-image #hero-header + .content-wrapper {
		margin-top: 2em;
	}
	
	.site-header {
		margin-top: 1.5em;
	}
}

h1, h2, h3, h4, h5, h6,
.widget .widget-title,
.widget .widgettitle {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Posts List */
body:not(.has-sidebar) .post-image-link img.size-big,
.post-image-link img.size-big {
	width: 100% !important;
	max-width: 100% !important;
	margin-left: 0;
}

.site-main>.hentry:nth-child(n+2), .site .infinite-wrap>.hentry:nth-child(n+2), .entry-author-wrapper, .post-navigation, .comment, .page-links a:hover, .main-navigation li {
	border-color: #ece9e9;
}

/* Posts */
.has-header-image #hero-header {
	padding: 0;
	background: none;
}

.has-header-image #hero-header:before {
	display: none;
}

.entry-title,
.site .entry-header > :last-child {
	margin-bottom: 1rem;
	color: #29292c;
	font-size: 26px;
	text-align: left;
}

@media screen and (min-width: 720px) {
	.entry-title,
			.site .entry-header > :last-child {
		margin-bottom: 2.5rem;
		font-size: 40px;
		text-align: center;
	}
}

@media screen and (max-width: 720px) {
	.entry-content,
				.entry-header + .entry-content {
		margin-top: 0;
	}
	
	.post-image-link + .entry-content {
		margin-top: .5rem;
	}
	
	.post-image-link,
				.post-image-link:not(:first-child) {
		margin-top: 1rem;
	}
}

.entry-header + .entry-meta {
	margin-top: -1.5rem;
}

.entry-title a,
.entry-title a:visited,
.entry-content p a {
	color: #6d69c5;
	outline: none;
	-webkit-transition: color .2s;
	transition: color .2s;
}

.entry-title:hover a,
.entry-title a:hover,
.entry-title a:visited:hover,
.entry-content p a:hover,
.entry-meta a:hover,
.entry-footer a:hover {
	color: #4b46b5;
	opacity: 1;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.entry-meta {
	text-align: center;
}

.entry-content p {
	margin-bottom: 1.7rem;
	line-height: 1.6;
	font-size: 16px;
	font-weight: 400;
	color: #5a5a68;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.entry-content li {
	line-height: 1.6;
	font-size: 16px;
	font-weight: 400;
	color: #5a5a68;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 720px) {
	.entry-content p {
		font-size: 18px;
	}
}

.entry-content img {
	margin-bottom: .8rem;
}

.entry-author-wrapper {
	display: none;
}

@media screen and (max-width: 720px) {
	body:not(.single) .entry-content + .entry-footer, body:not(.single) .entry-summary + .entry-footer {
		display: none;
	}
	
	.entry-meta {
		display: none;
	}
}

body:not(.single) .entry-content + .entry-footer, body:not(.single) .entry-summary + .entry-footer {
	margin-top: 2rem;
}

/* comments */
#respond #comment-form-comment textarea, #comment-form-share-text-padder textarea {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

@media screen and (max-width: 720px) {
	#respond h3 {
		font-size: 20px;
	}
}

/* footer*/
.ref-footer-centre {
	width: 100%;
	max-width: 540px;
	margin: 0 auto;
	text-align: center;
}

@media screen and (min-width: 720px) {
	.ref-footer-centre {
		width: 540px;
	}
}

@media screen and (max-width: 720px) {
	.site-footer {
		padding-top: 0;
	}
}

.ref-footer-centre h1.widget-title {
	margin-bottom: 1.5rem;
	font-size: 22px;
}

.ref-footer-centre p {
	font-size: 16px;
	color: #5a5a68;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ref-footer-centre em {
	font-weight: 700;
	font-style: normal;
}