.page-data-vis-reviews-cloud {
	.page-data-vis-reviews-cloud__center-column {
		margin-top: 100px;
		text-align: center;
	}
	.page-data-vis-reviews-cloud__main-content-container {
		min-width: 930px;
		max-width: 1180px;
		margin: 0 auto;
    padding-right: 4rem;
		padding-left: 3rem;
	}
	.data-vis-reviews-cloud__content-title {
		margin-top: 10rem;
		margin-bottom: 3rem;    
    text-align: center;
	}
	.page-data-vis-reviews-cloud__app-column__app-icon-container {
		width: 100px;
		height: 100px;
		margin: 0 auto 1.4rem;
		border-radius: 20px;
		background: #363a47;
		img {
			width: 100%;
		}
	}	
	.page-data-vis-reviews-cloud__app-column {
		width: 220px;
		display: inline-block;
		float: left;
		@include breakpoint($desktop) {
			margin-top: -135px;
			width: 248px;
		}
	}
	.page-data-vis-reviews-cloud__app-name {
		margin: 0 0 0.6rem;
		a {
			color: #9f9bff;
			&:hover {
				color: darken(#9f9bff, 10%);
			}
		}
	}
	.page-data-vis-reviews-cloud__developer-name {
		margin: 0 0 1.7rem;
		color: $light-grey-1;
		font-size: 14px;
	}
	.page-data-vis-reviews-cloud__reviews-widget {
		width: 100%;
		padding: 16px 22px 25px;
		margin-bottom: 6rem;
		border-radius: 10px;
		background-color: #363a47;
		h4 {
			margin-bottom: 1.8rem;
			font-size: 18px;
			font-weight: 400;
			text-align: left;
			span {
				color: #54bee5;
				font-weight: 600;
			}
		}
		h5 {
			margin-bottom: 0.8rem;
			font-size: 16px;
			font-weight: 400;
			color: $light-grey-2;
			text-align: left;
			span {
				margin-left: 7px;
				font-family: $brand-body-font;
				font-weight: 700;
				color: $reflection-white;
			}
		}
		ul {
			padding-top: 0.8rem;
	    text-align: left;
			border-top: 2px solid #2e313c;
			li {
		    margin-bottom: 5px;
			}
		}
	}
	.page-data-vis-reviews-cloud__cloud-section {
		width: calc(100% - 290px);
		min-height: 300px;
		padding-right: 20px;
		display: inline-block;
		@include breakpoint($desktop) {
			width: calc(100% - 250px);
			padding-left: 50px;
			padding-right: 0;
		}
	}
	.filters-row {
    margin: 0 auto 6rem;
    + div {
    	overflow: visible;
    }
    @include breakpoint($desktop) {
    	margin-left: 31rem;
    	text-align: left;
    }
	}
	.secondary-filter {
		.form-field--select__box {
	    width: 170px;
	    > img {
	    	position: absolute;
	    	top: 12px;
	    	left: 10px;
	    }
	    > b {
	    	padding-left: 32px;
	    }
		}
		.form-field--select__dropdown {
			padding: 15px 10px 5px 9px;
			li {
				margin-bottom: 10px;
			}
		}
	}
	.tag-cloud-container {
		position: relative;
		overflow: visible;
	}
	.tag-cloud-container .tag-cloud {
		position: relative;
		display: none;
		overflow: visible;
	}
	.tag-cloud-container .tag-cloud li {
		padding: 0.5em;
		display: inline-block;
		font-weight: 600;
		font-family: 'Source Sans Pro', sans-serif;		
		overflow: visible;
		cursor: pointer;
		text-decoration: underline;
		transition: font-size 1s;
	}
	.tag-cloud li {
		-webkit-transition: 0.2s color;
		transition: 0.2s color;
		&:hover {
			opacity: 0.3;
			underline: none;
			-webkit-transition: 0.2s opacity;
			transition: 0.2s opacity;
		}
	}
	.tag-cloud-container .tag-cloud li.positive-average,
	.tag-cloud--positive li {
		color: #12a76a;
	}
	.tag-cloud-container .tag-cloud li.average-average,
	.tag-cloud--average li {
		color: #727686;
	}
	.tag-cloud-container .tag-cloud li.negative-average,
	.tag-cloud--negative li {
		color: #ff496a;
	}
	.page-data-vis-reviews-cloud .ratings-container {
		padding-top: 5px;
		margin-bottom: 8px;
		display: inline-block;
		vertical-align: top;
	}
	.number-of-stars-label,
	.rating-number,
	.rating-percentage-text {
		display: inline-block;
		vertical-align: top;
		font-family: $brand-body-font;
	}
	.number-of-stars-label {
		margin-right: 1rem;
		color: #54bee5;
		font-size: 16px;
		&:after {
	    top: 2px;
    	left: 3px;
			font-size: 13px;
		}
	}
	.rating-number {
    width: 32px;
    margin-top: 1px;			
		font-size: 13px;
		color: $reflection-white;
		@include breakpoint($desktop) {
			width: 36px;
			font-size: 14px;
		}
	}
	.rating-percentage-text {
    margin-top: 1px;
    float: right;
		font-size: 14px;
		color: $light-grey-1;
	}
	.rating-percentage-container {
		width: 70px;
		height: 9px;
		margin-top: 5px;
		display: inline-block;
		vertical-align: top;
		border-radius: 5px;
		background-color: #2e313c;
		@include breakpoint($desktop) {
			width: 93px;
		}
	}
	.rating-percentage {
		width: 0%;
		height: 9px;
		background-color: $reflection-purple;
		transition: width 0.3s;
	}	
	.js-five-stars + .rating-percentage-container .rating-percentage {
		background-color: #18a36c;
	}
	.js-four-stars + .rating-percentage-container .rating-percentage {
		background-color: #18a36c;
	}
	.js-three-stars + .rating-percentage-container .rating-percentage {
		background-color: #727686;
	}
	.js-two-stars + .rating-percentage-container .rating-percentage {
		background-color: #ff496a;
	}
	.js-one-stars + .rating-percentage-container .rating-percentage {
		background-color: #ff496a;
	}
	.total-ratings-container {
		max-width: 140px;
	}
	.total-ratings-container h2 {
		display: inline-block;
		padding-top: 2px;
	}
	.total-ratings-container span {
		margin-right: 7px;
		float: right;		
		font-weight: 600;
	}
	.ratings-container {
		background-image: url(images/rating-stars-lab@2x.png);
	}
	.reviews-content-container {
		width: 100%;
    margin-top: 7rem;
    margin-bottom: 2rem;
    display: none;
		text-align: left;
		@include breakpoint($desktop) {
			width: 635px;
			margin-top: 9rem;
		}
		> h2 {
    	padding-bottom: 2.4rem;
			font-weight: 400;
			border-bottom: 1px solid #19191b;
		}
		.ratings-container {
			margin-right: 2rem;
			margin-bottom: 1rem;
			display: inline-block;
			vertical-align: top;			
		}
		.ratings-list {
			max-height: 600px;
			padding-top: 2rem;
			padding-bottom: 3rem;
			padding-right: 20px;
		}
		ul {
			position: relative;
			margin-bottom: 2rem;
			overflow: auto;
		}
		li {
			position: relative;
			margin-bottom: 3rem;
		}
		.reviews-content__title {
			position: relative;
			top: 2px;
			padding-right: 90px;
			margin: 0 0 1.5rem;
			display: inline-block;
			vertical-align: top;
			font-size: 1.8rem;
			font-weight: 600;
			color: $reflection-white;
		}
		.reviews-content__date {
	    position: absolute;
	    top: 6px;
	    right: 0;	    
	    color: $light-grey-1;
	    font-family: $brand-heading-font;
	    font-size: 16px;	    
		}
		p {
			font-size: 14px;
			strong {
				font-weight: 700;
				color: #54bee5;
			}
		}
	}
	.cloud-key-instruction-container {		
    margin: 0;
    @include breakpoint($desktop) {
			width: 625px;
    }
  }
	.cloud-key-instruction {
		margin-top: 12px;
		margin-bottom: 0;
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		font-weight: 400;
		color: $light-grey-2;
	}
	.cloud-key {
		margin: 14px 0 0 92px;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		font-weight: 400;
		color: $light-grey-2;
		.size-key {
			font-size: 16px;
			color: $light-grey-1;
			&:first-letter {
				font-size: 22px;
			}
			b {
				font-size: 13px;
			}
		}
		&:last-child {
			margin-top: 16px;
			margin-left: 15px;
		}
		.colour-key {
			font-weight: 600;
			@include gradient-text('linear-gradient(to right, #12a76a, #727686, #ff496a)', 'dark');
		}
	}
	.feedback-container,
	.idc-comments-container {
		width: 100%;
		@include breakpoint($desktop) {
			width: 635px;
		}
	}
	.feedback-container {
		margin: 8rem 0 7rem;
		padding-left: 3%;
		@include breakpoint($desktop) {			
			padding-left: 80px;
			margin-top: 9rem;
		}
	}
}