.page-data-vis-reviews-cloud {
	.page-data-vis-reviews-cloud__center-column {
		text-align: center;
	}
	.page-data-vis-reviews-cloud__main-content-container {
		min-width: 930px;
		max-width: 1180px;
		margin: 0 auto;
    padding-right: 4rem;
		padding-left: 3rem;
	}
	.data-vis-reviews-cloud__content-title {
		margin-top: 10rem;
		margin-bottom: 3rem;    
    text-align: center;
	}
	.page-data-vis-reviews-cloud__app-column__app-icon-container {
		width: 100px;
		height: 100px;
		margin: 0 auto 1.4rem;
		border-radius: 20px;
		background: #363a47;
	}	
	.page-data-vis-reviews-cloud__app-column {
		width: 248px;
		display: inline-block;
		float: left;
	}
	.page-data-vis-reviews-cloud__app-name {
		margin: 0 0 0.6rem;
	}
	.page-data-vis-reviews-cloud__developer-name {
		margin: 0 0 1.7rem;
		color: $light-grey-1;
		font-size: 14px;
	}
	.page-data-vis-reviews-cloud__reviews-widget {
		width: 100%;
		padding: 16px 22px 25px;
		margin-bottom: 6rem;
		border-radius: 10px;
		background-color: #363a47;
		h4 {
			margin-bottom: 1.8rem;
			font-size: 18px;
			font-weight: 400;
			text-align: left;
			span {
				color: #54bee5;
				font-weight: 600;
			}
		}
		h5 {
			margin-bottom: 0.8rem;
			font-size: 16px;
			font-weight: 400;
			color: $light-grey-2;
			text-align: left;
			span {
				margin-left: 7px;
				font-family: $brand-body-font;
				font-weight: 700;
				color: $reflection-white;
			}
		}
		ul {
			padding-top: 0.8rem;
	    text-align: left;
			border-top: 2px solid #2e313c;
			li {
		    margin-bottom: 5px;
			}
		}
	}
	.page-data-vis-reviews-cloud__cloud-section {
		width: calc(100% - 250px);
		min-height: 300px;
		padding-left: 50px;
		display: inline-block;
	}
	.filters-row {
		margin-bottom: 8rem;
	}
	.tag-cloud-container {
		position: relative;
		overflow: visible;
	}
	.tag-cloud-container .tag-cloud {
		position: relative;
		display: none;
		overflow: visible;
	}
	.tag-cloud-container .tag-cloud li {
		padding: 0.5em;
		display: inline-block;
		font-weight: 600;
		font-family: 'Source Sans Pro', sans-serif;		
		overflow: visible;
		cursor: pointer;
		text-decoration: underline;
		transition: font-size 1s;
	}
	.tag-cloud li {
		-webkit-transition: 0.2s color;
		transition: 0.2s color;
		&:hover {
			opacity: 0.3;
			underline: none;
			-webkit-transition: 0.2s opacity;
			transition: 0.2s opacity;
		}
	}
	.tag-cloud-container .tag-cloud li.positive-average,
	.tag-cloud--positive li {
		color: #12a76a;
	}
	.tag-cloud-container .tag-cloud li.average-average,
	.tag-cloud--average li {
		color: #727686;
	}
	.tag-cloud-container .tag-cloud li.negative-average,
	.tag-cloud--negative li {
		color: #ff496a;
	}
	.page-data-vis-reviews-cloud .ratings-container {
		padding-top: 5px;
		margin-bottom: 8px;
		display: inline-block;
		vertical-align: top;
	}
	.number-of-stars-label,
	.rating-number,
	.rating-percentage-text {
		display: inline-block;
		vertical-align: top;
		font-family: $brand-body-font;
	}
	.number-of-stars-label {
		margin-right: 1rem;
		color: #54bee5;
		font-size: 16px;
		&:after {
	    top: 2px;
    	left: 3px;
			font-size: 13px;
		}
	}
	.rating-number {
		width: 36px;
    margin-top: 1px;			
		font-size: 14px;
		color: $reflection-white;
	}
	.rating-percentage-text {
    margin-top: 1px;
    float: right;
		font-size: 14px;
		color: $light-grey-1;
	}
	.rating-percentage-container {
		width: 93px;
		height: 9px;
		margin-top: 5px;
		display: inline-block;
		vertical-align: top;
		border-radius: 5px;
		background-color: #2e313c;
	}
	.rating-percentage {
		width: 0%;
		height: 9px;
		background-color: $reflection-purple;
		transition: width 0.3s;
	}	
	.js-five-stars + .rating-percentage-container .rating-percentage {
		background-color: #18a36c;
	}
	.js-four-stars + .rating-percentage-container .rating-percentage {
		background-color: #18a36c;
	}
	.js-three-stars + .rating-percentage-container .rating-percentage {
		background-color: #727686;
	}
	.js-two-stars + .rating-percentage-container .rating-percentage {
		background-color: #ff496a;
	}
	.js-one-stars + .rating-percentage-container .rating-percentage {
		background-color: #ff496a;
	}
	.total-ratings-container {
		max-width: 140px;
	}
	.total-ratings-container h2 {
		display: inline-block;
		padding-top: 2px;
	}
	.total-ratings-container span {
		margin-right: 7px;
		float: right;		
		font-weight: 600;
	}
	.ratings-container {
		background-image: url(images/rating-stars-lab@2x.png);
	}
	.reviews-content-container {
		width: 635px;
    margin-top: 9rem;
    margin-bottom: 1rem;
		text-align: left;
		> h2 {
    	padding-bottom: 2.4rem;
			font-weight: 400;
			border-bottom: 1px solid #19191b;
		}
		.ratings-container {
			margin-right: 2rem;
			margin-bottom: 1rem;
			display: inline-block;
			vertical-align: top;			
		}
		.ratings-list {
			max-height: 600px;
			padding-top: 2rem;
			padding-bottom: 3rem;
			padding-right: 20px;
		}
		ul {
			position: relative;
			margin-bottom: 2rem;
			overflow: auto;
		}
		li {
			position: relative;
			margin-bottom: 3rem;
		}
		.reviews-content__title {
			position: relative;
			top: 2px;
			padding-right: 90px;
			margin: 0 0 1.5rem;
			display: inline-block;
			vertical-align: top;
			font-size: 1.8rem;
			font-weight: 600;
			color: $reflection-white;
		}
		.reviews-content__date {
	    position: absolute;
	    top: 6px;
	    right: 0;	    
	    color: $light-grey-1;
	    font-family: $brand-heading-font;
	    font-size: 16px;	    
		}
		p {
			font-size: 14px;
			strong {
				font-weight: 700;
				color: #54bee5;
			}
		}
	}
	.feedback-container {
    padding: 3.1rem 0 3.6rem 80px;
    margin-bottom: 3rem;
		border-top: 1px solid #19191b;
		border-bottom: 1px solid #19191b;
		svg {
			width: 57px;
			margin-right: 25px;
			display: inline-block;
			vertical-align: top;
		}
		div {
			width: 340px;
			display: inline-block;
			vertical-align: top;
		}
		h2 {
			font-weight: 400;
			color: #9f9bff;
		}
		a {
			color: $reflection-purple--dark;
			&:hover {
				color: darken($reflection-purple--dark, 5%);
			}
		}
	}
}