.page-data-vis {
	background-color: #29292c;
	.panel-left {
		border-right: 1px solid #000;
	}
	.page-title {
		margin-top: 1.9rem;
		margin-bottom: 0.8rem;
		font-size: 28px;
		font-weight: 600;
		color: #fcfdfd;
		span {
			margin-left: 20px;
			font-size: 22px;
			color: #727686;
		}
	}
	.page-subtitle {
    margin-bottom: 2.8rem;
    font-family: $brand-heading-font;
		font-size: 18px;
		font-weight: 400;
		color: #959baf;
	}
	.grid__row--heading-row {
		position: relative;
		margin-bottom: 2.2rem;
		border-bottom: 1px solid #161617;
		.filter-toggle {
	    position: absolute;
	    top: 20px;
	    right: 0;
		}
	}
	.divider-line {
    width: 100%;
    height: 60px;
    border-top: 1px solid #161617;
	}
}