.no-touchevents .l-main.page-research-tools-experiment,
.no-touchevents .panel-left-open .l-main.page-research-tools-experiment {
	width: 100% !important;
}
.page-research-tools-experiment {
	.page-data-dashboard {
		padding-top: 0;
	}
}
.research-experiment__banner {
	padding: 25px 28px 21px 40px;
	background-color: #29292C;
	.experimental-indicator {
		margin-right: 26px;
	}
	.sharing-container {
		margin-top: 14px;
		display: inline-block;
		float: right;
		vertical-align: top;
		overflow: visible;
		* {
			overflow: visible;
		}
	}
}
.research-experiment__banner__intro-text {
	max-width: 644px;
	margin-top: 9px;
	display: inline-block;
	vertical-align: top;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #C4C7D0;
	a {
		color: $reflection-purple--dark;
		&:hover {
			color: $reflection-purple--dark--hover;
		}
	}
}