.page-price-tier {
	.highcharts-axis-labels {
		stroke: #fcfcfd;
		opacity: 0.6;
	}
	.highcharts-grid path {
		stroke: #484848;
		opacity: 1;
	}
	.highcharts-background {
		fill: none;
	}
	.highcharts-tooltip {
		path:last-of-type {
			fill: #29292c;
		}
		text {
			tspan {
				fill: #fcfdfd;
			}
		}
	}
	.highcharts-legend-item {
		text:last-child {
			position: relative;
			top: 20px;
		}
		text, tspan {
			font-size: 13px;
			font-family: $brand-heading-font;
			font-weight: 400;
			fill: #fcfdfd;
		}
	}
	.bar-chart-title {
		font-size: 2rem;
		font-weight: 400;
    color: #fcfdfd;
	}
	.bar-chart {
		height: 350px;
		width: 100%;
		margin-bottom: 6rem;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		overflow: visible;
		li {
			position: relative;
			margin-right: 2px;
			display: inline-block;
    	vertical-align: bottom;
    	flex-grow: 1;
    	overflow: visible;
			background-color: #6d69c5;
		}
		.number-of-apps-label {
			position: absolute;
    	top: -24px;
    	width: 100%;
			font-family: $brand-heading-font;
			font-size: 1.3rem;
			color: #fcfdfd;
			text-align: center;
			opacity: 0.7;
		}
		.price-label {
			position: absolute;
    	bottom: -24px;
    	width: 100%;
			font-family: $brand-heading-font;
			font-size: 1.6rem;
			color: #fcfdfd;
			text-align: center;
		}
	}
}