.page-top-two-hundred {
	min-height: calc(100vh - 50px);
	background-color: #29292c;
	.panel-left {
		border-right: 1px solid #000;
	}
	.page-title {
		margin-top: 1.9rem;
		margin-bottom: 0.8rem;
		font-size: 28px;
		font-weight: 400;
		color: #fcfdfd;
		span {
			margin-left: 20px;
			font-size: 22px;
			color: #727686;
		}
	}
	.page-subtitle {
    margin-bottom: 2.8rem;
    font-family: $brand-heading-font;
		font-size: 16px;
		font-weight: 400;
		color: #727686;
	}
	.grid__row--heading-row {
		margin-bottom: 2.2rem;
		border-bottom: 1px solid #161617;
	}
}
.chart-two-hundred-container {
	width: 1116px;
	margin: 0 auto;
	font-size: 0;
}
.chart-two-hundred__revenue-chart,
.chart-two-hundred__downloads-chart {
	width: 460px;
	display: inline-block;
	vertical-align: top;
	h2 {
		font-family: $brand-heading-font;
		font-size: 18px;
		color: $reflection-white;
		&:after,
		&:before {
			top: -5px;
		}
	}
	.ref-icon-after--revenue:after {
		margin-left: 15px;
		font-size: 30px;
		color: #ffb44a;
	}
	.ref-icon-before--download:before {
		margin-right: 15px;
		font-size: 30px;
		color: $reflection-purple;
	}
}
.chart-two-hundred__revenue-chart {
	h2 {
		text-align: right;
	}
}
.chart-two-hundred-categories-container {
	width: 196px;
	display: inline-block;
	vertical-align: top;
	h2 {
		position: relative;
		top: -2px;
		margin-bottom: 17px;
		width: 100%;
		font-family: $brand-heading-font;
		font-size: 18px;
		font-weight: 400;
		color: #81879d;
		display: block;
		text-align: center;
	}
	.chart-two-hundred__category {
		height: 34px;
		width: 100%;
		padding-top: 9px;
		display: block;
		font-weight: bold;
		font-size: 15px;
		color: $reflection-white;
		text-align: center;
		border-bottom: 1px solid #29292c;
		&:nth-child(even) {
			background-color: #343438;
		}
	}
}
.chart-two-hundred__item {
	position: relative;
	height: 34px;
	clear: both;
	overflow: visible;
	border-bottom: 1px solid #29292c;
	&:last-child {
		span {			
			.chart-two-hundred__revenue-chart & {
				left: 2px;
				text-align: left;
			}
			.chart-two-hundred__downloads-chart & {
				left: auto;
				right: 2px;
				text-align: right;
			}
		}
	}
	span {
		position: absolute;
		left: -217px;
		width: 200px;
		padding: 9px 9px 0 9px;
		display: inline-block;
		font-size: 14px;
		font-weight: 700;		
		color: $reflection-white;
	}
	.chart-two-hundred__revenue-chart & {		
		float: right;
		background-color: #ffb44a;
		span {
			text-align: right;
		}
	}
	.chart-two-hundred__downloads-chart & {
		background-color: #6d69c5;
		span {
			left: auto;
			right: -217px;
		}
	}
}