.page-top-two-hundred {
	.l-main > .grid-container {
		height: 2000px;
	}
	.subcategory-title {
		margin: 20px 0 0;
	}
}
.chart-two-hundred-container {
	position: absolute;
	width: 1116px;
	margin: 0 auto;
	padding-bottom: 100px;
	font-size: 0;
	opacity: 0;
	transition: opacity 0.4s;
	&.is-showing {
		opacity: 1;
		transition: opacity 0.4s;
	}
}
.chart-two-hundred__revenue-chart,
.chart-two-hundred__downloads-chart {
	position: relative;
	width: 460px;
	display: inline-block;
	vertical-align: top;
	h2 {
		font-family: $brand-heading-font;
		font-size: 18px;
		color: $reflection-white;
		&:after,
		&:before {
			top: -5px;
		}
	}
	.ref-icon-after--revenue:after {
		margin-left: 15px;
		font-size: 30px;
		color: #ffb44a;
	}
	.ref-icon-before--download:before {
		margin-right: 15px;
		font-size: 30px;
		color: $reflection-purple;
	}
}
.chart-two-hundred__revenue-chart {
	h2 {
		text-align: right;
	}
}
.chart-two-hundred-categories-container {
	width: 196px;
	display: inline-block;
	vertical-align: top;
	h2 {
		position: relative;
		top: -2px;
		margin-bottom: 17px;
		width: 100%;
		font-family: $brand-heading-font;
		font-size: 18px;
		font-weight: 400;
		color: #81879d;
		display: block;
		text-align: center;
	}
	.chart-two-hundred__category {
		height: 34px;
		width: 100%;
		padding-top: 9px;
		display: block;
		font-weight: bold;
		font-size: 15px;
		color: $reflection-white;
		text-align: center;
		border-bottom: 1px solid #29292c;
		&:nth-child(even) {
			background-color: #343438;
		}
	}
}
.chart-two-hundred__revenue-chart h2 + ul li:first-child {
	span {
		left: 2px;
		text-align: left;
	}
}
.chart-two-hundred__downloads-chart h2 + ul li:first-child {
	span {	
		left: auto;
		right: 2px;
		text-align: right;
	}
}
.chart-two-hundred__item {
	position: relative;
	height: 34px;
	width: 0;
	clear: both;
	overflow: visible;
	border-bottom: 1px solid #29292c;
	span {
		position: absolute;
		left: -217px;
		width: 200px;
		padding: 9px 9px 0 9px;
		display: inline-block;
		font-size: 14px;
		font-weight: 700;		
		color: $reflection-white;
	}
	.chart-two-hundred__revenue-chart & {		
		float: right;
		background-color: #ffb44a;
		span {
			text-align: right;
		}
	}
	.chart-two-hundred__downloads-chart & {
		background-color: #6d69c5;
		span {
			left: auto;
			right: -217px;
		}
	}
}