// Styles for IE 8 and lower.
 
// Set the legacy IE support variables. These override the !default values set
// in _init.scss.
$legacy-support-for-ie6 : false;
$legacy-support-for-ie7 : false;
$legacy-support-for-ie8 : true;
 
// Force the breakpoint mixin to discard all media queries except ones with
// $no-query set to true. Since we use the default values in styles.scss,
// we don't need to set these in _init.scss.
$breakpoint-no-queries  : true;
$breakpoint-no-query-fallbacks : true;

@import "base/base-designkit";

/* Left panel */
.panel-left-open .panel-left {
	position: absolute;
	overflow: auto;
}

/* Layout */
.l-main {
	width: 100%;
	min-height: 1000px;
}
.l-page-container {
	overflow: auto;
	overflow-x: hidden;
}

/* Hamburger */
.hamburger__button {
	position: inherit !important;
}

/* Search overlay */
.search__form {
	.button-cancel {
		height: auto;
		width: auto;
		padding: 0;
		display: inline-block;
		&:before {
			display: none;
		}
		span {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
			color: #b5b8c5;
			text-indent: 0;
		}
	}
}
/* Typography */
blockquote {
	padding-top: 50px;
	&:before {
		top: 0;
	}
}
ul.content-list,
ul.content-list--featured,
ul.content-list--minor {
	li {
		background: url(../images/bg-bullet-nr.png) no-repeat left 0.6em;
	}
}

/* Buttons */
.ref-button--link,
.ref-button--link-large {
	overflow: visible;
}
.ref-button--cta-large,
.ref-button--cta-large--wide,
.ref-button--function-large,
.ref-button--function-large--wide {
	font-size: 16px;
}

/* Tabs */
.ie8 .tabs__content * {
	display: none;
}
.ie8 .tabs__content.tabs__content--is-showing * {
	display: block;
}

/* Design Kit Templates */
// Grid
.grid-demo-layer-top {
	padding-bottom: 40px;
}
// Colours
.dk-component-row .colour-box {
	margin-bottom: 0;
}
// Interactions
.interactions-page .grid__column--one-third {
	h4 {
		margin-bottom: 19px;
	}
	button {
		margin-bottom: 30px;
	}
}
.interactions-page .grid__column--one-third .main-navigation {
	margin-bottom: 30px;
}