/* Global */
$purple-reflection: #6d69c5;
$purple-pale: #c3c6f6;
$brand-pink: #ff496a;
$brand-blue-grey: #81879d;
$base-font-color: #29292c;
$base-p-color: #5b5b68;
$base-heading-color: #29292c;
$blue-dark: #363a47;
$grey-panel-background: #28292c;
$white-off: #fcfdfd;
