%ref-icon { // pixel fix for some browsers and reset
	padding: 0;
	line-height: 1;
	text-decoration: none;
}

/* Reflection Icons */
.ref-icon-before {
	@extend %ref-icon;
	&:before {
		@extend %icon-font;
		font-size: 22px;
		position: relative;
	}
}
.ref-icon-after {
	@extend %ref-icon;
	&:after {
		@extend %icon-font;
		font-size: 22px;
		position: relative;
	}
}
.ref-icon-hidden-text {
	font-size: 0;
}
.sort-svg {
	width: 7px;
	height: 12px;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	path {
		fill: $light-grey-2;
		transition: fill 0.1s;
	}
	.is-descending & {
		.descending {
			fill: $reflection-purple;
		}
	}
	.is-ascending & {
		.ascending {
			fill: $reflection-purple;
		}
	}
}