/* Font face declarations */

/* Typography variables */
$brand-body-font: 'Lato', sans-serif;
$brand-heading-font: 'Source Sans Pro', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$code-font: Courier, sans-serif;

/* Font declarations */
@font-face {
  font-family: "reflection-icons-1";
  src:url("fonts/fontastic/reflection-icons-1.eot");
  src:url("fonts/fontastic/reflection-icons-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/fontastic/reflection-icons-1.woff") format("woff"),
    url("fonts/fontastic/reflection-icons-1.ttf") format("truetype"),
    url("fonts/fontastic/reflection-icons-1.svg#reflection-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Typography placeholders */
%icon-font {
	speak: none;
	font-family: "reflection-icons-1";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="reficon-"], [class*=" reficon-"] {
  height: 18px;
  width: 18px;
  display: inline-block;
  fill: currentColor;
}

/* Typography classes */
.open-sans {
	font-family: $brand-heading-font;
	font-weight: 400;
}
.open-sans-semi {
	font-family: $brand-heading-font;
	font-weight: 600;
}
.open-sans-bold {
	font-family: $brand-heading-font;
	font-weight: 700;
}
.lato {
	font-family: $brand-body-font;
	font-weight: 400;
}
.lato-bold {
	font-family: $brand-body-font;
	font-weight: 700;
}

.ref-icon-before--search:before {
	content: "a";
}
.ref-icon-before--cog:before {
	content: "b";
}
.ref-icon-before--hamburger:before {
	content: "d";
}
.ref-icon-before--my-data:before {
	content: "h";
}
.ref-icon-before--leaderboard:before {
	content: "i";
}
.ref-icon-before--forum:before {
	content: "c";
}
.ref-icon-before--blog:before {
	content: "g";
}
.ref-icon-before--help:before {
	content: "e";
}
.ref-icon-before--info:before {
	content: "f";
}
.ref-icon-before--facebook:before {
	content: "n";
}
.ref-icon-before--twitter:before {
	content: "o";
}
.ref-icon-before--linkedin:before {
	content: "p";
}
.ref-icon-before--google-plus:before {
	content: "S";
}
.ref-icon-before--plus:before {
	content: "T";
}
.ref-icon-before--cancel:before {
	content: "s";
}
.ref-icon-before--cloud:before {
	content: "f";
}
.ref-icon-before--minus:before {
	content: "L";
}
.ref-icon-before--revenue:before {
	content: "M";	
}
.ref-icon-before--angle-up:before {
	content: "m";
}
.ref-icon-before--my-apps:before {
	content: "N";
}
.ref-icon-before--refresh:before {
	content: "O";
}
.ref-icon-before--apple:before {
	content: "R";
}
.ref-icon-after--angle-up:after {
	content: "m";
}
.ref-icon-after--angle-right:after {
	content: "l";
}
.ref-icon-after--angle-down:after {
	content: "j";
}
.ref-icon-after--angle-left:after {
	content: "k";
}
.ref-icon-after--triangle-down:after {
	content: "q";
}
.ref-icon-after--dot:after {
	content: "r";
}
.ref-icon-before--dot:before {
	content: "r";
}
.ref-icon-before--check:before {
	content: "t";
}
.ref-icon-after--check:after {
	content: "t";
}
.ref-icon-after--calendar:after {
	content: "u";
}
.ref-icon-after--question:after {
	content: "F";
}
.ref-icon-after--info:after {
	content: "J";
}
.ref-icon-after--close:after {
	content: "K";
}
.ref-icon-before--location:before {
	content: "Q";
}
.ref-icon-before--mail:before {
	content: "P";
}
.ref-icon-before--wrench:before {
	content: "U";
}

/* Base typography */
#{headings()}, p, li, a, blockquote, time, span, cite {
	@extend %font-smoothing;
	&:last-child {
		margin-bottom: 0;
	}
}
#{headings()}, .heading-style {
	@extend .open-sans-semi;	
	overflow: visible;	
	line-height: 1;
	color: $dark-grey-1;
	&:first-child {
		margin-top: 0;
	}
}
h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h4, h3 + h5, h3 + h6,
h4 + h5, h4 + h6,
h5 + h6,
.heading-style--heading-one + .heading-style--heading-two,
.heading-style--heading-one + .heading-style--heading-three,
.heading-style--heading-one + .heading-style--heading-four,
.heading-style--heading-one + .heading-style--heading-five,
.heading-style--heading-one + .heading-style--heading-six,
.heading-style--heading-two + .heading-style--heading-three,
.heading-style--heading-two + .heading-style--heading-four,
.heading-style--heading-two + .heading-style--heading-five,
.heading-style--heading-two + .heading-style--heading-six,
.heading-style--heading-three + .heading-style--heading-four,
.heading-style--heading-three + .heading-style--heading-five,
.heading-style--heading-three + .heading-style--heading-six,
.heading-style--heading-four + .heading-style--heading-five,
.heading-style--heading-four + .heading-style--heading-six,
.heading-style--heading-five + .heading-style--heading-six,
h1 + .heading-style--heading-two,
h1 + .heading-style--heading-three,
h1 + .heading-style--heading-four,
h1 + .heading-style--heading-five,
h1 + .heading-style--heading-six,
h2 + .heading-style--heading-three,
h2 + .heading-style--heading-four,
h2 + .heading-style--heading-five,
h2 + .heading-style--heading-six,
h3 + .heading-style--heading-four,
h3 + .heading-style--heading-five,
h3 + .heading-style--heading-six,
h4 + .heading-style--heading-five,
h4 + .heading-style--heading-six,
h5 + .heading-style--heading-six,
.heading-style--heading-one + h2,
.heading-style--heading-one + h3,
.heading-style--heading-one + h4,
.heading-style--heading-one + h5,
.heading-style--heading-one + h6,
.heading-style--heading-two + h3,
.heading-style--heading-two + h4,
.heading-style--heading-two + h5,
.heading-style--heading-two + h6,
.heading-style--heading-three + h4,
.heading-style--heading-three + h5,
.heading-style--heading-three + h6,
.heading-style--heading-four + h5,
.heading-style--heading-four + h6,
.heading-style--heading-five + h6 {
	margin-top: 0;
}
.small-text {
	font-size: 1.2rem;
}
// Set up classes for reusable font sizes as per design kit
h1, .heading-style--heading-one {
	@extend .heading-style;
	margin-top: 3rem;	
	margin-bottom: 0.65em;
	font-size: 2.7rem;
	line-height: 1.2em;
	&:first-child:last-child {
		margin-bottom: 0.68em;
	}
	@include breakpoint($tablet) {
		margin-top: 4rem;
		margin-bottom: 0.65em;
		@include font-size(41px);
		line-height: 1.2em;
		&:first-child:last-child {
			margin-bottom: 0.43589743589744em;
		}
	}
}
h2, .heading-style--heading-two {
	@extend .heading-style;
	margin-top: 3rem;
	margin-bottom: 0.6em;
	font-size: 2.5rem;
	line-height: 1.3em;
	&:first-child:last-child {
		margin-bottom: 0.68em;
	}
	@include breakpoint($tablet) {		
		margin-top: 4rem;
		margin-bottom: 0.6em;
		@include font-size(33px);
		line-height: 1.3em;
		&:first-child:last-child {
			margin-bottom: 0.54838709677419em;
		}
	}
}
h3, .heading-style--heading-three {
	@extend .heading-style;
	margin-top: 3rem;
	margin-bottom: 0.68em;
	font-size: 2.3rem;
	line-height: 1.3em;
	@include breakpoint($tablet) {
		margin-top: 4rem;
		font-size: 2.7rem;
	}
	&:first-child:last-child {
		margin-bottom: 0.68em;
	}
}
h4, .heading-style--heading-four {
	@extend .heading-style;
	margin-top: 3rem;
	margin-bottom: 0.8em;
	font-size: 2.1rem;
	line-height: 1.4em;
	@include breakpoint($tablet) {
		margin-top: 4rem;
		font-size: 2.2rem;
	}
	&:first-child:last-child {
		margin-bottom: 0.8em;
	}
}
h5, .heading-style--heading-five {
	@extend .heading-style;
	margin-top: 3rem;
	margin-bottom: 0.7em;
	font-size: 1.9rem;
	line-height: 1.35em;	
	@include breakpoint($tablet) {
		margin-top: 4rem;
		font-size: 1.8rem;
	}
	&:first-child:last-child {
		margin-bottom: 0.7em;
	}
}
h6, .heading-style--heading-six {
	@extend .heading-style;
	margin-top: 3rem;
	margin-bottom: 0.7em;
	font-size: 1.7rem;	
	line-height: 1.35em;
	@include breakpoint($tablet) {
		margin-top: 4rem;
		font-size: 1.6rem;
	}
	&:first-child:last-child {
		margin-bottom: 0.7em;
	}
}
p {
	max-width: 650px;
	margin-bottom: 1.2em;
	font-size: 1.6rem;
	line-height: 1.5625em;
	color: $mid-grey-1;
	@include breakpoint($desktop) {
		max-width: 680px;
	}
	@include breakpoint($desktop-wide) {
		max-width: 850px;
	}
	a {
		text-decoration: none;
		color: $reflection-purple;
		.no-touch & {
			&:hover {
				color: $reflection-purple--hover;
			}
			&:active {
				position: relative;
				top: 2px;
			}
		}
	}
}
.text-link {
	text-decoration: none;
	color: $reflection-purple;
	.no-touch & {
		&:hover {
			color: $reflection-purple--hover;
		}
		&:active {
			position: relative;
			top: 2px;
		}
	}
}
.p-style--minor {
	margin-bottom: 1.5em;
	@include font-size(14px);
	line-height: 1.64285714285714em;
	&:last-child {
		margin-bottom: 0;
	}
}
.p-style--featured {
	margin-bottom: 1.5em;
	@include font-size(18px);
	line-height: 1.55555555555556em;
	&:last-child {
		margin-bottom: 0;
	}
}
.content-list {
	margin-top: 1.8em;
	margin-bottom: 1.875em;
	@include font-size(16px);
	line-height: 1.375em;
	&:last-child {
		margin-bottom: 0;
	}
	li {
		max-width: 650px;
		margin-bottom: 0.62em;
		padding-left: 31px;
		color: $mid-grey-1;
		@include breakpoint($desktop) {
			max-width: 850px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		a {
			text-decoration: none;
			color: $reflection-purple;
			.no-touch & {
				&:hover {
					color: $reflection-purple--hover;
				}
				&:active {
					position: relative;
					top: 2px;
				}
			}			
		}
	}
	&.content-list--no-bullets {
		li {
			padding-left: 0;
			background: none;
			&:before {
				display: none;
			}
		}
	}
}
h1 + .content-list,
h2 + .content-list,
h3 + .content-list,
h4 + .content-list,
h5 + .content-list,
h6 + .content-list {
	margin-top: 0;
}
.content-list--featured {
	margin-bottom: 1.5em;
	font-size: 2rem;
	line-height: 1.3em;
	&:last-child {
		margin-bottom: 0;
	}
	li {
		margin-bottom: 0.5em;
		padding-left: 31px;
	}
}
.content-list--minor {
	margin-bottom: 2.14285714285714em;
	font-size: 1.4rem;
	line-height: 1.42857142857143em;
	&:last-child {
		margin-bottom: 0;
	}
	li {
		margin-bottom: 0.44em;
		padding-left: 26px;
		color: $mid-grey-1;
	}
}
ol.content-list,
ol.content-list--minor,
ol.content-list--featured {
	counter-reset: ordered-counter;
	li {
		position: relative;
		padding-left: 5rem;
		@include breakpoint($tablet) {
			padding-left: 6rem;
		}
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			font-family: $brand-heading-font;
			font-weight: 600;
			color: $dark-grey-1;
			content: counter(ordered-counter);
			counter-increment: ordered-counter;
			.page-terms & {
				content: counter(ordered-counter) ".0";
			}
		}
		ol {
			counter-reset: ordered-sub-counter;
			li:before {
				font-family: $brand-heading-font;
				font-weight: 600;
				content: counter(ordered-counter) "." counter(ordered-sub-counter);
				counter-increment: ordered-sub-counter;
				.page-terms & {
					content: counter(ordered-counter) "." counter(ordered-sub-counter);
				}
			}
		}
	}
	p {
		color: $mid-grey-1;
	}
}
ol.content-list,
ol.content-list--minor {
	li:before {
		@extend .open-sans-bold;
	}
}
ol.content-list--featured {
	li:before {
		font-size: 1.9rem;
		@extend .open-sans-semi;
	}
}
ul.content-list,
ul.content-list--featured,
ul.content-list--minor {
	li {
		position: relative;
		&:before {
    	content: "\2022";
    	position: absolute;
			left: 0.1rem;
    	font-family: $brand-body-font;
    	font-size: 1.6rem;
    	color: $reflection-purple;
  	}
	}
}
blockquote {
	position: relative;
	padding-top: 38px;
	font-family: $brand-heading-font;
	font-weight: 600;
	color: $mid-grey-2;
	margin-bottom: 3em;
	margin-top: 3rem;
	@extend %font-smoothing;
	&:before {
		position: absolute;
		top: 20px;
		left: -4px;
		display: block;
		width: 100%;
		font-family: $source-sans-pro;
		content: "\201C";
		font-size: 80px;
		color: #e8e7f1;
	}
	p {
		margin-bottom: 1em;
		font-family: $brand-heading-font;
		font-weight: 600;
		line-height: 1.45;
		@include font-size(16px);
		color: $mid-grey-1;
	}	
	cite {
		font-family: $brand-body-font;
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 1.5;
		span {
			margin-bottom: 4px;
			display: block;
			font-family: $brand-heading-font;
			font-size: 1.6rem;
			font-weight: 600;
			color: $dark-grey-1;
		}
	}
	&.blockquote--on-purple {
		&:before {
			color: #5f5bb4;
		}
		p {
			color: #fff;
		}
		cite {
			color: #c3c6f6;
			span {
				color: #fefefe;
			}
		}
	}
}
strong {
	font-weight: 700;
	color: $dark-grey-1;
}
.blockquote--large {
	padding-top: 0;
	padding-left: 65px;	
	margin-top: 3.4rem;
	margin-bottom: 3.5rem;
	font-size: 1.1em;
	p {
		margin-bottom: 1.2em;
		font-size: 1.6em;
	}
	&:before {
		top: 32px;
		left: 0;
		font-size: 100px;
	}
	cite {
		font-size: 1.4rem;
		span {
			font-size: 1.8rem;
		}
	}
}
figcaption {
	margin-top: 1.2rem;
	margin-bottom: 1.9em;
	padding: 0 3%;
	font-size: 1.4em;
	line-height: 1.5625em;	
	display: block;
	color: #81869e;
}
.warning-text {
	color: $reflection-red !important;
}
a.warning-text:hover {
	.no-touch & {
		color: $error-red !important;
	}
}
img.image-full-width {
	width: 100%;
}