.theme-dark {
	.page-data-dashboard {
		.page-header__data-info-text {
			color: $light-grey-2;
		}
		.custom-chart-key {
			border-color: #000;
		}
	}
	.page-header__text-link,
	.data-table__app-summary__app-name a {
		@extend .text-link--dark;
	}
	.chart-container,
	.chart-container:first-child {
		border-color: #000;
		background-color: #29292c;
	}
	.total-for-period-title {
		color: $light-grey-1;
	}
	.total-for-period {
		font-weight: 400;
		color: $reflection-white;
	}
	.growth-on-last-period {
		font-weight: 400;
	}
	.data-table-section {
		.section-title {
			span {
				color: #727686;
				&:last-child {
					color: $light-grey-2;
				}
			}
		}
	}
	.data-table-section__header,
	.data-table-section__summary {
		border-color: #000;
	}
	.data-table-section--totals-title {
		color: $light-grey-2;
	}	
	.data-table-section__summary__figures .data-table-section__summary__total-revenue,
	.data-table-section__summary__figures .data-table-section__summary__total-downloads {
		color: $reflection-white;
	}
	.data-table-section__summary__figures .data-table-section__summary__growth.positive-colour {
		color: #12a76a;
	}
}