.theme-dark {
	.primary-filters-container {
		.primary-filter {
			color: $light-grey-2;
			border-color: #000;
			.form-field--select__box {
				background-color: #242426;
				&:after {
					color: #727686;
				}
			}
			&.is-open {
				color: $reflection-white;
				border-color: #35335d;
				.form-field--select__box {
					background-color: #47447c;
					&:after {
						color: #9fa1d5;
					}
				}
			}
		}
	}
	.form-field--select__dropdown {
		.form-field--select__dropdown__parent-option {
			border-color: #5a5a68;
		}
	}
}