.theme-dark {
	.highcharts-axis path {
		 stroke: #000;
	}
	.custom-chart-key {
		li.revenue-key {
			input[type="checkbox"]:checked + .checkboxLabel {
				background-color: #f5c943 !important;
			}
		}
		li.downloads-key {
			input[type="checkbox"]:checked + .checkboxLabel {
				background-color: #918edf !important;
			}
		}
		li.series-1 {
			input[type="checkbox"]:checked + .checkboxLabel {
				background-color: #7fc2b6;
			}
		}
		li.series-2 {
			input[type="checkbox"]:checked + .checkboxLabel {
				background-color: #e77465;
			}
		}
		li.series-3 {
			input[type="checkbox"]:checked + .checkboxLabel {
				background-color: #74a2c3;
			}
		}
		li.series-4 {
			input[type="checkbox"]:checked + .checkboxLabel {
				background-color: #ddadc5;
			}
		}
		li.series-5 {
			input[type="checkbox"]:checked + .checkboxLabel {
				background-color: #b6a38c;
			}
		}
		li.series-6 {
			input[type="checkbox"]:checked + .checkboxLabel {
				background-color: #ad73af;
			}
		}
		li.series-7 {
			input[type="checkbox"]:checked + .checkboxLabel {
				background-color: #c6c6c6;
			}
		}
		li.series-8 {
			input[type="checkbox"]:checked + .checkboxLabel {
				background-color: #e9a552;
			}
		}
		li.series-9 {
			input[type="checkbox"]:checked + .checkboxLabel {
				background-color: #aea9c8;
			}
		}
	}
}