.is-loading-background--dark {
  background-color: $dark-grey-1;
  background: linear-gradient(90deg, $dark-grey-1, $dark-grey-1, #1c1c1c, $dark-grey-1, $dark-grey-1);
  background-size: 200% 100%;
  animation: BackgroundGradientPulseDark 1.5s linear infinite;
}