.theme-dark {
	.summary-widget {
		background-color: #343438;
	}
	.summary-widget__data-item__app-name {
		@extend .text-link--dark;
	}
	a:hover .summary-widget__data-item__app-name {
		color: $reflection-purple;
	}
	.summary-widget__data-item__data {
		color: $reflection-white;
		&.positive-colour {
			color: #12a76a;
		}
		&.negative-colour {
			color: #ff496a;
		}
	}	
	.summary-widget__data-title {
		color: $light-grey-1;
	}
}