.theme-dark {
	.ref-table {
		color: $reflection-white;
		th {
			color: $light-grey-1;
		}
		tbody tr:nth-child(odd),
		tbody tr:nth-child(even) {
			background-color: #343438;
		}
	}
	.ref-table--apps tr,
	.ref-table--publishers tr {
		border-color: #29292c;
		border-width: 2px;
	}
	.ref-table--apps .total-for-period-head-cell span:nth-child(2),
	.ref-table--publishers .total-for-period-head-cell span:nth-child(2),
	.ref-table--apps .data-table__value-bar:first-child > span,
	.ref-table--publishers .data-table__value-bar:first-child > span {
		color: #ffb44a;
	}
	.ref-table--apps .data-table__value-bar:first-child div span,
	.ref-table--publishers .data-table__value-bar:first-child div span {
		background-color: #ffb44a;
	}
	.ref-table--apps .total-for-period-head-cell span:nth-child(3),
	.ref-table--publishers .total-for-period-head-cell span:nth-child(3),
	.ref-table--apps .data-table__value-bar > span,
	.ref-table--publishers .data-table__value-bar > span {
		color: #9f9bff;
	}
	.ref-table--apps .data-table__value-bar div span,
	.ref-table--publishers .data-table__value-bar div span {
		background-color: $reflection-purple;
	}
	.ref-table--apps .data-table__value-bar div,
	.ref-table--publishers .data-table__value-bar div {
		background-color: $dark-grey-1;
	}
	.ref-table--apps .data-table__growth.positive-colour,
	.ref-table--publishers .data-table__growth.positive-colour {
		color: #12a76a;
	}
	.ref-table--apps .data-table__store.is-loading,
	.ref-table--publishers .data-table__store.is-loading,
	.data-table__app-summary__app-name.is-loading,
	.ref-table--apps .app-data-revenue.is-loading span:first-child,
	.ref-table--apps .app-data-downloads.is-loading span:first-child,
	.ref-table--apps .data-table__value-bar.is-loading div {
		@extend .is-loading-background--dark;
	}
	.ref-table--apps .app-data-cell-released-date.is-loading span,
	.ref-table--publishers .app-data-cell-released-date.is-loading span,
	.ref-table--apps .app-data-revenue.is-loading span,
	.ref-table--apps .app-data-downloads.is-loading span.data-table__growth,
	.ref-table--apps .app-data-cell-more.is-loading span,
	.ref-table--publishers .app-data-revenue.is-loading span,
	.ref-table--publishers .app-data-downloads.is-loading span.data-table__growth,
	.ref-table--publishers .app-data-cell-more.is-loading span,
	.ref-table--publishers .app-data-cell-more.is-loading span,
	.ref-table--apps .data-table__value-bar.is-loading span,
	.ref-table--publishers .data-table__value-bar.is-loading span {
		background-color: $dark-grey-1;
	}
}