// Add Compass' IE and vendor prefix support variables.
// Docs at http://compass-style.org/reference/compass/support/
@import "compass/support";
// Docs at http://breakpoint-sass.com/
@import "breakpoint";

@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/appearance";
@import "compass/css3/opacity";
@import "compass/layout/grid-background";
@import "base/reset";
@import "../layout/layout";
@import "../layout/grid";
@import "../ui/*";
@import "../helpers/*";
@import "../templates/*";

/* Components */
@import "../components/*";

/* Browser fixes */
@import "../support/*";

p.browserupgrade {
	width: 100%;
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
}


/* Print styles */
@import "../print/*";