
// Add Compass' IE and vendor prefix support variables.
// Docs at http://compass-style.org/reference/compass/support/
@import "compass/support";
// Docs at http://breakpoint-sass.com/
@import "breakpoint";

@import "compass/reset";

// template
* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
	background-color: #29292c;
}
