
// Add Compass' IE and vendor prefix support variables.
// Docs at http://compass-style.org/reference/compass/support/
@import "compass/support";
// Docs at http://breakpoint-sass.com/
@import "breakpoint";

@import "compass/reset";

// template
* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
	background-color: #29292c;
}

.data-vis-container {
	margin-top: 20px;
	text-align: center;
}

#chart {
  width: 1280;
  height: 800px;
  margin: 0 auto 300px;
  display: inline-block;
  background: #ddd;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: #6d69c5;
  stroke: #363a47;
  transition: fill 0.2s, stroke 0.2s;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
  stroke: #363a47;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

g.children:hover rect.child {
	fill: #1bc79f !important;
	stroke: #159d7d !important;
	fill-opacity: 1;
}
rect.child {
	cursor: pointer;
}
.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children text,
.depth text {
	fill: white;
	font-weight: 400;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}

text.text-title {
	font-weight: 600;
}

rect.parent {
  /*fill: #bbb; */
  fill-opacity: 0;
  pointer-events: none;
}

.children:hover rect.child {
  /*fill: #bbb;*/
  cursor: pointer;
}

.tt-image {
	width: 80px;
	height: 80px;
	margin-bottom: 12px;
	border-radius: 10px;
}
h2.tt-category-title {
	font-size: 18px;
	margin-bottom: 8px;
}
h3.tt-category-value {
	font-size: 14px;
	line-height: 1.2;
}