* {
	text-decoration: none;
}
/* Global base styles */
html, body
{
	position: relative;
	overflow-x: hidden;
	font-family: $brand-body-font;
	font-size: 10px;
	line-height: 1.5rem;
	color: $dark-grey-1;
	background-color: $reflection-white;
	@extend %font-smoothing;
	-webkit-text-size-adjust: 100%;
}
html.no-scroll,
body.no-scroll {
	overflow: hidden;
}
body {
	min-height: 100vh;
}
#{elements-of-type(block)},
li {
	@extend %has-layout;
	@include box-sizing(border-box);
}
a {
	outline: none;
	transition: border-color $base-transition-speed-off, background-color $base-transition-speed-off, color $base-transition-speed-off;
	&:hover {
		transition: border-color $base-transition-speed-on, background-color $base-transition-speed-on, color $base-transition-speed-on;
	}
}
.touchevents * {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input::-ms-clear {
    display: none;
}