.page-about {
	.tabs-container {
		margin: 0 auto;
	}
	.tabs__content-container {
		margin-bottom: 3rem;		
		padding-bottom: 0;
		float: left;
		overflow: visible;		
		@include breakpoint($tablet) {
			margin-bottom: 5.3rem;
			padding-bottom: 4rem;
			background-color: #f2f2f5;
		}
		* {
			overflow: visible;
		}
		> li {			
			position: relative;
			width: 100%;
			float: left;
			z-index: 10;
			border-bottom: 1px solid $divider-grey;
			@include breakpoint($tablet) {
				border-bottom: none;
			}
			@include breakpoint($desktop-wide) {
				position: relative;
				left: 50%;
				width: 1300px;
				margin-left: -650px;
			}
		}
	}
	.collapsible-trigger {
		background-color: transparent;
	}
	.reveal-content {
		width: 100%;
		float: left;
		background-color: #f2f2f5;
		@include breakpoint($tablet) {
			float: none;
		}
	}
	.svg-bubble {
		max-width: 23px;
	}
	.svg-cog {
		max-width: 24px;
	}
}
.page-about--title {
	text-align: center;
}
.page-about--intro {
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 2rem;
	@include breakpoint($tablet) {
		@include column(10);
		margin-bottom: 5.9rem;
	}
	.two-columns {
		max-width: 1225px;
		margin: 0 auto;
		line-height: 1.6;
		@include breakpoint($tablet) {
			-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	    -webkit-column-gap: 4rem;
	    -moz-column-gap: 4rem;
	    column-gap: 4rem;
		}		
	}
}
.page-about-foot-content__svg-container {
	margin-bottom: 3rem;
	@include breakpoint($tablet) {
		margin-bottom: 8rem;
	}
	svg {
		max-width: 220px;
		margin-right: 16%;
		float: right;
	}	
}
.page-about-foot-content__text {
	max-width: 800px;
	margin-bottom: 8rem;
	padding-right: percentage(60/1000);
}