.page-admin {
	padding-top: 34px;
	padding-bottom: 60px;
	overflow: visible;
	.page-functions {
		display: block;
	}
	table.table-data {
		table-layout: auto;
		.ref-button--function-small,
		.ref-button--link,
		.ref-button--link-large {
			font-size: 1.1rem;
		}
	}
}
.filters-container.admin-filters-container {
	overflow: visible;
	.form-field--select {
		width: 16%;
		margin-right: 1%;
	}
	.ref-button--function-small {
		margin-right: 1%;
	}
}
.filter-row-two {
	margin-top: 10px;
}