.page-blog {
	padding-top: 34px;
	padding-bottom: 66px;
	.search-field-no-label {
		padding: 7px 14px 9px 13px;
		input[type="text"] {
			font-size: 1.4rem;
		}
		input[type="submit"] {
			font-size: 1.75rem;
			color: #81879D;
		}
	}
	.filters-container {		
		width: 100%;
		padding-top: 0;
		padding-bottom: 0.1rem;
		float: left;
		background-color: transparent;
		h1 {
			margin-bottom: 0;
		}
		.grid__column {
			overflow: visible;
		}
		.grid__column--right {
			float: right;
			font-size: 0;
			> div {
				width: 46%;
				margin-left: 4%;
				display: inline-block;
			}
		}
		.reflection-select {
			span {
				background-color: transparent;
			}
		}
	}
	.addthis_sharing_toolbox {
		position: absolute;
		right: 0px;
		bottom: 0.4rem;
	}
}
.blog-content-container {
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
	@include breakpoint($desktop) {
		max-width: 680px;
	}
	@include breakpoint($desktop-wide) {
		max-width: 750px;
	}
}
.blog-article-list {
	li {
		padding-bottom: 2.5rem;
		margin-bottom: 2.5rem;
		border-bottom: 1px solid #e1e1e1;
	}
}
.blog-article {
	position: relative;
	h2, h2 a {
		color: $reflection-purple;
		&:hover {
			color: darken($reflection-purple, 10%);
		}
		&:active {
			color: darken($reflection-purple, 10%);
		}
	}
	img {
		max-width: 100%;
		margin-bottom: 1.875em;
		font-size: 1.6rem;
	}
	.more-link {
		margin-bottom: 0;
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 700;
	}
}
.blog-article--info {
	font-size: 1.4rem;
	margin-top: 2.5rem;
	a {
		font-weight: 700;
	}
	span, a {
		padding: 0 0.3rem;
	}
	strong {
		padding-right: 0.3rem;
	}
}
.blog-article-full {
	position: relative;
	padding-bottom: 2.7rem;
	margin-bottom: 3.1rem;
	border-bottom: 1px solid #e1e1e1;
	.blog-article--info {
		font-size: 1.6rem;
	}
	.comments-link {
		float: right;
	}
	img {
		max-width: 100%;
		margin-top: 0.9em;
		margin-bottom: 0.5em;		
		font-size: 1.6rem;
	}
	img + p {
		margin-top: 2rem;
	}
	h2 + img,
	h3 + img,
	h4 + img,
	h5 + img,
	h6 + img {
		margin-top: 0.8em;
	}
	.blog-article__footer {
		margin-top: 4.5rem;
		.blog-tags {
			margin-bottom: 1.4rem;
		}
		.blog-article--info {
			margin-top: 0;
		}
	}
	.addthis_sharing_toolbox {
		bottom: 2.7rem;
	}
}
.blog-tags {
	strong {
		padding-right: 3px;
	}
	a {
		padding: 0 3px;
		font-weight: 700;
	}
}
.blog-comments {
	position: relative;
	h2 {
		margin-bottom: 2.3rem;
	}
	.make-comment-button {
		position: absolute;
		top: 0;
		right: 0;
	}
	textarea {
		width: 100%;
		height: 123px;
		resize: none;
	}
}