.page-blog {
	padding-top: 34px;
	padding-bottom: 66px;
	overflow: visible;
	.search-field-no-label {
		padding: 7px 14px 9px 13px;
		input[type="text"] {
			font-size: 1.4rem;
		}
		input[type="submit"] {
			font-size: 1.75rem;
			color: #81879D;
		}
	}
	.filters-container {		
		width: 100%;
		padding-top: 0;
		padding-bottom: 0.1rem;
		float: left;
		background-color: transparent;
		h1 {
			margin-bottom: 0;
		}
		.grid__column {
			overflow: visible;
		}
		.grid__column--right {
			float: right;
			font-size: 0;
			> div {
				width: 46%;
				margin-left: 4%;
				display: inline-block;
			}
		}
		.reflection-select {
			span {
				background-color: transparent;
			}
		}
	}
}
.blog-article-list {
	li {
		padding-bottom: 3rem;
		margin-bottom: 2.5rem;
		border-bottom: 1px solid #e1e1e1;
	}
}
.blog-article {
	h2 {
		color: $reflection-purple;
	}
	img {
		max-width: 100%;
		margin-bottom: 1.875em;
		font-size: 1.6rem;
	}
	.more-link {
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 700;
	}
}
.blog-article--info {
	font-size: 1.4rem;
	margin-top: 2.5rem;
	a {
		font-weight: 700;
	}
	span, a {
		padding: 0 0.3rem;
	}
}