.page-blog {
	padding-top: 34px;
	padding-bottom: 66px;
	.breadcrumb-container {
		padding: 0;
	}
	.search-field-no-label {
		padding: 7px 14px 9px 13px;
		input[type="text"] {
			font-size: 1.4rem;
		}
		input[type="submit"] {
			font-size: 1.75rem;
			color: #81879D;
		}
	}
	.filters-container {		
		width: 100%;
		padding-top: 0;
		padding-bottom: 0.1rem;
		float: left;
		background-color: transparent;
		h1 {
			margin-bottom: 0;
		}
		.grid__column {
			overflow: visible;
		}
		.grid__column--right {
			float: right;
			font-size: 0;
			> div {
				width: 46%;
				margin-left: 4%;
				display: inline-block;
			}
		}
		.reflection-select {
			span {
				background-color: transparent;
			}
		}
	}
	.addthis_sharing_toolbox {
		position: absolute;
		right: 0px;
		bottom: 0.4rem;
	}
}
.blog-content-container {
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
	@include breakpoint($desktop) {
		max-width: 680px;
	}
	@include breakpoint($desktop-wide) {
		max-width: 750px;
	}
}
.blog-tags {
	strong {
		padding-right: 3px;
	}
	a {
		padding: 0 3px;
		font-weight: 700;
	}
}
.blog-comments {
	position: relative;
	h2 {
		margin-bottom: 2.3rem;
	}
	.make-comment-button {
		position: absolute;
		top: 0;
		right: 0;
	}
	textarea {
		width: 100%;
		height: 123px;
		resize: none;
	}
}