.page-careers {
	.page-banner {
		background-image: url(images/Careers_Header.jpg);
	}
	padding-bottom: 4rem;
	@include breakpoint($tablet) {
		padding-bottom: 0;
		.site-article-full {
			border-bottom: none;
		}
		.grid__column--one-third {
			padding-left: 5.2%;
			h2 {
				font-size: 2.2rem;
			}
			.content-list {
				font-size: 1.4rem;
			}
		}
	}
	.grid-container {
		max-width: 1600px;
		margin: 0px auto;
	}
	@include breakpoint($laptop) {
		.grid__column--one-third {
			padding-left: 5.2%;
			h2 {
				font-size: 2.7rem;
			}
			.content-list {
				font-size: 1.6em;
			}
		}
	}
}
.minor-text {
	font-size: 1.4rem;
}
.current-openings {
	padding-bottom: 2.5rem;
	margin-bottom: 2.1rem;
	border-bottom: 1px solid #E1E5E8;
}