.page-careers {
	padding-bottom: 4rem;
	@include breakpoint($tablet) {
		padding-bottom: 0;
		background-color: #fcfdfd;
		@include filter-gradient(#fcfdfd, #f2f2f5, horizontal);
		@include background-image(linear-gradient(left, #fcfdfd 0%,#fcfdfd 67.641509433962%,#f2f2f5 67.641509433962%,#f2f2f5 100%));
		.site-article-full {
			border-bottom: none;
		}
		.grid__column--one-third {
			padding-left: 5.2%;
			h2 {
				font-size: 2.2rem;
			}
			.content-list {
				font-size: 1.4rem;
			}
		}
	}
	@include breakpoint($laptop) {
		.panel-left-open & {
			.grid__column--one-third {
				padding-left: 5.2%;
				h2 {
					font-size: 2.2rem;
				}
				.content-list {
					font-size: 1.4rem;
				}
			}
		}
		.grid__column--one-third {
			padding-left: 5.2%;
			h2 {
				font-size: 2.7rem;
			}
			.content-list {
				font-size: 1.6em;
			}
		}
	}
	@include breakpoint($laptop-plus) {
		.panel-left-open & {
			.grid__column--one-third {
				padding-left: 5.2%;
				h2 {
					font-size: 2.7rem;
				}
				.content-list {
					font-size: 1.6em;
				}
			}
		}
	}
}
.minor-text {
	font-size: 1.4rem;
}