.page-developer-apps {
	.table-data {
		margin-bottom: 3rem;
	}
}
	.developer-page-title {
	margin-right: 1rem;
}
.developer-page-title,
.developer-number-of-apps {
	display: inline-block;
	vertical-align: middle;
}
.developer-number-of-apps,
.developer-number-of-apps.heading-style--heading-four {
	margin: 0px 0px 1.8rem;
}
.developer-app-details-column {
	width: 30%;
	@include breakpoint($desktop) {
		width: 27%;
	}
}
.developer-app-release-date-column {
	width: 16%;
}
.developer-app-version-release-date-column {
	width: 16%;
}
.developer-app-price-column {
	width: 10%;
}
.developer-app-downloads-column {
	width: 12%;
}
.developer-app-revenue-column {
	width: 12%;
}
.developer-app-iap-column {
	width: 6%;
}