.full-page-message {
	text-align: center;
	.grid__column {
		margin: 5rem auto;
		display: inline-block;
		float: none;
		text-align: center;
		@include breakpoint($tablet) {
			margin: 6.8rem auto;
		}		
	}
	&.page-message-only {
		.grid__column {
			margin-top: 4rem;
			@include breakpoint($tablet) {
				margin-top: 11rem;
			}			
		}	
	}
	svg {
		width: 80%;
		max-width: 300px;
		.is-safari & {
			max-height: 200px;
		}
		@include breakpoint($tablet) {
			max-width: 400px;
		}		
		.warning-sign {
			fill: #9F9FA9;
		}
	}
	p {
		max-width: 500px;
		margin: 0 auto;
		font-size: 1.6rem;
	}
	button {
		max-width: 203px;
	}
	.heading-style--heading-three {
		margin-top: 0.98em;
	}
}
.img-signpost {
	width: 140px;
	@include breakpoint($tablet) {
		width: 178px;
	}	
}