.page-home {
	.page-banner {
		background-image: url(images/Home_LoggedOut_Header.jpg);
	}
	.page-banner.page-banner--larger {
		margin-bottom: 0;
	}
	.tabs__content-container {
		margin-bottom: 1rem;
	}
}
.home-leaderboard-button-container {
	margin-bottom: 3rem;
	overflow: visible;
	text-align: center;
}
.page-home .page-leaderboard {
	padding-bottom: 0;
	@media screen and (max-width: $mobile-max-width) {
		.filters-container {
			padding-top: 0px;
			.filter-group .refresh-button {
				float: left;
			}
		}
		.tabs__content-container {
			margin-bottom: 0;
		}
	}
	.home-leaderboard-title-container {
		position: relative;	
		@include breakpoint($tablet) {
			position: absolute;
			.page-title {
				padding-top: 1.3rem;
				margin-bottom: 0;
			}
		}
		@include breakpoint($laptop) {
			.page-title {
				padding-top: 0.9rem;
				font-size: 2.7rem;
				.panel-left-open & {
					padding-top: 1.3rem;
					font-size: 2.3rem;
				}
			}
		}
		@include breakpoint($laptop-plus) {
			.page-title {
				.panel-left-open & {
					padding-top: 0.9rem;
					font-size: 2.7rem;
				}
			}
		}
	}
}
.read-only-date {
	position: relative;
	width: 100%;
	padding: 12px 25px 12px 41px;
	display: inline-block;
	font-family: $source-sans-pro;
	font-weight: 600;
	font-size: 1.5rem;
	span {
		@extend .ref-icon-after;
		z-index: 5;
		&:after {
			content: "u";
			position: absolute;
			top: calc(50% - 10px);
			left: 12px;
			font-size: 19px;
			color: $light-grey-1;
		}
	}
	@include breakpoint($tablet) {
		width: auto;
		padding-left: 29px;
		span {
			&:after {
				left: 0;
			}
		}
	}
}
.home-wide-container {
	max-width: 1800px;
	margin: 0px auto;
	padding-bottom: 3rem;
	@include breakpoint($tablet) {
		padding-bottom: 8.2rem;
	}	
}
.why-reflection-container {
	/* padding-top: 2rem; */
	padding-top: 4rem;
	padding-bottom: 1rem;
	text-align: center;
	background-color: #f2f2f5;
	@include breakpoint($tablet) {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}
	p {
		margin: 0 auto;
		text-align: left;
	}
}
.why-reflection-graphic {
	width: 100%;
	float: left;
	background-color: #f2f2f5;
	img, svg {
		width: 100%;
		float: left;
	}
	img {
		display: none;
	}
	.is-ie & {
		img {
			display: block;
		}
		svg {
			display: none;
		}
	}
	.is-safari & {
		svg {
			max-height: 200px;
			@include breakpoint($desktop) {
				max-height: 300px;
			}
			@include breakpoint($desktop-wide) {
				max-height: 420px;
			}
		}
	}
}
.why-reflection-item {
	margin-bottom: 3rem;
	@include breakpoint($tablet) {
		padding-top: 5.5rem;
	}
	h2 {
		margin-top: 2rem;
		text-align: center;
	}	
}
.why-reflection-item__illustration-container {
	position: relative;
	height: 119px;
	text-align: center;
	svg {
		position: absolute;
		bottom: 0;
	}
	@include breakpoint($tablet) {
		height: 140px;
	}
}
.why-reflection-item__illustration-container--price {
	svg {
		left: calc(50% - 58px);
		width: 116px;
	}	
}
.why-reflection-item__illustration-container--help {
	svg {
		left: calc(50% - 94px);
		width: 188px;
	}	
}
.why-reflection-item__illustration-container--use {
	svg {
		left: calc(50% - 72px);
		width: 145px;
	}	
}
.why-reflection-button-container {
	margin-top: 1rem;
	text-align: center;
	@include breakpoint($tablet) {
		margin-top: 0;
	}
}
.home-partners-heading {
	span {
		padding-top: 0.7rem;
		display: block;
		font-family: $brand-body-font;
		font-size: 1.8rem;
		font-weight: 400;
		color: #5a5a68;
	}
}
.home-apply-button {
	margin-top: 3.3rem;
}