.page-home {
	.page-banner {
		height: 425px;
		margin-bottom: 0;
		@media screen and (max-width: $desktop-wide - 1) {
			h2 {
				max-width: 550px;
			}
		}		
		@include breakpoint($tablet) {
			height: 536px;
			> div {
				top: 0;
			}
		}
		@include breakpoint($laptop) {
			h1 {
				font-size: 14px;
			}
			h2 {
					font-size: 41px;
			}
			p {
				font-size: 18px;
			}
		}
		@include breakpoint($desktop-wide) {
			height: 625px;
		}		
	}
	.tabs li:first-child {
		margin-left: 25%;	
	}
	&.page-leaderboard {
		.page-title,
		.page-title:last-child {
			padding-top: 0;
			margin-bottom: 2rem;
			@include breakpoint($tablet) {
				padding-top: 1.2rem;
				margin-bottom: 0;
				font-size: 2.7rem;
			}
		}
	}
}
.page-home .page-leaderboard {
	padding-bottom: 0;
	@media screen and (max-width: $mobile-max-width) {
		.filters-container {
			padding-top: 0px;
		}
		.tabs__content-container {
			margin-bottom: 0;
		}
	}
	.home-leaderboard-title-container {
		position: relative;	
		@include breakpoint($tablet) {
			position: absolute;
			.page-title {
				padding-top: 1.3rem;
				margin-bottom: 0;		
			}
		}
		@include breakpoint($laptop) {
			.page-title {
				padding-top: 0.9rem;
				font-size: 2.7rem;				
				.panel-left-open & {
					padding-top: 1.3rem;
					font-size: 2.3rem;					
				}
			}
		}
		@include breakpoint($laptop-plus) {
			.page-title {
				.panel-left-open & {
					padding-top: 0.9rem;
					font-size: 2.7rem;
				}
			}
		}
	}
}
.read-only-date {
	position: relative;
	width: 100%;
	padding: 12px 25px 12px 41px;
	display: inline-block;
	font-family: $source-sans-pro;
	font-weight: 600;
	font-size: 1.5rem;
	span {
		@extend .ref-icon-after;
		z-index: 5;
		&:after {
			content: "u";
			position: absolute;
			top: calc(50% - 10px);
			left: 12px;
			font-size: 19px;
			color: $light-grey-1;
		}
	}
	@include breakpoint($tablet) {
		width: auto;
		padding-left: 29px;
		span {
			&:after {
				left: 0;
			}
		}
	}
}