.page-leaderboard {
	padding-top: 34px;
	padding-bottom: 66px;
	overflow: visible;
	.page-title,
	.heading-style--heading-three.page-title {
		margin-bottom: 1.88rem;
	}	
	.filters-container {
		.form-field:not(.form-field--date-select),
		.calendar-container {
			width: percentage(160/1000);
			margin-right: percentage(10/1000);
			margin-bottom: 0;
		}
	}	
}
.table-overall {
	width: 100%;
	.MHXTE6C-i-a,
	.table-data {
		vertical-align: top;
	}
	.MHXTE6C-i-d,
	.table-data-first {
		vertical-align: middle;
	}
}
.table-app-group {
	width: 100%;
	.MHXTE6C-i-a,
	.table-data {
		padding-top: 0.9rem;
		padding-bottom: 0.6rem;
	}
}
table.table-data>tbody>tr:nth-child(odd)>td {
	background-color: #eff2f5;
}

table.table-data>tbody>tr:nth-child(even)>td {
	background-color: #ffffff;
}