.page-leaderboard {
	padding-top: 20px;
	padding-bottom: 66px;	
	overflow: visible;
	background-color: $reflection-white;
	.page-functions {
		margin-top: -5rem;
		display: none;
		// display: inline-block;
		@include breakpoint($tablet) {
			margin-top: -7px;
		}
		@include breakpoint($laptop) {
			margin-top: 0;
		}
		.filter-toggle {
			float: right;
			margin-bottom: 0;
		}		
	}
	.refresh-button {
		margin: 0 1% 0 0;
		.is-firefox & {
			padding: 1rem 1rem 0.7rem;
			&:disabled:active {
				padding-bottom: 0.7rem;
			}
			&:active {
				padding-bottom: calc(0.7rem - 2px);
			}
		}
		.ie11 & {
			&:disabled:active {
				padding-bottom: 0.8rem;
			}
			&:active {
				padding-bottom: 0.7rem;
			}
		}
	}	
	.filters-container {
		padding: 0.9rem 3% 0.7rem;
		margin-bottom: 0;
		@include breakpoint($tablet) {
			padding: 1.4rem 2% 0.4rem;
		}
		.ref-button--function-small {			
			padding: 10px 14px 10px 14px;
			line-height: 1.1;
			&:active {
				padding-bottom: 8px;
			}
			.is-chrome & {
				padding: 11px 14px 11px 14px;
				&:active {
					padding-bottom: 9px;
				}
			}
			@include breakpoint($tablet) {
				margin-right: 10px;
			}
		}
		.form-field:not(.form-field--date-select),
		.calendar-container {
			width: 48%;
			margin-bottom: 1rem;
			@include breakpoint($tablet) {
				width: auto;				
				margin-right: 10px;
			}
			@include breakpoint($desktop) {
				width: auto;
			}
		}
		.form-field--country-select .form-field {
			width: 100%;
		}
		.filter-group {
			width: 100%;
			display: inline-block;
			float: left;
			overflow: visible;
			> * {
				&:nth-child(even) {
					float: right;
					text-align: left;
					@include breakpoint($tablet) {
						float: none;
					}
				}
				&:nth-child(2) {
					margin-bottom: 0;
				}	
			}
			.btn-reset-filters {
				margin-bottom: 1rem;
				padding: 10px 10px;			
    		display: inline-block;
    		vertical-align: middle;
    		clear: none;
    		font-size: 13px;
    		font-weight: 400;
    		.is-chrome & {
				padding: 11px 10px;
					&:active {
						padding-bottom: 9px;
					}
				}
				@include breakpoint($desktop-wide) {
					font-size: 14px;
				}
			}
			&.is-open {
				height: auto;
				transition: height 0.2s;
			}
			@include breakpoint($tablet) {
				width: calc(100% - 100px);
			}
		}
		.filter-toggles {
			width: 100px;
			display: inline-block;
			float: right;
			button {
				margin-right: 1rem;
				float: right;
			}
		}
	}
	.filter-toggle {
		float: right;
		margin-bottom: 1rem;
	}
	.cellTableLoading tr {
		height: 74px;
	}
	table.table-data {
		.MHXTE6C-r-a {
			overflow: visible;
			a {
				width: 72%;
				font-size: 15px;
				@include breakpoint($desktop-wide) {
					width: 100%;
				}
				&.sign-up-link {
					width: 100%;
					font-size: 12px;
					font-weight: 400;
				}
			}
		}
		.text-muted {
			width: 100%;
			margin-bottom: 5px;
			display: block;
			vertical-align: top;
			@include breakpoint($laptop) {
				width: 50%;
				display: inline-block;
				.panel-left-open & {
					width: 100%;
				}
			}
			@include breakpoint($desktop) {
				.panel-left-open & {
					width: 50%;
					display: inline-block;
				}
			}
			+ span {
				width: 100%;
				margin-bottom: 0px;
				display: block;
				vertical-align: top;				
				@include breakpoint($laptop) {
					width: 45%;
					margin-top: -1px;
					display: inline-block;
					text-align: right;
					.panel-left-open & {
						width: 100%;
						margin-bottom: 0px;
						display: block;
						text-align: left;
					}
				}
				@include breakpoint($desktop) {
					.panel-left-open & {
						width: 45%;
						margin-top: -1px;
						display: inline-block;
						text-align: right;
					}
				}
			}
		}
	}
	@media screen and (min-width: $tablet) {
		.page-title,
		.page-title:last-child {
			padding-top: 0;
			margin-bottom: 0.78em;
			font-size: 2.1rem;
		}
	}
}
.page-leaderboard.compact-view {
	transition: 0.3s all;
	table.table-data {
		.MHXTE6C-i-d,
		.table-data-first {
			font-size: 14px;
		}
		.MHXTE6C-r-a, 
		.MHXTE6C-I-a, 
		.app-details {
	    padding-top: 9px;		
			width: 100%;
			max-width: 600px;
			@include breakpoint($laptop) {
				width: calc(100% - 30px);
			}	
		}
		.img-rounded {
			display: none;
			width: 20px;
			margin-right: 10px;
			margin-top: 10px;
			border-radius: 4px;
		}
		.ref-icon-before--revenue, 
		.ref-icon-before--cloud {
			top: -1px;
		}
		&.table-app-group {
			.MHXTE6C-r-a, 
			.MHXTE6C-I-a, 
			.app-details {
				padding-top: 4px;
	    	padding-bottom: 2px;
	    	@include breakpoint($tablet) {
					padding-top: 7px;
					padding-bottom: 5px;
				}
				a {
					width: 100%;
					padding-right: 4%;
					margin-bottom: 0px;
					display: inline-block;
					vertical-align: middle;
					@include breakpoint($tablet) {
						width: 56%;
					}
				}
				.text-muted {
					width: 100%;
					margin-bottom: 0px;
					vertical-align: middle;
					@include breakpoint($tablet) {
						width: 40%;
					}
				}
			}
			.MHXTE6C-i-a,
			.table-data {
				font-size: 13px;
				@include breakpoint($desktop) {
					font-size: 15px;
				}
			}			
		}
		.text-muted {
			+ span {
				margin-top: 0px;
			}
		}
	}
}
.table-overall.table-data .MHXTE6C-i-a {
	padding-top: 1px;
	padding-bottom: 4px;
}
.table-overall {
	width: 100%;	
	.is-safari & {
		table-layout: auto;
		width: auto;
	}
	&.table-data th {
		padding-left: 10px;
		padding-right: 10px;
		@include breakpoint($laptop) {
			padding-left: 0;
			padding-right: 0;
		}
		.is-safari & {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&.table-data {
		td {
			padding-left: 10px;
			padding-right: 10px;
			vertical-align: top;
			@include breakpoint($laptop) {
				padding-left: 0;
				padding-right: 0;
			}
			.is-safari & {
				width: 30%;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		.MHXTE6C-i-a,
		.table-data {
			vertical-align: top;
		}
		.MHXTE6C-i-d,
		.table-data-first {		
			vertical-align: middle;
			.is-safari & {
				@include breakpoint($tablet) {
					width: 80px;
				}
			}
		}
	}
}
.table-app-group {
	width: 100%;
	&.table-data th {
		padding-left: 7px;
		padding-right: 7px;
		@include breakpoint($laptop) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&.table-data td {
		padding-left: 7px;
		padding-right: 7px;
		@include breakpoint($laptop) {
			padding-left: 0;
			padding-right: 0;
		}
		&.table-data-first {
			width: 80px;
		}
	}
	.MHXTE6C-i-a,
	.table-data {
		padding-top: 0.9rem;
		padding-bottom: 0.6rem;
	}
	.sign-up-link {
		font-size: 1.2rem;
		line-height: 1.3;
	}
}
@media screen and (max-width: $tablet) {
	.page-leaderboard {
		.scrollable .table-data .MHXTE6C-i-a:nth-child(2),
		.scrollable .table-data .table-data:nth-child(2),
		.scrollable table.responsive th:nth-child(2) {
			padding-left: 3%;
		}
		.scrollable .table-overall tbody tr {
			height: 82px;
		}
		.scrollable .table-app-group tbody tr {
			height: 65px;
		}
		&.compact-view {
			.scrollable .table-app-group tbody tr {
				height: auto;
			}			
		}
	}
}