.page-leaderboard {
	padding-top: 20px;
	padding-bottom: 66px;
	overflow: visible;
	@include breakpoint($tablet) {
		padding-top: 34px;
	}
	.filters-container {
		padding: 0.9rem 3% 1.2rem;
		margin-bottom: 0;
		@include breakpoint($tablet) {
			padding: 1.4rem 2% 1.4rem;
		}
		form > div {
			&:nth-child(even) {
				float: right;
				text-align: left;
				@include breakpoint($tablet) {
					float: none;
				}
			}
		}
		.form-field:not(.form-field--date-select),
		.calendar-container {
			width: 48%;
			@include breakpoint($tablet) {
				width: 20%;				
				margin-right: percentage(10/1000);
				margin-bottom: 0;
			}
			@include breakpoint($desktop) {
				width: percentage(160/1000);
			}
		}
	}
	.filter-toggle {
		float: right;
		@include breakpoint($tablet) {
			float: none;
		}
	}
}
.table-overall {
	width: 100%;
	td {
		.is-safari & {
			width: 30%;
		}
	}
	.MHXTE6C-i-a,
	.table-data {
		vertical-align: top;
	}
	.MHXTE6C-i-d,
	.table-data-first {		
		vertical-align: middle;
		.is-safari & {
			@include breakpoint($tablet) {
				width: 90px;
			}
		}
	}
}
.table-app-group {
	width: 100%;
	.MHXTE6C-i-a,
	.table-data {
		padding-top: 0.9rem;
		padding-bottom: 0.6rem;
	}
}
table.table-data>tbody>tr:nth-child(odd)>td {
	background-color: #eff2f5;
}

table.table-data>tbody>tr:nth-child(even)>td {
	background-color: #ffffff;
}
@media screen and (max-width: $tablet) {
	.page-leaderboard .scrollable .table-data .MHXTE6C-i-a:nth-child(2),
	.page-leaderboard .scrollable .table-data .table-data:nth-child(2),
	.page-leaderboard .scrollable table.responsive th:nth-child(2) {
		padding-left: 2%;
	}
}