.table-linked-accounts {
	&.table-data th {
		padding-top: 2.3rem;
		background-color: transparent;
	}
	th:first-child {
		padding-left: 2.2%;
	}
	&.table-data tr > td {
		.page-my-account & {
			background-color: #fcfdfd;
		}
	}
	&.table-data tr:nth-child(4n+1) > td,
	&.table-data tr:nth-child(4n+1) + tr > td {
		.page-my-account & {
			background-color: $panel-grey;
		}
	}
	.linked-account-name {
		padding: 2.43rem 0px 2.57rem 2.2%;
		font-size: 1.79rem;
		font-weight: 700;
		color: $reflection-purple;
		&.is-open {
			color: #29292c;
		}
		div {
			overflow: visible;
		}
	}
	.linked-account-store {
		font-size: 1.5rem;
		color: #363a47;
		div {
			overflow: visible;
		}
	}
	.linked-account-date {
		font-size: 1.5rem;
		color: #363a47;
		div {
			overflow: visible;
		}
	}
	.linked-account-edit {
		div {
			overflow: visible;
		}
		.ref-button--function-small {
			padding-left: 1.1em;
			padding-right: 1.1em;
		}
	}
	.linked-account-delete {
		.ref-icon-after {
			&:after {
				position: relative;
				top: 3px;
				font-size: 1.8rem;
				color: $light-grey-2;
				transition: color 0.1s;	
			}
			&:hover {
				&:after {
					color: darken($light-grey-2, 7%);
					transition: color 0.2s;
				}				
			}
			&:active {
				&:after {
					top: 5px;
				}				
			}
		}
	}
	.update-linked-accounts-container {
		padding: 0.6rem 2.2% 4.3rem;
	}
}
.table-data.table-linked-accounts--disabled {
	th {
		color: #dedede;
		cursor: default;
		&:active {
			top: 0;
		}
		svg path {
			fill: #dedede;
		}
	}
}
.popup-content--link-account,
.popup-content--delete-account {
	width: 100%;
	max-width: 407px;
	text-align: left;
	padding: 34px 30px 40px;
	background-color: #F2F2F5;
}
.popup-content--account__heading {
	margin-bottom: 1.7em;
	text-align: center;
}
.popup-content--delete-account {
	.buttons-container {
		text-align: center;
		button:first-child {
			margin-right: 5px;
			margin-bottom: 15px;
			vertical-align: top;
		}
		button:last-child {
			margin-left: 5px;
		}
		.ref-button--cta-small {
			position: relative;
			top: 1px;
		}
	}
}
.no-linked-accounts-container {
	text-align: center;
	.grid__column {
		margin: 6.8rem auto;
		display: inline-block;
		float: none;
		text-align: center;
	}
	svg {
		width: 100%;
		.warning-sign {
			fill: #9F9FA9;
		}
	}
	p {
		font-size: 1.4rem;
	}
	button {
		max-width: 203px;
	}
}