.logged-in-landing-dk {
	.l-main {
		padding-top: 0;
	}
}
.page-logged-in-landing {
	.feature-complete {
		.accordion-switch {
			background-image: none;
			&:before {
				content: "t";
			}
			span {
				color: $dark-grey-2;
			}
		}
	}
	.pagination {
		padding-bottom: 0;
	}
	.accordion-switch {
		position: relative;
		width: 100%;
		padding: 1.2rem percentage(79/459) 1.2rem percentage(74/459);
		margin: 0;
		display: block;
		font-size: 1.4rem;
		font-weight: 600;
		color: $dark-grey-2;
		@extend .ref-icon-before;
		background: $reflection-white url(../images/bg-bullet.png) no-repeat 17px 1.8rem;
		background-size: 10px auto;
		&:before {
			content: "";
			position: absolute;
			top: 0.8rem;
			left: 14px;
			font-size: 24px;
			color: $reflection-green;
		}
		&:after {
			position: absolute;
			top: 1.1rem;
			right: 14px;
		}
		span {
			padding-top: 0.2rem;
			display: inline-block;
			float: right;
			font-size: 1.3rem;
			font-weight: 400;
			color: $reflection-red;
		}
	}
	.accordion {
		.content-list--minor {
			padding-right: percentage(79/459);
			padding-left: percentage(76/459);
			overflow: visible;
			font-size: 1.39em;
			li {
				background-size: 10px auto;
			}
			span {
				padding-right: 0.5rem;
				display: inline-block;
				float: right;
				font-size: 1.2rem;
				color: $reflection-red;
			}
		}
		.list-item-complete {
			position: relative;
			padding-left: 26px;
			font-weight: 700;
			line-height: 1.3;
			background: none;
			overflow: visible;
			@extend .ref-icon-before;			
			&:before {
				content: "t";
				position: absolute;
				top: 0.1rem;
				left: -0.3rem;
				font-size: 17px;
				color: $reflection-green;
			}
		}
		.accordion-content {
			padding-top: 0.4rem;
			padding-bottom: 1.6rem;
		}
	}
}
.logged-in-section-main {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: $reflection-purple;
	@extend %vertical-centre-content;
}
.logged-in-section-main__column-one {
	width: 100%;
	max-width: percentage(637/1280);
	margin-top: -9vh;
	@include breakpoint($desktop-wide) {
		margin-right: 1.1%;
	}
	img {
		float: right;
	}
}
.logged-in-section-main__column-two {
	width: percentage(505/1280);
	margin-top: -10.7vh;
	.page-title {
		margin-bottom: 0.54em;
		color: $reflection-white;
	}
	p {
		font-size: 1.8rem;
		color: $purple-pale;
	}
}
.logged-in-section-content {
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 4.4rem;
	.site-article {
		.addthis_sharing_toolbox {
			position: relative;
		  bottom: 0;
		  display: inline-block;
		}
		.more-link + .addthis_sharing_toolbox {
		  position: absolute;
			right: 0px;
			bottom: 0.4rem;
		}
	}
	@include breakpoint($desktop) {
		.site-article {
			.more-link {
				margin-right: 2rem;
			}
			.more-link + .addthis_sharing_toolbox,
			.addthis_sharing_toolbox {
			  position: relative;
			  bottom: 0;
			  display: inline-block;
			}
		}
	}
}
.accordion-bottom-with-divider {
	padding-bottom: 30px;
	margin-bottom: 4rem;
	border-bottom: 1px solid $divider-grey;
}