.logged-in-landing-dk {
	.l-main {
		padding-top: 0;
	}
}
.page-logged-in-landing {
	.accordion-switch {
		position: relative;
		width: 100%;
		padding: 1.1rem percentage(79/459) 1rem percentage(74/459);
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 600;
		color: $dark-grey-2;
		@extend .ref-icon-before;
		&:before {
			content: "t";
			position: absolute;
			top: 0.8rem;
			left: 14px;
			font-size: 24px;
			color: $reflection-green;
		}
		&:after {
			position: absolute;
			top: 0.8rem;
			right: 14px;
		}
		span {
			padding-top: 0.2rem;
			display: inline-block;
			float: right;
			font-size: 1.3rem;
			font-weight: 400;
		}		
	}
	.accordion-content {
		.content-list--minor {
			padding-right: percentage(79/459);
			padding-left: percentage(76/459);
			overflow: visible;
			li {
				background-size: 10px auto;
			}
			span {
				padding-right: 0.5rem;
				display: inline-block;
				float: right;
				font-size: 1.2rem;
				color: $reflection-red;
			}
		}
		.list-item-complete {
			position: relative;
			padding-left: 26px;
			font-weight: 700;
			line-height: 1.3;
			background: none;
			overflow: visible;
			@extend .ref-icon-before;			
			&:before {
				content: "t";
				position: absolute;
				top: 0.1rem;
				left: -0.3rem;
				font-size: 17px;
				color: $reflection-green;
			}
		}
	}
}
.logged-in-section-main {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: $reflection-purple;
	@extend %vertical-centre-content;
}
.logged-in-section-main__column-one {
	width: 100%;
	max-width: percentage(637/1280);
	margin-top: -8vh;
	img {
		float: right;
	}
}
.logged-in-section-main__column-two {
	width: percentage(505/1280);
	margin-top: -10.7vh;
	.page-title {
		margin-bottom: 0.54em;
		color: $reflection-white;
	}
	p {
		font-size: 1.8rem;
		color: $purple-pale;
	}
}
.logged-in-section-content {
	padding-top: 4.4rem;
}