$local-breakpoint-desktop: 980px;
$local-breakpoint-vertical: 680px;
.page-logged-in-landing {
	.feature-complete {
		.accordion-switch {
			color: $dark-grey-2;
			background-image: none;
			&:before {
				content: "t";
			}
			span {
				color: $dark-grey-2;
			}
		}
	}
	.pagination {
		padding-bottom: 0;
	}
	.accordion-switch {
		position: relative;
		width: 100%;
		padding: 1rem 40% 1.2rem 5rem;
		margin: 0;
		display: block;
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 1.2;
		color: #727686;
		@extend .ref-icon-before;		
		&:before {
			content: "";
			position: absolute;
			top: 0.8rem;
			left: 14px;
			font-size: 24px;
			color: $reflection-green;
		}
		&:after {
			position: absolute;
			top: 1.1rem;
			right: 14px;
		}
		> span {
			position: absolute;
			right: 4.5rem;
			top: 1.2rem;
			display: inline-block;
			float: right;
			font-size: 1.4rem;
			font-weight: 400;
			color: $light-grey-1;
			span {
				padding-left: 4px;
				@media screen and (max-width: 959px) {
					display: none;
				}
			}
		}
		@include breakpoint($desktop) {
			padding-left: 11%;
		}
	}
	.accordion {
		.content-list--minor {
			padding-right: 4.3rem;
			padding-left: 5rem;
			overflow: visible;
			font-size: 1.39em;
			li {
				&:before {
					color: $light-grey-2;
				}
				&.list-item-complete {
					&:before {
						color: $reflection-green;
					}
				}
			}
			span {
				padding-right: 0.5rem;
				display: inline-block;
				float: right;
				font-size: 1.2rem;
				color: $light-grey-1;
			}
		}
		.list-item-complete {
			position: relative;
			padding-left: 26px;
			font-weight: 700;
			line-height: 1.3;
			background: none;
			overflow: visible;
			@extend .ref-icon-before;			
			&:before {
				content: "t";
				position: absolute;
				top: 0.1rem;
				left: -0.3rem;
				font-size: 17px;
				color: $reflection-green;

			}
		}
		.accordion-content {
			padding-top: 0.4rem;
			padding-bottom: 1.6rem;
		}
	}
	.accordion-static {
		.accordion-switch > span {
			right: 2rem;
			@include breakpoint($tablet) {
				right: 4.5rem;
			}
		}
	}
	.list-partners {
		order: 3;
	}
	.list-partners li {
		@media screen and (max-width: 481px) {
			width: 47%;
		}
		@media screen and (max-width: 959px) {
			&:nth-child(7), &:last-child {
				display: none;
			}
		}
		.panel-left-open & {
			@media screen and (min-width: 720px) and (max-width: 1599px) {
				img {
					max-width: 96%;
				}
			}
		}
		.panel-left-open & {
			@media screen and (min-width: 720px) and (max-width: 1599px) {
				img {
					max-width: 136px;
				}
			}
		}
	}
}
.logged-in-section-main {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 40px;		
	background-color: $reflection-purple;
	@media screen and (max-width: 959px) {
		display: -webkit-box;
	  /* @alternate */ display: -ms-flexbox;
	  /* @alternate */ display: -webkit-flex;
	  /* @alternate */ display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
	}
	@include breakpoint($laptop) {
		padding-top: 85px;
		text-align: left;
	}
	@media screen and (min-width: $local-breakpoint-desktop) and (min-height: $local-breakpoint-vertical) {
		height: calc(100vh - 62px);
		padding-top: 0;		
	  &:before {
	    content: '';
	    display: inline-block;
	    width: 0;
	    height: 100%;
	    vertical-align: middle;
	    margin-right: -0.35em; /* Adjusts for spacing */
	  }
	  > * {
	    display: inline-block;
	    vertical-align: middle;
	  }
	  .is-safari & {
			height: 100vh;
			margin-top: -62px;
			&:before {
				height: 100vh;
			}
		}
	}
}
.logged-in-section-main__column-one {
	width: 100%;	
	display: inline-block;
	vertical-align: middle;
	order: 2;	
	@include breakpoint($phablet) {
		max-width: 90%;
	}
	@include breakpoint($laptop) {
		max-width: percentage(637/1280);
	}
	@media screen and (min-width: $local-breakpoint-desktop) and (min-height: $local-breakpoint-vertical) {
		margin-top: -16vh;
	}
	@media screen and (min-width: $local-breakpoint-desktop) and (min-height: 800px) {
		margin-top: -15.5vh;
	}
	@include breakpoint($desktop-wide) {
		margin-right: 1.1%;
	}
	img {		
		width: 134%;
		@include breakpoint($phablet) {
			width: 100%;
		}
		@include breakpoint($laptop) {
			width: auto;
			max-width: 767px;
			float: right;
		}
		@include breakpoint($desktop) {
			max-width: 900px;			
		}
		@media screen and (min-width: $desktop-wide) and (min-height: 1000px) {
			max-width: 1000px;
		}
		@media screen and (max-height: 900px) {			
			max-width: 700px;
		}	
	}
	.no-flexbox & {
		margin-bottom: 30px;
		@include breakpoint($laptop) {
			margin-bottom: 0;
		}
	}
}
.logged-in-section-main__column-two {
	width: 85%;
	margin: 0 auto 40px;
	display: inline-block;
	vertical-align: middle;
	order: 1;
	@include breakpoint($phablet) {
		width: 70%;
	}
	@include breakpoint($laptop) {
		width: percentage(505/1280);
		margin-top: 0;
	}
	@media screen and (min-width: $local-breakpoint-desktop) and (min-height: $local-breakpoint-vertical) {
		margin-top: -18.5vh;
	}
	.page-title {
		margin-bottom: 0.54em;
		color: $reflection-white;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		@media screen and (min-width: $phablet) and (max-width: 959px) {
			font-size: 3.7em;
		}
	}
	p {
		font-size: 1.6rem;		
		color: $purple-pale;
		@include breakpoint($phablet) {
			font-size: 1.8rem;
		}
	}
}
.logged-in-section-content {
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 4.4rem;
	@media screen and (max-width: 721px) {
		display: -webkit-box;
		  /* @alternate */ display: -ms-flexbox;
		  /* @alternate */ display: -webkit-flex;
		  /* @alternate */ display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.site-article {
		.addthis_sharing_toolbox {
			position: relative;
		  bottom: 0;
		  display: inline-block;
		}
		.more-link + .addthis_sharing_toolbox {
		  position: absolute;
			right: 0px;
			bottom: 0.4rem;
		}
		.more-link a:visited, a:focus {
		  color: $reflection-purple;
		}
		img {
			margin-bottom: 0.5em;
		}
	}
	.grid__column--seven-columns {
		order: 2;
		@media screen and (min-width: $tablet) and (max-width: 959px) {
			width: 50%;
		}
		.panel-left-open & {
			@media screen and (min-width: $laptop) and (max-width: 1279px) {
				width: 50%;
			}
		}
	}
	.grid__column--five-columns {
		margin-bottom: 3rem;
		@media screen and (max-width: 721px) {
			order: 1;
			padding-bottom: 4rem;
			border-bottom: 1px solid #E1E5E8;
		}
		@media screen and (min-width: $tablet) and (max-width: 959px) {
			width: 50%;
		}
		.panel-left-open & {
			@media screen and (min-width: $laptop) and (max-width: 1279px) {
				width: 50%;
			}
		}
	}
	@include breakpoint($desktop) {
		.site-article {
			.more-link {
				margin-right: 2rem;
			}
			.more-link + .addthis_sharing_toolbox,
			.addthis_sharing_toolbox {
			  position: relative;
			  bottom: 0;
			  display: inline-block;
			}
		}
	}
	.no-flexbox & {
		.grid__column--seven-columns {
			@media screen and (max-width: 959px) {				
				border-bottom: 1px solid $divider-grey;
			}
		}
	}
}
.accordion-bottom-with-divider {
	padding-bottom: 4rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid $divider-grey;
}
.hiring-title {
	margin-top: 3rem;
}