.page-my-account {
	padding-top: 34px;
	padding-bottom: 66px;
	overflow: visible;
	.page-title,
	.heading-style--heading-three.page-title {
		margin-bottom: 1.88rem;
	}
	.tabs__link span svg {
		width: 22px;
		height: 22px;
	}
	.filters-container {
		position: relative;
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
		p {
			margin-bottom: 1rem;
			padding-top: 0.6rem;
			color: #5b5d61;
			font-size: 1.4rem;
		}
		.ref-button--cta-small {
			position: absolute;
			top: 1.2rem;
			right: 2rem;
		}
	}
	.default-tabs-transition .tabs__content {
		background-color: transparent;
	}
}
.account-settings-section {
	&.page-section.page-section--with-border {
		padding-bottom: 2rem;
	}
	.grid__column {
		padding-bottom: 4rem;
	}
	p {
		font-size: 1.4rem;
	}
	table {
		margin-bottom: 4rem;
		font-size: 1.4rem;
		td {
			padding: 9px;
			text-align: center;
			button {
				margin-bottom: 1px;
				font-size: 1.3rem;
			}
		}
	}
}