.page-functions {
	width: 100%;
	float: right;
	display: inline-block;
	@include breakpoint($tablet) {
		width: 50%;
		float: none;
	}
	button {
		margin-right: percentage(15/500);
		float: right;
	}
	.inline-search-form {
		width: 45%;		
		float: right;
		display: inline-block;		
		vertical-align: top;
		@include breakpoint($tablet) {
			width: 45%;
		}
		@include breakpoint($desktop) {
			width: percentage(167/500);
		}
		.search-field-no-label {
			margin-bottom: 0;
			@include breakpoint($tablet) {
				margin-bottom: 1.2rem;
			}	
		}
	}
	.search-field-no-label {
		input[type=text] {
			max-width: calc(100% - 17px);
			font-size: 1.3rem;
			&:active + input[type=submit] {
				color: $reflection-purple;
			}
		}
		input[type=submit] {
			font-size: 1.75rem;
			color: $light-grey-1;
		}
	}
}
.page-function-button {
	padding: 0.65em 0.89em 0.4em 0.93em;
	span:before {			
		position: relative;
		top: -1px;
		margin-right: 0.9rem;
		vertical-align: middle;
		font-size: 20px;			
		color: $light-grey-1;
	}
	&:active {
		padding-bottom: 0.25em;
	}
}