.page-my-apps {
	padding-top: 20px;
	padding-bottom: 66px;
	overflow: visible;
	.filters-container {
		padding: 0.9rem 2% 1.4rem;
		@include breakpoint($tablet) {
			padding: 1.4rem 2% 1.4rem;
		}
		.reflection-select.reflection-select--filter.reflection-select--right ul {
			@media screen and (min-width: $tablet) and (max-width: $laptop) {
				left: 0;
				right: auto;
			}
		}
	}
	.reflection-select.reflection-select--filter.reflection-select--right ul {
		@media screen and (max-width: $tablet) {
			left: calc(50% - 153px);
			right: auto;
		}
	}
	.page-functions {
		width: 100%;
		display: inline-block;
		float: right;
		@include breakpoint($tablet) {
			width: 45%;
		}
		.form-field {
			width: 220px;
			display: inline-block;
			float: right;
			vertical-align: middle;
		}
		label {
			padding: 10px 10px 0 0;
			display: inline-block;
			float: right;
			vertical-align: middle;
			font-family: $brand-heading-font;
			font-size: 1.4rem;
			color: #727687;
			@include breakpoint($desktop-wide) {
				padding-top: 11px;
			}
		}
	}
	.cellTableLoading tr {
		height: 74px;
	}
	@media screen and (max-width: $tablet) {
		.page-title {
			font-size: 2.2em;	
		}		
	}
	> button {
		margin-top: 1rem;
		@include breakpoint($tablet) {
			margin-top: 4rem;
		}
	}
	@media only screen and (max-width: $mobile-max-width) {
		table.table-data {
			table-layout: fixed;
			.app-details {
				width: 110px;
			}
		}
	}
}
.table-my-apps {
	width: 100%;
	&.table-data th {
		padding-left: 5px;
		padding-right: 5px;
		line-height: 1.2;
  	outline: none;
		@include breakpoint($laptop) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&.table-data td {
		padding-left: 5px;
		padding-right: 5px;
		@include breakpoint($laptop) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.rank-column {
		width: percentage(102/1000);
	}
	.app-details-column {
		width: 34.5%;
	}
	.price-column {
		width: 11.7%;
	}
	.downloads-column {
		width: 15.1%;
	}
	.revenue-column {
		width: 15.1%;
	}
	.iap-column {
		width: 6.4%;
	}
	.app-name {
		margin-bottom: 5px;
		display: block;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.2;
		color: $reflection-purple;
		text-overflow: ellipsis;
		overflow: hidden;
		@include breakpoint($tablet) {
			font-size: 16px;
		}
	}
}
@media screen and (max-width: $tablet) {
	.scrollable .table-my-apps tbody tr {
		height: 70px;
	}
}