.filter-container--my-apps,
.filter-container--app {
	&.filters-container {
		.calendar-container {
			display: none;
			@include breakpoint($laptop) {
				width: 26%;
				margin-right: 0;
				display: inline-block;
			}		
		}
	}
	.date-select-container {
		position: relative;
		width: 43.6%;
		display: inline-block;
		overflow: visible;
		vertical-align: middle;
	}
	.date-select-to-indicator {
		position: relative;
		width: 10.6%;
		height: 22px;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		&:after {
	    content: "l";
		}
	}
	.form-field--select {
		width: 25%;
	}
	.form-field.form-field--date-select {
		width: 100%;
		.panel-left-open & {
			width: 100%;
		}
	}
	.refresh-button {
		padding: 7px 7px;
		margin: 0 1% 0 0;
		display: none;
		vertical-align: top;		
		@include breakpoint($laptop) {
			display: inline-block;
		}
		@media screen and (min-width: $laptop) and (max-width: $desktop) {
			.panel-left-open & {
				margin-right: 0.7%;
			}
		}
		&:disabled:active {
			padding-bottom: 7px;
		}
		span {
			font-size: 0;
			&:before {
				margin: 0;
				font-size: 1.85rem;
				color: #fff;
			}
		}
		&:active {
			padding-bottom: 5px;
		}
	}
	.or-text {
		margin-right: 1%;
		padding-top: 11px;
		display: none;
		font-size: 1.2rem;
		font-family: $brand-heading-font;
		color: $mid-grey-2;
		vertical-align: top;
		@include breakpoint($laptop) {
			display: inline-block;
		}
		@media screen and (min-width: $laptop) and (max-width: $desktop) {
			.panel-left-open & {
				margin-right: 0.7%;
			}
		}	
	}
	.or-text + .form-field {
		width: 48%;
		margin-right: 1%;
		@include breakpoint($tablet) {
			width: 20%;
		}
		@include breakpoint($laptop) {
			width: 13%;
		}
	}
	.form-field {
		width: 48%;		
		text-align: left;
		@include breakpoint($tablet) {
			width: 20%;
			margin-right: 1%;
		}
		@include breakpoint($laptop) {
			width: 16.4%;
		}
		@media screen and (min-width: $laptop) and (max-width: $desktop) {
			.panel-left-open & {
				width: 15.2%;
			}
		}
		&.store-select,
    &.category-select,
		&.country-select {
			@include breakpoint($laptop) {
				float: right;
			}
		}
	}
	.category-select {
		@include breakpoint($laptop) {
			margin-right: 0;
		}
	}
	.filter-toggle {
		float: right;
	}
}
.filter-container--my-apps {
	margin-top: 2rem;
	@include breakpoint($tablet) {
		margin-top: 0;
	}
}
@media screen and (max-width: $tablet) {
	.time-period-select,
	.store-select {
    float: left;
    text-align: left;
	}
	.category-select,
	.country-select {
    float: right;
    text-align: left;
	}
}