.table-my-apps {
	width: 100%;
	.rank-column {
		width: percentage(102/1000);
	}
	.app-details-column {
		width: 34.5%;
	}
	.price-column {
		width: 11.7%;
	}
	.downloads-column {
		width: 15.1%;
	}
	.revenue-column {
		width: 15.1%;
	}
	.iap-column {
		width: 6.4%;
	}
	.app-name {
		margin-bottom: 0.6rem;
		display: block;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.1;
		color: $reflection-purple;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}