.filters-container.filter-container--my-apps,
.filters-container.filter-container--app {
	&.filters-container {
		.calendar-container {
			display: none;
			@include breakpoint($laptop) {
				width: 26%;
				margin-right: 0;
				display: inline-block;
			}		
		}
	}
	.date-select-container {
		position: relative;
		width: 43.6%;
		display: inline-block;
		overflow: visible;
		vertical-align: middle;
	}
	.date-select-to-indicator {
		position: relative;
		width: 10.6%;
		height: 22px;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		&:after {
	    content: "l";
		}
	}
	.form-field--select {
		width: 25%;
	}
	.form-field.form-field--date-select {
		width: 100%;
		.panel-left-open & {
			width: 100%;
		}
	}
	.refresh-button {
		margin: 0 1% 1rem 0;		
		display: none;
		.is-firefox & {
			padding: 1rem 1rem 0.7rem;
			&:disabled:active {
				padding-bottom: 0.7rem;
			}
			&:active {
				padding-bottom: calc(0.7rem - 2px);
			}
		}
		@include breakpoint($laptop) {
			display: inline-block;
		}
		@media screen and (min-width: $laptop) and (max-width: $desktop) {
			.panel-left-open & {
				margin-right: 0.7%;
			}
		}		
		.ie11 & {
			padding: 1rem 1rem 0.9rem;
			&:disabled:active {
				padding-bottom: 0.9rem;
			}
			&:active {
				padding-bottom: 0.8rem;
			}
		}
	}
	.or-text {
		margin-right: 1%;
		padding-top: 11px;
		display: none;
		font-size: 1.4rem;
		font-family: $brand-heading-font;
		color: $mid-grey-2;
		vertical-align: top;
		@include breakpoint($laptop) {
			display: inline-block;
		}
		@media screen and (min-width: $laptop) and (max-width: $desktop) {
			.panel-left-open & {
				margin-right: 0.7%;
			}
		}
	}
	.text--disabled {
		color: #C4C7D0;
		&:after, &:before {
			color: #C4C7D0;
		}
	}
	.or-text + .form-field {
		width: 100%;		
		margin-right: 1%;
		@include breakpoint($tablet) {			
			width: auto;
		}
	}
	.form-field {
		width: 48%;		
		text-align: left;
		@include breakpoint($tablet) {
			width: auto;
			margin-right: 1%;
		}
		&.store-select,
    &.category-select,
		&.country-select {
			@include breakpoint($laptop) {
				float: right;
			}
		}
	}
	.category-select {
		@include breakpoint($laptop) {
			margin-right: 0;
		}
	}
	.filter-toggle {
		float: right;
	}
}
@media screen and (max-width: $tablet) {
	.time-period-select,
	.store-select {
    float: left;
    text-align: left;
	}
	.category-select,
	.country-select {
    float: right;
    text-align: left;
	}
}