.page-my-apps {
	padding-top: 20px;
	padding-bottom: 66px;
	overflow: visible;
	@include breakpoint($tablet) {
		padding-top: 34px;
	}
	.filters-container {
		padding: 0.9rem 3% 0.5rem;
		@include breakpoint($tablet) {
			padding: 1.4rem 2% 1.4rem;
		}
		.reflection-select.reflection-select--filter.reflection-select--right ul {
			@media screen and (min-width: $tablet) and (max-width: $laptop) {
				left: 0;
				right: auto;
			}
		}
	}
	.date-selection-filter-container {
		position: relative;
		width: 48%;
		margin-right: 1%;
		display: inline-block;
		overflow: visible;
		.time-period-select {
			width: 100%;
		}
		@include breakpoint($tablet) {
			width: 20%;
		}
		@include breakpoint($laptop) {
			position: absolute;
			width: 77.6%;
			margin-right: 0;
			.time-period-select {
				width: 20%;
				.panel-left-open & {
					width: 10.1%;
				}
			}
		}
		@include breakpoint($desktop) {
			width: 78.4%;
			.time-period-select {
				width: 19.2%;
				.panel-left-open & {
					width: 11.8%;
				}
			}
		}
	}
	.reflection-select.reflection-select--filter.reflection-select--right ul {
		@media screen and (max-width: $tablet) {
			left: calc(50% - 153px);
			right: auto;
		}
	}
	.page-functions {
		width: 100%;
		display: inline-block;
		float: right;
		@include breakpoint($tablet) {
			width: 30%;
		}
		@include breakpoint($laptop) {
			width: 25%;
		}
	}
	@media screen and (max-width: $tablet) {
		.page-title {
			font-size: 2.2em;	
		}		
	}
}
.table-my-apps {
	width: 100%;
	.rank-column {
		width: percentage(102/1000);
	}
	.app-details-column {
		width: 34.5%;
	}
	.price-column {
		width: 11.7%;
	}
	.downloads-column {
		width: 15.1%;
	}
	.revenue-column {
		width: 15.1%;
	}
	.iap-column {
		width: 6.4%;
	}
	.app-name {
		margin-bottom: 0.6rem;
		display: block;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.2;
		color: $reflection-purple;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}