.page-my-account {
	padding-top: 20px;
	padding-bottom: 66px;
	overflow: visible;
	.tabs__link span svg {
		width: 15%;
		max-width: 24px;
	}
	.filters-container {
		position: relative;
		padding: 1.2rem 15px;
		@include breakpoint($tablet) {
			padding: 1.2rem 2%;
		}
		p {
			margin-bottom: 1rem;
			color: #5b5d61;
			font-size: 1.4rem;
			@include breakpoint($tablet) {
				padding-top: 0.6rem;
			}
		}
		.ref-button--function-small {
			position: relative;
			left: 0px;
			top: 0;
			margin: 10px 0;
			@include breakpoint($tablet) {
				position: absolute;
				top: 1.2rem;
				right: 2rem;
				left: inherit;
				margin: 0;
			}			
		}
	}
	.default-tabs-transition .tabs__content {
		background-color: transparent;
	}
}
.account-settings-section {
	p {
		font-size: 1.4rem;
	}
	table {
		margin-bottom: 4rem;
		font-size: 1.4rem;
		td {
			padding: 9px;
			text-align: center;
			button {
				margin-bottom: 1px;
				font-size: 1.3rem;
			}
		}
	}
}
table.table-data.table-linked-accounts--disabled,
table.table-data.table-linked-accounts--disabled.table-data tr:nth-child(4n+1)>td,
table.table-data.table-linked-accounts--disabled.table-data tr:nth-child(4n+1)+tr>td {
	background-color: $reflection-white;
}
table.table-data.table-linked-accounts--disabled thead {
	display: none;
}