.page-product {
	.page-banner {
		margin-bottom: 0;
		h2 {
			font-size: 2.2rem;
			max-width: 670px;
			@include breakpoint($tablet) {
				max-width: 600px;
				font-size: 3.3rem;
			}
			@include breakpoint($laptop) {
				max-width: 700px;
			}
			@include breakpoint($desktop-wide) {
				max-width: 800px;
			}
		}
	}
	.product-section {
		padding-top: 4rem;
		padding-bottom: 4rem;
		@include breakpoint($tablet) {
			padding-top: 10rem;
			padding-bottom: 10rem;
		}		
		&:nth-child(odd) {
			background-color: #f2f2f5;
		}
		&.product-section--message {
			padding-top: 4rem;
			padding-bottom: 4rem;
			@include breakpoint($tablet) {
				padding-top: 14.8rem;
				padding-bottom: 23.2rem;
			}	
		}
	}
	.product-section--content {
		max-width: 1400px;
		margin: 0px auto;
	}
	.product-image-container--left,
	.product-image-container--right,
	.product-text-content--left,
	.product-text-content--right {
		display: inline-block;
		float: left;
		vertical-align: top;
	}	
	.product-text-content--left,
	.product-text-content--right {
		width: 100%;
		padding: 30px 5% 0;
		.content-list {
			color: #5b5d61;
		}
		@include breakpoint($tablet) {		
			width: percentage(390/1060);
			padding: 20px 0 0;
		}		
	}
	.product-text-content--left {
		@include breakpoint($tablet) {
			margin-right: percentage(25/1060);
			float: right;
		}
	}
	.product-image-container--left {
		width: 100%;
		img {			
			max-width: 430px;
			margin-right: 5%;
			float: right;
		}
		@include breakpoint($phablet) {
			margin: 0 auto;			
			text-align: center;
			img {
				margin: 0;
				float: none;
			}
		}
		@include breakpoint($tablet) {
			width: percentage(566/1060);			
			margin-right: percentage(25/1060);
			img {
				max-width: inherit;
				float: right;
			}
		}
	}
	.product-image-container--right {
		width: 100%;
		img {
			max-width: 430px;
			margin-left: 5%;
		}
		svg {
			width: 70%;			
			max-width: 325px;
			margin: 0 auto 0 15%;
		}
		@include breakpoint($phablet) {
			margin: 0 auto;			
			text-align: center;
			img {
				margin: 0;
				float: none;
			}
			svg {
				margin-left: auto;
			}
		}
		@include breakpoint($tablet) {
			width: percentage(576/1060);
			float: right;
			img {
				max-width: inherit;
			}
			svg {
				width: 80%;
				margin-left: -4rem;	
			}
		}
		@include breakpoint($desktop-wide) {
			svg {
				max-width: 380px;
			}			
		}
	}
}
.product-page--partners {
	padding-top: 4rem;
	padding-bottom: 6.6rem;
	text-align: center;
	h2 {
		max-width: 500px;
		margin: 0 auto 4rem;
		font-size: 1.8rem;
		text-align: center;
		@include breakpoint($tablet) {
			margin-top: 5rem;
			font-size: 2.1rem;
		}
		a {
			color: $reflection-purple;
			&:hover {
				color: $reflection-purple--hover;
			}
		}
	}
	.cta-button {
		margin-top: 1rem;
	}
	ul {
		width: 100%;
		margin: 0 auto;
		max-width: 1400px;
		@include breakpoint($phablet) {
			text-align: center;
		}
		@include breakpoint($tablet) {
			margin-bottom: 3rem;
			display: -webkit-box;
		  /* @alternate */ display: -ms-flexbox;
		  /* @alternate */ display: -webkit-flex;
		  /* @alternate */ display: flex;
		  flex-direction: row;
		  justify-content: center;
		  align-items: center;
		}
	}
	li {
		width: 48%;
		margin-bottom: 4rem;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		svg {
			width: 89%;
			max-width: 170px;
		}
		@include breakpoint($phablet) {
			width: 33%;
		}
		@include breakpoint($tablet) {
			width: auto;
			margin-bottom: 0;
			justify-content: center;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			.ie10 & {
				width: 20%;
			}
		}
	}
}
.product-page__quotes {	
	height: auto;
	padding-top: 43px;
	padding-bottom: 30px;
	background-image: url(images/product-quotes-background.jpg);
	background-size: cover;
	@include breakpoint($tablet) {
		height: 374px;
		padding-bottom: 0;
	}		
	.grid__column {
		margin-bottom: 20px;
		text-align: center;
		@include breakpoint($tablet) {
			margin-bottom: 0;
		}
	}
	blockquote {
		padding-top: 0;
		margin-top: 4px;
		text-align: left;
		&:before {
			display: none;
		}
		p {
			font-size: 16px;			
			color: $reflection-white;
			@include breakpoint($laptop-plus) {
				font-size: 18px;
			}
		}
		cite {
			font-size: 14px;
			color: #969cb2;
			@include breakpoint($laptop-plus) {
				font-size: 16px;
			}
			span {
				font-size: 16px;
				color: #ffffff;
				@include breakpoint($laptop-plus) {
				font-size: 18px;
			}
			}
		}
	}
}
.product-page__quotes__logo-container {
	height: 70px;
	overflow: hidden;
}