.page-product {
	.page-banner {
		margin-bottom: 0;
		background-image: url(images/Product_Header.jpg);
		h2 {
			font-size: 2.2rem;
			max-width: 670px;
			@include breakpoint($tablet) {
				max-width: 600px;
				font-size: 3.3rem;
			}
			@include breakpoint($laptop) {
				max-width: 700px;
			}
			@include breakpoint($desktop-wide) {
				max-width: 800px;
			}
		}
	}
	.product-section {
		padding-top: 4rem;
		padding-bottom: 3rem;
		@include breakpoint($tablet) {
			padding-top: 6rem;
    	padding-bottom: 0;
		}		
		&.product-section--second-section {			
			background-color: #363a47;
			@include breakpoint($tablet) {
				padding-bottom: 0;
			}
			h2 {
				color: $reflection-white;				
			}
			p {
				color: $light-grey-1;
			}
			@include breakpoint($tablet) {
				padding-top: 3.5rem;
				.product-text-content--left {
					padding-top: 65px;
				}
			}
		}		
	}
	.product-section--content {
		max-width: 1400px;
		margin: 0px auto;
		overflow: visible;
	}
	.product-image-container--right,
	.product-text-content--left {
		display: inline-block;
		float: left;
	}	
	.product-text-content--left {
		width: 100%;
		padding: 30px 5% 0;
		.content-list {
			color: #5b5d61;
		}
		svg {
			width: 100%;	
			max-width: 167px;
			margin: 0 auto;
		}
		@include breakpoint($phablet) {
			svg {
				margin-left: auto;
			}
		}
		@include breakpoint($tablet) {		
			width: percentage(460/1060);
			padding-top: 45px;
			padding-right: 8rem;
			padding-left: 0;
			float: right;
		}
		@include breakpoint($laptop-plus) {
			padding-right: 12rem;
		}
		@include breakpoint($desktop-wide) {
			svg {
				max-width: 300px;
			}			
		}
	}
	.product-image-container--right {
		width: 100%;
		overflow: visible;
		img {
			max-width: 430px;
			margin-left: 5%;
			float: left;
		}		
		@include breakpoint($phablet) {
			margin: 0 auto;			
			img {
				margin: 0 auto;
				float: none;
			}			
		}
		@include breakpoint($tablet) {
			width: percentage(530/1060);
			float: right;
			img {
				max-width: inherit;
				float: left;
			}
		}		
		&.has-content {
			padding-top: 1.5rem;
			padding-right: 0;
			padding-left: 0;
			h2 {
				margin-top: 2rem;
				margin-bottom: 1em;
			}
		}
	}
}
.product-section.product-section--message {
	padding-top: 0;
	padding-bottom: 4rem;
	@include breakpoint($tablet) {
		padding-top: 5rem;
		padding-bottom: 9.4rem;
		display: block;
		.product-text-content--left {
			width: 44%;
			padding-right: 5.5rem;
		}
	}
}
.product-text-content--left.help-us-help-you {
	padding-top: 0;
	text-align: center;
	h2 {
		margin-top: 1.6rem;
	}
	p {
		text-align: left;
	}
}
.product-page__quotes {	
	height: auto;
	padding-top: 34px;
	padding-bottom: 30px;
	text-align: center;
	background-image: url(images/product-quotes-background.jpg);
	background-size: cover;
	@include breakpoint($tablet) {
		height: 350px;
		padding-bottom: 0;
	}		
	.grid__column {
		padding: 0;
		margin: 0 auto 20px;
		display: inline-block;
		float: none;
		text-align: center;
		@include breakpoint($tablet) {
			margin-bottom: 0;
		}
	}
	blockquote {
		max-width: 700px;
		padding-top: 0;
    margin-left: auto;
    margin-right: auto;		
		margin-top: 4px;
		text-align: left;
		&:before {
			display: none;
		}
		p {
			margin-bottom: 1.3em;
			font-size: 16px;			
			color: $reflection-white;
			@include breakpoint($laptop-plus) {
				font-size: 22px;
			}
		}
		cite {
			font-size: 14px;
			color: #969cb2;
			@include breakpoint($laptop-plus) {
				font-size: 16px;
			}
			span {
				font-size: 16px;
				line-height: 1.3;
				color: #ffffff;				
				@include breakpoint($laptop-plus) {
				font-size: 18px;
			}
			}
		}
	}
	svg {
		width: 242px;
	}
}
.product-page__quotes__logo-container {
	height: 73px;
	overflow: hidden;
}

// Product page animation in progress
// .product-animation-container {
// 	position: relative;
// 	width: 906px;
// 	height: 530px;
// 	overflow: hidden;
// 	background-color: #fcfdfd;		
// }

// @-webkit-keyframes scroll {
// 	0% { top: 157px; }
// 	30% { top: -380px; }
// 	70% { top: -380px; }
// 	100% { top: 157px; }
// }

// @-webkit-keyframes fade {
// 	0% { opacity: 1; }
// 	100% { opacity: 0; }
// }

// .screenshot1 {
// 	position: absolute;
// 	top: 157px;
// 	left: 0;
// 	z-index: 10;
// 	-webkit-animation: scroll 3s cubic-bezier(.66,0,.39,1) 2s, fade 0.05s 5.75s forwards;
// }

// .screenshot2 {
// 	position: absolute;
// 	top: 157px;
// 	left: 0;
// 	z-index: 0;
// }

// .filters {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	z-index: 90;
// }

// .tabs {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	z-index: 100;
// }	

// .headings1 {
// 	position: absolute;
// 	top: 115px;
// 	left: 0;
// 	z-index: 80;
// 	-webkit-animation: fade 0.05s 5.75s forwards;
// }		

// .headings2 {
// 	position: absolute;
// 	top: 115px;
// 	left: 0;
// 	z-index: 70;
// }		