/* Classes that could be reused in the HTML rather than included using SASS */
.no-scroll {
	overflow: hidden; 
}
.hidden-text {
	text-align: left;
	text-indent: -999em;
}
.centre-content-container {
	width: 100%;
	text-align: center;
}
.vertical-centre-content {
	@extend %vertical-centre-content;
}