html, body {
  font-size: 10px;
  @include breakpoint($tablet) {
    font-size: 9px;
  }
  @include breakpoint($laptop) {
    font-size: 10px;
  }
}

.page-adwords-landing {
  .ref-button--primary--large {
    padding: 2.1rem 2.4rem 2.2rem 2.4rem;
    font-family: $brand-heading-font;
    font-size: 2.1em;
    &:not(.is-disabled),
    &:not(:disabled) {
      .no-touchevents & {
        &:active {
          border-top-width: 3px;
          padding-top: calc(2.1rem - 1px);
          padding-bottom: calc(2.2rem - 2px);
        }
      }
    }
  }
  .copyright-text {
    margin-top: 2.5rem;
    font-size: 14px;
    color: #81879D;
    display: block;
    text-align: center;
    @include breakpoint($tablet) {
      margin-top: 8.4rem;
    }
  }
  @include breakpoint($tablet) {
    .ref-button--primary--large {
      padding: 2.1rem 2.9rem 2.2rem 2.9rem;
    }
  }
}
.gradient-container {
  min-height: 100vh;
  background: #f34868;
	background: -moz-linear-gradient(37deg, #f34868 0%, #5a3c51 47%, #363a47 100%);
	background: -webkit-linear-gradient(37deg, #f34868 0%, #5a3c51 47%, #363a47 100%);
	background: linear-gradient(37deg, #f34868 0%, #5a3c51 47%, #363a47 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34868', endColorstr='#363a47',GradientType=1 );
}
.logo-container {
  margin-top: 5rem;
  margin-bottom: 3.7rem;  
  text-align: center;
  .logo-img {
    width: 158px;
    display: inline-block;
    img {
      width: 100%;
    }
  }
  @include breakpoint($tablet) {
    margin-top: 11.3rem;
    margin-bottom: 5.6rem;
    .logo-img {
      width: 210px;
    }
  }
}
.page-intro {
  max-width: 460px;
  margin-bottom: 4.9rem;    
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;
  text-align: center;
  .page-title {
    max-width: 783px;
    margin: 0 auto 2rem;
    font-weight: 700;
    color: $reflection-white;
    font-size: 3em;
    line-height: 1.34;
  }
  .page-subtitle {
    max-width: 600px;
    margin: 0 auto 2.9rem;
    color: $reflection-white;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.63;
  }
  @include breakpoint($tablet) {
    max-width: inherit;
    margin-bottom: 6rem;
    .page-title {
      margin-bottom: 4rem;
      font-size: 4.8em;      
      line-height: 1.2;      
    }
    .page-subtitle {
      margin-bottom: 5rem;
      font-size: 2em;
      line-height: 1.5;
    }
  }
  @include breakpoint($laptop) {
    .page-title {
      font-size: 5em;
    }
  }
}
.main-content {
  text-align: center;
}
.main-content__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  @include breakpoint($tablet) {
    max-width: 1280px;
    margin: 0 auto;
    display: block;
    clear: both;
  }  
}
.main-content__text-statement {
  width: 100%;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 35px;
  display: block;
  h3 {
    font-size: 1.8em;
    color: $reflection-white;
    font-weight: 600;
    line-height: 1.5;    
  }
  @include breakpoint($tablet) {
    max-width: inherit;
    padding: 0;
    display: inline-block;
    font-size: 8px;
    h3 {
      font-size: 2.8em;      
    }
  }
  @include breakpoint($laptop) {
    font-size: 10px;
    h3 {
      line-height: 1.37;
    }
  }
}
.main-content__text-statement--one {
  margin-bottom: 1.3rem;
  @include breakpoint($tablet) {
    width: 28.5%;
    margin: 253px 0.9% 0 1.6%;
  }
}
.illustration-one-container {
  position: relative;
  margin-top: 0;
  margin-bottom: 1.9rem;
  width: calc(100% - 39px);
  float: right;
  overflow: visible;
  img {
    position: relative;
    left: -1rem;
    width: 570px;
  }
  .is-revenue-page & {
    @media screen and (max-width: 720px) {
      width: auto;
      float: none;
      img {
        left: inherit;
        right: 13rem;
      }
    }
    @media screen and (min-width: 480px) and (max-width: 720px) {
      img {
        right: 0;
      }
    }
  }
  @include breakpoint($phablet) {
    img {
      left: 0;
    }
  }
  @include breakpoint($tablet) {
    width: 59%;
    margin-top: -1.3rem;
    margin-bottom: 0;
    img {
      width: 941px;
      left: -4.8rem;
    }
  }
  @include breakpoint($desktop) {
    width: 65.5%;
  }
}
.main-content__text-statement--two {
  margin-top: 0;
  margin-bottom: 0.7rem;
  order: 1;  
  @include breakpoint($tablet) {
    width: 27.65625%;
    margin: 9.7em 9.921875% 0 8.75%;
  }
}
.illustration-two-container {
  position: relative;
  margin-bottom: 1.1rem;
  order: 2;
  overflow: visible;
  img {
    position: relative;
    right: 11rem;
    width: 548px;
  }
  .is-revenue-page & {
    @media screen and (max-width: 480px) {
      img {
        right: -9rem;
      }
    }
  }
  @include breakpoint($phablet) {
    img {
      right: 0;
    }
  }
  @include breakpoint($tablet) {
    margin-top: -26.6rem;
    margin-bottom: 0;
    max-width: 794px;
    width: 53.6%;
    float: left;
    img {
      width: 900px;
      right: -6rem;
      float: right;
    }
  }
}
.main-content__text-statement--three {  
  max-width: 370px;
  margin-bottom: 0.7rem;
  @include breakpoint($tablet) {
    position: relative;
    width: 28.9%;    
    margin-top: 15.1em;
    margin-left: 5%;
    margin-bottom: 0;
    float: left;
    clear: both;
  }
  @include breakpoint($desktop) {
    width: 32%;
    margin-left: 5.703125%;
  }
}
.illustration-three-container {
  position: relative;
  top: 0;
  max-width: 772px;
  width: 60.3125%;
  float: right;
  overflow: visible;
  img {
    position: relative;
    left: -6rem;
    width: 535px;
  }
  @include breakpoint($phablet) {
    width: 100%;
    img {
      left: 0;
    }
  }
  @include breakpoint($tablet) {
    width: 60.3125%;
    margin-top: -230px;
    left: -5.6rem;
    img {
      width: 886px;
    }
  }
}
.partners-heading {
  margin-top: 1rem !important;
  margin-bottom: 3.2rem;
  color: #F2F2F5;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  @include breakpoint($tablet) {
    margin-top: 0 !important;
    font-size: 18px;
    margin-bottom: 3.7rem;
  }
}
.section-partners {
  width: 100%;  
  clear: both;
  float: left;
  .logo-list {
    width: 80%;
    max-width: 310px;
    margin: 0 auto 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    li {
      width: 33%;
      margin-bottom: 3rem;
      padding-left: 5%;
      padding-right: 5%;      
    }
    img {
      width: 100%;
    }
  }
  @include breakpoint($tablet) {
    margin-top: -.2rem;
    margin-bottom: 7rem;
    .logo-list {
      max-width: 1010px;
      margin-bottom: 0;
      flex-wrap: nowrap;
      li {
        width: auto;
        margin-bottom: 0;
        padding-left: 2%;
        padding-right: 2%;
        .no-flexbox & {
          width: 12.5%;
        }
      }
    }
  }
}
.quotes-section {
  width: 100%;
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;  
  text-align: center;
  background-color: #363A47;
  .quotes-section__quote {
    width: 100%;
    padding: 0 37px 14px;
    blockquote {
      padding-top: 36px;
      &:before {
        display: none;
      }
      p {
        font-family: $brand-heading-font;
        font-weight: 700;
        font-size: 18px;
        color: #FCFDFD;
        line-height: 1.6;        
        text-align: left;
      }
    }
  }
  .quotes-section__quote__header {
    margin-bottom: 2.3rem;
    text-align: left;
  }
  .quotes-section__quote-image {
    width: 60px;    
    margin-right: 16px;
    display: inline-block;
    vertical-align: top;
  }
  .quotes-section__quote-cite {
    width: calc(100% - 80px);
    display: inline-block;
    vertical-align: top;
    h2 {
      margin-top: 4px;      
      margin-bottom: 0.2rem;
      color: #FCFDFD;
      font-size: 22px;      
      font-weight: 600;
    }
    h3 {
      color: #C4C7D0;
      font-size: 16px;
      font-weight: 400;
    }
  }
  @include breakpoint($phablet) {
    margin-top: 3rem;
  }
  @include breakpoint($laptop) {
    max-width: inherit;
    margin-top: 0;
    .quotes-section__quote {
      width: 40%;
      max-width: 440px;
      margin-left: 8%;
      margin-right: 0;
      padding: 0;
      display: inline-block;
      vertical-align: top;
      &:first-child {
        margin-left: 0;
      }
      h2 {
        margin-top: 9px;
      }
      blockquote {
        padding-top: 70px; 
        p {
          font-size: 20px;
          line-height: 1.42;
        }       
      }
    }
    .quotes-section__quote-cite {
      width: auto;
    }
  }
  @include breakpoint($laptop-plus) {
    .quotes-section__quote {
      width: 34.3%;
      margin-left: 7%;
      blockquote p {
        font-size: 24px;
      }
    }
    .quotes-section__quote-image {
      width: 80px;
    }
    .quotes-section__quote-cite {
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 18px;
      }      
    }
  }
}
.footer-section {
  margin-top: 0rem;
  clear: left;  
  background-color: #363A47;
  @include breakpoint($tablet) {
    margin-top: -3.9rem;
  }
}
.landing-page-footer {
  position: relative;
  width: 100%;  
  margin-top: -85px;  
  padding-bottom: 5rem;
  float: left;
  text-align: center;
  background-color: transparent;
  background-image: url('images/adwords-landing/graph-illustration-mobile.png');
  background-size: 960px auto;
  background-repeat: no-repeat;
  background-position: 46% 0;
  overflow: visible;
  h2 {
    max-width: 480px;    
    margin: 382px auto 2.9rem;
    padding: 0 35px;
    font-size: 18px;
    color: #FCFDFD;
    line-height: 1.6;
  }
  .chart-image {
    display: none;    
  }
  .chart-image-wide {
    display: none;
  }
  @include breakpoint($tablet) {
    h2 {
      font-size: 2.4em;
    }
  }
  @include breakpoint($laptop) {
    margin-top: -5vw;
    background-image: url('images/adwords-landing/footer-waves@2x.png');
    background-size: 100% auto;
    .chart-image {
      position: absolute;
      top: 12vw;
      left: 50%;
      width: 156px;
      margin-left: -118px;
      display: inline-block;
    }
    h2 {
      max-width: 670px;
      margin: 454px auto 4rem;
      padding: 0;
      font-size: 2.8em;
      line-height: 1.3;
    }
  }
  @include breakpoint(1400px) {
    h2 {
      margin-top: 34vw;
    }
  }
  @include breakpoint($desktop-super-wide) {
    .chart-image {
      display: none;
    }
    .chart-image-wide {
      position: absolute;
      top: 11vw;
      left: 50%;
      margin-left: -118px;
      display: inline-block;
    }
  }
}