.gradient-container {
  min-height: 100vh;
  background: #f34868;
	background: -moz-linear-gradient(37deg, #f34868 0%, #5a3c51 47%, #363a47 100%);
	background: -webkit-linear-gradient(37deg, #f34868 0%, #5a3c51 47%, #363a47 100%);
	background: linear-gradient(37deg, #f34868 0%, #5a3c51 47%, #363a47 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34868', endColorstr='#363a47',GradientType=1 );
}
.logo-container {
  margin-top: 11.3rem;
  margin-bottom: 5.2rem;
  text-align: center;
  img {
    width: 210px;
    height: 45px;
    display: inline-block;
  }
}
.page-intro {
  margin-bottom: 6rem;
  padding: 0 22px;
  text-align: center;
  .page-title {
    max-width: 783px;
    margin: 0 auto 4rem;
    font-weight: 700;
    color: $reflection-white;
    font-size: 5em;
    line-height: 1.25;
  }
  .page-subtitle {
    max-width: 600px;
    margin: 0 auto 5rem;
    color: $reflection-white;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.5;
  }
  .ref-button--primary--large {
    padding: 2.1rem 2.9rem 2.2rem 2.9rem;
    font-family: $brand-heading-font;
    font-size: 2.1em;
    &:not(.is-disabled),
    &:not(:disabled) {
      .no-touchevents & {
        &:active {
          border-top-width: 3px;
          padding-top: calc(2.1rem - 1px);
          padding-bottom: calc(2.2rem - 2px);
        }
      }
    }
  }
}
.main-content {
  text-align: center;
}
.main-content__text-statement {
  display: inline-block;
  h3 {
    font-size: 28px;
    color: $reflection-white;
    font-weight: 600;
    line-height: 1.37;
  }
}
.main-content__text-statement--one {
  width: 441px;
  margin-top: 253px;
  padding-left: 42px;
  padding-right: 29px;
}
.illustration-one-container {
  position: relative;
  top: -1.4rem;
  max-width: 843px;
  width: calc(100% - 441px);
  float: right;
  overflow: visible;
  img {
    position: relative;
    left: -4.8rem;
  }
}
.main-content__text-statement--two {
  width: 593px;
  margin-top: 83px;
  padding-left: 112px;
  padding-right: 127px;
}
.illustration-two-container {
  position: relative;
  top: -28rem;
  max-width: 794px;
  width: calc(100% - 593px);
  float: left;
  overflow: visible;
  img {
    position: relative;
    right: -6rem;
    float: right;
  }
}