.page-market-benchmarking {
	text-align: center;
	.sharing-container {
		position: absolute;
    top: 70px;
    right: 22px;
	}
	.filters-container {
		margin-top: 4rem;
		margin-bottom: 3rem;
		.secondary-filter--medium {
			.form-field--select__box {
				display: inline-block;
				vertical-align: top;
			}
			label {
				margin: 14px 7px 0 0;
				display: inline-block;
				vertical-align: top;
				font-size: 1.4em;
				color: #81879D;
			}
		}
	}
	.secondary-filter.form-field--search {
		width: calc(100% - 20px);
		margin: 10px 0 0;
	}
	.form-field--select__dropdown {
		position: absolute;
		cursor: pointer;
		li span {
			position: relative;
			top: 0;
			left: 0;
		}
	}
	.app-search-loading-indicator span {
		position: relative;
		left: 0;		
		display: inline-block;
		color: #fcfdfd;
    font-size: 15px;
    line-height: 1.5;
	}
	.app-search-loading-indicator .search-loading-indicator {
		top: 16px;
    right: 15px;
    display: inline-block;
	}
	.data-lab-article-intro:after {
		display: none;
	}
}
.market-benchmarking-chart {	
	width: 1176px;
	margin: 18px auto 100px;
	font-size: 0;
}
.market-benchmarking-chart__rank-column,
.market-benchmarking-chart__data-column {
	vertical-align: top;
	display: inline-block;
}
.market-benchmarking-chart__rank-column {
	width: 25px;	
	ul {
		width: 100%;
		padding-top: 168px;
		padding-right: 10px;
	}
	li {
		width: 100%;
		height: 40px;
		display: block;
		color: #5A5A68;
		font-size: 14px;
		font-weight: 700;
		text-align: right;
		cursor: pointer;		
	}
}
.market-benchmarking-chart__data-column {
	position: relative;
	width: 23%;
	margin-right: .43%;
	overflow: visible;
	border-radius: 6px;
	&:last-child {
		margin-right: 0;
	}
	&.has-data {
		.form-field--search {
			display: none;
		}
	}
	.market-benchmarking-chart__data-list__item {
		position: relative;
		height: 40px;
		padding-top: 10px;
		padding-left: 13px;
		overflow: visible;
    font-size: 0;
    text-align: left;
    border-bottom: 2px solid $dark-grey-1;
    background-color: #343438;
    cursor: pointer;
    .is-hovered & {
    	opacity: 0.2;
			&.is-on {
	    	opacity: 1;
	    }
    }
	}
	.icon-flag-sm {
    margin-right: 12px;
		display: inline-block;
		vertical-align: top;
	}
}
.market-benchmarking-chart__data-column__data {
	width: 100%;
	min-height: 1114px;
	border: 2px dashed #5A5A68;
	border-radius: 5px;
	.has-data & {
		border-color: #29292c;
	}
	.chart__loading	{
		margin-top: 80px;
		margin-bottom: 10px;
		padding-left: 0;
		display: none;
		.animation-hamster,
		.hamster-wheel {
			margin-left: -50px;
		}
		.is-loading & {
			display: inline-block;
		}
	}
	.chart__no-data {
		margin: 60px 0 40px;
		padding: 0 30px;
		display: none;
		h2 {
			width: 100%;
			margin: 2rem auto !important;
			text-align: center !important;
		}
		.is-no-data & {
			display: inline-block;
		}
	}	
}
.page-lab-base .market-benchmarking-chart__data-column h2 {  
	margin-left: 10px;
	font-size: 18px;
	font-weight: 600;
	color: $reflection-white;
	text-align: left;  
}
.page-lab-base .market-benchmarking-chart__data-column h2,
.page-lab-base .market-benchmarking-chart__data-column h3 {
	width: 162px;
	text-overflow: ellipsis;
  white-space: nowrap;
  color: #FCFDFD;
}
.page-lab-base .market-benchmarking-chart__data-column .market-benchmarking-chart__column__header__app-details h2,
.page-lab-base .market-benchmarking-chart__data-column .market-benchmarking-chart__column__header__app-details h3,
.page-lab-base .market-benchmarking-chart__data-column .market-benchmarking-chart__column__header__app-details h2 a {
	color: #9F9BFF;
	transition: color 0.2s;
}
.page-lab-base .market-benchmarking-chart__data-column .market-benchmarking-chart__column__header__app-details h2 a:hover {
	color: rgb(183, 181, 250);
	transition: color 0.2s;
}
.market-benchmarking-chart__column__header {
	height: 68px;
	padding: 10px 0 0 10px;
	border-radius: 6px 6px 0 0;
	background-color: #343438;
	.whats-this-tooltip-icon {
		position: relative;
		top: -3px;
		left: 3px;
	}
}
.market-benchmarking-chart__data-bar-container {
	width: 63%;
	height: 20px;
  margin-right: 7px;
	display: inline-block;
	vertical-align: top;
	background-color: $dark-grey-1;
	.is-null-value & {
		display: none;
	}
}
.market-benchmarking-chart__null-value-label {
	display: none;
	.is-null-value & {
		padding-top: 2px;
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		color: $light-grey-1;
	}
}
.market-benchmarking-chart__data-bar {
	height: 20px;
	background-color: #F5C943;
	.is-downloads-list & {
		background-color: #918edf;
	}
}
.market-benchmarking-chart__value {
  width: 45px;
  padding-top: 2px;
  display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-weight: 700;
	color: $light-grey-1;
	text-align: center;
	.is-on & {
		&.is-positive {
			color: $reflection-green;
		}
		&.is-negative {
			color: $reflection-red;
		}
	}
	.is-null-value & {
		display: none;
	}
}
.market-benchmarking-chart__column__header__app-details {
	text-align: left;
	img {
		width: 40px;
		height: 40px;
		margin-right: 15px;
		display: inline-block;
		float: left;
		border-radius: 7px;
	}
	h2, h3 {
		margin: 0;
		color: $reflection-purple--dark;
	}
	h2 {
    margin-top: 1px;
	}
	h3 {
		font-size: 14px;
		font-weight: 400;
	}
}
.tooltip-country {
	position: absolute;
  bottom: -49px;
  left: 11px;
  padding: 12px 15px 12px;  
  z-index: 1000;
  font-size: 14px;
  font-weight: bold;
  font-family: $brand-body-font;
  color: #C4C7D0;
  opacity: 0;
  border-radius: 10px;
  background-color: #363A47;
  .is-on & {
  	opacity: 1;
  	pointer-events: none;
  }
  li:nth-child(22) &,
  li:last-child & {
  	top: -48px;
  	bottom: inherit;  	
  }
}
.market-benchmarking-chart__column__has-data {
	display: none;
	border-radius: 6px;
	.ref-icon-after--close {
		position: absolute;
		top: 10px;
		right: 10px;
		display: inline-block;
		color: #81879D;
		transition: color 0.2s;
		&:after {
			font-size: 19px;
		}
		span {
			display: inline-block;
			text-align: left;
			text-indent: -999rem;
		}
		&:hover {
			color: lighten(#81879D, 10%);
			transition: color 0.2s;
		}
	}
	.filter-toggle label {
		width: 100%;
	}
	.toggle-container {
		width: 100%;
		padding: 0 10px 6px;
		background-color: #343438;
	}
	.toggle {
		width: 50%;
	}
	.secondary-filter {
		width: 100%;
		padding: 0 10px 10px;
		border-bottom: 2px solid #29292c;
		background-color: #343438;
		.form-field--select__box {
			width: 100%;
			box-sizing: border-box;
		}
	}
	.has-data & {
		display: block;
	}
}