.page-data-dashboard.page-ad-network {
	.page-header__data-info-text {
		padding-top: 10px;
    padding-right: 8px;
	}
	.page-header__page-toggle {
		margin-left: 0;
		float: none;
	}
	.chart-container--single.chart-container--ad-revenue {
		.chart-container__header {
			width: 45%;
		  display: inline-block;
		  float: right;
		  text-align: right;
	  	.chart-summary {
				margin-right: 0
			}
		}
		.custom-chart-key {
			position: relative;
			top: 0;
			left: 0;			
			width: 45%;
			margin-left: 22px;
			display: inline-block;
		}
		.chart {
			height: 315px;
			margin-top: 30px;
		}
	}
	.data-table-section {
		padding: 0;
	}
}
.ref-table--ad-network {
	tbody tr:nth-child(odd) {
		background-color: #f2f2f5;		
	}
	tbody tr:nth-child(even) {
		background-color: $reflection-white;
	}
	tr:first-child td {
		font-weight: 600;
	}
	.ecpm-head-cell,
	.ecpc-head-cell,	
	.data-cell-ecp {
		padding-right: 20px;
		text-align: right;		
	}
	.data-cell-ecp,
	.data-cell-ad-revenue {
		padding-top: 9px;
    padding-bottom: 6px;
	}
	.ad-revenue-head-cell,
	.data-cell-ad-revenue {		
		padding-right: 30px;
		text-align: right;
	}
	.impressions-head-cell,
	.data-cell-impressions {
		padding-left: 20px;
	}
	.app-data-cell-show-hide {
		padding-top: 13px;
    padding-bottom: 14px;
	}
	.data-cell-ad-total-for-period {
		display: none;
		@include breakpoint($desktop) {
			display: block;
		}
	}
	col {
		width: 12%;
	}
	&.ref-table--ad-network--spend-country {
		col {
			width: 20%;
		}
		col.column-ad-platform {
			width: 15%;	
		}
		.data-table__value-bar {
			padding-right: 20px;
		}
	}
	col.column-row-selector {
		width: 7%;
	}
	.column-ad-platform {		
		width: 12%;
	}
	.column-total-for-period {
		width: 15%;
	}
	.column-ecp {
		width: 11%;
		@include breakpoint($desktop) {
			width: 9%;
		}
	}
	.column-impressions {
		width: 13%;
	}
	.column-clicks {
		width: 9%;
	}
	.column-fill-rate {
		width: 9%
	}
	.column-app-icon {
		width: 40px;
	}
	.column-store-icon {
		width: 3%;
	}
	.data-table__app-summary {
		> div {
			width: 100%;
		}
		img,
		img + div {
			display: inline-block;
    	vertical-align: middle;
		}
		img {
			display: none;
			@include breakpoint($desktop) {
				width: 28px;
				display: inline-block;
				border-radius: 5px;
			}			
		}
		img + div {
			width: 100%;
			@include breakpoint($desktop) {
				width: calc(100% - 55px);
				margin-left: 10px;
				float: none;
			}			
			h2 {
				padding-right: 0.7rem;
				font-weight: 400;
				@include ellipses();
			}
		}
		&.data-table__app-summary--app-icon {
			@media screen and (max-width: $desktop - 1px) {
				img {
					width: 25px;
					margin-left: 8px;
					margin-right: 12px;
			    display: inline-block;
			    border-radius: 7px;
				}
			}			
		}
	}
}