.page-article-list.page-app {
	.article-list__item__title,
	.article-list__item__title:first-child {
		width: auto;
		display: inline-block;
	}
	.article-list__item__summary-container {
		width: calc(100% - 285px);
	}
	.article-list__item__posted-date {
		padding-top: 2px;
    padding-left: 13px;
	}
	.article-list__item__intro {
		margin-top: -6px;
	}
}