.page-app.page-app-rank-history {
	.data-table-section__header {
		width: 100%;
		float: left;
	}
	.data-table-section__filters {
		width: 100%;
		> label {
			margin-left: 0;
		}
		.secondary-filter {
			float: left;
		}
		.filter-toggle {
			float: right;
		}
	}
}
.page-data-dashboard.page-app-rank-history .chart-container--split {
	.growth-on-last-period {
		position: relative;
		top: 7px;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		&:after {
			position: relative;
	    top: -5px;
	    left: -1px;
		}
	}
	.total-for-period-container {
		padding-right: 15px;
	}
}
.ref-table--rank-history {
	margin-bottom: 3rem;
	th {
		font-size: 15px;
	}
	th:first-child {
		padding-left: 2rem;
	}
	th:last-child,
	td:last-child {
		padding-right: 2rem;
	}
	tbody {
		tr {
			height: 35px;
		}
		td {
			padding-top: 7px;
	    padding-bottom: 6px;
	    &:first-child {
				padding-left: 2rem;
			}
	  }
	}
}
.column-rank-history--date {
	width: percentage(210/870);
}
.column-rank-history--grossing-rank {
	width: percentage(179/870);
}
.column-rank-history--download-rank {
	width: percentage(160/870);
}
.column-rank-history--revenue {
	width: percentage(130/870);
}
.column-rank-history--downloads {
	width: percentage(191/870);
}
.rank-history-data-cell--rank {
	position: relative;
	span {
		display: inline-block;
		vertical-align: baseline;
		&:after {
			top: -2px;
    	left: 4px;
		}
	}
	.data-table__revenue-rank-growth,
	.data-table__download-rank-growth {
		position: absolute;
		left: 54px;
		padding-top: 1px;
		float: right;
		font-weight: 700;
		&:after {
			top: -7px;
    	left: -2px;
		}
	}
}
.rank-history-head-cell--revenue-downloads,
.rank-history-data-cell--revenue-downloads {
	text-align: right;
}
.data-table__rank-history-rev-down {
	padding-left: 5px;
	font-size: 12px;
	font-weight: 700;
	vertical-align: baseline;
}