.page-app {
	.aside-definition-list {		
		> h2 {
			margin-bottom: 1.6rem;
		}
		dl {
			padding-bottom: 2.6rem;
	    margin-bottom: 2.3rem;
	    border-bottom: 1px solid #e1e5e8;
		}
	}
	.app-images-container {
		width: 100%;
		padding: 20px 20px 0 22px;
		margin-bottom: 3rem;
		overflow: hidden;
		background-color: #f1f1f6;
	}
	.app-images {
		width: auto;		
		display: block;
		overflow-x: auto;
	}
	.app-image-list {
		margin: 0 auto;
		padding-bottom: 20px;
		overflow: hidden;
		li {
			display: inline-block;
			float: left;
		}
		img {		
			margin-right: 19px;
			display: inline-block;
			float: left;
		}
		li:last-child img {
			margin-right: 0;
		}
		.image-portrait {
			width: 320px;
		}
		.image-tablet {
			width: 480px;
		}
		.image-landscape {
			width: 568px;
		}
	}
	.app-main-details {
		padding-bottom: 15rem;
		.article-list__item__open-close-link {
	    margin-top: -1rem;
	    font-family: $brand-heading-font;
			font-size: 1.6rem;
		}
		.is-open .article-list__item__open-close-link {
			margin-top: 0;
		}
	}
	.supported-devices {
		margin-top: -0.1rem;
		font-size: 1.4rem;
		line-height: 1.7;
		color: $mid-grey-2;
	}
	.app-details-link {
		width: 100%;
		margin-top: 0;
		margin-bottom: 0.6rem;
		display: inline-block;
		vertical-align: top;
		clear: both;
		font-family: $brand-heading-font;
		font-size: 1.6rem;
		line-height: 1.5;
		color: $dark-grey-1;
	}
	.more-by-this-developer,
	.reviews-and-ratings {
		display: none;	
	}
	.more-by-this-developer {
		padding-bottom: 3rem;
		border-bottom: 1px solid $divider-grey;
		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
		> h2,
		> h2:first-child {		
	    margin-top: -8px;
	    margin-bottom: 24px;
		}
		li {
			width: 25%;
			margin-bottom: 37px;
			display: inline-block;
			float: left;
			text-align: center;
			vertical-align: top;
			overflow: hidden;
			white-space: nowrap;
			a {
				width: 80%;
				margin: 0 auto;
				display: block;
				font-size: 1.6rem;
				line-height: 1.2;
				font-family: $brand-heading-font;
				font-weight: 600;
				color: $reflection-purple;
				text-align: text;
				text-overflow: ellipsis;
				overflow: hidden;
				&:hover {
					color: $reflection-purple--hover;
					+ a {
						color: $reflection-purple--hover;
					}
				}
			}
		}
		img {
			width: 68px;
			height: 68px;
			margin-bottom: 6px;
			border-radius: 10px;
		}	
	}
	.reviews-and-ratings {
		position: relative;
		margin-bottom: 3rem;
		display: block;
		overflow: visible;
		.reviews-and-ratings-title {
			width: 100%;
			margin: -9px 29px 15px 0;
			display: block;
			float: left;
			@include breakpoint($desktop) {
				width: auto;
				margin-bottom: 29px;
				display: inline-block;
			}
		}
		.ratings-container {
			margin-right: 17px;
			display: inline-block;
			vertical-align: middle;
		}
		button {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		.form-field--select {
			margin-right: 10px;
			margin-bottom: 2rem;
			display: inline-block;
			float: left;
			@include breakpoint($desktop) {
				margin-bottom: 0;
			}
		}
		.filter-toggle {
			padding-top: 29px;
    	padding-left: 2px;
		}
	}
	.reviews-and-ratings__actions-container {
		width: 100%;
		overflow: visible;
		float: left;
	}
	.average-ratings-container {
		width: 211px;
		display: inline-block;
	  vertical-align: top;  
		h3, div, span {
			margin: 0;
			display: inline-block;
			vertical-align: middle;
		}
		h3 {
			padding-right: 7px;
			margin-bottom: 7px;
			vertical-align: top;
			font-size: 2rem;
		}
		.average-ratings-container__number,
		.ratings-average-label {				
			display: inline-block;
			vertical-align: top;
			font-family: $brand-heading-font;
			font-size: 1.6rem;
			line-height: 1.2;
		}
		.average-ratings-container__number {
			padding-top: 6px;
		}
		.ratings-average-label {
			padding-right: 12px;
			padding-left: 1px;
			color: #727686;
		}
	}
	.customer-reviews {
		padding-top: 3rem;
		display: none;	
	}
	.customer-review {
		margin-bottom: 3rem;
	}
	.customer-review__title,
	.customer-review__author {
		margin: 2px 0 0;
		display: inline-block;
		vertical-align: middle;
		font-size: 1.8rem;
		color: #29292c;
	}
	.customer-review__author {
		position: relative;
    top: 2px;
		margin-right: 16px;
    font-size: 1.3rem;
    font-weight: 400;
	}
	.customer-review__content {
		margin-top: 12px;
		padding-left: 2px;
		font-size: 1.4rem;	
		line-height: 1.7;
		color: #5b5d61;
	}
	.more-reviews-container {
		display: none;
		li:last-child article {
			margin-bottom: 0;
		}
	}
	.release-notes-container {
		margin-top: 3rem;
		display: none;
		.heading-style--heading-four span {
			display: inline;
		}
	}
	.more-apps-listed {
		margin-top: -5px;
	}
}
.page-app-ratings-info__app-description,
.page-app-ratings-info__release-notes {
	span {
		margin-bottom: 1em;
		display: block;
		&:last-child {
			margin-bottom: 0;
		}
		&.text-ellipses {
			display: inline;
			.is-open & {
				display: none;
			}
		}
		&.is-hidden-text {
			display: none;
			.is-open & {
				display: inline;
			}
		}
	}
}
.page-app-ratings-info__app-description + p {
	display: none;
}