.careers-section-head {
	@include vertical-centre-content;
	width: 100%;
	height: 540px;	
	padding-left: percentage(128/1220);
	margin-bottom: 3.1rem;
	background-image: url(images/bg-careers.jpg);
	background-size: cover;
}
.careers-section-head__text {
	width: 470px;
	margin-top: -55px;
	display: inline-block;
	.page-title {
		font-weight: 700;
		color: $reflection-white;
	}
}
@include breakpoint($desktop-wide) {
	.careers-section-head {
		margin-bottom: 4rem;
	}
	.careers-section-head__text {
		width: 650px;
		.page-title {
			font-size: 3.8rem;
		}
	}
}
.popup-content--career {
	width: 475px;
	padding-right: 20px;
	padding-bottom: 37px;
	overflow: visible;
	border-radius: 11px;
	background-color: #fcfdfd;
	p {
		text-align: left;	
	}
}
.career-popup__profile-image {
	position: relative;
	top: -94px;  
  width: 118px;
	height: 118px;
  margin-bottom: -83px;
	text-align: left;
}
.careers-popup__name {
	margin-top: 24px;
	margin-bottom: 13px;
	display: block;
	font-family: $brand-heading-font;
	font-weight: 600;
	font-size: 18px;
	text-align: left;
}
.careers-popup__description {
	max-height: 300px;
	padding-right: 20px;
	overflow: auto;
}
.careers-popup__position {
	display: block;
	font-family: $brand-heading-font;
	font-size: 14px;
	color: $mid-grey-2;
	text-align: left;
}