.careers-section-head {
	@include vertical-centre-content;
	width: 100%;
	height: 540px;	
	padding-left: percentage(128/1220);
	margin-bottom: 3.1rem;
	background-image: url(images/v2/bg-careers.jpg);
	background-size: cover;
}
.careers-section-head__text {
	width: 470px;
	margin-top: -55px;
	display: inline-block;
	.page-title {
		font-weight: 700;
		color: $reflection-white;
	}
}
@include breakpoint($desktop-wide) {
	.careers-section-head {
		margin-bottom: 4rem;
	}
	.careers-section-head__text {
		width: 650px;
		.page-title {
			font-size: 3.8rem;
		}
	}
}