.page-contact {
	padding-top: 2rem;

	.page-title {
		margin-left: -2px;
	}
	.page-title,
	.page-sub-title {
		margin-bottom: 0;
		display: inline-block;
		vertical-align: top;
	}
	.page-sub-title {
    padding-top: 1.4rem;
    padding-left: 2.6rem;
		margin-bottom: 0;
		font-family: $brand-body-font;
		font-size: 14px;
		font-weight: 400;
		color: #5a5a68;
	}
}
.page-contact__header {
	padding-bottom: 2.1rem;
	border-bottom: 1px solid $divider-grey;
	overflow: visible;
}
.page-contact__content,
.page-contact__map-container {
	display: inline-block;
	vertical-align: top;
}
.page-contact__content-container {
	width: 100%;	
	padding-left: 22px;
	font-size: 0;
}
.page-contact__content {
	width: calc(100% - 414px);
	padding-top: 76px;
}
.page-contact__map-container,
.page-contact__map {
	width: 414px;
	height: 600px;
	div {
		overflow: visible;
	}
}
.page-contact__content__dl,
.page-contact__illustration {
	display: inline-block;
	vertical-align: top;
}
.page-contact__content__dl {
	width: 310px;
	margin-left: percentage(98px/784px);
	dt, dd {
		margin-bottom: 10px;
		display: inline-block;
		vertical-align: top;
		line-height: 1.4;
	}
	dt {
		width: 140px;
		padding-right: 10px;
		font-family: $brand-heading-font;
		font-size: 16px;
		font-weight: 600;
		color: $dark-grey-1;		
		float: left;
		clear: left;
		box-sizing: border-box;
	}
	dd {
		font-family: $brand-body-font;
		font-size: 16px;
		color: $mid-grey-1;
	}
	a {
		color: $reflection-purple;
		&:hover {
			color: $reflection-purple--hover;
		}
	}
}
.page-contact__illustration {
	width: percentage(186px/784px);
	max-width: 185px;
	margin-top: 5px;
	margin-left: percentage(74px/784px);
}