.page-data-dashboard {
	padding-top: 2.3rem;
	overflow: visible;
	> .grid-container:first-child {
		overflow: visible;
	}
	.page-title {
    margin-left: -2px;
    margin-right: 3.9rem;
    padding-top: 0.1rem;
    margin-bottom: 3rem;
		display: inline-block;
		vertical-align: top;
		line-height: 1;
    letter-spacing: -0.01em;
    span {
    	margin-left: 5px;
    	font-size: 2.2rem;    
    	font-weight: 400;
    }
    &.is-loading {
    	min-width: 98px;
    	height: 25px;
    	margin-top: 6px;
    	margin-bottom: calc(3rem - 6px);
    	background-color: $loading-colour;
    }
    + .secondary-filter {
    	margin-right: 1rem;
    }
	}
	.page-header__page-toggle {
		margin-left: 1rem;
		float: right;
	}
	.page-header__data-info-text {
		padding-top: 12px;
		padding-right: 5px;
		vertical-align: top;
		display: inline-block;
		font-family: $brand-body-font;
		font-size: 1.2rem;
		color: #5a5a68;
		@include breakpoint($desktop) {
			display: inline-block;
		}
	}
	.page-header__data-info-icon {
		vertical-align: top;
    padding-top: 9px;
	}
	.page-header_action-button {
		float: right;
	}
	.secondary-filters-container {
		.secondary-filter {
			.form-field--select__box {
				min-width: inherit;
			}
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				margin-right: 1rem;				
			}
			.form-field--select__box {
				width: 140px;
				@include breakpoint($desktop) {
					width: inherit;
					min-width: 94px;
				}
			}
		}
		.form-field--checkbox-list {
			margin-left: 1rem;
    	padding-top: 0.9rem;
		}
	}
	.toggle-container--chart-type {
		margin-left: 1rem;
		float: right;
	}
	.chart-container {
		position: relative;
		width: 100%;
		height: 386px;
		padding-top: 12px;
		margin-bottom: 3.8rem;
		display: inline-block;
		overflow: visible;
		float: left;
		background-color: $panel-grey;
		border-top: 1px solid $divider-grey;
		&.chart-container--split {
			width: 50%;
		}
	}
	.chart-container:first-child {
		border-right: 1px solid $divider-grey;
	}
	.chart-container__header {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		overflow: visible;
	}
	.chart-data-message {
		position: absolute;
    top: 48px;
    width: 100%;
		display: block;
		text-align: center;
		font-size: 12px;
		color: $mid-grey-1;
		.whats-this-tooltip-icon {			
	    position: relative;
	    top: -4px;
	    left: 6px;
		}
	}
	.chart-heading {
		margin: 0;
		display: inline-block;
		span {
			font-weight: 400;
		}
	}
	.chart-summary {
		display: inline-block;
		vertical-align: top;
	}
	.total-for-period-container {
		display: inline-block;
		vertical-align: top;
	}
	.total-for-period-title {
		display: inline-block;
		vertical-align: bottom;
		font-family: $brand-heading-font;
		font-size: 1.4rem;
		color: #363a47;
	}
	.total-for-period,
	.growth-on-last-period {
		vertical-align: bottom;
		font-family: $brand-body-font;		
		line-height: 1.1;
	}
	.total-for-period {
		display: inline-block;
		font-size: 2rem;
	}
	.growth-on-last-period {
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 700;
	}
	.growth-on-last-period-container {
		display: inline-block;
		vertical-align: top;
	}
	.growth-on-last-period {
		font-weight: 700;
	}
	.growth-on-last-period-title {
		position: relative;
		padding-right: 25px;
		overflow: visible;
		&:after {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 18px;
			color: $light-grey-2;
		}
	}
	.chart-container--split {
		.chart-summary {
			position: absolute;
	    top: 5px;
	    right: 0%;
		}
		.total-for-period-container {
			padding-right: 22px;
		}
		.total-for-period-title {
			padding-right: 1rem;
		}
		.growth-on-last-period {
			padding-left: 0.5rem;
			padding-bottom: 1px;
		}
	}
	.chart-container--single {
		.chart-summary {
			position: relative;
			margin-right: 42px;
		}
		.total-for-period-container {
			vertical-align: top;
		}
		.total-for-period-title {
			padding-right: 10px;
		}
		.total-for-period {
			margin-top: -2px;
			vertical-align: top;
		}
		.growth-on-last-period {
			padding-left: 5px;
		}
		.chart {
			margin-top: 69px;
		}
	}
	.chart {
		height: 306px;
    width: 100%;
    margin-top: 32px;
		overflow: visible;
	}
	.custom-chart-key {
		position: relative;
    width: calc(100% - 44px);
    padding: 0;
    margin: 0 22px 1.4rem;
    border-bottom: 1px solid $divider-grey;
    li {
    	margin-bottom: 9px;
    }
	}
}
.data-table-section {
	position: relative;
	padding: 0;
	@media screen and (max-width: 1100px) {
		&.grid__column--three-quarters {
			width: 100%;
		}
	}
	@include breakpoint(1100px) {
		padding: 0 2% 0 0;
	}
	.page-data-dashboard--country & {
		padding: 0;
	}
	.section-title {
		width: 70px;
		margin: 0;
		line-height: 1.2;
		display: inline-block;
		span {
			display: block;
			font-family: $brand-heading-font;
			font-size: 14px;
			color: $dark-grey-2;
		}
		span:first-child {
			margin-bottom: 2px;
		}
		span:last-child {
			font-family: $brand-body-font;
			font-size: 20px;
		}
	}	
}
.data-table-section__header {
	padding-bottom: 1.3rem;
	overflow: visible;
	border-bottom: 1px solid $divider-grey;
}
.data-table-section__filters {
	width: calc(100% - 80px);
	padding-top: 3px;
	display: inline-block;
	float: right;
	overflow: visible;
	font-size: 0;
	.secondary-filter {
		width: 18.1%;
		margin-right: 12px;
		float: right;
		&:first-child {
			width: 22.2%;
			margin-right: 0;
			margin-left: 9px;
		}
		&:last-of-type {
			width: 19.5%;
		}
		.form-field--select__box {
			min-width: inherit;
		}
	}
	> label {
		margin-left: 0.6rem;
		padding-top: 12px;
		padding-right: 0.8rem;
		display: inline-block;
		float: right;
		vertical-align: top;
		font-family: $brand-heading-font;
		font-size: 14px;
		color: $mid-grey-2;
	}
}
.data-aside-bar {
	padding: 0;
	margin-top: 2px;
	@media screen and (max-width: 1100px) {
		&.grid__column--one-quarter {
			width: 100%;
			font-size: 0;
		}
	}
}
.data-table-section__summary {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 0.6rem;
	border-bottom: 1px solid $divider-grey;
	.form-field--checkbox-list {
		padding: 4px 0 0 15px;
	}
	.data-table-section--totals-title {
		margin: 3px 0 9px;
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 600;
		color: #363a47;
	}
}
.data-table-section__summary__figures {
	display: inline-block;
	float: right;
	span, a {
		display: inline-block;
		vertical-align: top;
	}
	.data-table-section__summary__total-revenue,
	.data-table-section__summary__total-downloads {
		padding: 0 7px 0 8px;
		font-size: 1.4rem;
		color: $dark-grey-2;
		span {
			padding-top: 0.5rem;
		}
	}
	.data-table-section__summary__total-downloads {
		padding-left: 17px;
	}
	.data-table-section__summary__total-revenue:before,
	.data-table-section__summary__total-downloads:before {
		padding-right: 0.6rem;
		font-size: 2.4rem;
		color: $mid-grey-2;
	}
	.data-table-section__summary__growth {
		padding: 0.4rem 1.7rem 0 0;
		font-weight: 700;
		font-size: 1.2rem;
	}
	.data-table-section__summary__more-link {
		padding: 0.4rem 1.6rem 0 0;
		font-size: 1.2rem;
		@extend .text-link;
		display: none;
	}
}
.page-data-dashboard--list-page {
	.data-table-section {
		padding: 0;
	}
}