.page-data-vis-reviews-cloud {
	.chart,
	.highcharts-container,
	.chart .highcharts-root {
		overflow: visible !important;
	}
	.sharing-container {
		display: none;
		@media screen and (min-width: 1550px) {
			display: block;
		}
	}
	.page-data-vis-reviews-cloud__center-column {
		text-align: center;
	}
	.sharing-container {
		position: absolute;
    top: 20px;
    right: 22px;
	}
	.page-data-vis-reviews-cloud__main-content-container {
		min-width: 930px;
		max-width: 1180px;
		margin: 0 auto;
		&.page-data-vis-reviews-cloud__main-content-container__head {
			margin: 0;
		}
	}
	.data-vis-reviews-cloud__content-title {
		margin-top: 10rem;
		margin-bottom: 3rem;    
    text-align: center;
	}
	.data-lab-article-intro:after {
		display: none;
	}
	.page-data-vis-reviews-cloud__app-column__app-icon-container {
		width: 100px;
		height: 100px;
		margin: 0 2rem 1.4rem;
		display: inline-block;
		border-radius: 20px;
		background: #363a47;
		img {
			width: 100%;
		}
	}
	.page-data-vis-reviews-cloud__app-column__search-container {
		display: inline-block;
		vertical-align: top;
		overflow: visible;
	}
	.page-data-vis-reviews-cloud__app-column {
		width: 248px;
		margin-left: 2.2rem;
		display: inline-block;
		float: left;
	}
	.page-data-vis-reviews-cloud__app-name {
		margin: 0 0 0.6rem;
		a {
			color: #9f9bff;
			&:hover {
				color: darken(#9f9bff, 10%);
			}
		}
	}
	.secondary-filter.form-field--search {
		margin-bottom: 15px;
	}
	.page-data-vis-reviews-cloud__developer-name {
		margin: 0 0 1.7rem 1px;
		color: $light-grey-1;
		font-size: 16px;
	}
	.page-data-vis-reviews-cloud__reviews-widget {
		width: 100%;
		padding: 16px 22px 25px;
		margin-bottom: 3rem;
		border-radius: 10px;
		background-color: #363a47;
		h4 {
			margin-bottom: 1.8rem;
			font-size: 18px;
			font-weight: 400;
			text-align: left;
			span {
				color: #54bee5;
				font-weight: 600;
			}
		}
		h5 {
			margin-bottom: 0.8rem;
			font-size: 16px;
			font-weight: 400;
			color: $light-grey-2;
			text-align: left;
			.selected-country-text,
			.total-reviews-count {
				font-family: $brand-body-font;
			}
			.total-reviews-count {
				margin-left: 7px;				
				font-weight: 700;
				color: $reflection-white;
			}
			.selected-country-text {
				margin-left: 2px;
				font-size: 13px;
			}
		}
		ul {
			padding-top: 0.8rem;
	    text-align: left;
			border-top: 2px solid #2e313c;
			li {
		    margin-bottom: 5px;
			}
		}
	}
	.page-data-vis-reviews-cloud__cloud-section {
		width: calc(100% - 290px);
		min-height: 300px;
		padding-left: 5px;
		display: inline-block;
	}
	.form-field--search .form-field--select__dropdown li span {
		position: relative;
		top: 0;
		left: 0;		
	}
	.form-field--search {
		width: 406px;
		display: inline-block;
		input {
			font-size: 16px;
		}
		.form-field--select__dropdown {
			min-height: 60px;
		}
	}
	.form-field--select__dropdown {
		max-height: 300px;
		overflow: auto;
		.icon-flag-sm {
			margin-right: 8px;
		}
	}
	.app-search-loading-indicator {
		position: relative;
		margin-top: -6px;
		span, .search-loading-indicator {
			position: relative;
		}
		span {
			color: #fcfdfd;
			font-size: 15px;
			display: inline-block;
			left: 0;
			line-height: 1.5;
		}
		.search-loading-indicator {
			top: 5px;
			right: -101px;
			display: inline-block;
		}
	}
	.filters-row {
    text-align: left;
	}
	&.page-lab-base .secondary-filter {
		.form-field--select__box {
	    width: 170px;
			.icon-flag-sm {
				top: 9px;
				+ b {
					padding-left: 28px;
				}
			}
	    > img {
	    	position: absolute;
	    	top: 12px;
	    	left: 10px;
	    }
		}
		.form-field--select__dropdown {
			li {
				margin-bottom: 10px;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	.form-field--search {
		padding: 10px 13px 11px 15px;
	}
	.tag-cloud-container {
		position: relative;
		overflow: visible;
	}
	.tag-cloud-container .tag-cloud {
		position: relative;
		display: none;
		overflow: visible;
	}
	.tag-cloud-container .tag-cloud li {
		padding: 0.5em;
		display: inline-block;
		font-weight: 600;
		font-family: 'Source Sans Pro', sans-serif;		
		overflow: visible;
		cursor: pointer;
		text-decoration: underline;
		transition: font-size 0.5s;
	}
	.tag-cloud li {
		-webkit-transition: 0.2s color;
		transition: 0.2s color;
		&:hover {
			opacity: 0.3;
			underline: none;
			-webkit-transition: 0.2s opacity;
			transition: 0.2s opacity;
		}
	}
	.tag-cloud-container .tag-cloud li.positive-average,
	.tag-cloud--positive li {
		color: #12a76a;
	}
	.tag-cloud-container .tag-cloud li.average-average,
	.tag-cloud--average li {
		color: #727686;
	}
	.tag-cloud-container .tag-cloud li.negative-average,
	.tag-cloud--negative li {
		color: #ff496a;
	}
	.page-data-vis-reviews-cloud .ratings-container {
		padding-top: 5px;
		margin-bottom: 8px;
		display: inline-block;
		vertical-align: top;
	}
	.number-of-stars-label,
	.rating-number,
	.rating-percentage-text {
		display: inline-block;
		vertical-align: top;
		font-family: $brand-body-font;
	}
	.number-of-stars-label {
		margin-right: 1rem;
		color: #54bee5;
		font-size: 16px;
		&:after {
	    top: 2px;
    	left: 3px;
			font-size: 13px;
		}
	}
	.rating-number {
    width: 32px;
    margin-top: 1px;			
		font-size: 13px;
		color: $reflection-white;
		@include breakpoint($desktop) {
			width: 36px;
			font-size: 14px;
		}
	}
	.rating-percentage-text {
    margin-top: 1px;
    float: right;
		font-size: 14px;
		color: $light-grey-1;
	}
	.rating-percentage-container {
		width: 70px;
		height: 9px;
		margin-top: 5px;
		display: inline-block;
		vertical-align: top;
		border-radius: 5px;
		background-color: #2e313c;
		@include breakpoint($desktop) {
			width: 93px;
		}
	}
	.rating-percentage {
		width: 0%;
		height: 9px;
		background-color: $reflection-purple;
		transition: width 0.3s;
	}	
	.js-five-stars + .rating-percentage-container .rating-percentage {
		background-color: #18a36c;
	}
	.js-four-stars + .rating-percentage-container .rating-percentage {
		background-color: #18a36c;
	}
	.js-three-stars + .rating-percentage-container .rating-percentage {
		background-color: #727686;
	}
	.js-two-stars + .rating-percentage-container .rating-percentage {
		background-color: #ff496a;
	}
	.js-one-stars + .rating-percentage-container .rating-percentage {
		background-color: #ff496a;
	}
	.total-ratings-container {
		max-width: 140px;
	}
	.total-ratings-container h2 {
		display: inline-block;
		padding-top: 2px;
	}
	.total-ratings-container span {
		margin-right: 7px;
		float: right;		
		font-weight: 600;
	}
	.reviews-cloud-heading {
		position: relative;
    top: 1px;
		padding: 0 2.2rem;
		margin-bottom: 3rem;
		text-align: left;
		h3, .toggle-container {
			display: inline-block;
		}
		h3 {
			margin-bottom: 0rem;
    	margin-right: 3rem;
		}
	}
	.ratings-container {
		background-image: url(images/rating-stars-lab@2x.png);
	}
	.reviews-content-container {
		width: 100%;
    margin-top: 7rem;
    margin-bottom: 2rem;
    display: none;
		text-align: left;
		@include breakpoint($desktop) {
			margin-top: 9rem;
		}
		> h2 {
    	padding-bottom: 2.4rem;
			font-weight: 400;
			border-bottom: 1px solid #19191b;
		}
		.ratings-container {
			margin-right: 2rem;
			margin-bottom: 1rem;
			display: inline-block;
			vertical-align: top;			
		}
		.ratings-list {
			max-height: 700px;
			padding-top: 2rem;
			padding-bottom: 3rem;
			padding-right: 20px;
			overflow: auto;
		}
		ul {
			position: relative;
			margin-bottom: 2rem;
			overflow: auto;
		}
		li {
			position: relative;
			margin-bottom: 3rem;
		}
		.reviews-content__title {
			position: relative;
			top: 2px;
			padding-right: 90px;
			margin: 0 0 1.5rem;
			display: inline-block;
			vertical-align: top;
			font-size: 1.8rem;
			font-weight: 600;
			color: $reflection-white;
		}
		.reviews-content__date {
	    position: absolute;
	    top: 6px;
	    right: 0;	    
	    color: $light-grey-1;
	    font-family: $brand-heading-font;
	    font-size: 16px;	    
		}
		p {
			font-size: 14px;
			strong {
				font-weight: 700;
				color: #54bee5;
			}
		}
	}
	.cloud-key-instruction {
		position: relative;
		margin-top: 0;
		margin-bottom: 2rem;
    padding-left: 30px;
    line-height: 1.5;
    overflow: visible;
		font-size: 16px;
		font-weight: 400;
		color: $light-grey-2;
		text-align: left;
		&:before {
			position: absolute !important;
			left: 0;
			top: 5px;
			font-size: 20px;
			color: #81879D;
		}
	}
	.feedback-container,
	.idc-comments-container {
		width: 100%;
		@include breakpoint($desktop) {
			width: 635px;
		}
	}
	.feedback-container {
		margin: 8rem 0 7rem;
		padding-left: 3%;
		@include breakpoint($desktop) {			
			padding-left: 80px;
			margin-top: 9rem;
		}
	}
	.start-instruction {
		position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -240px;
		display: none;
	}
	.chart-container {
		height: 300px;
		float: none;
		border-bottom: 0;
		.chart__no-data {
			position: absolute;
			top: 0;
		}
	}
	.chart {
		margin-top: 0;
		padding: 0 2.2rem;
		.is-loading-data &,
		.is-no-data & {
			display: none;
		}
	}
	.chart-container,
	.chart-container:first-child {
		border: none;
		background-color: #29292c;
	}
	.chart__loading {
		position: absolute;
    top: 0;
		display: none;
		.is-loading-data & {
			display: block;
		}	
	}
	.chart__no-data {	
		display: none;
		.is-no-data & {
			display: inline-block;
		}
		.animation-hamster-no-data-dark + div {
			width: 400px;
			display: inline-block;
		}
	}
	.highcharts-tooltip {
		padding: 0;
		margin: 0;
		background-color: #363A47;
	}
	.highcharts-container > svg rect:nth-of-type(3) {
		display: block;
	}
	.highcharts-axis path {
		stroke: #222;
	}
	.reviews-timeline-tooltip {
		width: 217px;
		height: 155px;
		padding: 14px 20px 0;
		box-sizing: border-box;
		color: #F2F2F5;
		font-family: $brand-heading-font;
		font-weight: 400;
		font-size: 14px;
		border-radius: 5px;
		background: #363A47;
	}
	.reviews-timeline-tooltip__date,
	.reviews-timeline-tooltip__average-container,
	.reviews-timeline-tooltip__total-reviews-container,
	.reviews-timeline-tooltip__total-reviews-positive,
	.reviews-timeline-tooltip__total-reviews-negative {
		display: block;
		line-height: 1.5;
	}
	.reviews-timeline-tooltip__total-reviews-container,
	.reviews-timeline-tooltip__total-reviews-positive,
	.reviews-timeline-tooltip__total-reviews-negative {
		span {
			float: left;
		}
	}
	.reviews-timeline-tooltip__average-container {
		color: #C4C7D0;
	}
	.reviews-timeline-tooltip__average-value {
		position: relative;
		top: 1px;
		padding-left: 8px;
		display: inline-block;
		font-family: $brand-body-font;
		font-weight: bold;
		font-size: 14px;
		color: #54BEE5;
	}
	.reviews-timeline-tooltip__average-container {
		padding-bottom: 6px;
		margin-bottom: 6px;
		border-bottom: 1px solid #29292C;
	}
	.reviews-timeline-tooltip__total-reviews-positive,
	.reviews-timeline-tooltip__total-reviews-negative {
		color: #C4C7D0;
	}
	.reviews-timeline-tooltip__total-reviews-label {
		width: 100px;
		display: inline-block;
	}
	.reviews-timeline-tooltip__total-reviews-value,
	.reviews-timeline-tooltip__total-reviews-positive-value,
	.reviews-timeline-tooltip__total-reviews-negative-value {
		width: 30px;
		display: inline-block;
		font-family: $brand-body-font;
		font-weight: bold;
	}
	.reviews-timeline-tooltip__total-reviews-positive-value {
		color: #1BC79F;
	}
	.reviews-timeline-tooltip__total-reviews-negative-value {
		color: #FF496A;
	}
	.reviews-timeline-tooltip__total-reviews-positive-percent,
	.reviews-timeline-tooltip__total-reviews-negative-percent {
		display: inline-block;
		font-family: $brand-body-font;
		color: #81879D;
	}
	.ratings-container {
		top: 1px;
		width: 75px;
		margin: 0px 0 0 5px;
		display: inline-block;		
	}
	.ratings-container,
	.ratings-full {
		height: 12px;
		background-size: 75px 12px;
	}
	.ratings-container {
		background-image: url(images/reviews-stars-empty@2x.png);
	}
	.ratings-full {
		background-image: url(images/reviews-stars-full@2x.png);
	}
	&.is-initial-state {
		.cloud-key,
		.cloud-key-instruction {
			display: none;
		}
		.start-instruction {
			display: inline-block;
		}
	}
	.chart-heading {
		margin: 0 2.2rem 0.3rem;
		h2, h3, h4 {
			font-weight: 400;
			color: #FCFDFD;
			display: inline-block;
		}
		h2 {
			margin-bottom: 1px;
			font-size: 2.8rem;
		}
		h3 {
			margin-bottom: 0;
			float: right;
			font-size: 1.8rem;
		}
		h4 {
			margin-bottom: 0;
			margin-left: 1px;
			font-size: 1.6rem;
			color: #C4C7D0;
		}
	}
	.chart-heading__row-two {
		overflow: visible;
	}
	.overall-reviews-container {
		position: relative;
		top: -13px;
		display: inline-block;
		float: right;
		.ratings-container {
			margin-left: 12px;
			margin-right: 1px;
			background-image: url(images/reviews-stars-empty-off-black@2x.png);
		}
		.reviews-timeline-tooltip__average-value {
			position: relative;
			top: 1px;
			font-size: 16px;
		}
	}
	.overall-reviews-container__label {
		font-family: $brand-heading-font;
		font-size: 14px;
		color: #81879D;
		display: inline-block;
	}
	.highcharts-axis > text {
		display: none;
	}
}
.reviews-content-container__keyword {
	font-weight: 600;
	color: #54bee5;
}
.is-initial-state,
.is-loading-data,
.is-no-data {
	.page-data-vis-reviews-cloud {
		.page-data-vis-reviews-cloud__developer-name {
			display: none;
		}
	}
	.chart-heading {
		display: none;
	}
}