.page-data-dashboard {
	.page-title {
		display: inline-block;
		vertical-align: top;
	}
	.page-header__data-info-text {
		display: inline-block;
		vertical-align: top;
		font-family: $brand-body-font;
		font-size: 1.4rem;
		color: #727686;
	}
	.page-header_action-button {
		float: right;
	}
	.toggle-container--chart-type {
		float: right;
	}
	.chart-container {
		width: 50%;
		height: 416px;
		padding-top: 18px;
		margin-bottom: 2rem;
		display: inline-block;
		float: left;
		background-color: #f1f5f7;
		border-top: 1px solid $light-grey-2;
		border-bottom: 1px solid $light-grey-2;
	}
	.chart-container:first-child {
		border-right: 1px solid $light-grey-2;
	}
	.chart-container__header {
		padding-left: 20px;
		padding-right: 20px;
		overflow: visible;
	}
	.chart-heading {
		margin: 0;
		display: inline-block;
	}
	.chart-summary {
		padding-left: percentage(73/567);
		display: inline-block;
		vertical-align: top;
	}
	.total-for-period-container {
		min-width: 115px;
		padding-right: 18px;
		display: inline-block;
		vertical-align: top;
	}
	.total-for-period-title,
	.growth-on-last-period-title {
		padding-bottom: 0.9rem;
		display: block;
		font-family: $brand-heading-font;
		font-size: 1.4rem;
		color: #363a47;
	}
	.total-for-period,
	.growth-on-last-period {
		display: block;
		font-family: $brand-body-font;
		font-size: 2rem;
		line-height: 1.1;
	}
	.growth-on-last-period-container {
		display: inline-block;
		vertical-align: top;
	}
	.growth-on-last-period {
		font-weight: 700;
	}
	.growth-on-last-period-title {
		position: relative;
		padding-right: 25px;
		overflow: visible;
		&:after {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 18px;
			color: $light-grey-2;
		}
	}	
}
.data-table-section {
	padding: 0 2% 0 0;
	.section-title {
		width: 70px;
		margin: 0;
		line-height: 1.2;
		display: inline-block;
		span {
			display: block;
			font-family: $brand-heading-font;
			font-size: 1.4rem;
			color: $dark-grey-2;
		}
		span:last-child {
			font-family: $brand-body-font;
			font-size: 2rem;
		}
	}	
}
.data-table-section__header {
	padding-bottom: 1rem;
	border-bottom: 1px solid $divider-grey;
}
.data-table-section__filters {
	display: inline-block;
	float: right;
}
.data-aside-bar {
	padding: 0;
	div {
		height: 353px;
		margin-bottom: 2rem;
		background-color: $panel-grey;
	}
}
.data-table-section__summary {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid $divider-grey;
	input[type=checkbox] {
		margin-right: 10px;
		display: inline-block;
	}
	input[type=checkbox] + label {
		font-family: $brand-heading-font;
		font-size: 1.6rem;
		color: $dark-grey-2;
	}
}
.data-table-section__summary__figures {
	display: inline-block;
	float: right;
	span, a {
		display: inline-block;
		vertical-align: top;
	}
	.data-table-section__summary__total-revenue,
	.data-table-section__summary__total-downloads {
		padding: 0 10px;
		font-size: 1.4rem;
		color: $dark-grey-2;
		span {
			padding-top: 0.5rem;
		}
	}	
	.data-table-section__summary__total-revenue:before,
	.data-table-section__summary__total-downloads:before {
		padding-right: 0.5rem;
		font-size: 2.4rem;
		color: $mid-grey-2;
	}
	.data-table-section__summary__growth {
		padding: 0.5rem 2rem 0 0;
		font-weight: 700;
		font-size: 1.2rem;
	}
	.data-table-section__summary__more-link {
		padding: 0.5rem 2rem 0 0;
		font-weight: 700;
		font-size: 1.2rem;
		@extend .text-link;
	}
}