@keyframes leftbob {
	0% { left: calc(50% - 230px); }
	25% { left: calc(50% - 232px); }
	75% { left: calc(50% - 228px); }
	100% { left: calc(50% - 230px); }
}
@keyframes rightbob {
	0% { left: calc(50% + 218px); }
	25% { left: calc(50% + 220px); }
	75% { left: calc(50% + 216px); }
	100% { left: calc(50% + 218px); }
}

.page-daily-releases {
	min-height: calc(100vh - 50px);
	background-color: $dark-grey-1;
	.data-lab-article-intro {
		padding-top: 9rem;
	}
	.filters-row {
		margin-bottom: 138px;
	}
	.daily-releases-filters-container {
		position: absolute;
    top: 535px;
    left: 30px;
		width: 100%;
		padding-top: 15px;
		opacity: 1;
		overflow: visible;
		z-index: 1000;		
		text-align: center;		
		background-color: $dark-grey-1;
		transition: opacity 0.2s;
		&.is-fixed {
			position: fixed;
			top: 50px;
		}
		@include breakpoint($leftnav-wide) {
			left: 100px;
		}
		.touchevents & {
			left: 0;
		}
	}
	.data-heatmap__pointer {
		position: absolute;    
    top: 21px;
    width: 11px;
		height: 14px;
		opacity: 0;
		transition: opacity 0.2s;
	}
	.is-showing {
		.data-heatmap__pointer {
			opacity: 1;
			transition: opacity 0.3s;
		}
	}
	.data-heatmap__pointer--left {
		left: calc(50% - 230px);
		animation: leftbob 0.5s linear infinite;
	}
	.data-heatmap__pointer--right {
		left: calc(50% + 218px);
    transform: rotate(180deg);
    animation: rightbob 0.5s linear infinite;
	}
	.heatmaps-container {
		position: relative;
		left: -62px;
		width: 1024px;
		min-height: 500px;
    margin: 0 auto;
    overflow: visible;
	}
	.data-heatmap {
		position: relative;		
		width: 840px;
		margin: 0 auto 6rem;
		overflow: visible;
		opacity: 1;
		transition: opacity 0.2s;
	}
	.data-container {
    overflow: visible;
	}
	.data-container,
	.data-day-labels {
		width: 414px;
		margin: 0 auto;
	}
	.data-day-labels {
		margin-bottom: 14px;
		padding-top: 32px;
		font-size: 0;
		span {
			width: 54px;
			margin-right: 6px;
			display: inline-block;
			font-family: $brand-body-font;
			font-size: 15px;
			font-weight: 400;
			color: $mid-grey-2;
			text-align: center;
			&.data-day-label-weekend {
				color: $light-grey-2;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}	
	.data-cell {
		position: relative;
		width: 54px;
		height: 54px;
		margin-right: 6px;
		margin-bottom: 6px;
    display: inline-block;
    float: left;
		overflow: visible;
		border-radius: 4px;
		background-color: #343438;
		cursor: pointer;
		&:nth-child(7n+7) {
			margin-right: 0;
		}
		&.is-hotter {
			background-color: $reflection-purple;
		}
	}
	.data-hover {
		position: absolute;
		top: -105px;
  	left: -37px;
  	width: 131px;
  	padding: 13px 10px 19px;
		display: none;
		overflow: visible;
		z-index: 1000;
		text-align: center;
    border-radius: 9px;
		background-color: $dark-grey-2;
		pointer-events: none;
		&:after {
			content: ' ';
			position: absolute;
			bottom: -14px;
			left: calc(50% - 15px);
			width: 0;
			height: 0; 
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 14px solid $dark-grey-2;
		}
	}
	.data-cell-colour,
	.data-cell-colour--off-state {
		width: 54px;
		height: 54px;
		display: block;
		border-radius: 4px;		
		transition: opacity 0.3s, background-colour 0.3s;
	}
	.data-cell-colour {
		background-color: $reflection-purple;
	}
	.data-cell-colour--off-state {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: 10;
		background-color: #343438;
		transition: opacity 0.4s;
	}
	.is-hotter .data-cell-colour {
		background-color: $reflection-red;
	}
	.flip {
		.data-cell-colour {
			opacity: 0 !important;
			transition: opacity 0.3s;
		}			
		.data-cell-colour--off-state {
			opacity: 1;
			transition: opacity 0.3s;
		}
	}
	.data-cell:hover {
		.data-hover {
			display: block;
		}
		.data-cell-colour {
			background-color: $reflection-green;
			opacity: 1 !important;
		}
	}
	.data-hover__title {
		font-size: 11px;
		color: $light-grey-2;
	}
	.data-hover__data-date {
		margin-bottom: 12px;
		display: block;
		font-size: 14px;
		font-family: $brand-heading-font;
		font-weight: 400;
		color: #c4c7d0;
	}
	.data-hover__data-value {
		margin-bottom: 9px;
		display: block;
    font-size: 22px;
		font-family: $brand-body-font;
		font-weight: 700;
		color: #f2f2f5;
	}
	.data-month-labels {
		position: absolute;
		top: 20px;
		left: calc(50% - 390px);
		width: 150px;
		font-family: $brand-heading-font;
		font-size: 18px;
		font-weight: 600;
		color: $light-grey-2;
		span {
			margin-top: 225px;
			display: block;
			text-align: right;
			&:first-child {
				margin-top: 0;
			}
			&:nth-child(2) {
				margin-top: 284px;
			}
			&:nth-child(4) {
				margin-top: 285px;
			}
			&:nth-child(7) {
				margin-top: 287px;
			}
			&:nth-child(10),
			&:nth-child(12) {
		    margin-top: 284px;
			}
		}
	}
	.heatmap-key {
		position: absolute;
		top: 77px;
		width: 127px;
		margin-left: -155px;
		display: inline-block;
		text-align: left;		
	}
	.heatmap-key__label {
		margin: 8px 0 4px;
		display: inline-block;
		font-family: $brand-heading-font;
		font-size: 14px;
		color: $reflection-red;
		&:first-child {
			color: $light-grey-1;	
		}
		&:last-of-type {
			float: right;
		}
	}
	.heatmap-key__gradient-bar {
		width: 100%;
		height: 9px;
		border-radius: 4px;
		background: #343439;
		/* @alternate */
		background: -moz-linear-gradient(left,  #343439 0%, #6d69c5 50%, #ff496a 100%);
		/* @alternate */
		background: -webkit-linear-gradient(left,  #343439 0%,#6d69c5 50%,#ff496a 100%);
		/* @alternate */
		background: linear-gradient(to right,  #343439 0%,#6d69c5 50%,#ff496a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343439', endColorstr='#ff496a',GradientType=1 );
	}
	.footer-chart {
		position: fixed;
		bottom: -126px;
		left: 0;
		height: 126px;
		width: 100%;
		padding: 0 20px 0 80px;
    z-index: 50;
		border-top: 1px solid #000;
    border-bottom: 1px solid #000;
		background-color: $dark-grey-1;
		transition: bottom 0.5s;
		@include breakpoint($leftnav-wide) {
			padding-left: 220px;
		}
		.touchevents & {
			padding-left: 20px;
		}
		&.is-showing {
			bottom: 0px;
			transition: bottom 0.3s;
		}
		.footer-chart__labels {
			height: 49px;
			padding-top: 9px;
			text-align: center;
		}
		.footer-chart__week-title {
			margin: 0 10px 0 0;
			display: inline-block;
			color: $light-grey-2;
    	font-weight: 600;
    	font-size: 16px;
			font-family: $brand-heading-font;
		}
		.footer-chart__date {
			width: 100px;
    	text-align: left;
		}
		.footer-chart__date,
		.footer-chart__released-title {			
    	margin-top: 7px;
    	display: inline-block;
    	vertical-align: top;
			color: $light-grey-1;
			font-family: $brand-heading-font;
			font-size: 14px;
		}
		.footer-chart__apps-released {
      width: 102px;
	    padding-right: 8px;
	    margin: 0;
			display: inline-block;
			color: $light-grey-2;
			font-size: 18px;
			font-weight: 700;
			font-family: $brand-body-font;
			text-align: right;
		}
		.footer-chart__released-title {
		}
		ul{
			height: 65px;
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			li {
				height: 0;
				margin-right: 1px;
				flex-grow: 1;
				background-color: $reflection-purple;
				border-radius: 3px 3px 0 0;
				transition: height 0.5s;
				&.is-on {
					background-color: $reflection-green;
				}
			}
		}
	}
	.daily-downloads-explainer {
		width: 399px;
		margin: 0px auto;
		padding-top: 6rem;
		text-align: center;
		.content-list {
			text-align: left;
		}
	}
	.form-field--select__dropdown {
		max-height: 300px;
		overflow: auto;
		border-color: #000;
	}
	&.page-no-data {
		.data-heatmap {
			position: absolute;
			top: -999em;
			opacity: 0;
		}
		.footer-chart {
			opacity: 0;
			transition: opacity 0.2s;
		}
	}
	.chart__no-data {
		min-height: 230px;
	}
	.sharing-container {
		position: absolute;
    top: 80px;
    right: 22px;
	}
	&.is-loading {
		.daily-releases-filters-container,
		.data-heatmap {
			opacity: 0;
		}
	}
}
.data-heatmap-no-data {
	position: absolute;
	opacity: 0;
	.page-no-data & {
		position: relative;
		opacity: 1;
		transition: opacity 0.3s;
	}
	a {
  	color: #9f9bff;
  	.no-touchevents & {
  		&:hover {
  			color: lighten(#9f9bff, 5%);
  		}  		
  	}
	}
}