.page-header__app-icon-container,
.page-header__app-title-links,
.page-header__app-info-and-actions {
	display: inline-block;
	vertical-align: top;
}
.page-header__app-icon-container {
	width: 78px;
	height: 78px;
	margin-bottom: 15px;
	background-color: #c4c7d0;
	border-radius: 15px;
	img {
		width: 100%;
	}
}
.page-header__app-title-links {
	width: 50%;
	padding-left: 1.7rem;
}
.page-app,
.page-data-dashboard.page-app {
	padding-top: 1.8rem;
	&.is-my-app {
		padding-top: 6.1rem;
	}
	> .grid-container {
		font-size: 0;
	}
}
.page-header__app-info-and-actions {
	width: 375px;
	padding-top: 7px;
	float: right;
	> div {
		width: 100%;
	}
}
.page-app {
	.app-title {
		min-height: 30px;
		margin-bottom: 4px;
    padding-top: 1px;
    display: inline-block;
    font-size: 24px;
    &.is-loading {
    	min-height: 0;
    	min-width: 250px;
	    height: 21px;
	    margin-bottom: 17px;
	    margin-top: 4px;	    
  		background-color: #e9e9ed;
  		.page-header__data-info-icon {
  			display: none;
  		}
    }
	}
	.app-bundle-number-of-apps {
		padding-left: 12px;
		display: inline-block;
		font-family: $brand-heading-font;
		font-size: 16px;
		font-weight: 400;
		color: #28292c;
	}
	.page-header__page-toggle {
		margin-right: 0;
		margin-bottom: 1.5rem;
		display: block;
		.is-ie & {
			label {
				font-size: 1.3rem;
			}
			@include breakpoint($desktop) {
				label {
					font-size: 1.4rem;
				}
			}
		}
	}
	&.page-data-dashboard {
		.page-header__page-toggle {
			margin-left: 0;
			margin-bottom: 1.5rem;
			display: block;
			float: none;
		}
		.page-header__data-info-text {
			position: relative;
			top: 4px;
			padding-top: 0;
			padding-left: 15px;
			font-weight: 400;
		}
		.page-header__data-info-icon {
			padding-top: 8px;
		}
	}
	.page-header__app-price-details {
    min-height: 15px;
    margin-bottom: 19px;
		margin-left: 20px;
		display: inline-block;
		vertical-align: top;
		float: right;
		font-family: $brand-heading-font;
		font-size: 16px;		
		color: $dark-grey-1;
		.is-safari & {
			margin-bottom: 18px;
		}
	}
	.page-header__app-store {
		display: inline-block;
		vertical-align: top;
		float: right;
		font-family: $brand-heading-font;
		font-weight: 400;
		font-size: 14px;
		color: #28292c;
		&:before {
			position: relative;
			top: -1px;
    	margin-right: 7px;
			font-size: 18px;
			color: $light-grey-1;
		}
		&.ref-icon-before--ios {
			&:before {
				top: -2px;
				font-size: 19px;
			}			
		}
	}
	.page-header__app-info-and-actions {
		width: 322px;
	}
	.page-header__app-title-links {
		width: calc(100% - 410px);
	}
	.app-developer-name {		
    margin-right: 8px;
    margin-left: 13px;
		font-weight: 600;
		font-size: 14px;
		a {
			color: $reflection-purple;
			&:hover {
				color: $reflection-purple--hover;
			}
		}
	}
	.data-table-section .section-title {
		width: 100px;
	}
	.data-table-section__filters {
		width: calc(100% - 125px);
		label {
			float: left;
		}
		.secondary-filter {
			&:first-child {
				width: 26.2%;
			}
			&:last-of-type {
				width: 20.7%;
				float: left;
			}
		}
	}
}
.page-header_action-button {
	margin-left: 10px;
	float: right;
}	
.page-header__text-link {
	padding-top: 10px;
	padding-right: 2px;
	font-family: $brand-heading-font;
	font-size: 14px;
	float: right;
	color: $reflection-purple;
	&:hover {
		color: $reflection-purple--hover;
	}
	&.is-disabled {
		color: $purple-pale;
	}
}
.page-header__text-link--top {
	padding-top: 0;
	margin-left: 20px;
}