.home-section-head {
	position: relative;
	height: 572px;
	background-image: url(images/bg-home-head.jpg);
	background-size: cover;
	.page-title {		
		margin-bottom: 0.64em;
    text-align: left;
    color: $reflection-white;
	}
	p {
		margin-bottom: 1.34em;
		font-size: 1.8rem;
		line-height: 1.45;
		letter-spacing: -0.02px;
		color: $light-grey-2;
		text-align: left;
	}
}
.home-section-head__illustration {
	position: absolute;
	left: 0;
  bottom: 0;
	height: auto;
	display: block;
	pointer-events: none;
	source, img {
		position: relative;
    width: 100%;
    display: block;
  }
}
.home-section-head__text {	
	width: 525px;
	margin-top: 98px;
	margin-left: 110px;
}
.home-section-quote {
	width: 100%;
	min-height: 421px;
	background-image: url(images/bg-home-quote.jpg);
	background-size: cover;
	blockquote {
    position: relative;
    left: 10px;
    width: 80%;
		max-width: 610px;
		padding-top: 67px;
		padding-bottom: 80px;
		margin: 0 auto;
		&:before {
			display: none;
		}
		header {
	    margin-bottom: 1.8rem;
		}
		p {
			font-family: $brand-heading-font;
			font-weight: 700;
			font-size: 3.4rem;			
			line-height: 1.3;
			color: $reflection-white;
		}
		.blockquote-image {
			width: 79px;
			height: 79px;
			margin-right: 1.8rem;
			display: inline-block;
			vertical-align: middle;
		}
		cite {
			margin-top: 1px;
			display: inline-block;
			vertical-align: middle;
			font-family: $brand-heading-font;
			font-weight: 400;
			font-size: 1.6rem;
			color: $light-grey-2;
			span {
				margin-bottom: 1.6rem;
				display: block;
				font-weight: 700;				
				font-size: 2.4rem;
				color: $reflection-white;
			}
		}
	}
}
.home-section-trusted-by {
	padding-top: 5.2rem;
	padding-bottom: 6.5rem;
	.section-title {
		margin-bottom: 2rem;
		font-size: 2.4rem;
		font-weight: 400;
		text-align: center;
	}
	.logo-list {
		width: 100%;
		font-size: 0;
		li {
			width: 25%;
			margin-bottom: 1.5rem;
			display: inline-block;
			text-align: center;
			img {
				width: 80%;				
				max-width: 170px;
				margin: 0 auto;
			}
		}
	}
}
.home-section-sign-up {
	padding-top: 48px;
  padding-bottom: 80px;
	text-align: center;
	background-color: #363a47;
	.section-title {
		width: 80%;
		max-width: 590px;
		margin: 0 auto 1.6rem;
		font-weight: 600;
		font-size: 3.4rem;
		line-height: 1.5;
		color: $reflection-white;
	}
	p {
		margin: 0 auto 3.7rem;
		font-size: 1.8rem;
		line-height: 1.5;
		color: $light-grey-2;
	}
}
.home-section-head__partners {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -450px;
	width: 900px;
	height: 86px;
	text-align: center;
	> span {
		margin-bottom: 5px;
		display: block;
		font-size: 13px;
		color: $light-grey-2;
	}
	ul {
		text-align: center;
	}
	li {
		max-width: 95px;
		margin-right: 20px;
		display: inline-block;
		vertical-align: middle;
		img { 
			width: 100%;
		}
	}
}
.home-section__title,
.home-section__title:first-child {
  margin-top: 4.3rem;
	font-size: 2.4rem;
	font-weight: 400;
	text-align: center;
	+ .home-section-content {
		padding-top: 75px;
	}
}
.home-section {
	position: relative;
	min-height: 446px;
	background-color: $reflection-white;
	&.home-section--right-image {
		background-color: $panel-grey;
	}
}
.home-section-content {	
	width: 390px;
  padding-top: 109px;
	padding-bottom: 75px;
	margin-right: 103px;
  float: right;
	overflow: visible;
	> h2 {
  	margin-bottom: 2.5rem;
	}
	p {
		position: relative;
    margin-bottom: 2.8rem;
    overflow: visible;
    line-height: 1.6;
	}
	.ref-icon-before--tick:before {
		position: absolute;
    left: -53px;
    top: 9px;
    font-size: 32px;    
    color: $reflection-purple;
	}
	.ref-before-coming-soon:before {
		content: "Coming Soon";
		position: absolute;
    left: -121px;    
    padding: 1px 10px 1px 9px;
    top: 7px;
		font-family: $brand-heading-font;
		font-weight: 700;
		font-size: 14px;
		color: $reflection-white;
		background-color: $reflection-green;
		border-radius: 14px;
	}
	.home-section--right-image & {
		margin-left: 12.4%;
		margin-right: 0;
		float: left;
	}
	.home-section--one & {
		padding-bottom: 92px;
	}
}
.home-section-image-container {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 525px;
	height: 367px;
	overflow: visible;
	img {
		float: right;
	}
	.home-section--right-image & {
		left: inherit;
		right: 0;
		img {
			float: left;
		}
	}
}