.page-live-charts {
	padding-top: 23px;
	.page-title,
	.page-header__page-actions {
		display: inline-block;
		vertical-align: top;
	}
	.page-title {
		margin: -2px 0 23px -2px;
	}
	.page-header__page-actions {
		float: right;
		> div,
		> input,
		> button {
			margin-left: 10px;
			display: inline-block;
			float: right;
			vertical-align: top;			
		}
		.form-field--search {
			margin-left: 1px;
		}
		.form-field--checkbox-list {
			padding-top: 10px;
		}
	}
}
.live-chart-container {
	background-color: $panel-grey;
}
.live-chart-table {
	td {

	}
}