.page-my-account {
	padding-top: 2rem;
	padding-bottom: 4rem;
	.my-account__header {
		padding-bottom: 1.2rem;		
		border-bottom: 1px solid $divider-grey;
	}
	.page-title,
	.page-sub-title {
		display: inline-block;
		vertical-align: top;
	}
	.page-title {
    margin-top: 0.1rem;
		margin-bottom: 2.1rem;		
	}
	.page-sub-title {
    padding-top: 1.1rem;
    padding-left: 2.6rem;
		margin-bottom: 0;
		font-family: $brand-body-font;
		font-size: 14px;
		font-weight: 400;
		color: #5a5a68;
	}
	.my-account-section-title {
		margin-bottom: 1.3rem;
	}
}
.page-my-account--details {
	.my-account__header {
		margin-bottom: 2.4rem;
	}
}
.account-summary-actions {
	display: inline-block;
	vertical-align: top;
	float: right;
}