.page-my-account--licenses {
	.account-summary-actions {
		padding-top: 5px;
		> a {
			margin-left: 10px;
			display: inline-block;
			vertical-align: top;
			float: right;
		}
	}
}
.ref-table--licenses {
	table-layout: auto;
	td {
		padding-right: 10px;
		@include ellipses;
		&:first-child {
			font-size: 1.39rem;
			font-weight: 700;
		}
	}
	th {
		padding-bottom: 1.3rem;
		font-size: 1.5rem;
	}
	.licenses-data-cell--user,
	.licenses-data-cell--company,
	.licenses-data-cell--account {
		max-width: 150px;
	}
	.licenses-data-cell--account {
		a {
			color: $reflection-purple;
			&:hover {
				color: $reflection-purple--hover;
			}
		}
	}
	.licenses-data-cell--expires {
		max-width: 111px;
		span,
		a {
			display: inline-block;
			vertical-align: middle;
		}
		span {
			padding-right: 6px;
		}
	}
	.form-field--checkbox-list {
		position: relative;
    top: 4px;
	}
	.licenses-data-cell--actions {
		a:first-child {
			margin-right: 4px;
		}
		.account-remove-link {
			color: $reflection-red;
		}
	}
	.licenses-data-row--unassigned {
		background-color: #f2f2fb;
		border-top: 2px solid $reflection-white;
		&:nth-child(odd) {
			background-color: #f2f2fb;
		}
		td:first-child a {
			color: $reflection-purple;
			&:hover {
				color: $reflection-purple--hover;
			}
		}
	}
}
.account-summary-action__license-info {
	height: 36px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
	float: right;
	&:first-of-type {
		span:first-child {
			color: $light-grey-1;
		}
	}
	&:last-child {
		border-right: 1px solid $divider-grey;
	}
	span {
		display: inline-block;
		vertical-align: top;
	}
	span:first-child {
		padding-right: 8px;
		font-family: $brand-body-font;
		font-size: 20px;
		font-weight: 700;
		color: $dark-grey-2;
	}
	span:last-child {
		font-family: $brand-heading-font;
		font-size: 14px;
		color: $mid-grey-1;
	}
}