.page-sign-up {
	@extend .vertical-centre-content;
	width: 100%;
	height: calc(100vh - 50px);
	text-align: center;
	background-image: url(images/v2/background-apply.jpg);
	background-size: cover;
	.page-title {
		margin-bottom: 5px;
	}
	.page-sub-title {
		margin-bottom: 25px;
		font-size: 1.8rem;
		color: $light-grey-2;
	}
	.multi-step-section {
		width: 302px;
	}
}
.page-sign-up__main {
	margin-top: -118px;
}
.sign-up-steps-container {
	width: 362px;
	padding: 28px 30px 30px 30px;
	margin: 0 auto;
	overflow: auto;
	overflow-x: hidden;
	border-radius: 4px;
	background-color: #F2F2F5;
}
.logo-reflection-content-header {
	width: 212px;
}