.page-data-dashboard.page-publisher {
	.page-header--left {
		@media screen and (max-width: $laptop-plus) {
			width: 40%;
		}
	}
	.page-header--right {
		@media screen and (max-width: $laptop-plus) {
			width: 60%;
			.page-header__page-toggle {
				margin-top: 1rem;
				display: block;
		    float: right;
		    clear: both;		    
			}
		}
	}
	.page-title {
		margin-bottom: 1.8rem;
	}
	.page-header__page-toggle {
		margin-right: 0;
		margin-bottom: 1.5rem;
	}
	.page-header__data-info-text {
		margin-bottom: 1.7rem;
	}
}