.page-data-dashboard.page-publisher {
	.page-title {
		margin-bottom: 1.8rem;
	}
	.page-header__page-toggle {
		margin-right: 0;
		margin-bottom: 1.5rem;
	}
	.page-header__data-info-text {
		margin-bottom: 1.7rem;
	}
}