.page-sign-up {
	@extend .vertical-centre-content;
	position: relative;
	width: 100%;
	min-height: calc(100vh - 50px);
	text-align: center;
	background-image: url(images/background-apply.jpg);
	background-size: cover;
	.page-title {
		margin-bottom: 5px;
	}
	.page-sub-title {
		margin-bottom: 25px;
		font-size: 1.8rem;
		color: $light-grey-2;
		@include breakpoint($desktop-wide) {
			margin-bottom: 44px;
    	font-size: 1.9rem;
		}
	}
	.multi-step-section {
		width: 302px;
	}
	.animation-hamster,
	.hamster-wheel,
	.is-viewed-step .animation-hamster,
	.is-viewed-step .hamster-wheel {
		position: absolute;
		top: 40px;
	}
	.multi-step-section .success-tick {
		margin-top: 25px;
		margin-bottom: 15px;
	}
	.list-partners {
		position: relative;
		bottom: 0;
		min-width: 960px;
		margin-top: 55px;
		margin-bottom: 100px;
		@media (min-height: 1200px) {
			position: fixed;
			left: 60px;
			bottom: 0px;
			width: calc(100% - 60px);
			margin-top: 0px;
		}
		@media (min-height: 1200px) and (min-width: $leftnav-wide) {
			position: fixed;
			left: 200px;
			bottom: 0px;
			width: calc(100% - 200px);
			margin-top: 0px;
		}
	}
}
.page-sign-up__main {
	margin-top: 60px;
}
.sign-up-steps-container {
	width: 362px;
	padding: 28px 30px 30px 30px;
	margin: 0 auto;
	overflow: auto;
	overflow-x: hidden;
	border-radius: 4px;
	background-color: #F2F2F5;
	.heading-style--heading-four {
		margin-bottom: 1rem;
	}
}
.logo-reflection-content-header {
	width: 212px;
	@include breakpoint($desktop-wide) {
		width: 270px;
	}
}
.multi-step-section .sign-up-steps-container__loading-button,
.sign-up-steps-container__loading-button {
	margin-top: 225px;
}
.multi-step-section .sign-up-steps-container__link-store-button,
.sign-up-steps-container__link-store-button {
	margin-top: 27px;
}