.page-data-dashboard.page-publisher {
	.page-header--left {
		@media screen and (max-width: $laptop-plus) {
			width: 40%;
		}
	}
	> .grid-container:first-child {
		overflow: hidden;
	}
	.page-header--right {
		.page-header__page-toggle {
			margin-top: 1rem;
			display: block; 
			float: right;
	    clear: both;
	  }
		@media screen and (max-width: $laptop-plus) {
			width: 60%;
		}
	}
	.page-title {
		margin-bottom: 1.8rem;
		&.is-loading {
	    min-width: 250px;
	    height: 21px;
	    margin-top: 3px;
	    margin-bottom: 2.3rem;
		}
	}
	.page-header__page-toggle {
		margin-left: 0;
		margin-bottom: 1.5rem;
		float: none;
	}
	.page-header__data-info-text {
		margin-bottom: 1.7rem;
	}
}