.page-pricing {
	padding-top: 2rem;
	.page-title,
	.page-sub-title,
	.page-pricing__header__links {
		display: inline-block;
		vertical-align: top;
	}
	.page-title {
    margin-top: 0.1rem;
		margin-bottom: 2.1rem;		
	}
	.page-sub-title {
    padding-top: 1.5rem;
    padding-left: 2.6rem;
		margin-bottom: 0;
		font-family: $brand-body-font;
		font-size: 14px;
		font-weight: 400;
		color: #5a5a68;
	}
	.page-pricing__header__links {
    padding-top: 10px;
    float: right;
    a:first-child {
	    padding-left: 5px;
		  padding-right: 9px;
		  margin-right: 5px;
		  border-right: 1px solid $reflection-purple;
    }
	}
	.pricing-details-container {
		background-color: $panel-grey;
	}
	.pricing-info-container {
		max-width: 1200px;
		padding-top: 3rem;		
    margin: 0 auto;
		font-size: 0;
		background-color: $panel-grey;
		&:last-child {
			padding-top: 0;
			padding-bottom: 3rem;
		}
		.grid__column {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.pricing-column__small,
	.pricing-column__large {
		display: inline-block;
		float: left;
	}
	.pricing-column__small {
		width: 20%;
	}
	.pricing-column__small--push-two {
		margin-left: 20%;
	}
	.pricing-column__large {
		width: 30%;
	}
	.pricing-header {
		padding-top: 18px;
		max-height: 206px;
		text-align: center;
		&:nth-child(2) {
			border-radius: 7px 0 0;
			background-color: $light-grey-1;			
		}
		&:nth-child(3) {
			background-color: $reflection-green;
			.pricing-cost {
		    margin-top: -5px;
    		margin-bottom: 3px;
				font-size: 40px;
				color: #a8f8e5;
			}
			.pricing-frequency {
				color: #a8f8e5;	
			}
		}
		&:nth-child(4) {
			border-radius: 0 7px 0 0;
			background-color: $reflection-purple;
			.pricing-cost {
		    margin-top: -10px;
    		margin-bottom: 0px;
				font-size: 49px;
				color: #c3c6f6;
			}
			.pricing-frequency {
				margin-top: -5px;
				color: #c3c6f6;
			}
		}
	}
	.pricing-header,
	.pricing-footer {		
		&:nth-child(2) {
			.pricing-sign-up-container {
				background-color: #616679;
				a {
					background-color: $light-grey-1;
					&:hover {
						background-color: darken($light-grey-1, 5%);
					}
					&:active {
						border-top: 2px solid darken($light-grey-1, 20%)
					}
				}
			}
		}
		&:nth-child(3) {
			.pricing-sign-up-container {
				background-color: #1c8c72;
				a {
					background-color: $reflection-green;
					&:hover {
						background-color: darken($reflection-green, 5%);
					}
					&:active {
						border-top: 2px solid darken($reflection-green, 20%)
					}
				}
			}
		}
		&:nth-child(4) {
			.pricing-sign-up-container {
				background-color: #4b488b;
				a {
					background-color: $reflection-purple;
					&:hover {
						background-color: darken($reflection-purple, 5%);
					}
					&:active {
						border-top: 2px solid darken($reflection-purple, 20%)
					}
				}
			}
		}
		&:before {
			display: none !important;
		}
	}
	.pricing-title {
		margin-bottom: 3px;
		font-size: 24px;
		font-weight: 600;
		color: $reflection-white;
	}
	.pricing-cost {
		margin-bottom: 12px;
		font-family: $brand-body-font;
		font-size: 30px;
		font-weight: 400;
		color: $divider-grey;
		text-transform: uppercase;
		sup {
			position: relative;
    	top: -7px;
			vertical-align: top;
			font-size: 27px;
			&:first-child {
				padding-right: 7px;
				font-size: 25px;
			}
			&:last-child {
				padding-left: 1px;
			}
		}
	}
	.pricing-frequency {
		margin-top: 0;
		font-family: $brand-body-font;
		font-size: 11px;
		font-weight: 700;
		color: $divider-grey;
		text-transform: uppercase;
	}
	.pricing-sign-up-container {
		width: 100%;		
		padding: 10px 20px;
		&.pricing-sign-up-container--current {
			padding: 21px 0;
		}
		a {
			width: 100%;
    	box-sizing: border-box;    	
    }
    .ref-button--primary--medium {
    	@media screen and (max-width: 1279px) {
    		font-size: 1.4rem;
    	}
    }
	}	
	.pricing-details-row {
		display: table-row;	
		border-radius: 7px 0 0;
		.grid__column {
			position: relative;
		  padding: 15px 20px 16px;
		  display: table-cell;
		  vertical-align: middle;
		  float: none;
		  font-family: $brand-body-font;
		  font-size: 12.9px;
    	line-height: 1.5;
		  color: $light-grey-2;
		  text-align: center;
			background-color: $dark-grey-2;
			border-right: 1px solid $dark-grey-1;
			border-bottom: 1px solid $dark-grey-1;
			&:first-child {
				padding: 16px 20px 15px;
				font-family: $brand-body-font;
				font-size: 14px;
				font-weight: 700;
				color: $dark-grey-1;
				text-align: left;
				background-color: $light-grey-2;
				border-right: 0;
				border-bottom: 1px solid $panel-grey;			
			}
			span {
				max-width: 200px;
    		display: inline-block;
			}
		}
		&:first-child {
			.grid__column:first-child {
				border-radius: 7px 0 0;
			}
		}
		&:last-child {
			.grid__column {
				padding: 0;
				border: 0;
				&:first-child {
					border-radius: 0 0 0 7px;
				}
			}
		}
		.whats-this-tooltip-icon {
			position: absolute;
		  right: 13px;
		  top: calc(50% - 10px);
			&:after {
				color: $panel-grey;
			}
			&.is-open {
				&:after {
					color: $reflection-purple;
				}
			}
			&:hover {
				&:after {
					color: $reflection-purple;
				}
			}
		}
		.ref-icon-before--cancel {
			color: #5a5a68;
			&:before {
				font-size: 26px;
			}
		}
	}	
}
.pricing-page__text-content {
  max-width: 1400px;
  margin: 5rem auto 5.3rem;
}
.current-subscription-text {
	font-family: $brand-heading-font;
	font-size: 14.9px;
	font-weight: 600;
	color: $reflection-white;
	&:before {
		padding-right: 7px;
		font-size: 19px;
    color: #25f9c8;    
	}
	.pricing-header & {
		span {
			position: relative;
			top: 2px;
		}
	}
}