.product-section-head {
	position: relative;
	width: 100%;
	height: 540px;
	background-image: url(images/v2/bg-product-head.jpg);
	background-size: cover;
}
.product-section-head__content-container {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -513px;
	width: 100%;
	max-width: 1050px;
}
.product-section-head__text,
.product-slideshow {
	display: inline-block;
	vertical-align: middle;
}
.product-section-head__text {
	width: 310px;
	margin-top: -98px;
	margin-right: 90px;
	.page-title {
		margin-bottom: 1.5rem;
		color: $reflection-white;
		text-align: center;
	}
	p {
		font-size: 1.8rem;
		color: $light-grey-2;
		line-height: 1.5;
		text-align: center;
	}
}
.product-slideshow {
	position: relative;
	width: 648px;
	height: 469px;
	li {
		position: absolute;
		top: 0;
		z-index: 0;
		opacity: 0;
		transition: opacity 0.7s;
		&.is-current {
			opacity: 1;
			z-index: 10;
			transition: opacity 0.4s;
		}
	}
	img {
		float: left;
	}
}
.product-slideshow-thumbnails {
	width: 100%;
	margin-top: 42px;
	text-align: center;
	font-size: 0;
	li {
		margin-left: 10px;
		margin-right: 10px;
		display: inline-block;
		a {
			width: 10px;
			height: 10px;			
			display: block;
			border-radius: 5px;
			background-color: #9f9bff;
			transition: background-color 0.3s;
			&:hover {
				background-color: darken(#9f9bff, 10%);
			}
		}
		&.is-current {
			a {
				transition: background-color 0.3s;
				background-color: $light-grey-2;
				&:hover {
					background-color: $light-grey-2;
				}
			}			
		}
	}
}
.product-section-content-left,
.product-section-content-right {
	display: inline-block;
	vertical-align: middle;
}
.product-section-content-left {
  float: left;
}
.product-section-content-right {
	float: right;
}
.product-section-text-content {
	width: 382px;
	p {		
		font-size: 1.8rem;
	}
	p:not(:last-child) {
		margin-bottom: 1em;
	}
	.product-section__more-link {
		font-family: $brand-heading-font;
		font-weight: 600;
		font-size: 16px;
	}
}
.product-section {
	width: 100%;
	min-height: 512px;
	img {
		width: 100%;
	}
}
.product-section-sm {
	width: 100%;
	min-height: 422px;
	img {
		width: 100%;
	}
}
.product-section-one {
	padding-top: 59px;
	background-color: $reflection-white;
	.product-section-content-left {
		width: 564px;
	}
	.product-section-content-right {
		margin: 67px 1px 120px 0;
	}
}
.product-section-one__content-container {
	width: 1065px;
	margin: 0 auto;
}
.product-section-two {
	padding-top: 60px;
	background-color: #363a47;	
	.product-section-content-left {
		margin-top: 98px;
		margin-bottom: 200px;
	}
	.product-section-content-right {
		width: 645px;
		margin-right: -10px;
	}
}
.product-section-two__content-container {
	width: 1106px;
	float: right;
}
.product-section-three {
	padding-top: 59px;
	background-color: $reflection-white;
	.notifications-tabs-list {
		margin-right: 0;
	}
	.product-section-content-left {
		margin-top: 80px;
		margin-bottom: 120px;
	}
	.product-section-content-right {
		margin-top: 69px;
	}
}
.product-section-three__content-container {
	position: relative;
	left: -8px;
	width: 1002px;
	margin: 0 auto;
}
.product-section-four {
	padding-top: 66px;
	background-color: $panel-grey;
	.product-section-content-left {
		margin: 90px 0 120px 23px;
	}
	.product-section-content-right {
		width: 406px;
	}
}
.product-section-four__content-container {
	width: 968px;
	margin: 0 auto;
}
.product-section-five {
	padding-top: 94px;
	background-color: #363a47;
	.product-section-content-left {
		width: 565px;
	}
	.product-section-content-right {
		margin: 31px 19px 120px 0;
	}
}
.product-section-five__content-container {
	width: 1064px;
	margin: 0 auto;
}
.product-section-two,
.product-section-five {
	.section-title {
		color: $reflection-white;
	}
	p {
		color: $light-grey-1;
	}
}
.product-section-six {
	padding-top: 111px;
	background-color: $panel-grey;
	.product-section-content-left {
		margin-bottom: 80px;
	}
	.product-section-text-content {
		width: 490px;
	}
	svg {
    width: 302px;
    margin-right: 87px;
    margin-top: 15px;
	}
}
.product-section-six__content-container {
	width: 982px;
	margin: 0 auto;
}
.product-section-seven {
	padding-top: 71px;
	background-color: $reflection-white;
	.product-section-content-right {
		margin-top: 40px;
		margin-bottom: 100px;
	}
	.product-section-text-content {
		width: 490px;
	}
	svg {
		width: 310px;
    margin-left: 36px;
	}
}
.product-section-seven__content-container {
	width: 977px;
	margin: 0 auto;
}