.product-section-head {
	position: relative;
	width: 100%;
	height: 540px;
	background-image: url(images/bg-product-head.jpg);
	background-size: cover;
}
.product-section-head__content-container {
	width: 100%;
	@include breakpoint($desktop) {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -513px;		
		max-width: 1050px;
	}
	@include breakpoint($desktop-wide) {
		max-width: 1284px;
		margin-left: -582px;
	}	
}
.product-section-head__text,
.product-slideshow {
	display: inline-block;
	vertical-align: middle;
}
.product-section-head__text {
	width: 310px;
  margin-top: 168px;
  margin-right: 0;
  margin-left: 8%;
	.page-title {
		margin-bottom: 1.5rem;
		color: $reflection-white;
		text-align: center;
	}
	p {
		font-size: 1.8rem;
		color: $light-grey-2;
		line-height: 1.5;
		text-align: center;
	}
	@include breakpoint($desktop) {
		margin-top: -98px;
		margin-right: 90px;
		margin-left: 0;
	}
	@include breakpoint($desktop-wide) {
		width: 450px;
		margin-top: -73px;
		margin-right: 167px;
		.page-title {
			font-size: 4.2rem;
		}
		p {
			font-size: 2rem;
		}
	}	
}
.product-slideshow {
	position: absolute;
	bottom: 0;
  left: 49%;
	width: 648px;
	height: 469px;
	li {
		position: absolute;
		top: 0;
		z-index: 0;
		opacity: 0;
		transition: opacity 0.7s;
		&.is-current {
			opacity: 1;
			z-index: 10;
			transition: opacity 0.4s;
		}
	}
	img {
		float: left;
	}
	@include breakpoint($laptop-plus) {
		left: 47%;
	}
	@include breakpoint($desktop) {
		position: relative;
		left: 0;
		bottom: inherit;
	}
}
.product-slideshow-thumbnails {
	width: 100%;
	margin-top: 42px;
	text-align: center;
	font-size: 0;
	li {
		margin-left: 10px;
		margin-right: 10px;
		display: inline-block;
		a {
			width: 10px;
			height: 10px;			
			display: block;
			border-radius: 5px;
			background-color: $reflection-purple--dark;
			transition: background-color 0.3s;
			&:hover {
				background-color: darken($reflection-purple--dark, 10%);
			}
		}
		&.is-current {
			a {
				transition: background-color 0.3s;
				background-color: $light-grey-2;
				&:hover {
					background-color: $light-grey-2;
				}
			}			
		}
	}
}
.product-section-content-left,
.product-section-content-right {
	display: inline-block;
	vertical-align: middle;
}
.product-section-content-left {
  float: left;
}
.product-section-content-right {
	float: right;
}
.product-section-text-content {
	width: 355px;	
	p {		
		font-size: 1.6rem;
	}
	p:not(:last-child) {
		margin-bottom: 1em;
	}
	.product-section__more-link {
		font-family: $brand-heading-font;
		font-weight: 600;
		font-size: 16px;
	}
	@include breakpoint($desktop) {
		width: 382px;
		p {		
			font-size: 1.8rem;
		}
	}
	@include breakpoint($desktop-wide) {
		width: 495px;
		.section-title {
			width: 456px;
    	font-size: 3.4rem;
		}
	}
}
.product-section {
	width: 100%;
	min-height: 488px;	
	img {
		width: 100%;
	}
	@include breakpoint($desktop) {
		min-height: 512px;
	}
	@include breakpoint($desktop-wide) {
		min-height: 622px;
	}
}
.product-section-sm {
	width: 100%;
	min-height: 422px;
	img {
		width: 100%;
	}
}
.product-section-one {
	padding-top: 59px;
	background-color: $reflection-white;
	.product-section-content-left {
		width: 47%;
    margin-top: 5rem;
	}
	.product-section-content-right {
		margin: 67px 1px 120px 0;
	}
	@include breakpoint($desktop) {
		.product-section-content-left {
			width: 564px;
			margin-top: 0;
		}
	}
	@include breakpoint($desktop-wide) {
		padding-top: 107px;
	}
}
.product-section-one__content-container {
	width: 86%;	
	margin: 0 auto;
	@include breakpoint($desktop) {
		width: 1065px;
	}
	@include breakpoint($desktop-wide) {
		width: 1328px;
		padding: 0 40px;
	}
}
.product-section-two {
	padding-top: 80px;
	background-color: #363a47;	
	.product-section-content-left {
		margin-top: 60px;
		margin-bottom: 120px;
	}
	.product-section-content-right {
		width: 62%;
		max-width: 552px;
    margin-right: -12%;
    margin-top: 1.6rem;
	}
	@include breakpoint(1100px) {
		.product-section-content-right {
			margin-right: -2%;
		}
	}
	@include breakpoint($desktop) {
		.product-section-content-right {
			width: 651px;
			max-width: inherit;
			margin-top: 0;
			margin-right: -10px;
		}
	}
	@include breakpoint($desktop-wide) {
		padding-top: 118px;
	}
}
.product-section-two__content-container {  
  width: 93%;
  margin: 0;
  float: right;
	@include breakpoint($desktop) {
		width: 1106px;
		margin: 0 auto;
		float: none;
	}
	@include breakpoint($desktop-wide) {
		width: 1257px;
	}
}
.product-section-three {
	padding-top: 59px;
	background-color: $reflection-white;
	.notifications-tabs-list {
		width: 100%;
		margin-right: 0;
		li {
			width: 100%;
		}
	}
	.product-section-content-left {
		width: 48%;
		margin-top: 80px;
		margin-bottom: 95px;
	}
	.product-section-content-right {
		margin-top: 69px;
	}
	@include breakpoint($desktop) {
		.product-section-content-left {
			width: auto;
			margin-bottom: 120px;
		}
		.notifications-tabs-list li {
			width: 525px;
		}
	}
	@include breakpoint($desktop-wide) {
		padding-top: 111px;
		.product-section-content-right {
			margin-top: 93px;
		}
	}
	
}
.product-section-three__content-container {
	position: relative;
	width: 86%;
	margin: 0 auto;
	@include breakpoint($desktop) {		
		width: 1002px;
		left: -8px;
	}
	@include breakpoint($desktop-wide) {
		width: 1257px;
		padding: 0 30px;
	}
}
.product-section-four {
	padding-top: 100px;
	background-color: $panel-grey;
	.product-section-content-left {
		margin: 20px 0 120px 23px;
	}
	.product-section-content-right {
		width: 43%;
	}
	@include breakpoint(1100px) {		
		.product-section-content-right {
			width: 501px;
		}
	}
	@include breakpoint($desktop-wide) {
		padding-top: 99px;
	}
}
.product-section-four__content-container {
	width: 87%;
	margin: 0 auto;
	@include breakpoint($desktop) {
		width: 968px;
	}
	@include breakpoint($desktop-wide) {
    position: relative;
    left: -40px;
    width: 1122px;
    padding-right: 0px;
  }
}
.product-section-five {
	padding-top: 94px;
	background-color: #363a47;
	.product-section-content-left {
		width: 47%;
		margin-top: 3rem;
	}
	.product-section-content-right {
		margin: 31px 0 120px 0;
	}
	@include breakpoint($desktop) {
		.product-section-content-right {
			margin-right: 19px;
		}
		.product-section-content-left {
			width: 513px;
			margin-top: 0;
		}
	}
	@include breakpoint($desktop-wide) {
		padding-top: 133px;
	}
}
.product-section-five__content-container {
	width: 87%;	
	margin: 0 auto;
	@include breakpoint($desktop) {
		width: 1064px;
	}
	@include breakpoint($desktop-wide) {
		width: 1257px;
    padding: 0 20px 0 0;
  }
}
.product-section-two,
.product-section-five {
	.section-title {
		color: $reflection-white;
	}
	p {
		color: $light-grey-1;
	}
}
.product-section-six {
	padding-top: 111px;
	background-color: $panel-grey;
	.product-section-content-left {
		margin-bottom: 80px;
		width: 54%;
	}
	.product-section-content-right {
		width: 30%;
    margin-left: 6%;
		float: left;
	}
	svg {
		width: 100%;
    margin-right: 87px;
    margin-top: 15px;
	}
	@include breakpoint($desktop) {
		.product-section-content-left {
			width: auto;
		}
		.product-section-content-right {
			width: auto;
			float: right;
		}
		.product-section-text-content {
			width: 490px;
		}
		svg {
			width: 302px;
		}
	}
}
.product-section-six__content-container {
	width: 86%;
	margin: 0 auto;
	@include breakpoint($desktop) {
		width: 982px;
	}
	@include breakpoint($desktop-wide) {
		width: 1100px;
	}
}
.product-section-seven {
	padding-top: 71px;
	background-color: $reflection-white;
	.product-section-content-right {
		float: right;		
    margin-top: 40px;
		margin-bottom: 100px;
	}
	.product-section-content-left {		
    width: 35%;
    margin-top: 1rem;
    margin-left: 4%;
    float: left;
	}
	.product-section-text-content {
		width: 360px;
	}
	@include breakpoint($desktop) {
		.product-section-content-right,
		.product-section-content-left {			
    	width: auto;
    	margin-left: 0;
    }
    .product-section-content-right {
    	float: right;
    }
    .product-section-content-left {
    	width: auto;
    	margin-top: 0;
    }
    .product-section-text-content {
			width: 490px;
		}
		svg {
			width: 310px;
	    margin-left: 36px;
		}
	}
}
.product-section-seven__content-container {
	width: 83%;
  margin: 0 0 0 7%;	
	@include breakpoint($desktop) {
		width: 977px;
		margin: 0 auto;
	}
	@include breakpoint($desktop-wide) {
		width: 1100px;
	}
}