.page-research-tools {	
	.data-lab-article-intro:after {
		display: none;
	}
	.filters-row {
		margin: 3rem auto 0;
		text-align: center;
	}
	.experimental-indicator,
	.live-indicator {
		position: absolute;
		top: 3rem;
		right: 3rem;
	}
}
.page-research-tools__article-list {
	width: 980px;
	margin: 4rem auto 10rem;
}
.page-research-tools__article-list__item {
	width: 100%;	
	margin-bottom: 2rem;	
	.page-research-tools__article-list__item__link {
		position: relative;
		padding: 20px 20px 23px;
		display: block;
		background-color: #343438;
		transition: background-color 0.2s;
	}
	.page-research-tools__article-list__item__link:hover {
		background-color: lighten(#343438, 5%);
		cursor: pointer;
		transition: background-color 0.3s;
		.page-research-tools__article-list__item__article-image {
			background-size: 110% auto;
			transition: background-size 0.3s;
		}
		.page-research-tools__article-list__item__intro__link {
			color: $reflection-purple--dark--hover;
		}
	}
}
.page-research-tools__article-list__item__article-image {
	width: 240px;
	height: 185px;
	display: inline-block;
	vertical-align: top;
	background-position: 50% 100%;
	background-size: 100% auto;				
	background-repeat: no-repeat;
	background-color: #343438;
	transition: background-size 0.2s;
}
.page-research-tools__article-list__item__intro {
	width: percentage(510/940);
	padding-left: 40px;
	display: inline-block;
	h2 {
		margin-top: 0.7rem;
	}
	p {
		margin-bottom: 1.1rem;
		letter-spacing: -0.1px;
	}
}
.page-research-tools__article-list__item__intro__link,
.theme-dark .page-research-tools__article-list__item__intro__link {
	margin-bottom: 0;
	font-family: $brand-heading-font;
	font-weight: 600;
	color: $reflection-purple--dark;
}