.data-vis-top-downloads__main {
	min-height: 800px;
	font-size: 0;
}
.data-vis-top-downloads__categories {
  width: 196px;
  display: inline-block;
  vertical-align: top;
  h2 {
		position: relative;
		top: -2px;
		margin-bottom: 17px;
		width: 100%;
		font-family: $brand-heading-font;
		font-size: 18px;
		font-weight: 400;
		color: #81879d;
		display: block;
		text-align: center;
	}
	.data-vis-top-downloads__category {
		height: 34px;
		width: 100%;
		padding-top: 9px;
		padding-left: 20px;
		display: block;
		font-weight: bold;
		font-size: 15px;
		color: $reflection-white;
		text-align: left;
		border-bottom: 1px solid #29292c;
		&:nth-child(even) {
			background-color: #343438;
		}
	}
}
.data-vis-top-downloads__data-container {
	width: calc(100% - 196px);
	display: inline-block;
  vertical-align: top;
}
.data-vis-top-downloads__data-column {
	width: 33.3%;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
  vertical-align: top;
  h2 {
		position: relative;
		top: -2px;
		margin-bottom: 17px;
		width: 100%;
		font-family: $brand-heading-font;
		font-size: 18px;
		font-weight: 400;
		color: #81879d;
		display: block;
		text-align: center;
	}
}
.data-vis-top-downloads__item {
	position: relative;
	height: 34px;
	width: 0;
	clear: both;
	overflow: visible;
	border-bottom: 1px solid #29292c;
	background-color: #6d69c5;
	span {
		padding: 9px 9px 0 9px;
		display: inline-block;
		float: right;
		font-size: 14px;
		font-weight: 700;		
		color: $reflection-white;
	}
	.data-vis-top-downloads__data-column--revenue & {
		background-color: #ffb44a;
	}	
}